Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-02, with the labels that each got.

#8577 Connect Jetpack from Notifications with new flow
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+JetpackPrompt.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Jetpack

#8530 Creates exportipa.sh.
  Scripts/exportipa/exportOptions.plist
  Scripts/exportipa/exportipa.sh
  Scripts/fastlane/archive_binary.sh
Labels: [Type] Task

#8576 Fix/8575 rtl layout
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressComStatsiOS/WordPressComStatsiOS/UI/InsightsWrappingTextCell.xib
  WordPressComStatsiOS/WordPressComStatsiOS/UI/SiteStats.storyboard
  WordPressComStatsiOS/WordPressComStatsiOS/UI/StatsNoResultsRowTableViewCell.xib
  WordPressComStatsiOS/WordPressComStatsiOS/UI/StatsTableViewController.m
Labels: Stats

#8600 8593 Fix Duplication of image when copy/pasting
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, Media

#8601 Fixes for RTL layout in the Login section.
  WordPress/Classes/Extensions/UIControl+Helpers.swift
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginWPComViewController.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainSearchTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Classes/ViewRelated/NUX/WPWalkthroughTextField.h
  WordPress/Classes/ViewRelated/NUX/WPWalkthroughTextField.m
Labels: Login

#8581 Share Ext: Added notification support to the share extension
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/ExtensionNotificationManager.swift
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/ShareNoticeConstants.swift
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
  WordPress/WordPressShareExtension/ShareNoticeViewModel.swift
  WordPress/WordPressShareExtension/SharedCoreDataStack.swift
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Share Extension

#8612 Nuking dead code!
  WordPress/Classes/Services/HelpshiftEnabledFacade.h
  WordPress/Classes/Services/HelpshiftEnabledFacade.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt

#8614 Fix orientation of images when copy pasted to a post
  WordPress/Classes/Utility/Media/MediaImageExporter.swift
  WordPress/WordPressTest/MediaImageExporterTests.swift
Labels: Aztec, Media

#8618 Feature/8617 swiftlint custom rules
  .swiftlint.yml
Labels: [Status] In Progress

#8616 Use illustration on notes to prompt for Jetpack install
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+JetpackPrompt.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.xib
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-notifications.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-notifications.imageset/wp-illustration-notifications.pdf
Labels: Jetpack

#8570 Site Creation: error view
  WordPress/Classes/Services/SiteCreationService.swift
  WordPress/Classes/ViewRelated/Blog/BlogListNoResultsViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Me/SupportViewController.h
  WordPress/Classes/ViewRelated/Me/SupportViewController.m
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreation.storyboard
  WordPress/Classes/ViewRelated/NUX/SiteCreationCreateSiteViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationFields.swift
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
  WordPress/Resources/AppImages.xcassets/site-creation-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-error.imageset/site-creation-error.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX

#8623 Feature/8622 search ad attribution implementation
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/iAds/SearchAdsAttribution.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
  WordPressUI/WordPressUI/Extensions/UIDevice+Helpers.swift
Labels: Mobile Request

#8620 Signup NUX: new prologue
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Cells/TextWithAccessoryButtonCell.swift
  WordPress/Classes/ViewRelated/Cells/TextWithAccessoryButtonCell.xib
  WordPress/Classes/ViewRelated/NUX/EmailMagicLink.storyboard
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginPrologueSignupMethodViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButton.swift
  WordPress/Classes/ViewRelated/NUX/NUXButtonView.storyboard
  WordPress/Classes/ViewRelated/NUX/NUXButtonViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreation.storyboard
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Classes/ViewRelated/System/FancyAlerts.storyboard
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX

#8638 Media Library / Coordinator: Track photo + video uploads w/ origin
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media, [Type] Bug

#8598 Decoupling Authentication Flow: Mark I
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutCreator.swift
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Jetpack/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginLinkRequestViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginProloguePageViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginWPComViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewControllerBase.swift
  WordPress/Classes/ViewRelated/NUX/SigninWPComSyncHandler.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Events.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WordPressAuthenticatorTests.swift
Labels: [Type] Enhancement

#8608 Decoupling Authentication Flow: Mark III
  WordPress/Classes/ViewRelated/NUX/FancyAlertViewController+LoginError.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
Labels: [Type] Enhancement

#8634 Email Signup: send magic link email
  WordPress/Classes/Services/AccountService.h
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPressKit/WordPressKit/AccountServiceRemote.h
  WordPressKit/WordPressKit/AccountServiceRemoteREST.m
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: NUX

#8573 Plugin directory
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Plugins/CollectionViewContainerRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDetailViewHeaderCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryAccessoryItem.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryCollectionViewCell.xib
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListCell.xib
  WordPress/Classes/ViewRelated/Plugins/PluginListRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/PluginDirectoryEntry.swift
  WordPressKit/WordPressKit/PluginServiceRemote.swift
  WordPressKit/WordPressKit/PluginState.swift
Labels: Jetpack, Jetpack Plugins

#8647 Issue/8642 NUX Fancy Alert Dimming
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
Labels: NUX, [Type] Bug

#8639 Social signup: Signup with Google
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueSignupMethodViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/WordPressComServiceRemote.h
  WordPressKit/WordPressKit/WordPressComServiceRemote.m
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: NUX

#8655 JetpackLoginViewController: LoginButton > NUXButton
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.xib
Labels: [Type] Bug

#8640 Issue/8627: Fix trash icon flicker in media library
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media, [Type] Bug

#8649 App Extensions: Add tags module to share & draft extensions
  WordPress/Tracks+ShareExtension.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/Tracks+DraftAction.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/EXTENSION_MIGRATIONS.md
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/.xccurrentversion
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/Extensions 2.xcdatamodel/contents
  WordPress/WordPressShareExtension/PostUploadOperation.swift
  WordPress/WordPressShareExtension/ShareData.swift
  WordPress/WordPressShareExtension/ShareExtension.storyboard
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/ShareTagsPickerViewController.swift
  WordPress/WordPressShareExtension/SharedCoreDataStack.swift
  WordPress/WordPressShareExtension/String+Extensions.swift
  WordPress/WordPressShareExtension/WPStyleGuide+Share.swift
Labels: Draft Extension, Share Extension, [Type] Enhancement

#8659 Restore login screens’ bg tap gesture recognizer
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewControllerBase.swift
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/Extensions/BlockEvents/UIBarButtonItem+BlockEvents.swift
  WordPressUI/WordPressUI/Extensions/BlockEvents/UIControl+BlockEvents.swift
  WordPressUI/WordPressUI/Extensions/BlockEvents/UIGestureRecognizer+BlockEvents.swift
  WordPressUI/WordPressUI/Extensions/UIControl+Helpers.swift
Labels: Login, NUX, [Type] Bug

#8661 Permanently enabling new Site Creation flow.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: NUX

#8650 Draft ext: Verify the user is logged in when launched
  WordPress/WordPressShareExtension/ShareExtensionAbstractViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: Draft Extension, [Type] Bug

#8624 Media Library: Allow batch deletion of failed media
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media

#8665 Make sure changes done in the main context are merged in derived context
  WordPress/Classes/Services/MediaCoordinator.swift
Labels: Media, [Type] Bug

#8658 Add support for https://wordpress.com/log-in/jetpack URL
  WordPress/Classes/ViewRelated/Jetpack/JetpackConnectionWebViewController.swift
Labels: Jetpack

#8663 Fix: NUX Buttons that are always white
  WordPress/Classes/ViewRelated/NUX/LoginPrologueSignupMethodViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButtonView.storyboard
  WordPress/Classes/ViewRelated/NUX/NUXButtonViewController.swift
Labels: NUX, [Type] Bug

#8678 BlogListViewController: Implemented self-sizing cells
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: Accessibility

#8679 ReaderFollowedSitesViewController: Implemented self-sizing cells
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
Labels: Accessibility

#8680 Implemented self-sizing cells in some 'Me' sub-sections
  WordPress/Classes/ViewRelated/Me/ActivityLogViewController.m
  WordPress/Classes/ViewRelated/Me/SupportViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
Labels: Accessibility

#8688 Add Gmail detection to OpenMail
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
Labels: Login

#8677 Draft extension: Improve show / hide transitions on iPad
  WordPress/WordPressDraftActionExtension/MainDraftActionViewController.swift
  WordPress/WordPressShareExtension/ExtensionPresentationController.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: Draft Extension

#8695 Show new flow from Me tab with ability to cancel it
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButtonView.storyboard
  WordPress/Classes/ViewRelated/NUX/NUXButtonViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: Login

#8675 Update Post Cell Statuses + Add Progress View
  WordPress/Classes/ViewRelated/Post/PostCardImageCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.h
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List

#8699 Fix mergeBlogs to match deleted blogs
  WordPress/Classes/Services/BlogService.m
Labels: Jetpack

#8698 Signup: social login fail ‘Sign up’ option now goes to new flow
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
Labels: NUX

#8704 Add stats for THAT segmented control and PostEpilogue
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: NoDeadEnds

#8702 NotificationsViewController: self-sizing cells
  WordPress/Classes/Extensions/Notifications/NotificationBlock+Interface.swift
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableHeaderView.xib
Labels: Accessibility, Notifications, [Status] Needs Design Review

#8656 Plugin directory search
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewModel.swift
  WordPressKit/WordPressKit/PluginDirectoryEntry.swift
Labels: Jetpack, Jetpack Plugins

#8701 Issue/8682 Separate post vs media library progress in MediaCoordinator
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Media

#8718 Improve voice over support for reader's post details view
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowser.storyboard
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Accessibility, Reader, VoiceOver

#8692 Jetpack connection improvements
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+JetpackPrompt.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Jetpack

#8691 Social Signup Epilogue
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/NUX/EmailMagicLink.storyboard
  WordPress/Classes/ViewRelated/NUX/EpilogueSectionHeaderFooter.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueSectionHeaderFooter.xib
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.xib
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueSectionHeader.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableView.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginFields.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueCell.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueCell.xib
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Events.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/AccountSettingsRemote.swift
  WordPressShared/WordPressShared.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: NUX, [Status] Needs Design Review

#8710 Google Signup: Replacing image shown while waiting for Google.
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Resources/AppImages.xcassets/social-signup-waiting.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/social-signup-waiting.imageset/social-signup-waiting.pdf
Labels: NUX

#8720 Plugins: add rudimmentary tracking.
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Jetpack Plugins

#8717 PluginStore: try to enable auto-update and the plugin itself after installation
  WordPress/Classes/Stores/PluginStore.swift
  WordPressKit/WordPressKit/PluginServiceRemote.swift
Labels: Jetpack Plugins

#8726 Social signup: Auto generate display name
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
Labels: NUX

#8729 Update published format to include milliseconds
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPressKit/WordPressKit/Activity.swift
  WordPressKit/WordPressKitTests/Mock Data/activity-log-success-1.json
  WordPressKit/WordPressKitTests/Mock Data/activity-log-success-2.json
  WordPressKit/WordPressKitTests/Mock Data/activity-log-success-3.json
  WordPressShared/WordPressShared/NSDate+Helpers.swift
Labels: Activity Log

#8730 Permanently enable new signup.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: NUX

#8725 Media Async: Observe changes to media for a post
  WordPress/Classes/Services/MediaCoordinator.swift
Labels: Media

#8716 Plugin Directory empty state
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/ViewRelated/Plugins/CollectionViewContainerRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewModel.swift
Labels: Jetpack Plugins

#8735 Adds a precondition to prevent Aztec from accepting posts without a MOC.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Type] Task

#8644 Decoupling Authentication Flow: Mark III
  WordPress/Classes/ViewRelated/NUX/FancyAlertViewController+LoginError.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
Labels: [Type] Enhancement

#8738 Update Media Picker to 0.27
  Podfile
  Podfile.lock
Labels: Media

#8607 Decoupling Authentication Flow: Mark II
  WordPress/Classes/Services/OnePasswordFacade.h
  WordPress/Classes/Services/OnePasswordFacade.m
  WordPress/Classes/Services/OnePasswordFacade.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#8733 LoginFacade: Nuking dead login method
  WordPress/Classes/Services/LoginFacade.h
  WordPress/Classes/Services/LoginFacade.m
Labels: [Type] Enhancement

#8723 Fix/7236 Implement self-sizing cells in PeopleViewController
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleCell.swift
  WordPress/Classes/ViewRelated/People/PeopleRoleBadgeLabel.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: Accessibility, People Management

#8759 Update sign up strings
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: NUX
