Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-11, with the labels that each got.

#10368 History / Revisions: Bump CoreData model version and new local models
  MIGRATIONS.md
  WordPress/Classes/Models/Revisions/DiffAbstractValue.swift
  WordPress/Classes/Models/Revisions/DiffContentValue.swift
  WordPress/Classes/Models/Revisions/DiffTitleValue.swift
  WordPress/Classes/Models/Revisions/Revision.swift
  WordPress/Classes/Models/Revisions/RevisionDiff.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 83.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10378 Revisions: Add History button and basic table view
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10351 Fix slow reader loading with many images
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPTextAttachmentManager.swift
Labels: Performance, Reader, [Type] Bug

#10376 Stats Refresh: add initial Insights 'Latest Post Summary' view
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboard.storyboard
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10381 Stats Refresh: Remove loading progress indicator.
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboard.storyboard
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsInsightsTableViewController.swift
Labels: Stats Refresh

#10383 Gutenberg content detected dialog
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/GutenbergAlertPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Pri] High, [Status] DO NOT MERGE, [Type] Enhancement

#10388 Removed unused credentials from ApiCredentials
  WordPress/Credentials/ApiCredentials.h
  WordPress/Credentials/ApiCredentials.m
  WordPress/Credentials/gencredentials.rb
Labels: [Type] Enhancement

#10377 [Site Creation] Segments Screen
  WordPress/Classes/Services/SiteSegmentsService.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/New Group/SiteCreationHeaderData.swift
  WordPress/Classes/ViewRelated/New Group/SiteCreationOutput.swift
  WordPress/Classes/ViewRelated/New Group/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/New Group/SiteCreator.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsCell.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsCell.xib
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsDataSource.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsStep.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationWizard.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationWizardTitle.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationWizardTitle.xib
  WordPress/Classes/ViewRelated/Wizards/Wizard.swift
  WordPress/Classes/ViewRelated/Wizards/WizardViewController.swift
  WordPress/Classes/ViewRelated/Wizards/WizardViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreationHeaderDataTests.swift
  WordPress/WordPressTest/SiteCreationWizardTitleTests.swift
  WordPress/WordPressTest/SiteSegmentsDataSourceTests.swift
  WordPress/WordPressTest/SiteSegmentsStepTests.swift
Labels: Site Creation

#10382 Prototype Bottom Sheet integration
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Views/BottomSheet/BottomSheetPresentationController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/BottomSheetDemoViewController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/Contents.json
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/Contents.json
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField@2x.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField@3x.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResult.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultsTableViewController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultsTableViewProvider.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FeatureFlagTests.swift
Labels: Site Creation

#10406 Turning on giphy for everyone
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Media

#10390 Stats Insights Latest Post Summary: add alternate views
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsInsightsTableViewController.swift
Labels: Stats Refresh

#10391 Stats: add style guide extension for stats specific styles
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/WPStyleGuide+Stats.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10401 Improved accuracy of character count when editing posts
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Views/RichTextView/UITextView+RichTextView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/UITextView+SummaryTests.swift
Labels: Posting/Editing

#10419 Merge Release/11.2 into develop
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: [Type] Enhancement

#10409 Removed unused Swift playground from the project
  WordPress/SwiftPlayground.playground/contents.xcplayground
  WordPress/SwiftPlayground.playground/section-1.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, [Type] Tech Debt

#10410 Removed obsolete available check
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
Labels: [Type] Task, [Type] Tech Debt

#10411 Removed superfluous calls to synchronize via UserDefaults
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/ShareExtensionService.swift
  WordPress/Classes/Services/TodayExtensionService.m
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/Migrations/10-11/BlogToAccount.m
  WordPress/Classes/Utility/Migrations/20-21/AccountToAccount20to21.swift
  WordPress/Classes/Utility/Migrations/AccountToAccount22to23.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: [Type] Task, [Type] Tech Debt

#10415 Removed some commented out code
  WordPress/Classes/Extensions/NSURLCache+Helpers.swift
  WordPress/Classes/Services/NotificationActionsService.swift
Labels: [Type] Task, [Type] Tech Debt

#10413 Removed superfluous calls to removeObserver via NotificationCenter
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutCreator.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/ContextManager.m
  WordPress/Classes/Utility/PingHubManager.swift
  WordPress/Classes/Utility/WPCrashlytics.m
  WordPress/Classes/ViewRelated/Aztec/Helpers/AztecVerificationPromptHelper.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Blog/DiscussionSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.m
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Me/AccountSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Menus/MenuItemEditingViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemSourceCell.m
  WordPress/Classes/ViewRelated/Menus/MenuItemTypeSelectionView.m
  WordPress/Classes/ViewRelated/Menus/MenusSelectionItemView.m
  WordPress/Classes/ViewRelated/Menus/MenusSelectionView.m
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingStreamsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSiteSubscriptionViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/KeyboardDismissHelper.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.m
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserHeaderView.swift
  WordPress/WordPressShareExtension/ShareExtensionAbstractViewController.swift
  WordPress/WordPressTest/Extensions/NotificationCenterObserveOnceTests.swift
  WordPressComStatsiOS/WordPressComStatsiOS/UI/InsightsContributionGraphHeaderView.m
  WordPressComStatsiOS/WordPressComStatsiOS/UI/WPStatsContributionGraph.m
Labels: [Type] Task, [Type] Tech Debt

#10416 Update Gifu and Starscream pods for Swift 4.2 support
  Podfile
  Podfile.lock
Labels: [Type] Task, [Type] Tech Debt

#10417 Address isPrimary console warning
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
Labels: [Type] Task, [Type] Tech Debt

#10412 Quick Start: cancel tours when user navigates away
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+QuickStart.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Quick Start

#10420 Allow Fastlane lanes to be run with 'bundle exec'
  Rakefile
  Scripts/fastlane/actions/ios_build_preflight.rb
Labels: [Type] Enhancement

#10433 Issues/10432 fix weird transitions
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
Labels: Quick Start

#10427 Feature/10323 verticals wizard
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/New Group/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsDataSource.swift
  WordPress/Classes/ViewRelated/New Group/SiteSegments/SiteSegmentsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/ModelSettableCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationDataCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationHeaderData.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationWizard.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreator.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteCreatorOutput.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsCell.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsDelegate.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/TableDataCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/WebAddressStep/WebAddressStep.swift
  WordPress/Classes/ViewRelated/Site Creation/WizardNavigation.swift
  WordPress/Classes/ViewRelated/Wizards/Wizard.swift
  WordPress/Classes/ViewRelated/Wizards/WizardStep.swift
  WordPress/Classes/ViewRelated/Wizards/WizardViewController.swift
  WordPress/Classes/ViewRelated/Wizards/WizardViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreationDataCoordinatorTests.swift
  WordPress/WordPressTest/SiteSegmentTests.swift
  WordPress/WordPressTest/SiteSegmentsCellTests.swift
  WordPress/WordPressTest/SiteSegmentsDataSourceTests.swift
  WordPress/WordPressTest/SiteSegmentsStepTests.swift
Labels: Site Creation

#10387 History / Revisions: implement local service
  WordPress/Classes/Models/Revisions/Revision.swift
  WordPress/Classes/Models/Revisions/RevisionDiff.swift
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/ShowRevisionsListManger.swift
  WordPress/Classes/ViewRelated/Post/Revisions/TableViewCell/RevisionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/Revisions/TableViewCell/RevisionsTableViewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10431 Transitioned People view to use the Filter bar
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: People Management, [Type] Enhancement

#10408 Stats Insights Latest Post Summary: add tap actions
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsInsightsTableViewController.swift
Labels: Stats Refresh

#10426 Stats Insights Latest Post Summary: abbreviate high totals
  WordPress/Classes/ViewRelated/Stats/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/LatestPostSummaryCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10435 Resolved visual defect after editing visible blog list
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: Site Settings

#10440 History / Revisions: CoreData model version 85 and Blog authors
  MIGRATIONS.md
  WordPress/Classes/Models/Blog+BlogAuthors.swift
  WordPress/Classes/Models/BlogAuthor.swift
  WordPress/Classes/Services/BlogService+BlogAuthors.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 85.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10434 Empty state image: use image natural sizes
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-notifications.imageset/wp-illustration-notifications.pdf
Labels: Actionable Empty States, NoResultsView

#10428 Fastlane: ensure secrets are up to date in build preflight
  Scripts/fastlane/actions/ios_build_preflight.rb
Labels: [Type] Enhancement

#10437 History / Revisions: Revisions list UI
  WordPress/Classes/Models/Revisions/Revision.swift
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/TableViewCell/RevisionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/Revisions/TableViewCell/RevisionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Footer/RevisionsTableViewFooter.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Operation/RevisionOperation.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Operation/RevisionOperation.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10451 Stats Insights: use WordPressFlux for data management
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10448 Integrates Aztec v1.2.
  Podfile
  Podfile.lock
Labels: [Type] Bug

#10464 Empty States: Replace notifications and media images.
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-notifications.imageset/wp-illustration-notifications.pdf
  WordPress/Resources/AppImages.xcassets/media-no-results.imageset/Media.pdf
Labels: Actionable Empty States

#10454 Add support for actually purchasing the domain in the free credit redemption flow.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController+LocalizedStrings.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Jetpack Plugins

#10463 PPP: Set parent page analytics
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
Labels: Analytics, Properly Placed Pages

#10460 History / Revisions: display author informations
  Podfile
  Podfile.lock
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.swift
Labels: Revisions / History

#10471 Remove autocorrect bar from screenshots
  WordPress/Classes/Categories/UIApplication+Helpers.h
  WordPress/Classes/Categories/UIApplication+Helpers.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressScreenshotGeneration.xcscheme
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
Labels: [Status] Ready to Merge

#10469 Domains: full flow.
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Automated Transfer/AutomatedTransferHelper.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Jetpack Plugins

#10452 Stats Insights: preserve and use Insight types to display
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#10468 Revisions: Revision display/browsing
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsNavigationController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Operation/RevisionOperationViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/RevisionDiffViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/RevisionDiffViewController.xib
  WordPress/Classes/ViewRelated/Post/Revisions/Views/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Revisions.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History, [Status] Needs Design Review

#10470 History / Revisions: add loading empty states
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Operation/RevisionOperation.swift
Labels: Revisions / History, [Status] Needs Design Review

#10478 History / Revisions: Detail with Attributed strings
  WordPress/Classes/Models/DiffAbstractValue+Attributes.swift
  WordPress/Classes/Models/RevisionDiff+CoreData.swift
  WordPress/Classes/Models/Revisions/RevisionDiff.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Style/WPStyleSuide+Revisions.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/RevisionDiffViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/RevisionDiffViewController.xib
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Revisions.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10490 Change the feature flag of custom domains to relase it to everyone.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Jetpack Plugins

#10491 Revisions: turn Revisions on for everyone
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Revisions / History

#10488 History / Revision: Loading a selected revision
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Revisions.storyboard
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionsNavigationController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10472 Bump cocoapods-repo-update to 0.0.3
  Gemfile
  Gemfile.lock
Labels: [Type] Enhancement

#10455 rake dependencies: Use 'bundle check' and 'pod check' to check if dependencies need to be installed
  Gemfile
  Gemfile.lock
  Rakefile
Labels: [Type] Enhancement

#10473 Add configuration validation during release builds
  .configure
  Scripts/fastlane/actions/ios_build_preflight.rb
Labels: [Type] Enhancement

#10497 Enable Gutenberg depending on feature flag
  WordPress/Classes/Services/EditorSettings.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Gutenberg integration

#10505 Use podspecs directly from gutenberg-mobile
  Podfile
  Podfile.lock
  Podspecs/Folly.podspec.json
  Podspecs/React.podspec.json
  Podspecs/yoga.podspec.json
Labels: Gutenberg integration

#10499 Fix sucesfully
  WordPress/Classes/Utility/Automated Transfer/AutomatedTransferHelper.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController+LocalizedStrings.swift
Labels: Documentation, Localization

#10507 Update revisions error messaging to remove variables
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
Labels: Localization

#10492 [Stats Refresh] shared UI elements for stats cards
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10493 [Stats Refresh] Add Insights > All Time Stats
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsNoDataRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsNoDataRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10486 [Site creation] Style headers
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/TitleSubtitleHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TitleSubtitleHeaderTests.swift
Labels: Site Creation, [Type] Task

#10518 History / Revisions: Fix footer date formatter
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Footer/RevisionsTableViewFooter.swift
Labels: Revisions / History, [Type] Bug

#10538 Set a default value to the image view
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.swift
Labels: Revisions / History, [Type] Bug

#10520 Gutenberg integration
  Podfile
  Podfile.lock
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Services/EditorSettings.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/Helpers/AztecVerificationPromptHelper.swift
  WordPress/Classes/ViewRelated/Aztec/Helpers/PostEditorUtil.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PublishablePostEditor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
  WordPress/WordPressTest/EditorSettingsTests.swift
Labels: Gutenberg integration

#10539 Add Post title to Gutenberg editor
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Status] Not Ready for Review

#10504 Add analytics event for Custom Domains.
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
Labels: Analytics, Jetpack Plugins

#10502 [Stats Refresh] Update card header
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#10526 Don’t allow string interpolation in localizations
  .swiftlint.yml
Labels: Localization

#10550 Post featured image search: Check for a search string before displaying no results view.
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: Media, NoResultsView

#10551 Improve analytics captured in support of rich notifications
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
  WordPress/WordPressNotificationServiceExtension/Sources/Tracks/Tracks+ServiceExtension.swift
Labels: Rich Notifications

#10555 Replace the gutenberg flag with a setting
  WordPress/Classes/Services/EditorSettings.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Gutenberg integration

#10510 Empty state: Update margins on view
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
Labels: Actionable Empty States

#10557 Gutenberg Opt-In
  WordPress/Classes/Services/EditorSettings.swift
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/GutenbergAlertPresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
  WordPress/WordPressTest/GutenbergSettingsTests.swift
Labels: [Type] Enhancement

#10553 Minor improvements to Siri Shortcuts experience
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Info.plist
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Spotlight

#10559 Fix crash by removing performBatchUpdates
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: [Type] Bug, [Type] Crash

#10512 [Stats Refresh] All Time Stats: format large numbers
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
Labels: Stats Refresh

#10556 Analytics: Fixes an issue with applicationOpenedTime being reset.
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
Labels: Analytics

#10558 Add ability to toggle html/visual modes for Gutenberg editor
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Gutenberg integration

#10516 [Stats Refresh] Add Insights > Most Popular Day and Hour
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#10566 Improve gutenberg editor change detection
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Gutenberg integration

#10561 [Stats Refresh] Add Insights > Follower Totals
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#10564 Center notice view titles when there is no message
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
Labels: [Type] Enhancement

#10567 Corrected confirmation text displayed after clearing shortcut suggestions
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Spotlight, [Type] Task

#10484 [Site creation] Style SiteSegmentsWizardContent
  WordPress/Classes/Models/SiteSegment.swift
  WordPress/Classes/Services/SiteSegmentsService.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsCell.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/TableDataCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteSegmentTests.swift
  WordPress/WordPressTest/SiteSegmentsCellTests.swift
  WordPress/WordPressTest/Test Data/site-segment.json
  WordPress/WordPressTest/Test Data/site-type.json
Labels: Site Creation

#10568 Show Gutenberg title after it appears
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10573 Update Gutenberg version as 0.2.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10565 Added a working Classic / Gutenberg switch option in the editing menu.
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, [Type] Enhancement
