Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-03, with the labels that each got.

#8744 Fix/7236 Implement self sizing cell in PersonViewController
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PersonHeaderCell.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Accessibility, People Management

#8756 Fix/7236 invite people self sizing cells
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/RoleViewController.swift
Labels: Accessibility, People Management

#8765 Activity log: feed design v2
  WordPress/Classes/ViewRelated/Activity/ActivityListSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.xib
Labels: Activity Log

#8732 Add lastUpdated field to RewindStatus
  WordPressKit/WordPressKit/Activity.swift
  WordPressKit/WordPressKitTests/ActivityServiceRemoteTests.swift
  WordPressKit/WordPressKitTests/Mock Data/activity-rewind-status-restore-failure.json
  WordPressKit/WordPressKitTests/Mock Data/activity-rewind-status-restore-finished.json
  WordPressKit/WordPressKitTests/Mock Data/activity-rewind-status-restore-in-progress.json
  WordPressKit/WordPressKitTests/Mock Data/activity-rewind-status-restore-queued.json
  WordPressKit/WordPressKitTests/Mock Data/activity-rewind-status-success.json
Labels: Activity Log

#8779 Address suggestion endpoint call needs to be authenticated
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
Labels: NUX

#8760 Fix redirect extraction in connection flow
  WordPress/Classes/ViewRelated/Jetpack/JetpackConnectionWebViewController.swift
Labels: Jetpack

#8763 Issue/8714 Consolidate Media tracking
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Analytics, Media

#8780 Plugin Directory: add "auto-managed" status for sites
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryAccessoryItem.swift
Labels: Jetpack Plugins

#8740 Don’t fail post upload when only attachment of media failed.
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Type] Crash

#8743 Login Flow, first screen: instant UI updates on changes to dynamic type
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/NUX/LoginProloguePromoViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButton.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide+DynamicType.swift
Labels: Accessibility

#8774 Redirect to login on signup when email is already registered
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
Labels: NUX

#8804 Don't crash stats when opening bad URLs
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: [Type] Crash

#8802 Fix crash on WebKitViewController
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: [Type] Crash

#8808 Fix media retry options on iPad
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: [Type] Crash

#8819 Display disk quota info for sites
  MIGRATIONS.md
  WordPress/Classes/Models/Blog+Quota.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Cells/MediaQuotaCell.swift
  WordPress/Classes/ViewRelated/Cells/MediaQuotaCell.xib
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 73.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/RemoteBlog.h
  WordPressKit/WordPressKit/RemoteBlog.m
Labels: Media

#8813 Crasher fix for UIViewControllerHierarchyInconsistency when using OptionsTableViewController as an input view
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, [Type] Crash

#8806 Publish confirmation and other post alert changes.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Type] Enhancement

#8812 Removes the question mark button from the post editor.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Me/SupportViewController.h
  WordPress/Classes/ViewRelated/Me/SupportViewController.m
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+AztecWhatsNew.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#8811 Fixes auto rotate cell configuration
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueCell.swift
Labels: NUX

#8834 Check available size before uploads
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Models/Blog+Quota.swift
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPressKit/WordPressKit/RemoteBlogOptionsHelper.m
Labels: Media

#8810 Remembering Notifications Reply Text
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationReplyStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationReplyStoreTests.swift
Labels: Notifications, [Type] Enhancement

#8843 Authenticate blog address validation call
  WordPress/Classes/Services/SiteCreationService.swift
Labels: NUX

#8835 Adding SupportSourceTag for Signup Epilogue and Signup Google pages.
  WordPress/Classes/ViewRelated/Me/SupportViewController.h
  WordPress/Classes/ViewRelated/Me/SupportViewController.m
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
Labels: NUX

#8829 Readable margins in editor
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Type] Enhancement

#8859 Removes a residual line of code.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Type] Task

#8861 Fix padding for site description
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.xib
Labels: Reader

#8838 Notifications: Move comment + approve feedback generation pre-animation
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
Labels: Notifications

#8848 Fixing Shaky ReplyTextView
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
Labels: Notifications

#8857 Adds a confirmation alert when publishing from the post list.
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Status] Needs Copy Review, [Type] Enhancement

#8867 Signup Epilogue: Fix username changer issues
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameViewController.swift
Labels: NUX

#8874 Make sure the navbar is blue for username changing screen
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: NUX

#8873 Add missing .createdAccount stat
  WordPress/Classes/Services/SignupService.swift
Labels: NUX

#8626 Decoupling Authentication Flow: Mark IV
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.h
  WordPress/Classes/ViewRelated/NUX/FancyAlertViewController+LoginError.swift
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginLinkRequestViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginWPComViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXCollectionViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewControllerBase.swift
  WordPress/Classes/ViewRelated/NUX/SigninWPComSyncHandler.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationCreateSiteViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/Classes/ViewRelated/NUX/WordPressSupportSourceTag+Helpers.swift
  WordPress/Classes/ViewRelated/NUX/WordPressSupportSourceTag.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#8846 Extra XMLRPC validator error messages
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPressKit/WordPressKit/WordPressOrgXMLRPCValidator.swift
Labels: Login, Self-hosted

#8830 Prevent accidental post deletion.
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: [Status] Needs Copy Review, [Type] Enhancement

#8884 Fix ‘Successfully’ misspelling.
  WordPress/Classes/Stores/PluginStore.swift
Labels: [Type] Bug

#8877 Sets logging level in every module to prevent loss of detail in logs
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Logging/WPLogger.h
  WordPress/Classes/Utility/Logging/WPLogger.m
  WordPress/Classes/ViewRelated/Me/SupportViewController.m
Labels: Support

#8768 App Extensions: Added categories module
  WordPress/Tracks+ShareExtension.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/Tracks+DraftAction.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/CategoryTree.swift
  WordPress/WordPressShareExtension/EXTENSION_MIGRATIONS.md
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/.xccurrentversion
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/Extensions 3.xcdatamodel/contents
  WordPress/WordPressShareExtension/PostUploadOperation.swift
  WordPress/WordPressShareExtension/RemotePostCategory+Extensions.swift
  WordPress/WordPressShareExtension/ShareCategoriesPickerViewController.swift
  WordPress/WordPressShareExtension/ShareData.swift
  WordPress/WordPressShareExtension/ShareExtensionAbstractViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/WPStyleGuide+Share.swift
Labels: Draft Extension, Share Extension

#8882 Send user’s locale as an endpoint param when creating a Google account.
  WordPress/Classes/Services/SignupService.swift
  WordPressKit/WordPressKit/WordPressComServiceRemote.h
  WordPressKit/WordPressKit/WordPressComServiceRemote.m
Labels: NUX

#8872 Signup epilogue: show SVProgressHUD only for user updated display name
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
Labels: NUX

#8888 Localized strings.
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPressShareExtension/Base.lproj/Localizable.strings
Labels: [Type] Task

#8766 Improve support for dynamic type for login with 2FA
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
Labels: Accessibility, Login

#8892 Release/9.6 mergeback.
  WordPress/Info.plist
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Base.lproj/Localizable.strings
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task

#8860 Adds a mode toggle option to the ellipsis menu.
  WordPress/Classes/ViewRelated/Aztec/Helpers/AztecVerificationPromptHelper.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: [Type] Enhancement

#8885 Decoupling Authentication Flow: Mark VIII
  WordPress/Classes/ViewRelated/NUX/EmailMagicLink.storyboard
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/SigninWPComSyncHandler.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Login

#8705 Remove the WPError Alert
  WordPress/Classes/ViewRelated/NUX/LoginLinkRequestViewController.swift
Labels: [Type] Enhancement

#8889 Better offline messages: full implementation
  WordPress/Classes/Extensions/NSFetchedResultsController+Helpers.swift
  WordPress/Classes/Extensions/Notifications/NotificationName+Names.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/ReachabilityUtils.h
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+Network.h
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+NetworkAware.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/System/NetworkAware.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: General, [Status] In Progress

#8886 Fix/7236 menu dynamic type
  WordPress/Classes/ViewRelated/Menus/MenuDetailsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuHeaderViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemAbstractView.m
  WordPress/Classes/ViewRelated/Menus/MenuItemView.m
  WordPress/Classes/ViewRelated/Menus/MenuItemsViewController.m
  WordPress/Classes/ViewRelated/Menus/Menus.storyboard
  WordPress/Classes/ViewRelated/Menus/MenusSelectionDetailView.m
  WordPress/Classes/ViewRelated/Menus/MenusSelectionItemView.m
  WordPress/Classes/ViewRelated/Menus/MenusSelectionView.m
Labels: Accessibility, [Status] Ready to Merge

#8851 Issue/5077 improve media error messages
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPressKit/WordPressKit/WordPressComRestApi.swift
  WordPressKit/WordPressKit/WordPressOrgXMLRPCApi.swift
  WordPressKit/WordPressKit/WordPressOrgXMLRPCValidator.swift
Labels: Media

#8894 Adds a mode toggle option to the ellipsis menu.
  WordPress/Classes/ViewRelated/Aztec/Helpers/AztecVerificationPromptHelper.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: [Type] Enhancement

#8897 Issue/8686 async posting
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Status] DO NOT MERGE, [Status] Not Ready for Review

#8891 New Posts / Pages status and author filter bar
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterButton.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListFilterSettings.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
  WordPress/Classes/ViewRelated/System/FilterBar.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Pages List, Posts List

#8706 Decoupling Authentication Flow: Mark VI
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewControllerBase.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: Login

#8905 Adding `createAccountInitiated` track in for new Signup flow.
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
Labels: NUX

#8871 Issue/7404 settings gravatar site icon
  WordPress/Classes/ViewRelated/Me/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Me/MyProfileHeaderView.xib
  WordPress/Classes/ViewRelated/Me/MyProfileViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Broken Window

#8890 Limit maximum font size for dynamic type
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/NUX/LoginProloguePromoViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButton.swift
  WordPress/Classes/ViewRelated/NUX/NUXButtonViewController.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide+DynamicType.swift
Labels: Accessibility, [Status] In Progress

#8910 Async Posting: Don't show PostPost when performing an async publish
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Posting/Editing

#8913 Add account_created event to magic link signup flow
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Events.swift
Labels: Analytics, NUX

#8918 Extensions: Fix for tracks event not making it to the server after upload
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: Analytics, Draft Extension, Share Extension

#8887 Updates several pods to their latest version.
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#8923 Fixes a problem with 'Save as Draft' sometimes publishing.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: [Pri] Blocking, [Pri] High, [Type] Bug

#8922 Improve Voiceover accessibility for FilterTabBar + Author Filter Button
  WordPress/Classes/ViewRelated/Post/AuthorFilterButton.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/System/FilterBar.swift
Labels: Accessibility, Posts List

#8915 Issue/8914 async posting continue editing
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Media

#8921 Async Posting: Show Notice on successful posting
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posting/Editing

#8742 Decoupling Authentication Flow: Mark VII
  WordPress/Classes/Services/BlogSyncFacade.h
  WordPress/Classes/Services/BlogSyncFacade.m
  WordPress/Classes/Services/LoginFacade.h
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginFields+Validation.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginWPComViewController.swift
  WordPress/Classes/ViewRelated/NUX/SafariCredentialsService.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Notifications.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/LoginFieldsValidationTests.swift
  WordPress/WordPressTest/WordPressAuthenticatorTests.swift
  WordPressUI/WordPressUI/Extensions/UIViewController+Helpers.swift
  WordPressUI/WordPressUI/Extensions/UIWindow+Helpers.swift
Labels: [Type] Tech Debt

#8925 Fixed font (not changing size) for nav bar title and search bar
  WordPress/Classes/Extensions/WPStyleGuide+Search.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+ReaderComments.swift
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide+DynamicType.swift
Labels: Accessibility

#8906 Spotlight: Index posts and pages
  WordPress/Classes/Models/AbstractPost+Searchable.swift
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Spotlight/SearchIdentifierGenerator.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/Spotlight/SearchableItem.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.h
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Spotlight

#8930 Domain suggestions - always show searchField.
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
Labels: NUX

#8928 Release/9.6 mergeback.
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Events.swift
  WordPress/Info.plist
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task

#8929 App Extensions: Primary site can no longer be hidden in site picker
  WordPress/WordPressShareExtension/AppExtensionsService.swift
Labels: Draft Extension, Share Extension, [Type] Bug

#8908 Limit maximum font size and react to changes in Dynamic Type in login flow
  WordPress/Classes/ViewRelated/NUX/EmailMagicLink.storyboard
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginLinkRequestViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginProloguePromoViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginWPComViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXButtonViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXSubmitButton.swift
  WordPress/Classes/ViewRelated/NUX/SiteInfoHeaderView.swift
  WordPress/Classes/ViewRelated/NUX/WPStyleGuide+Login.swift
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide+DynamicType.swift
Labels: Accessibility, [Type] Bug

#8924 Improve Dynamic Type accessibility for Posts list
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardImageCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/System/FilterBar.swift
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide+DynamicType.swift
  WordPressShared/WordPressShared/Core/Views/WPStyleGuide.m
Labels: Accessibility, Posts List

#8935 Async Posting: Show notices for failed uploads
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaProgressCoordinatorNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
Labels: Media

#8936 Post upload cancel when editing again
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Media

#8840 Fix account verification crash when email is missing
  WordPress/Classes/Models/WPAccount+AccountSettings.swift
  WordPress/Classes/Models/WPAccount.h
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/ViewRelated/Aztec/Helpers/AztecVerificationPromptHelper.swift
Labels: [Type] Crash

#8941 Async posting: Add system notifications for upload success / failure
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posting/Editing

#8939 PluginDirectory: change how "Auto-managed" label is displayed.
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryAccessoryItem.swift
Labels: Jetpack Plugins

#8629 Site Creation Domain Suggestions: handle when there are no suggestions
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainSearchTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
Labels: NUX

#8944 Issue/8937 Make post status filter bar visible on iOS 10
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
Labels: Pages List, Posts List, [Pri] High, [Type] Bug

#8943 Don't allow multiple items being pushed in PluginDirectory.
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
Labels: Jetpack Plugins

#8940 Fix list layouting issue in Plugin Details
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
Labels: Jetpack Plugins

#8942 Issue/refactor thumbnail generation
  WordPress/Classes/Categories/Media+WPMediaAsset.m
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Services/MediaThumbnailService.swift
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media

#8957 Release/9.7 mergeback.
  WordPress/Info.plist
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task

#8958 Release/9.7 mergeback
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/AppStoreStrings.po
Labels: [Type] Task

#8952 Localizing ‘Back’ button text for Theme Selection page.
  WordPress/Classes/ViewRelated/NUX/SiteCreationCategoryTableViewController.swift
Labels: [Type] Bug

#8951 Fix ampersand display in profile names and comments author
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Models/ManagedAccountSettings.swift
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
Labels: [Type] Bug

#8969 Plugin Directory — small fixes.
  WordPress/Classes/Utility/Throttle.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/PluginServiceRemote.swift
Labels: Jetpack Plugins

#8960 Retry upload of post
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
Labels: Media

#8965 Fix the layout when the post header view is hidden.
  WordPress/Classes/ViewRelated/Post/PostCardImageCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
Labels: Posts List, [Type] Bug

#8966 Use original username when reselected.
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameViewController.swift
Labels: [Type] Bug

#8953 My Sites: Show/hide search bar based visible sites count.
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: Site Picker

#8945 Reader post spotlight indexing
  WordPress/Classes/Models/AbstractPost+Searchable.swift
  WordPress/Classes/Models/ReaderPost+Searchable.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/Spotlight/SearchableItem.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Spotlight

#8973 Stock photos. Step II. Start scaffolding an implementation based on WPMediaPicker
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMoreCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosMedia.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosMediaGroup.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPlaceholder.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosService.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Aztec, Stock Photos

#8959 Feature/9854 stock photos free other alert
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMoreCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMoreCoordinatorDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosMedia.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosMediaGroup.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPlaceholder.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosService.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosStrings.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Aztec, Stock Photos

#8984 Allow 2FA codes to have spaces
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
Labels: NUX

#8986 MediaCoordinator: Use original posts when observing / reporting progress
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, Media, Posting/Editing

#8979 Issue/8461 properly display new posts notifications
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Notifications

#8990 MediaCoordinator: Use original posts when observing / reporting progress (develop)
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, Media, [Type] Bug

#8999 Issue/8687 Async Announcement Alert
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+Async.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-easy-async.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-easy-async.imageset/illustration-easy-async.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Aztec, Posting/Editing

#9003 Restore post status after app is killed
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostService+RefreshStatus.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, Posting/Editing, Posts List

#9005 Async Posting: Show 100% progress while a post is uploading
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
Labels: Media, Posting/Editing, Posts List

#8975 Activity Log: add swipe action to "Rewind" cells.
  WordPress/Classes/Utility/ImmuTable.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
Labels: Activity Log

#9014 Adding device locale to signup email request.
  WordPressKit/WordPressKit/AccountServiceRemoteREST.m
Labels: NUX

#9013 Remove SiteCreation feature flag and kill dead code
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/WPAsyncBlockOperation.h
  WordPress/Classes/Utility/WPAsyncBlockOperation.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/CreateNewBlog/CreateNewBlogViewController.h
  WordPress/Classes/ViewRelated/Blog/CreateNewBlog/CreateNewBlogViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX

#9000 Reload table after category added.
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.m
Labels: Tag/Category Management

#8996 Jetpack setup/login: Removed ScrollView, corrected layout for orientations.
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.xib
Labels: Jetpack, Stats
