Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-04, with the labels that each got.

#8972 Site Creation: Using `localizedUppercase` for all step labels.
  WordPress/Classes/ViewRelated/NUX/SiteCreationCategoryTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationThemeSelectionHeaderView.swift
Labels: NUX

#8987 Constraining Signup > Google View > title label
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
Labels: Accessibility, NUX

#9033 Specify Google Auth is not supported in dev builds
  README.md
Labels: General

#8976 ActivityLog: fix layouting issues with iOS 10.
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.xib
Labels: Activity Log

#8968 Relocating FancyAlert over to WordpressUI.framework
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/FancyAlert/FancyAlertPresentationController.swift
  WordPressUI/WordPressUI/FancyAlert/FancyAlertView.swift
  WordPressUI/WordPressUI/FancyAlert/FancyAlertViewController.swift
  WordPressUI/WordPressUI/FancyAlert/FancyAlerts.storyboard
  WordPressUI/WordPressUI/FancyAlert/FancyButton.swift
  WordPressUI/WordPressUI/FlingableView/FlingableViewHandler.swift
Labels: [Type] Enhancement

#9030 Adding ZendeskSDK pod.
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Zendesk

#9037 Implement Stock Photos from Media Library + button
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMoreCoordinatorDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/MediaPickingContext.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/MediaPickingOptionsDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/CameraCaptureCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryStrings.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stock Photos

#9040 Activity Log: enable for sites hosted on WPCom
  WordPress/Classes/Models/Blog.m
Labels: Activity Log

#9029 Provides WordPressShared as a CocoaPod
  WordPressShared/WordPressShared.podspec
  WordPressShared/WordPressShared.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/CocoaLumberjack.swift
  WordPressShared/WordPressShared/Core/Logging/CocoaLumberjack.swift
  WordPressShared/WordPressShared/Core/Utility/Languages.swift
  WordPressShared/WordPressShared/Core/Utility/NSBundle+VersionNumberHelper.h
  WordPressShared/WordPressShared/Core/Utility/NSBundle+VersionNumberHelper.m
  WordPressShared/WordPressShared/Core/Utility/NSDate+Helpers.swift
  WordPressShared/WordPressShared/Core/Utility/WPMapFilterReduce.h
  WordPressShared/WordPressShared/Core/Utility/WPMapFilterReduce.m
Labels: General

#9035 Adding Zendesk credentials and feature flag, and instantiating Zendesk.
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Credentials/ApiCredentials.h
  WordPress/Credentials/ApiCredentials.m
  WordPress/Credentials/gencredentials.rb
  WordPress/Credentials/wpcom_app_credentials.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Zendesk

#9039 Issue/8977 Pages List: Show uploading and failed pages
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Resources/AppImages.xcassets/icon-post-actionbar-more.imageset/Contents.json
Labels: Pages List

#9045 Decoupling Authentication Flow: Mark XIV
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationTracker.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator+Events.swift
Labels: Login

#8896 Decoupling Authentication Flow: Mark IX
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/AccountServiceFacade.h
  WordPress/Classes/Services/AccountServiceFacade.m
  WordPress/Classes/Services/BlogSyncFacade.h
  WordPress/Classes/Services/LoginFacade.m
  WordPress/Classes/Services/UsersService.swift
  WordPress/Classes/Services/WordPressComSyncService.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableView.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/SigninWPComSyncHandler.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Login, [Type] Tech Debt

#8991 Decoupling Authentication Flow: Mark XI
  WordPress/Classes/ViewRelated/Jetpack/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginFields.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/Classes/ViewRelated/Stats/JetpackLoginViewController.swift
Labels: Login

#9043 Stock photos UX fixes
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
Labels: Media

#9031 UIImageView+Networking: Simplifying our Tools!
  WordPress/Classes/Extensions/UIImageView+Gravatar.swift
  WordPress/Classes/Extensions/UIImageView+Networking.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationThemeSelectionCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockImageTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableViewCell.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDetailViewHeaderCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListRow.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/UIImageView+Extensions.swift
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/Extensions/UIImageView+Blavatar.swift
  WordPressUI/WordPressUI/Extensions/UIImageView+Networking.swift
Labels: [Type] Tech Debt

#9024 Post Settings: Removed Drop shadow on tags input field
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
Labels: Tag/Category Management

#9042 Decoupling Authentication Flow: Mark XIV
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: Login

#9060 Stock photos: Empty results placeholder
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPlaceholder.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosStrings.swift
  WordPress/Resources/AppImages.xcassets/media-free-photos-no-results.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/media-free-photos-no-results.imageset/Media.pdf
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Stock Photos

#9059 Stock photos: Throttle search requests
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
Labels: Stock Photos

#9046 Zendesk Mobile: Adding new controller to display Support view
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Zendesk

#9050 Zendesk Mobile: add support for Version, Extra Debug, Activity Log
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9055 Zendesk Mobile: add Zendesk help options
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9062 Moving UILabel+SuggestSize over to WordPressUI
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/NUX/WPWalkthroughOverlayView.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/Categories/UILabel+SuggestSize.h
  WordPressUI/WordPressUI/Categories/UILabel+SuggestSize.m
  WordPressUI/WordPressUI/WordPressUI.h
Labels: [Type] Tech Debt

#9057 Simplifies and fixes post state logic.
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPressTest/PostEditorStateTests.swift
Labels: [Type] Bug

#9056 Decoupling Authentication Flow: Mark X
  WordPress/Classes/Services/GravatarService.swift
  WordPress/Classes/Services/UsersService.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.xib
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/Login2FAViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableView.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Login

#9061 UIImageView+Networking: Few Bugfixes!
  WordPress/Classes/ViewRelated/NUX/SiteCreationThemeSelectionCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockImageTableViewCell.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
  WordPressUI/WordPressUI/Extensions/UIImageView+Networking.swift
Labels: [Type] Tech Debt

#9072 Gravatar: Wiring our new Image Downloader
  WordPress/Classes/Extensions/UIImage+Assets.swift
  WordPress/Classes/Extensions/UIImageView+Gravatar.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPressUI/WordPressUI/Extensions/UIImageView+Networking.swift
Labels: [Type] Tech Debt

#9068 Issue/8978 Async Feature Flag Removal
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
Labels: Media, Posting/Editing

#9064 Login: Nuking awful logic
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: Login

#9071 New NSAttributedString Swift Extension
  WordPress/Classes/Categories/NSAttributedString+Util.h
  WordPress/Classes/Categories/NSAttributedString+Util.m
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/Extensions/NSMutableAttributedString+Helpers.swift
Labels: [Type] Tech Debt

#9069 Ensure tracks doesn't send events if user opts out
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Analytics

#9084 Merges Release/9.8 into develop.
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Info.plist
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task

#9074 Decoupling Authentication Flow: Mark XIX
  WordPress/Classes/Extensions/UIImage+Assets.swift
  WordPress/Classes/Models/ManagedPerson.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/PeopleServiceRemote.swift
  WordPressShared/WordPressShared.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Utility/NSString+Helpers.h
  WordPressShared/WordPressShared/Core/Utility/NSString+Helpers.m
  WordPressUI/WordPressUI.xcodeproj/project.pbxproj
  WordPressUI/WordPressUI/Extensions/Gravatar/Gravatar.swift
  WordPressUI/WordPressUI/Extensions/Gravatar/NSString+Gravatar.h
  WordPressUI/WordPressUI/Extensions/Gravatar/NSString+Gravatar.m
  WordPressUI/WordPressUI/Extensions/UIImage+Assets.swift
  WordPressUI/WordPressUI/Extensions/UIImageView+Gravatar.swift
  WordPressUI/WordPressUI/Resources/Assets.xcassets/Contents.json
  WordPressUI/WordPressUI/Resources/Assets.xcassets/blavatar.imageset/Contents.json
  WordPressUI/WordPressUI/Resources/Assets.xcassets/blavatar.imageset/blavatar-default.pdf
  WordPressUI/WordPressUI/Resources/Assets.xcassets/gravatar.imageset/Contents.json
  WordPressUI/WordPressUI/Resources/Assets.xcassets/gravatar.imageset/gravatar.pdf
  WordPressUI/WordPressUI/WordPressUI.h
  WordPressUI/WordPressUITests/Extensions/GravatarTest.swift
Labels: [Type] Tech Debt

#9087 Fixes private publishing.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: [Pri] High, [Type] Bug

#9085 Issue/9083 fix async publish when offline or fails uploads
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Enhancement

#9095 Merges 9.7 back into develop.
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Models/Blog+Quota.swift
  WordPress/Classes/Utility/Media/MediaExporter.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: [Type] Task

#9073 Decoupling Authentication Flow: Mark XVIII
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteInfoHeaderView.swift
  WordPressUI/WordPressUI/Extensions/UIImage+Assets.swift
  WordPressUI/WordPressUI/Resources/Assets.xcassets/icon-url-field.imageset/Contents.json
  WordPressUI/WordPressUI/Resources/Assets.xcassets/icon-url-field.imageset/icon-url-field.pdf
Labels: Login

#9097 WordPressAuthenticator.framework: Mark I
  Podfile
  Podfile.lock
  WordPress.xcworkspace/contents.xcworkspacedata
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressAuthenticator/WordPressAuthenticator.xcodeproj/project.pbxproj
  WordPressAuthenticator/WordPressAuthenticator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  WordPressAuthenticator/WordPressAuthenticator.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  WordPressAuthenticator/WordPressAuthenticator/Info.plist
  WordPressAuthenticator/WordPressAuthenticator/Logging/CocoaLumberjack.swift
  WordPressAuthenticator/WordPressAuthenticator/Logging/WPAuthenticatorLogging.h
  WordPressAuthenticator/WordPressAuthenticator/Logging/WPAuthenticatorLogging.m
  WordPressAuthenticator/WordPressAuthenticator/Logging/WPAuthenticatorLoggingPrivate.h
  WordPressAuthenticator/WordPressAuthenticator/Logging/WPAuthenticatorLoggingPrivate.m
  WordPressAuthenticator/WordPressAuthenticator/WordPressAuthenticator.h
  WordPressAuthenticator/WordPressAuthenticatorTests/Info.plist
Labels: Login

#9103 Merges release/9.8 into develop.
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Info.plist
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task

#9052 Decoupling Authentication Flow: Mark XVI
  WordPress/Classes/ViewRelated/NUX/EmailMagicLink.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/Signup.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt

#9113 Issue/9112 crash on thumbnail generation
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailService.swift
Labels: [Type] Crash

#9066 Decoupling Authentication Flow: Mark XVII
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
  WordPress/Classes/ViewRelated/NUX/SearchTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/SearchTableViewCell.xib
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationCreateSiteViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainSearchTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX, [Type] Tech Debt

#9109 Nuking SignupViewController
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXAbstractViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXSegueHandler.swift
  WordPress/Classes/ViewRelated/NUX/SigninKeyboardResponder.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX, [Type] Tech Debt

#9104 Page the requests for media on XMLRPC.
  WordPressKit/WordPressKit/MediaServiceRemoteXMLRPC.m
Labels: Media, [Type] Enhancement

#9107 Add tracks events to Xcode console
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Analytics, [Type] Discussion, [Type] Tech Debt

#9106 Nuking (Quite a few!!) Force Unwraps
  WordPress/Classes/Services/AccountService+SocialService.swift
  WordPress/Classes/Services/BlogJetpackSettingsService.swift
  WordPress/Classes/Services/NotificationSettingsService.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/Services/SiteCreationService.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/Stores/TimeZoneStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressTest/PushAuthenticationServiceTests.swift
  WordPressKit/WordPressKit/AccountServiceRemoteREST+SocialService.swift
  WordPressKit/WordPressKit/AccountSettingsRemote.swift
  WordPressKit/WordPressKit/ActivityServiceRemote.swift
  WordPressKit/WordPressKit/BlogJetpackSettingsServiceRemote.swift
  WordPressKit/WordPressKit/DomainsServiceRemote.swift
  WordPressKit/WordPressKit/NotificationSettingsServiceRemote.swift
  WordPressKit/WordPressKit/NotificationSyncServiceRemote.swift
  WordPressKit/WordPressKit/PeopleServiceRemote.swift
  WordPressKit/WordPressKit/PlanFeatureServiceRemote.swift
  WordPressKit/WordPressKit/PlanServiceRemote.swift
  WordPressKit/WordPressKit/PluginServiceRemote.swift
  WordPressKit/WordPressKit/PushAuthenticationServiceRemote.swift
  WordPressKit/WordPressKit/ServiceRemoteWordPressComREST.h
  WordPressKit/WordPressKit/ServiceRemoteWordPressComREST.m
  WordPressKit/WordPressKit/SharingServiceRemote.swift
  WordPressKit/WordPressKit/SiteManagementServiceRemote.swift
  WordPressKit/WordPressKit/TimeZoneServiceRemote.swift
  WordPressKit/WordPressKit/WordPressOrgXMLRPCValidator.swift
  WordPressKit/WordPressKitTests/PushAuthenticationServiceRemoteTests.swift
  WordPressKit/WordPressKitTests/ServiceRemoteRESTTests.m
  WordPressKit/WordPressKitTests/TimeZoneServiceRemoteTests.swift
Labels: [Type] Tech Debt

#9120 Notices: Add shadow to improve visibility of notices
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
Labels: Design, [Type] Enhancement

#9022 API: Follow request - pass the "source" in the POST url not in the POST body
  WordPressKit/WordPressKit/ReaderSiteServiceRemote.m
Labels: [Type] Tech Debt

#9067 Stock Photos: Implementing MediaPicker updates
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media

#9133 Fix a failing test for following sites by ID in the Reader
  WordPressKit/WordPressKitTests/ReaderSiteServiceRemoteTests.swift
Labels: Testing

#9134 Remove unused buttons from login prologue
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
Labels: Login, NUX, [Type] Tech Debt

#9116 Stock Photos: Tracks events
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataLoader.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/CameraCaptureCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Stock Photos

#9115 Stock photos: pagination
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/Pageable.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/ResultsPage.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataLoader.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPageable.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosResultsPage.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosService.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/CameraCaptureCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressShared/WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Stock Photos

#9127 Featured image using media coordinator
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.h
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Status] Needs Code Review

#9105 Decoupling Authentication Flow: Mark XXIII
  WordPress/Classes/Services/AccountService+SocialService.swift
  WordPress/Classes/Services/AccountService.h
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginFields.swift
  WordPress/Classes/ViewRelated/NUX/LoginLinkRequestViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSelfHostedViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginSiteAddressViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
  WordPress/Classes/ViewRelated/NUX/WordPressComAccountService.swift
  WordPress/Classes/ViewRelated/NUX/WordPressComBlogService.swift
  WordPress/Classes/ViewRelated/NUX/WordPressComSiteInfo.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt

#9141 Update Zendesk pod to 1.11.2.1.
  Podfile
  Podfile.lock
Labels: Zendesk

#9147 Media Library: Enable multiple selection for document picker
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media, [Type] Enhancement

#9151 Aztec: Enable multiple selection for document picker
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Media, [Type] Enhancement

#9150 Add Google signup to jetpack signup
  WordPress/Classes/ViewRelated/NUX/Login.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXViewController.swift
Labels: Jetpack, NUX

#9142 Add signup analytics events
  Podfile
  Podfile.lock
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/NUX/LoginPrologueSignupMethodViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkAuthViewController.swift
  WordPress/Classes/ViewRelated/NUX/NUXLinkMailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEmailViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
Labels: Analytics, NUX

#9123 Signup Epilogue: don't show updating HUDs if username and password have not changed.
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
Labels: NUX

#9155 Update Async Promo link for release
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+Async.swift
Labels: Media, Posting/Editing

#9036 ActivityLog: add detail view.
  WordPress/Classes/ViewRelated/Activity/Activity.storyboard
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/Activity.swift
Labels: Activity Log

#9135 Zendesk Mobile: add mobile specific information to tickets
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9126 Update WordPressKit for Reader notifications
  WordPressKit/WordPressKit.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/ObjectValidation.swift
  WordPressKit/WordPressKit/ReaderServiceDeliveryFrequency.swift
  WordPressKit/WordPressKit/ReaderTopicServiceRemote+Subscription.swift
  WordPressKit/WordPressKit/ReaderTopicServiceRemote.m
  WordPressKit/WordPressKit/RemoteReaderSiteInfo.h
  WordPressKit/WordPressKit/RemoteReaderSiteInfoSubscription.swift
  WordPressKit/WordPressKit/ServiceRequest.swift
  WordPressKit/WordPressKitTests/MockServiceRequest.swift
  WordPressKit/WordPressKitTests/ReaderTopicServiceRemoteTest+Subscriptions.swift
  WordPressKit/WordPressKitTests/RemoteReaderSiteInfoSubscriptionTests.swift
  WordPressKit/WordPressKitTests/ServiceRequestTest.swift
Labels: Reader

#9132 Implement featured image with a relationship between Post and Media objects.
  MIGRATIONS.md
  WordPress/Classes/Extensions/Media+Blog.swift
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Models/Media.h
  WordPress/Classes/Models/Media.m
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 74.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/WordPressOrgXMLRPCApi.swift
Labels: Media, [Type] Enhancement

#9154 ActivityList, TimeZoneSelector: Fix issue where the WPNoResultsView ould be misaligned after rotation.
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Tools/TimeZoneSelectorViewController.swift
Labels: [Type] Bug

#9171 Merges release/9.9 into develop
  Scripts/BuildPhases/AddVersionToIcons.sh
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Info.plist
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Base.lproj/Localizable.strings
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
  WordPress/WordPressTodayWidget/Info-Alpha.plist
  WordPress/WordPressTodayWidget/Info-Internal.plist
  WordPress/WordPressTodayWidget/Info.plist
  WordPress/Wordpress-Alpha-Info.plist
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  config/WordPress.release.xcconfig
Labels: [Type] Task

#9173 Media Library: Remove redundant code and reinstate multiple document selection
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media

#9161 Media Library : Allow document types to be selected in the doc picker
  WordPress/Classes/Models/Blog+Files.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailService.swift
  WordPress/Classes/Utility/Media/MediaThumbnailExporter.swift
  WordPress/Classes/Utility/Media/MediaURLExporter.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Status] In Progress

#9110 Decoupling Authentication Flow: Mark XXV
  WordPress/Classes/Services/SignupService.swift
  WordPress/Classes/ViewRelated/NUX/LoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupGoogleViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticator.swift
Labels: NUX

#9183 Add spotlight user activity analytics
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
Labels: Analytics, Spotlight

#9184 Stock Photos: Adding WPStyle to search bar
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
Labels: Stock Photos

#9193 Authentication.framework: Assets
  WordPressAuthenticator/WordPressAuthenticator.xcodeproj/project.pbxproj
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/beveled-blue-button-down.imageset/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/beveled-blue-button-down.imageset/beveled-blue-button-down.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/beveled-blue-button-down.imageset/beveled-blue-button-down@2x.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/beveled-blue-button-down.imageset/beveled-blue-button-down@3x.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/darkgrey-shadow.imageset/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/darkgrey-shadow.imageset/darkgrey-shadow.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/darkgrey-shadow.imageset/darkgrey-shadow@2x.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/darkgrey-shadow.imageset/darkgrey-shadow@3x.png
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-password-field.imageset/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-password-field.imageset/icon-password-field.pdf
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-url-field.imageset/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-url-field.imageset/icon-url-field.pdf
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-username-field.imageset/Contents.json
  WordPressAuthenticator/WordPressAuthenticator/Assets.xcassets/icon-username-field.imageset/icon-username-field.pdf
Labels: NUX

#9187 Stock Photos design review
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Media/MediaLibraryStrings.swift
Labels: Stock Photos

#9195 Stock Photos: Avoid reload images when typing in search bar
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
Labels: Media, Stock Photos

#9153 ActivityLog: Discard `isDiscarded`.
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/ActivityUtils.swift
  WordPressKit/WordPressKit/Activity.swift
Labels: Activity Log

#9196 Stock Photos: Add loading indicator
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPlaceholder.swift
Labels: Stock Photos

#9203 Fix clipping in FancyButton
  WordPressUI/WordPressUI/FancyAlert/FancyButton.swift
Labels: [Type] Tech Debt

#9204 Make sure links inserted on Aztec have a scheme.
  WordPress/Classes/ViewRelated/Aztec/Extensions/URL+LinkNormalization.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/URL+LinkNormalizationTests.swift
Labels: [Type] Bug

#9209 Issue/9182 Fix Page List crash
  MIGRATIONS.md
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 74.xcdatamodel/contents
Labels: Pages List, [Type] Crash

#9211 Zendesk Mobile: add support for Jetpack and self-hosted users.
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9214 Zendesk Mobile: show Zendesk new ticket from App Ratings > Send Feedback.
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9194 Disables paragraph tag stripping for Gutenberg posts.
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessorIn.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessorOut.swift
  WordPress/Classes/ViewRelated/Aztec/Renderers/CommentAttachmentRenderer.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/CalypsoProcessorInTests.swift
  WordPress/WordPressTest/Aztec/CalypsoProcessorOutTests.swift
Labels: [Type] Bug

#8465 Caption shortcode support
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/FormatBarItemProviders.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CaptionShortcodePostProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CaptionShortcodePreProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecAttachmentViewController.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.h
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
  WordPress/WordPressTest/Posts/PostAttachmentTests.swift
Labels: [Type] Enhancement

#9233 Fix username not changing in some situations
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
Labels: NUX
