Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-07, with the labels that each got.

#9678 Fix Xcode 10 warnings.
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserHeaderView.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Views/NavigationTitleView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
Labels: [Type] Tech Debt

#9693 Fix a bundle issue with WPAuth
  Podfile
  Podfile.lock
Labels: General

#9674 Implement FormattableContent to replace NotificationBlock
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Models/Notifications/Actions/Identifier.swift
  WordPress/Classes/Models/Notifications/Actions/LikeComment.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationAction.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationActionParser.swift
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/NotificationBlock.swift
  WordPress/Classes/Models/Notifications/NotificationBlockGroup.swift
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/BodyContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FooterContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/HeaderContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Notification+FormattableContentParent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/BadgeContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/FooterContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/HeaderContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/RichTextContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SnipetsContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SubjectContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/SubjectContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/Helpers/NotificationDeletion.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Project] Extract Notification interactions

#9694 Universal Links: Add basic routing and support for Me section
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Universal Links

#9696 Merge develop into the Extract Notifications feature branch
  Scripts/fastlane/metadata/no/description.txt
  Scripts/fastlane/metadata/no/keywords.txt
  Scripts/fastlane/metadata/no/subtitle.txt
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserHeaderView.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Views/NavigationTitleView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
Labels: [Type] Task

#9698 Localized favourite to en_US
  WordPress/Resources/AppStoreStrings.po
Labels: General

#9699 Feature/9687 formattable content as protocol
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/NotificationBlockGroup.swift
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FooterContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FormattableCommentContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FormattableUserContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/BodyContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/FooterContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/HeaderContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/SubjectContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/HeaderContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentFactory.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/SubjectContentGroup.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Project] Extract Notification interactions

#9700 Merge develop into feature branch for Extracting Notifications
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Resources/AppStoreStrings.po
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: [Project] Extract Notification interactions, [Type] Task

#9703 Issue/9668 Universal Links: Handle Notifications link
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links

#9688 Fix crash on iPads for wpcom accounts without any blogs
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Groundskeeping, [Type] Crash

#9701 Updates to the latest WPAuth
  Podfile
  Podfile.lock
Labels: General

#9702 Issue/9673 Universal Links: Handle new post links
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Universal Links

#9710 Make WPAnimatedBox animation loop
  WordPress/Classes/ViewRelated/Views/WPAnimatedBox.m
Labels: Groundskeeping, Posting/Editing

#9722 Updates Aztec to 1.0.0-beta.23.
  Podfile
  Podfile.lock
Labels: [Pri] High, [Type] Bug

#9726 Integrates the latest from release/10.4 into develop
  Podfile
  Podfile.lock
Labels: [Type] Task

#9684 Update minimal Swift/Xcode version in docs.
  README.md
Labels: [Type] Tech Debt

#9599 Plan Details: replace No Results view
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewModel.swift
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
Labels: NoResultsView

#9718 Merge develop into Extract notifications feature branch
  Podfile.lock
Labels: [Project] Extract Notification interactions, [Type] Task

#9719 Extract notifications: Move Actions to WordPressKit
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Models/Notifications/Actions/EditComment.swift
  WordPress/Classes/Models/Notifications/Actions/Follow.swift
  WordPress/Classes/Models/Notifications/Actions/LikeComment.swift
  WordPress/Classes/Models/Notifications/Actions/LikePost.swift
  WordPress/Classes/Models/Notifications/Actions/MarkAsSpam.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationAction.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationActionParser.swift
  WordPress/Classes/Models/Notifications/Actions/ReplyToComment.swift
  WordPress/Classes/Models/Notifications/Actions/TrashComment.swift
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/NotificationBlock.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FormattableCommentContent.swift
Labels: [Project] Extract Notification interactions

#9732 Importing FormatableContent objects from WordPressKit
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/FormattableContent/DefaultFormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentActionCommand.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFactory.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFormatter.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentGroup.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentParent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentStyles.swift
  WordPress/Classes/Utility/FormattableContent/FormattableMediaContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListRow.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityActionsParser.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentGroup.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/FormattableActivity.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentRangeFactory.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Project] Extract Notification interactions

#9736 Fixed a retain cycle in WPAnimatedBox
  WordPress/Classes/ViewRelated/Views/WPAnimatedBox.m
Labels: [Type] Bug

#9728 Issue/9670 Universal Links: Reader
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderTopicService.h
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/ReaderCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links

#9741 Implement FormattableContent on Activity Log Detail
  WordPress/Classes/Utility/FormattableContent/FormattableContentFactory.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/ViewRelated/Activity/Activity.storyboard
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentStyles.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/FormattableActivity.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Project] Extract Notification interactions

#9714 Support new WordPressAuthenticator configuration and API methods
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/System/FancyAlerts+VerificationPrompt.swift
  WordPress/Credentials/ApiCredentials.h
  WordPress/Credentials/ApiCredentials.m
  WordPress/Credentials/gencredentials.rb
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/OCLint.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Alpha.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Internal.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressScreenshotGeneration.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressShareExtension.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressTodayWidget.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressUITests.xcscheme
  WordPressComStatsiOS/WordPressComStatsiOS.xcodeproj/xcshareddata/xcschemes/WordPressComStatsiOS.xcscheme
  WordPressFlux/WordPressFlux.xcodeproj/xcshareddata/xcschemes/WordPressFlux.xcscheme
Labels: [Type] Tech Debt

#9749 Issue/9667 Universal Links: Stats
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, Universal Links

#9607 WebViews: Show 'No Connection' alert if internet not reachable.
  WordPress/Classes/Extensions/Notifications/NotificationName+Names.swift
  WordPress/Classes/Utility/CookieJar.swift
  WordPress/Classes/Utility/ReachabilityUtils.h
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/Utility/WPWebViewController.m
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: Network/Sync

#9750 WordPressAuthenticator: Wiring the latest Delegate's API
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Tech Debt

#9735 Extract notifications. Accessibility review
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Models/Notifications/Actions/EditComment.swift
  WordPress/Classes/Models/Notifications/Actions/Follow.swift
  WordPress/Classes/Models/Notifications/Actions/LikeComment.swift
  WordPress/Classes/Models/Notifications/Actions/LikePost.swift
  WordPress/Classes/Models/Notifications/Actions/MarkAsSpam.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationAction.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationActionParser.swift
  WordPress/Classes/Models/Notifications/Actions/ReplyToComment.swift
  WordPress/Classes/Models/Notifications/Actions/TrashComment.swift
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/FormattableContent/DefaultFormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentActionCommand.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFactory.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFormatter.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentGroup.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/FormattableActivity.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockUserTableViewCell.swift
Labels: [Project] Extract Notification interactions

#9760 Add new ranges to activity log
  WordPress/Classes/Services/NotificationSettingsService.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFactory.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentStyles.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentGroup.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentStyles.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Factory/ActivityContentFactory.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Factory/ActivityRangesFactory.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityPluginRange.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityPostRange.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentFactory.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentRangeFactory.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/BadgeContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/FooterContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/HeaderContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/RichTextContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SnipetsContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SubjectContentStyles.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ActivityLogFormattableContentTests.swift
  WordPress/WordPressTest/ActivityLogRangesTest.swift
  WordPress/WordPressTest/ActivityLogTestData.swift
  WordPress/WordPressTest/Test Data/activity-log-comment-content.json
  WordPress/WordPressTest/Test Data/activity-log-pingback-content.json
  WordPress/WordPressTest/Test Data/activity-log-plugin-content.json
  WordPress/WordPressTest/Test Data/activity-log-post-content.json
  WordPress/WordPressTest/Test Data/activity-log-settings-content.json
  WordPress/WordPressTest/Test Data/activity-log-site-content.json
  WordPress/WordPressTest/Test Data/activity-log-theme-content.json
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
Labels: [Project] Extract Notification interactions

#9751 Add pull-to-refresh to Activity Log.
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
Labels: Activity Log

#9763 Universal Links: Add app banner routes
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Universal Links

#9762 Extract notifications: first batch of unit tests (actions)
  WordPress/Classes/Models/Notifications/Actions/EditComment.swift
  WordPress/Classes/Models/Notifications/Actions/LikeComment.swift
  WordPress/Classes/Models/Notifications/Actions/MarkAsSpam.swift
  WordPress/Classes/Models/Notifications/Actions/ReplyToComment.swift
  WordPress/Classes/Models/Notifications/Actions/TrashComment.swift
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/NetworkStatus.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/Test Data/NotificationActionsMocks.swift
  WordPress/WordPressTest/TestingAppDelegate.h
  WordPress/WordPressTest/TestingAppDelegate.m
  WordPress/WordPressTest/TrashCommentActionTests.swift
  WordPress/WordPressTest/WordPressTest-Bridging-Header.h
Labels: Testing, [Project] Extract Notification interactions

#9733 Theme Browser: replace No Results view
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
  WordPress/Resources/AppImages.xcassets/theme-empty-results.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/theme-empty-results.imageset/theme-empty-results.pdf
Labels: NoResultsView

#9739 Replace no results images
  WordPress/Classes/ViewRelated/NUX/SiteCreation.storyboard
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
  WordPress/Resources/AppImages.xcassets/mysites-nosites.imageset/mysites-nosites.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-error.imageset/site-creation-error.pdf
Labels: NoResultsView

#9761 No Results View: refactor creating a controller instance
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: NoResultsView

#9742 Fix broken add site button
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: [Type] Bug

#9767 iOS 12: One Time Code Autofill
  Podfile
  Podfile.lock
Labels: Login

#9769 Refresh data on Notification Detail.
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
Labels: [Project] Extract Notification interactions

#9765 Handle approve / unapprove state when swiping over a notification
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Utility/FormattableContent/DefaultFormattableContentAction.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/WordPressTest/ApproveCommentActionTests.swift
Labels: [Project] Extract Notification interactions

#9782 Add missing universal links
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/Coordinators/ReaderCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links

#9727 Updates version management script to display both version strings
  Scripts/manage-version.sh
Labels: General

#9781 Point to the latest version of WordPressAuthenticator
  Podfile
  Podfile.lock
Labels: [Type] Tech Debt

#9785 Disable Crashlytics if user opts-out of tracking
  WordPress/Classes/Utility/WPCrashlytics.h
  WordPress/Classes/Utility/WPCrashlytics.m
  WordPress/Classes/ViewRelated/Me/PrivacySettingsViewController.swift
Labels: Analytics, [Type] Bug

#9784 Feature/9784 route activity log app
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/FormattableContent/ContentRouter.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentRouter.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Factory/ActivityRangesFactory.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/FormattableActivity.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityCommentRange.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityPostRange.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ActivityContentRouterTests.swift
  WordPress/WordPressTest/ActivityLogRangesTest.swift
  WordPress/WordPressTest/ActivityLogTestData.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
  WordPress/WordPressTest/Test Data/activity-log-comment.json
  WordPress/WordPressTest/Test Data/activity-log-post.json
Labels: [Project] Extract Notification interactions

#9776 Remove `gifSupportInReaderDetail` feature flag and related conditional code.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
Labels: gif support

#9793 Extract Notifications: tests for ranges
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FormattableCommentRangeTests.swift
  WordPress/WordPressTest/FormattableNotIconTests.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
  WordPress/WordPressTest/NotificationContentRangeTests.swift
  WordPress/WordPressTest/Test Data/notifications-blockquote-range.json
  WordPress/WordPressTest/Test Data/notifications-comment-range.json
  WordPress/WordPressTest/Test Data/notifications-icon-range.json
  WordPress/WordPressTest/Test Data/notifications-post-range.json
  WordPress/WordPressTest/Test Data/notifications-site-range.json
  WordPress/WordPressTest/Test Data/notifications-user-range.json
Labels: Testing, [Project] Extract Notification interactions

#9790 No Results View: refactor hiding view
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainsTableViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: NoResultsView

#9808 App extensions: fix for tracks errors
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: Analytics, Draft Extension, Share Extension, [Type] Bug

#9811 Updates plan table footer text
  WordPress/Classes/ViewRelated/Plans/PlanListViewModel.swift
Labels: Plans & Checkout

#9807 Update screenshots taken by snapshot to agreed set
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
Labels: General

#9825 SignupUsernameViewController: Removes "Back" label from back nav button
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
Labels: Login, NUX

#9821 Reduce reliance on sleep in screenshot tests by using waits where possible
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPress/WordPressScreenshotGeneration/XCTest+Extensions.swift
  WordPressComStatsiOS/WordPressComStatsiOS/UI/WPStatsGraphBackgroundView.m
Labels: General

#9797 App Banner Universal Links: Small tweak to fragment parsing
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
Labels: Universal Links

#9819 Universal Links: Improve failure cases
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/Universal Links/NavigationActionHelpers.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links, [Status] Needs Design Review

#9820 Issue/9787 fix location change
  WordPress/Classes/Models/Post.swift
Labels: [Type] Bug

#9802 Enable Universal Links
  WordPress/WordPress.entitlements
Labels: Universal Links

#9830 Universal Links: Improve failure cases (retargeting PR)
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/Universal Links/NavigationActionHelpers.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links

#9834 Enable universal links for wordpress.com and apps.wordpress.com (retarget PR)
  WordPress/WordPress.entitlements
Labels: Universal Links

#9804 Extract notifications. Another round of unit tests
  WordPress/Classes/Models/Notifications/NotificationBlock.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ActivityContentFactoryTests.swift
  WordPress/WordPressTest/ActivityLogFormattableContentTests.swift
  WordPress/WordPressTest/Extensions/ArrayTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/NotificationBlockTests.swift
  WordPress/WordPressTest/Test Data/activity-log-activity-content.json
Labels: Testing, [Project] Extract Notification interactions

#9794 Move github helper functions to the shared repository
  .gitignore
  Gemfile
  Gemfile.lock
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
  Scripts/fastlane/env.example
  Scripts/github-helper.rb
Labels: General

#9842 Zendesk: limit Name field to 50 characters
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9838 Quick Start: add checklist
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: What's Next

#9848 Notification detail routing using FormattableContentGroups
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentRouter.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/BodyContentGroup.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
  WordPress/WordPressTest/NotificationContentRouterTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
Labels: [Project] Extract Notification interactions

#9835 Universal Links: Add analytics
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
Labels: Analytics, Universal Links, [Status] DO NOT MERGE

#9826 Try/swiftlint rule for localization
  .swiftlint.yml
  WordPress/Classes/Extensions/WPStyleGuide+Search.swift
  WordPress/Classes/Models/BlogSettings+Discussion.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Blog/DiscussionSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/JetpackConnectionViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingAccountViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Media/ImageCropViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewModel.swift
  WordPress/Classes/ViewRelated/Plans/PlanListRow.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/FakePreviewBuilder.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Tools/TimeZoneSelectorViewController.swift
  WordPress/WordPressTest/PushAuthenticationManagerTests.swift
Labels: Localization

#9837 Activity log plugin event navigates to plugin view.
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentRouter.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Ranges/ActivityPluginRange.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPressTest/ActivityLogRangesTest.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
Labels: [Project] Extract Notification interactions

#9855 Feature/notification block rollback actions
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/NotificationBlock.swift
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/Utility/FormattableContent/FormattableMediaContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/BodyContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentRangeFactory.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentFormatterTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableNotIconTests.swift
  WordPress/WordPressTest/NotificationBlockTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/Test Data/notifications-pingback.json
Labels: [Project] Extract Notification interactions

#9849 Danger: Add a rule for PRs tagged 'DO NOT MERGE'
  Dangerfile
Labels: General, [Status] DO NOT MERGE

#9850 Tools/code freeze script
  Gemfile.lock
  Scripts/README.md
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
Labels: General

#9858 [Activity Log] Add support for free WPCom sites.
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Activity/ActivityListSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-empty-results.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-empty-results.imageset/illustrationEmptyResults1.pdf
Labels: Activity Log

#9862 Update WordPressKit-iOS to 1.2
  1.2
  Podfile
  Podfile.lock
Labels: Core

#9859 More tests to FormattableContent
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableUserContentTests.swift
  WordPress/WordPressTest/NotificationBlockTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationTextContentTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/Test Data/notifications-replied-comment.json
  WordPress/WordPressTest/Test Data/notifications-text-content.json
  WordPress/WordPressTest/Test Data/notifications-unapproved-comment.json
  WordPress/WordPressTest/Test Data/notifications-user-content.json
Labels: [Project] Extract Notification interactions

#9861 Remove formattable content parent
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentFactory.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentParent.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentGroup.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/Factory/ActivityContentFactory.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/FormattableActivity.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FormattableCommentContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/FormattableUserContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/BodyContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/HeaderContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Groups/SubjectContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Notification+FormattableContentParent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationContentFactory.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ActivityContentFactoryTests.swift
  WordPress/WordPressTest/ActivityLogFormattableContentTests.swift
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableUserContentTests.swift
  WordPress/WordPressTest/NotificationTextContentTests.swift
Labels: [Project] Extract Notification interactions

#9863 NotificationContentRange: Class moved to Notification folder
  WordPress/Classes/Utility/FormattableContent/Actions/DefaultFormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/Actions/FormattableContentAction.swift
  WordPress/Classes/Utility/FormattableContent/Actions/FormattableContentActionCommand.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Ranges/FormattableNoticonRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Ranges/NotificationCommentRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Ranges/NotificationContentRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Ranges/NotificationContentRangeFactory.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FormattableCommentRangeTests.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
Labels: [Project] Extract Notification interactions

#9864 Updates Aztec to 1.0.0-beta.24
  Gemfile.lock
  Podfile
  Podfile.lock
Labels: [Pri] High, [Type] Bug

#9872 Issues/facebook sharing
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/PublicizeConnection.swift
  WordPress/Classes/Models/PublicizeService.swift
  WordPress/Classes/Services/SharingService.swift
  WordPress/Classes/ViewRelated/Blog/SharingAccountViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingDetailViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 77.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Sharing
