Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-05, with the labels that each got.

#9190 Stock Photos: Change "Cancel" to "Close"
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosStrings.swift
Labels: Stock Photos

#9181 Corrected description of default SwiftLint behavior in project README
  README.md
Labels: Media, [Status] Needs Code Review

#9188 Aztec : Allow selection of additional doc types via doc picker
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/DocumentUploadProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Status] In Progress

#9206 Fix: Broken Constraint at Launch
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: [Type] Tech Debt

#9236 Update to media picker 0.28
  Podfile
  Podfile.lock
Labels: Media

#9226 Add feature flags for Save for Later
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Save for Later

#9231 Site Creation: Auto capitalize site title and tagline fields
  WordPress/Classes/ViewRelated/NUX/SiteCreation.storyboard
Labels: NUX

#9248 If the maxUpload size is zero assume that uploads can go forward.
  WordPress/Classes/Models/Blog+Quota.swift
Labels: [Type] Bug

#9202 Fix screenshot generation script
  Scripts/fastlane/Snapfile
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/WordPressScreenshotGeneration/SnapshotHelper.swift
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPressAuthenticator/WordPressAuthenticator/NUX/NUXButtonViewController.swift
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginEmailViewController.swift
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginPrologueSignupMethodViewController.swift
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginPrologueViewController.swift
Labels: Testing, [Type] Task

#9241 Replace FLAnimatedImage library for Gifu library
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/FLAnimatedImageView+Cache.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: gif support

#9249 Remove extra image view from PostCardTableViewCell
  WordPress/Classes/ViewRelated/Post/PostCardImageCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
Labels: gif support

#8970 Plugins persistence.
  WordPress/Classes/Models/JetpackSiteRef.swift
  WordPress/Classes/Stores/PluginStore+Persistence.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressFlux/WordPressFlux.xcodeproj/project.pbxproj
  WordPressFlux/WordPressFlux/Sources/Codable+WordPressFlux.swift
  WordPressFlux/WordPressFlux/Sources/QueryStore.swift
  WordPressKit/WordPressKit/PluginDirectoryEntry.swift
  WordPressKit/WordPressKit/PluginDirectoryFeedPage.swift
  WordPressKit/WordPressKit/PluginState.swift
  WordPressKit/WordPressKit/SitePlugin.swift
  WordPressKit/WordPressKit/SitePluginCapabilities.swift
Labels: Jetpack Plugins

#9221 Zendesk Mobile: create identity when it's actually needed.
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9165 Reader notifications
  MIGRATIONS.md
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/Models/ReaderSiteInfoSubscriptions.swift
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Services/ReaderTopicService.h
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 75.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, [Status] In Progress

#9238 Issue/9234 hide stockphotos from selfhosted nonjetpack sites
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
Labels: Stock Photos

#9255 Fix Aztec editor constraints and scrolling issues
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec

#9252 Image loader
  WordPress/Classes/Extensions/AbstractPost+PostInformation.swift
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: gif support

#9254 Hide Jetpack prompt once connected
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+JetpackPrompt.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Jetpack, [Type] Bug

#9228 Fix alerts blocking composing posts when offline
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: Posting/Editing, [Status] In Progress

#9246 Save for Later: update reader menu view model
  WordPress/Classes/Models/ReaderSaveForLaterTopic.swift
  WordPress/Classes/ViewRelated/Reader/DiscoverMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/FollowingMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/LikedMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/OtherMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/SavedForLaterMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/SearchMenuItemCreator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DiscoverMenuItemCreatorTests.swift
  WordPress/WordPressTest/FollowingMenuItemCreatorTests.swift
  WordPress/WordPressTest/LikedMenuItemCreatorTests.swift
  WordPress/WordPressTest/OtherMenuItemCreatorTests.swift
  WordPress/WordPressTest/SearchMenuItemCreatorTests.swift
Labels: Save for Later

#9264 Restores the help nudge for Jetpack users.
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginSiteAddressViewController.swift
Labels: Login

#9276 Save for later: Disabling feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Save for Later

#9275 Issue/8933 Sync Tracks Opt Out setting
  MIGRATIONS.md
  WordPress/Classes/Models/ManagedAccountSettings+CoreDataProperties.swift
  WordPress/Classes/Models/ManagedAccountSettings.swift
  WordPress/Classes/Models/WPAccount.h
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.h
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Me/AccountSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/MyProfileViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 75.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WPAppAnalyticsTests.m
  WordPressKit/WordPressKit/AccountSettings.swift
  WordPressKit/WordPressKit/AccountSettingsRemote.swift
  WordPressKit/WordPressKitTests/me-settings-success.json
Labels: Analytics, [Type] Enhancement

#9272 Merges release/9.9 back into develop.
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+Quota.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Aztec/Extensions/URL+LinkNormalization.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosStrings.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 74.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/URL+LinkNormalizationTests.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: [Type] Task

#9289 WordPressAppDelegate: Nukes duplicate auth initialization
  WordPress/Classes/System/WordPressAppDelegate.m
Labels: [Type] Crash

#9308 Crasher fix for adding a tag in reader
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
Labels: Reader, [Type] Crash

#9306 Removes a deprecation warning.
  WordPress/Classes/Models/ReaderSaveForLaterTopic.swift
Labels: [Type] Task

#9316 Fixing PostPost submit buttons
  WordPress/Classes/ViewRelated/Post/PostPost.storyboard
Labels: [Type] Bug

#9313 Show a loading indicator when loading images/gifs
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
Labels: gif support

#9292 Zendesk Mobile: add support for source tags
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationCategoryTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationThemeSelectionViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/NUX/WordPressSupportSourceTag+Helpers.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPressAuthenticator/WordPressAuthenticator/Authenticator/WordPressSupportSourceTag.swift
  WordPressAuthenticator/WordPressAuthenticator/NUX/NUXCollectionViewController.swift
  WordPressAuthenticator/WordPressAuthenticator/NUX/NUXTableViewController.swift
Labels: Zendesk

#9314 Zendesk Mobile: show Zendesk notification alert when push notification received.
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9279 Save for later: toggle button in reader tiles
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Models/ReaderPostContentProvider.h
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/SaveForLaterAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderPostCardCellTests.swift
Labels: Save for Later

#9321 Add animated images support in post settings.
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.h
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: gif support

#9239 Fix for confusing publish button and title when scheduling post
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: [Status] In Progress

#9322 Reader Detail: Animated gif support for featured images
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Utility/Media/GIFPlaybackStrategy.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.h
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, gif support

#9333 Issue/update media picker to 1.0
  Podfile
  Podfile.lock
Labels: [Type] Bug

#9323 Switch to using Aztec/WordPressEditor subspec.
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessorIn.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CalypsoProcessorOut.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CaptionShortcodePostProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/CaptionShortcodePreProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/ShortcodeProcessor.swift
  WordPress/Classes/ViewRelated/Aztec/Processors/VideoShortcodeProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressTest/Aztec/CalypsoProcessorInTests.swift
  WordPress/WordPressTest/Aztec/CalypsoProcessorOutTests.swift
Labels: [Type] Task

#9326 Fixes the Media `featuredOnPosts` relationship
  MIGRATIONS.md
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 76.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CoreDataMigrationTests.m
Labels: [Type] Crash

#9336 Update several pods
  Podfile
  Podfile.lock
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginProloguePromoViewController.swift
Labels: [Type] Tech Debt

#9281 Save for later: toggle button in article details
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/SaveForLaterAction.swift
Labels: Save for Later

#9344 Tracking for editing Site Icon
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
Labels: Analytics, Groundskeeping

#9346 Plugins: fix cell reuse issue
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListRow.swift
Labels: Jetpack Plugins

#9301 Feature/8950 settings
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Services/ReaderTopicService.h
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Cells/CheckmarkTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSiteSubscriptionViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit.xcodeproj/project.pbxproj
  WordPressKit/WordPressKit/ReaderTopicServiceError.swift
  WordPressKit/WordPressKit/ReaderTopicServiceRemote+Subscription.swift
  WordPressKit/WordPressKit/ServiceRequest.swift
  WordPressKit/WordPressKitTests/ReaderTopicServiceRemoteTest+Subscriptions.swift
  WordPressKit/WordPressKitTests/ServiceRequestTest.swift
Labels: Notifications, Reader

#9339 AppRatingsUtility: Change how often we prompt users for reviews.
  WordPress/Classes/Utility/Ratings/AppRatingsUtility.swift
  WordPress/WordPressTest/AppRatingUtilityTests.swift
Labels: General, Groundskeeping

#9337 Zendesk Mobile: show notification alert on Me > Help & Support
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Cells/WPReusableTableViewCells.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9352 Issue/9342 Fix multiplied analytics trackers
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
Labels: Analytics, [Type] Bug

#9341 Animated gifs support on post setting featured image preview
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.h
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.m
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Post/FeaturedImageViewController.h
  WordPress/Classes/ViewRelated/Post/FeaturedImageViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: gif support

#9361 WPAppAnalytics: ensure events don't get wiped on app background.
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
Labels: Analytics, [Type] Bug

#9365 Feature/8950 analytics
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSiteSubscriptionViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader

#9367 Fix broken Core Data model 75 with featuredOnPosts
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 75.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 76.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CoreDataMigrationTests.m
Labels: General

#9364 Blog list: add pull-to-refresh.
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: Low Hanging Fruit, Site Picker

#9376 Gif export progress fix
  WordPress/Classes/Utility/Media/MediaAssetExporter.swift
Labels: Media, gif support

#9379 Animated gif support for fullscreen image from the media library item view
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
Labels: gif support

#9332 Prime for Push: inline primer on notification tab
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+AppRatings.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Notifications.storyboard
  WordPress/Classes/ViewRelated/Ratings/AppFeedbackPromptView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NoDeadEnds, Notifications

#9384 Issue/9350 Add ReaderSavedPostsViewController
  MIGRATIONS.md
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/SavedForLaterMenuItemCreator.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 76.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, Save for Later

#9393 Zendesk Mobile: adjust position of notification alert on navigation bar
  WordPressAuthenticator/WordPressAuthenticator/NUX/NUXViewControllerBase.swift
Labels: Zendesk

#9373 Zendesk Mobile: Me tab: update icon for new notifications
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Resources/AppImages.xcassets/icon-tab-me-unread-selected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-tab-me-unread-selected.imageset/icon-tab-me-unread-selected.pdf
  WordPress/Resources/AppImages.xcassets/icon-tab-me-unread-unselected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-tab-me-unread-unselected.imageset/icon-tab-me-unread-unselected.pdf
  WordPress/Resources/AppImages.xcassets/icon-tab-me.imageset/icon-tab-me.pdf
Labels: Zendesk

#9370 Zendesk Mobile: differentiate between Zendesk and WordPress notifications
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Zendesk

#9395 Updating WordPressUI Reference
  Podfile
  Podfile.lock
Labels: [Type] Bug

#9400 Reorder comments action bar items similar to Calypso
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.xib
Labels: Comments, [Type] Task

#9390 Issues/9185 prime only wpcom users
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
Labels: NUX, Notifications

#9403 Prime for Push in Settings
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
Labels: Notifications

#9391 Zendesk Mobile: add support for users not logged in
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9385 Add captions to stock photos images
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Utility/Media/MediaExporter.swift
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/Utility/Media/MediaImageExporter.swift
  WordPress/Classes/ViewRelated/Aztec/Stock Photos/StockPhotosMedia.swift
  WordPress/WordPressTest/MockStockPhotosService.swift
  WordPress/WordPressTest/StockPhotosMediaTests.swift
  WordPress/WordPressTest/Test Data/stock-photos-media.json
Labels: Media, Stock Photos

#9404 Enable Prime for Push for everyone
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
Labels: Notifications

#9417 BlogList: Fixes a data source issue when switching account
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: Site Picker, [Pri] High, [Type] Crash

#9407 Zendesk Mobile: code cleanup and comments
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9410 Save for later: Clear up predicates in ReaderPostService
  WordPress/Classes/Services/ReaderPostService.m
Labels: Reader, Save for Later, [Type] Task

#9426 Reader Detail: Update Save for Later button title / style
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/WordPressTest/ReaderPostCardCellTests.swift
Labels: Reader, Save for Later, [Type] Task

#9429 Integrates the latest from Aztec.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/Renderers/CommentAttachmentRenderer.swift
  WordPress/Classes/ViewRelated/Aztec/Renderers/HTMLAttachmentRenderer.swift
  WordPress/Classes/ViewRelated/Aztec/Renderers/SpecialTagAttachmentRenderer.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#9437 Add bundle to UIStoryboard call
  WordPressAuthenticator/WordPressAuthenticator/Signin/LoginEmailViewController.swift
Labels: Login, NUX, [Type] Crash

#9422 Issue/9402 Hide comment and like buttons in ReaderSavedPostViewController
  WordPress/Classes/ViewRelated/Reader/ReaderCellConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, Save for Later, [Type] Task

#9362 Adds GitHub helper script
  Scripts/README.md
  Scripts/github-helper.rb
  Scripts/manage-version.sh
Labels: General, [Status] Needs Code Review, [Type] Task

#9445 Updated Aztec to beta 18.2
  Podfile
  Podfile.lock
Labels: Aztec

#9406 Configuring SettingsTextViewController properly when initialized via …
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
Labels: Groundskeeping, [Type] Crash

#9412 Save for later: no results placeholder
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/NSMutableAttributedString+Helpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
Labels: Reader, Save for Later, [Status] Needs Copy Review, [Type] Task

#9408 Save for later: Implement "View all" in Notice when marked as Saved
  WordPress/Classes/Extensions/Notifications/NotificationName+Names.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Reader, Save for Later, [Type] Task

#9448 Zendesk Mobile: customize UI colors
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9455 Reader Save for Later: Adds analytics
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLater+Analytics.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Analytics, Reader, Save for Later

#9461 Notifications: Present network alert only after a manual refresh
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug

#9401 Adds gif support to reader detail content and reader comments
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/Media/GIFPlaybackStrategy.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextImage.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextMediaAttachment.swift
Labels: [Status] DO NOT MERGE, gif support

#9458 Update WordPressUI version.
  Podfile
  Podfile.lock
Labels: [Type] Bug

#9471 FancyAlertView: Make constraint strong to match previous view controller
  WordPressUI/WordPressUI/FancyAlert/FancyAlertView.swift
Labels: Posting/Editing, [Type] Crash

#9467 Issue/9372 geo location not displayed correctly
  Podfile
  Podfile.lock
Labels: [Type] Bug

#9450 Decoding XML characters before setting left and right label text in S…
  WordPressComStatsiOS/WordPressComStatsiOS/UI/StatsTwoColumnTableViewCell.m
Labels: Stats

#9483 README: Add mention of SwiftLint git hook
  README.md
Labels: General

#9427 Custom loading indicator for images
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/CircularProgressView+ActivityIndicatorType.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.m
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Media/CircularProgressView.swift
  WordPress/Classes/ViewRelated/Media/MediaCellProgressView.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Media/WPStyleGuide+Loader.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextImage.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Status] DO NOT MERGE, [Status] Needs Design Review, gif support

#9457 Zendesk Mobile: update Blog information attached to tickets
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9459 Zendesk Mobile: add tracks
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9469 Prime for Push: Winback
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Notifications

#9491 Zendesk Mobile: prompt user for Support email and name
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk

#9493 Zendesk Mobile: allow users to change their Support email
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#9494 Add GIF badge to media picker
  Podfile
  Podfile.lock
  WordPress/Classes/Categories/Media+WPMediaAsset.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Me/GravatarPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: gif support
