Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2018-12, with the labels that each got.

#10560 [Gutenberg] Implement aztec attachment delegate
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/AztecAttachmentDelegate.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, [Pri] High

#10587 Bump up gutenberg version to v0.2.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10578 Reader: Check for finite value before setting offset
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
Labels: Reader, [Type] Crash

#10582 [Site creation] Add an isNew property to SiteVertical
  WordPress/Classes/Models/SiteVertical.swift
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/WordPressTest/SiteVerticalTests.swift
  WordPress/WordPressTest/Test Data/site-vertical.json
Labels: Site Creation, [Type] Task

#10570 [Stats Refresh] Add Insights > Publicize
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#10579 [Stats Refresh] Add Insights > Today's Stats
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#10580 [Stats Refresh] Insights: abbreviate high totals
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh, [Type] Task

#10588 Fix a crash caused by improper int format handling
  WordPress/Classes/ViewRelated/Me/AboutViewController.swift
Labels: [Type] Crash

#10593 Add History option for Gutenberg editor
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10545 [Site creation] Style site information
  WordPress/Classes/Extensions/UIView+Borders.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/KeyboardInfo.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/ShadowView.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/TitleSubtitleHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/TitleSubtitleTextfieldHeader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TitleSubtitleHeaderTests.swift
Labels: Site Creation, [Status] Needs Design Review, [Type] Task

#10606 Improve layout of Segments screen in Enhanced Site Creation Flow
  WordPress/Classes/ViewRelated/Site Creation/Shared/KeyboardInfo.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ModelSettableCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationHeaderData.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TableDataCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UITableView+Header.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UIView+ContentLayout.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizard.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardTitle.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardTitle.xib
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreatorOutput.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/WizardNavigation.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Site Creation

#10613 Add CircleCI config
  .circleci/config.yml
Labels: [Type] Enhancement

#10626 Check if the indexPath is valid before selecting it
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Site Settings

#10627 Update gutenberg-mobile dependency with tag v0.2.3
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10500 Integrates Aztec v1.3
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/Extensions/FormatBarItemProviders.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/ImageAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/MediaAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/VideoAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/Options/OptionsTableView.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: [Type] Enhancement

#10631 Integrates Aztec using the version number of the pod.
  Podfile
  Podfile.lock
Labels: [Type] Task

#10475 Fix screenshot date and time
  Podfile
  Podfile.lock
  Scripts/fastlane/Snapfile
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration-Bridging-Header.h
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
Labels: [Type] Enhancement

#10584 History / Revisions: Add swipe action to navigate trough revisions
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsPageManager.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Revisions.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10615 Privacy: Add explanation to Remove Location from Media feature
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
Labels: [Status] Needs Copy Review, [Status] Needs Design Review, [Type] Enhancement

#10628 Update gutenberg-mobile dependency with tag v0.2.3
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10640 CircleCI: Fix danger dependencies
  .circleci/config.yml
Labels: Tooling

#10612 [Stats Refresh] Add Insights > Posting Activity
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityLegend.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityLegend.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10632 [Stats Refresh] Add Insights > Posting Activity detail
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityLegend.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.storyboard
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10643 Update release notes
  RELEASE-NOTES.txt
Labels: Revisions / History

#10637 Revisions: Add notice with undo button
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/Classes/ViewRelated/System/Notices/UntouchableWindow.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10598 Update WordPressAuthenticator Pod to 1.1.7
  Podfile
  Podfile.lock
Labels: [Type] Task

#10645 CircleCI improvements
  .circleci/config.yml
Labels: Tooling

#10648 Indicate the secrets directory this project uses
  .configure
Labels: Tooling

#10650 Change position of comment approve aniamtion
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
Labels: [Type] Bug

#10653 Remove feed from followed sites list in setting
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
Labels: [Type] Bug

#10655 Fix media library buttons not being effective
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, Media

#10656 Integrates Aztec 1.3.2 into WPiOS
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility, [Type] Enhancement

#10609 Completion of Site Creation wizard
  WordPress/Classes/Services/SiteAssembly.swift
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UIView+ContentLayout.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardTitle.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardTitle.xib
  WordPress/Classes/ViewRelated/Site Creation/Wizard/WizardNavigation.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteAssemblyServiceTests.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyViewTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationDataCoordinatorTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationHeaderDataTests.swift
  WordPress/WordPressTest/SiteCreation/SiteSegmentTests.swift
  WordPress/WordPressTest/SiteCreation/SiteSegmentsCellTests.swift
  WordPress/WordPressTest/SiteCreation/SiteSegmentsStepTests.swift
  WordPress/WordPressTest/SiteCreation/SiteVerticalTests.swift
  WordPress/WordPressTest/SiteCreation/TitleSubtitleHeaderTests.swift
  WordPress/WordPressTest/SiteCreationWizardTitleTests.swift
Labels: Site Creation

#10654 Show keyboard when a new post is loaded
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10662 History/Revisions: Add last analytics event
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
Labels: Analytics, Revisions / History

#10666 Disable iPhone Landscape support in Enhanced Site Creation flow
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Site Creation/Wizard/WizardNavigation.swift
Labels: Site Creation

#10672 Fix new Notice presentation causing rotation errors
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/Classes/ViewRelated/System/Notices/UntouchableWindow.swift
Labels: [Type] Bug

#10674 [Gutenberg]: Check `gutenberg.isLoaded` before sending html to JS side.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10678 Transform values from SiteCreator to SiteCreatorOutput
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreatorOutput.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteAssemblyServiceTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: Site Creation

#10673 [Gutenberg]: Show "Publish now" button on drafts.
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10649 [Stats Refresh] Add card template with tabbed views
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#10644 [Site creation] Apply styling to cells in Verticals screen
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ModelSettableCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/NewVerticalCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/NewVerticalCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Verticals/SiteVerticalPresenter.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Site Creation, [Type] Task

#10680 Issue/subdomains
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/NUX/SiteCreationCategoryTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationDomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationFields.swift
Labels: Site Creation

#10682 Issue/gutenberg show keyboard on load properly
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#10692 Make gutenberg editor title respect to safe area
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergContainerView.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergContainerView.xib
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#10699 Updates Aztec to v1.3.3
  Podfile
  Podfile.lock
Labels: [Pri] High, [Type] Bug

#10697 Create site creation error views and integrate with final phase of site creation
  WordPress/Classes/Services/SiteAssembly.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/ErrorStateView.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/ErrorStateViewConfiguration.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/ErrorStateViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/ErrorStateViewTests.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyServiceTests.swift
Labels: Site Creation

#10705 Updates Aztec to 1.4.1
  Podfile
  Podfile.lock
Labels: [Type] Task

#10704 Updates Aztec to version 1.4.1.
  Podfile
  Podfile.lock
Labels: [Type] Task

#10683 History / Revisions: HTML render with Aztec
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIViewController+ChildViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Diffs/RevisionDiffViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Diffs/RevisionDiffsPageManager.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewTextViewManager.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionBrowserState.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Revisions.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Revisions / History

#10691 Preload metadata of blogs on `viewWillAppear:` in `BlogDetailsViewController`.
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Jetpack Plugins

#10686 [Stats Refresh] Add Insights Followers card
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
Labels: Stats Refresh

#10685 Use readable width for post settings screens
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsMultiTextViewController.m
  WordPress/Classes/ViewRelated/Tools/SettingsSelectionViewController.m
Labels: [Type] Enhancement

#10710 Feature/localisation fix domains
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController+LocalizedStrings.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel+RowList.swift
Labels: Localization, [Type] Bug

#10709 Update Gutenberg to 0.3
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10715 Capitalize title on Gutenberg
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergContainerView.swift
Labels: Gutenberg integration

#10675 rake dependencies: Check if Podfile matches Podfile.lock
  Rakefile
Labels: Tooling

#10698 Refresh the Plans feature
  MIGRATIONS.md
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Plan.swift
  WordPress/Classes/Models/PlanFeature.swift
  WordPress/Classes/Models/PlanGroup.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/InAppPurchaseStore.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Plans/FeatureItemCell.swift
  WordPress/Classes/ViewRelated/Plans/FeatureItemRow.swift
  WordPress/Classes/ViewRelated/Plans/PlanComparisonViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewModel.swift
  WordPress/Classes/ViewRelated/Plans/PlanListRow.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewModel.swift
  WordPress/Classes/ViewRelated/Plans/PlanPostPurchaseViewController.swift
  WordPress/Classes/ViewRelated/Plans/Plans.storyboard
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 86.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PlanListViewControllerTest.swift
  WordPress/WordPressTest/StoreCoordinatorTests.swift
  WordPress/WordPressTest/StoreTests.swift
  WordPress/WordPressTest/Test Data/TestPlans.swift
Labels: Plans & Checkout, [Status] Needs Design Review, [Type] Enhancement

#10722 Corrected inadvertently modified localized string
  WordPress/Classes/ViewRelated/NUX/SiteCreationSiteDetailsViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Site Creation, [Type] Bug

#10724 Gutenberg: Adding new request HTML reason `switchBlog`
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+BlogPicker.swift
Labels: Gutenberg integration

#10727 Gutenberg - Fix unwanted bottom inset when keyboard is open
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration
