Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2019-07, with the labels that each got.

#11855 Fix deep linking in marketing emails
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/Universal Links/Routes+Mbar.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/WordPress.entitlements
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Universal Links, [Type] Enhancement

#12036 [Stats Refresh] Use primary dark as legend color
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
Labels: Stats Refresh

#12013 Improve logging of tracks events
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Analytics, Tooling

#12043 Fix/fix code after merge
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
Labels: [Type] Bug

#12044 Replace '-' in VERSION_LONG with '.'
  config/Version.internal.xcconfig
Labels: Tooling

#12041 [Stats Refresh] Tapping Chart bars doesn't work
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
Labels: Stats Refresh

#12023 Added Create Post button to empty results view displayed on no connectivity from post list
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: Offline Support, Posting/Editing

#12052 Fixes an issue that was causing new site previews to show behind the "Done" button.
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
Labels: [Type] Bug

#12055 [Stats Refresh] Avoid delay when a chart bar is selected
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Stats Refresh

#12051 Fixes an issue with the tour guide not initializing some values in time.
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Bug

#12059 Fix alternate app icons
  WordPress/Info.plist
  WordPress/Resources/Icons/Pride/pride_icon_83.5@2x.png
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug

#12050 Unit Tests to Tracks analytics
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
  WordPress/WordPressTest/Analytics/Utils/TestAnalyticsTracker.swift
Labels: Analytics, [Type] Enhancement

#12001 Use the Tracks Sentry integration
  Podfile
  Podfile.lock
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Logging/WPCrashLogging.swift
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Me/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressComStatsiOS/WordPressComStatsiOS.xcodeproj/project.pbxproj
Labels: Tooling

#12045 [Stats Refresh] Update Countries Map colours
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapView.swift
Labels: Muriel, Stats Refresh

#12069 Merge Release Notes + App Icons Fix into develop
  .gitignore
  Scripts/BuildPhases/AddVersionToIcons.sh
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapView.swift
  WordPress/Info.plist
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/Icons/Pride/pride_icon_83.5@2x.png
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Localization, Tooling

#12067 [Stats Refresh] Avoid deselect action when a chart bar is selected
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
Labels: Stats Refresh

#12066 Default to Gutenberg upon opening a block based post
  WordPress/Classes/Services/KeyValueDatabase.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+InformativeDialog.swift
  WordPress/WordPressTest/GutenbergInformativeDialogTests.swift
Labels: Gutenberg integration

#12077 Numerous color palette tweaks
  WordPress/Classes/Extensions/UIColor+MurielColors.swift
  WordPress/Classes/Extensions/UIColor+MurielColorsObjC.swift
  WordPress/Classes/Extensions/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+Blog.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/Post/PostListFooterView.m
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPress/Classes/ViewRelated/Reader/NewsCard.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockedSiteCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderGapMarkerCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Resources/MurielImages.xcassets/icon-pencil.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-back.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-edit.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-publish.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-restore.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-stats.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-trash.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-view.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-like-highlight.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-like.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-liked.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-approved.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-liked.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-spam.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-trash.imageset/Contents.json
  WordPress/WordPressTest/NewsCardTests.swift
Labels: Muriel

#12058 Aztec Media: Clear existing errors when restarting
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Offline Support, Posting/Editing, [Type] Bug

#12085 Add README with UI test documentation
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/README.md
Labels: Documentation, Testing, [Status] Needs Copy Review

#12083 [Stats Refresh] Period details: Show all data on rotation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
Labels: Stats Refresh

#12086 [Stats Refresh] Change Latest Post Summary chart height
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
Labels: Stats Refresh

#12090 Merge 12.7.1 changes into 12.8
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Tooling, [Type] Bug

#12091 Merge 12.8 changes into develop
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIColor+MurielColors.swift
  WordPress/Classes/Extensions/UIColor+MurielColorsObjC.swift
  WordPress/Classes/Extensions/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+Blog.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/Post/PostListFooterView.m
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPress/Classes/ViewRelated/Reader/NewsCard.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockedSiteCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderGapMarkerCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Resources/MurielImages.xcassets/icon-pencil.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-back.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-edit.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-publish.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-restore.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-stats.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-trash.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-actionbar-view.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-like-highlight.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-like.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-reader-liked.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-approved.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-liked.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-spam.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/notifications-trash.imageset/Contents.json
  WordPress/WordPressTest/NewsCardTests.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Tooling

#12089 [Stats Refresh] Fix Insights Annual details date bar
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
Labels: Stats Refresh

#12071 Pressing enter in the verticals screen now performs an action.
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
Labels: [Type] Enhancement

#12087 Post list revamp
  Podfile
  Podfile.lock
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/WPContentSyncHelper.swift
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.m
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.m
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/ConfigurablePostView.h
  WordPress/Classes/ViewRelated/Post/InteractivePostView.h
  WordPress/Classes/ViewRelated/Post/InteractivePostView.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.h
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.h
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardActionBarItem.h
  WordPress/Classes/ViewRelated/Post/PostCardActionBarItem.m
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.h
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.xib
  WordPress/Classes/ViewRelated/Post/PostListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/Classes/ViewRelated/Post/PostSearchHeader.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.h
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.m
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Pages.h
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Pages.m
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.h
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/Resources/AppImages.xcassets/icon-post-view-card.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-post-view-card.imageset/view_card.pdf
  WordPress/Resources/MurielImages.xcassets/icon-post-view-card.imageset/Contents.json
  WordPress/Resources/MurielImages.xcassets/icon-post-view-card.imageset/view_card.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCardCellGhostableTests.swift
  WordPress/WordPressTest/PostCardCellTests.swift
  WordPress/WordPressTest/PostCompactCellGhostableTests.swift
  WordPress/WordPressTest/PostCompactCellTests.swift
  WordPress/WordPressTest/PostListTableViewHandlerTests.swift
  WordPress/WordPressTest/PostTests.swift
Labels: Posts List

#12031 remove blocking spinner on upload and autosave before preview
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Views/LoadingStatusView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Offline Support, Previews

#12056 Gutenberg: Compatibility with React Native 0.60.0
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration, Tooling

#12084 Gutenberg: Update the tracker for unsupported blocks
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#12070 [Stats Refresh] Update Insights Posting activity colors
  WordPress/Classes/Extensions/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityLegend.swift
Labels: Muriel, Stats Refresh

#12094 [Stats Refresh] Correct DWMY period date
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
Labels: Stats Refresh, [Type] Bug

#12102 Fixes a bug that was causing previews to publish some posts.
  WordPress/Classes/Extensions/AbstractPost+PostInformation.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
Labels: Offline Support, [Pri] High, [Type] Bug

#12097 Site Creation: Verticals screen return button changed to "Done".
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
Labels: [Type] Enhancement

#12105 Post List: Update to Muriel color scheme
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.xib
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
Labels: Muriel, Posts List

#12114 Color tweaks: notifications unread color, domains credit icon, reader separators
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: Muriel

#12116 Use the correct `wordpress-shared` reference
  Podfile
  Podfile.lock
Labels: Tooling

#12095 Site Creation: RETURN now performs an action in the Basic Information screen.
  WordPress/Classes/ViewRelated/Cells/InlineEditableNameValueCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
Labels: [Type] Enhancement

#12104 Update Gutenberg to v1.9.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#12088 Add magic login token redaction
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/Logging/LoggingURLRedactor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Logging/LoggingURLRedactorTests.swift
Labels: [Type] Bug

#12119 Remove unused variable - singularSubtitle
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
Labels: General

#12110 Add tests for media upload restart handling
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/AztecPostViewControllerAttachmentTests.swift
Labels: Offline Support, [Type] Tech Debt

#12120 Allow building with Xcode 11 by conditionally disabling Zendesk
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  config/SDKVersions.xcconfig
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  config/WordPress.release.xcconfig
Labels: Zendesk, iOS 13

#12134 [Hotfix] Fix launch image background color
  WordPress/Launch Screen.storyboard
Labels: General, [Type] Bug

#12137 [Stats Refresh] Insights: fix missing stats
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Stats Refresh

#12132 Merge 12.9 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Tooling

#12140 Issues/login tracking fix
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Analytics, [Type] Bug

#12122 Use readable content in Revision diffs
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Revisions.storyboard
Labels: Revisions / History

#12148 Merge 12.9 into develop
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Tooling

#12135 Don't show non-`.blog` domain suggestions for Blogger plans
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+Plans.swift
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/NUX/DomainSuggestionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug

#12133 Update release-toolkit and its dependency scheme
  Gemfile.lock
  Scripts/fastlane/Pluginfile
Labels: Tooling

#12151 Muriel: Add a `tableBackground` semantic color
  WordPress/Classes/Extensions/UIColor+MurielColors.swift
  WordPress/Classes/Extensions/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+Blog.swift
  WordPress/Classes/ViewRelated/Media/CircularProgressView.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockedSiteCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderGapMarkerCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Themes/WPStyleGuide+Themes.swift
  WordPress/WordPressDraftActionExtension/MainDraftActionViewController.swift
  WordPress/WordPressShareExtension/MainShareViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: General, Muriel

#12144 Use new colors in Login/Signup screens
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueSectionHeaderFooter.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.xib
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueCell.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Muriel

#12150 [Gutenberg] - Send unsupported blocks list to Tracks
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
Labels: Analytics, Gutenberg integration

#12123 [Gutenberg] GutenbergSettings refactor
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+InformativeDialog.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/WordPressTest/GutenbergInformativeDialogTests.swift
  WordPress/WordPressTest/GutenbergSettingsTests.swift
Labels: Gutenberg integration

#12168 [Jetpack Remote Install] Add more info in analytics failure event
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackRemoteInstallViewController.swift
Labels: Jetpack

#12174 Merge Release Notes Fixes
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+Plans.swift
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/NUX/DomainSuggestionsTableViewController.swift
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Tooling

#12167 Color schemes: Improve Reader colors to match new palette
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.m
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: Muriel, Reader

#12169 [Stats Refresh] Improve Insights Store
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#12171 [Gutenberg] Sync editor setting per site
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+Editor.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/EditorSettingsService.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 88.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergSettingsTests.swift
Labels: Gutenberg integration

#12176 [Stats Refresh] Post Stats cells background view
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.swift
Labels: Stats Refresh

#12106 Clean up AbstractPost a bit
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/Post.swift
Labels: [Type] Task

#12159 Stats: Use site timezone
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Blog/DateAndTimeFormatSettingsViewController.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats Refresh

#12183 Stats: Post Stats: restrict date bar back button to data available.
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
Labels: Stats Refresh

#12182 Stats: fix card border heights
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
Labels: Stats Refresh

#12184 Stats date bar: increase back and forward button sizes
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
Labels: Stats Refresh

#12187 Implement UISwipeActions / Remove MGSwipeTableCell
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Models/Notifications/Actions/EditComment.swift
  WordPress/Classes/Models/Notifications/Actions/Follow.swift
  WordPress/Classes/Models/Notifications/Actions/LikeComment.swift
  WordPress/Classes/Models/Notifications/Actions/LikePost.swift
  WordPress/Classes/Models/Notifications/Actions/MarkAsSpam.swift
  WordPress/Classes/Models/Notifications/Actions/NotificationAction.swift
  WordPress/Classes/Models/Notifications/Actions/ReplyToComment.swift
  WordPress/Classes/Models/Notifications/Actions/TrashComment.swift
  WordPress/Classes/Utility/FormattableContent/Actions/FormattableContentActionCommand.swift
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableViewCell.swift
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TrashCommentActionTests.swift
Labels: Notifications, [Type] Tech Debt

#12194 Submit Tracks event when receiving a push notification
  WordPress/Classes/Utility/PushNotificationsManager.swift
Labels: Notifications, [Type] Bug

#12191 Stats: fix Period Authors details expanded row height
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#12195 [Jetpack] Jetpack Remote Install Error log
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Jetpack/Install/Error/JetpackInstallError+Blocking.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackRemoteInstallViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/State/JetpackRemoteInstallState.swift
Labels: Jetpack

#12201 Stats Voiceover Audit: Fixes most popular hour and latest post summary header
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.swift
Labels: Accessibility, Stats Refresh, VoiceOver

#12190 Make the Site header accessible
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
Labels: VoiceOver

#12200 Improve VoiceOver in Me → Help & Support page
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: VoiceOver

#12175 Reader: Fix card borders to account for display scale
  WordPress/Classes/Extensions/UIView+Borders.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/Classes/ViewRelated/Reader/NewsCard.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockedSiteCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostUndoCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
Labels: Reader

#12199 Stats: adjust 'relativeStringInPast' logic
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
Labels: Stats Refresh

#12192 Update Fastlane
  Gemfile
  Gemfile.lock
Labels: Tooling, [Status] Not Ready for Review

#12166 [Gutenberg] - PR 01 - Move gutenberg switch to site settings
  WordPress/Classes/Services/EditorSettingsService.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.h
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
Labels: Gutenberg integration

#12198 [Update Username] Update CoreData model and related models
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ManagedAccountSettings+CoreDataProperties.swift
  WordPress/Classes/Models/ManagedAccountSettings.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 88.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#12215 Limits auto-uploading temporarily.
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Pri] High, [Type] Bug

#12185 Strip "+" and "00" from country prefix code before sending it to backend for validation
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel+CountryDialCodes.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug

#12197 Stats date bar: update timezone font
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
Labels: Stats Refresh

#12206 Post Stats header: fixed cell and label heights
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.xib
Labels: Stats Refresh

#12204 Stats details expandable rows: only rotate disclosure icon on selected row
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Stats Refresh

#12202 Stats date bar: correct date used to determine back/forward availability
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
Labels: Stats Refresh

#12210 Update Gutenberg to v1.10.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#12203 Reader: Do not hide bars if VoiceOver is turned on
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
Labels: Reader, VoiceOver

#12205 SiteCreation: Dictate the headers first
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Site Creation, VoiceOver

#12220 Add + icon back to Posts list
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
Labels: Posts List, [Pri] High

#12222 Fix/posts add button
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
Labels: Posts List, [Pri] High

#12231 UITests: Fix editor tests
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Flows/EditorFlow.swift
  WordPress/WordPressUITests/Screens/MeTabScreen.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  WordPress/WordPressUITests/Screens/SiteSettingsScreen.swift
  WordPress/WordPressUITests/Screens/TabNavComponent.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
Labels: Testing

#12229 Stats: Add File Downloads support to the Period store
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats Refresh

#12230 Stats: Add File Downloads to Period view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Stats Refresh

#12237 [Stats Refresh] Update Stats Chart bars colors
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
Labels: Muriel, Stats Refresh

#12217 Some iOS 13 fixes!
  WordPress/Classes/Extensions/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug, iOS 13

#12239 Stats: Add File Download details
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
Labels: Stats Refresh

#12253 Update News card for Stats
  WordPress/News.strings
Labels: Stats Refresh
