Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2019-05, with the labels that each got.

#11593 [Stats Refresh] Post Stats: add 'View more' support
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11590 Check domain credit eligibility
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/DomainCredit/DomainCreditEligibilityChecker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DomainCredit/DomainCreditEligibilityTests.swift
Labels: Domain Credit

#11596 Fix crash on login with password
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
Labels: [Type] Bug, [Type] Crash

#11585 Issue/update media picker to 1.4.0
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyDataSource.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.h
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Media/WPAndDeviceMediaLibraryDataSource.m
Labels: [Type] Bug

#11603 [Stats Refresh] Post Stats: add date selector
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11605 Transitioned selected post chart to leverage actual data
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11592 Fix crash in NotificationDetailsViewController after state restoration
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Notifications, [Type] Bug

#11597 [Stats Refresh] Insights: Loading View
  WordPress/Classes/Extensions/UIViewController+NoResults.swift
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11606 Update WordPressKit to point to hot fix WordPressKit 4.0.1
  Podfile
  Podfile.lock
Labels: [Type] Bug

#11343 Update release tooling to used the shared actions in release-toolkit
  Gemfile.lock
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
  Scripts/fastlane/actions/ios_betabuild_prechecks.rb
  Scripts/fastlane/actions/ios_build_prechecks.rb
  Scripts/fastlane/actions/ios_build_preflight.rb
  Scripts/fastlane/actions/ios_bump_version_beta.rb
  Scripts/fastlane/actions/ios_bump_version_hotfix.rb
  Scripts/fastlane/actions/ios_bump_version_release.rb
  Scripts/fastlane/actions/ios_clear_intermediate_tags.rb
  Scripts/fastlane/actions/ios_codefreeze_prechecks.rb
  Scripts/fastlane/actions/ios_current_branch_is_hotfix.rb
  Scripts/fastlane/actions/ios_final_tag.rb
  Scripts/fastlane/actions/ios_finalize_prechecks.rb
  Scripts/fastlane/actions/ios_get_app_version.rb
  Scripts/fastlane/actions/ios_hotfix_prechecks.rb
  Scripts/fastlane/actions/ios_localize_project.rb
  Scripts/fastlane/actions/ios_tag_build.rb
  Scripts/fastlane/actions/ios_update_metadata.rb
  Scripts/fastlane/actions/ios_update_release_notes.rb
  Scripts/fastlane/helpers/ios_git_helper.rb
  Scripts/fastlane/helpers/ios_version_helper.rb
Labels: Tooling

#11598 Update blog details footer section with optional extra spacing between sections
  WordPress/Classes/ViewRelated/Blog/BlogDetailsSectionFooterView.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Domain Credit

#11615 Testing: Use site address login for UI tests
  .configure
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Tests/EditorAztecTests.swift
  WordPress/WordPressUITests/Tests/EditorTests.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
  WordPress/WordPressUITests/WPUITestCredentials-Template.swift
Labels: Testing, [Status] Needs Code Review

#11607 [Stats Refresh] Insights Annual Site Stats: round averages
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#11569 Fix layout warning in NoteBlockCommentTableViewCell and MeHeaderView.
  WordPress/Classes/ViewRelated/Me/MeHeaderView.m
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockCommentTableViewCell.xib
Labels: Layout

#11616 Transitioned Latest Post chart to leverage actual data
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/latestPost_data.json
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/selectedPost_data.json
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11621 [Stats Refresh] Enable Today widget
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: Stats Refresh

#11623 [Stats Refresh] Post Stats: revive Recent Weeks headers
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
Labels: Stats Refresh

#11622 [Stats Refresh] Post Stats: abbreviate Recent Weeks values.
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
Labels: Stats Refresh

#11625 Chart axis formatting improvements
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
Labels: Stats Refresh

#11628 Update mobile block editor to the latest
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11627 Convert HEIC images to JPG in share extension
  WordPress/WordPressShareExtension/ShareExtractor.swift
Labels: Share Extension

#11614 Adapt NoticeView to bigger font sizes
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
Labels: Accessibility

#11629 Clean up Sentry logs + Fix user attribution + Improve Sentry Testability
  WordPress/Classes/Utility/Logging/WPCrashLogging.swift
  WordPress/Classes/Utility/Sentry/WPCrashLogging.swift
Labels: Tooling

#11611 [Stats Refresh] No Results view when the Insights Overview fails
  WordPress/Classes/Extensions/UIViewController+NoResults.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#11553 Issues/7430 missing posts
  WordPress/Classes/Services/ReaderPostService.m
Labels: Reader

#11633 [Stats Refresh] Enable internal testing
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Stats Refresh

#11624 [Stats Refresh] Post Stats: fix Post Title display issues
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.swift
Labels: Stats Refresh

#11636 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: [Type] Enhancement

#11639 Cant login to self hosted sites
  Podfile
  Podfile.lock
Labels: [Type] Bug

#11630 [Develop] Fix warnings
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
Labels: Notifications

#11610 Append locale as query parameter to TOS URL
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/ViewRelated/Me/AboutViewController.swift
Labels: Localization, Project Glot, [Type] Enhancement, i18n

#11619 Reader: Disable text editing in reader views.
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
Labels: Reader, [Type] Bug

#11643 Revert removeView method
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
Labels: [Type] Bug

#11632 Fix Notices sometimes shown behind the keyboard
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
Labels: [Type] Bug

#11648 [Stats Refresh] Disable internal testing
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Stats Refresh

#11642 Issues/9625 zendesk unlocalized plans
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Zendesk

#11594 Removing "Tap to retry"
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
Labels: Offline Support

#11315 Testing: Add a basic publish flow test
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressUITests.xcscheme
  WordPress/WordPressUITests/Flows/EditorFlow.swift
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Screens/BaseScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorNoticeComponent.swift
  WordPress/WordPressUITests/Screens/Editor/EditorPostSettings.swift
  WordPress/WordPressUITests/Screens/Editor/EditorPublishEpilogueScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorSettingsComponents/CategoriesComponent.swift
  WordPress/WordPressUITests/Screens/Editor/EditorSettingsComponents/TagsComponent.swift
  WordPress/WordPressUITests/Screens/Login/LoginPasswordScreen.swift
  WordPress/WordPressUITests/Screens/Media/MediaPickerAlbumListScreen.swift
  WordPress/WordPressUITests/Screens/Media/MediaPickerAlbumScreen.swift
  WordPress/WordPressUITests/Screens/TabNavComponent.swift
  WordPress/WordPressUITests/Tests/EditorAztecTests.swift
  WordPress/WordPressUITests/Tests/EditorTests.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: Testing, [Status] Needs Code Review

#11659 Merge 12.4 into develop
  Scripts/fastlane/Fastfile
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  config/Version.public.xcconfig
Labels: Localization, Tooling

#11635 Improve Sentry tags
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/Utility/BuildInformation/BuildConfiguration.swift
  WordPress/Classes/Utility/Sentry/WPCrashLogging.swift
Labels: [Type] Enhancement

#11649 [NRV] Loading view is not animated in the reader stream
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: NoResultsView, [Type] Bug

#11613 Integrate domain registration flow to domain credit redemption
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelLoadingStateTests.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Domain Credit

#11660 [Stats Refresh] Period Posts and Pages: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11662 [Stats Refresh] Period Search Terms: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11584 Swift App Delegate 6: That's All, Folks!
  WordPress/Classes/Models/PostCategory.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Services/SuggestionService.m
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutHandler.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.h
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/System/main.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerWPCom.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/HockeyManager.m
  WordPress/Classes/Utility/Logging/WPLogger.m
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/Utility/WPWebViewController.m
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingAuthorizationWebViewController.m
  WordPress/Classes/ViewRelated/Me/ActivityLogViewController.m
  WordPress/Classes/ViewRelated/Me/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginListViewModel.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.m
  WordPress/Classes/ViewRelated/Post/Categories/WPAddPostCategoryViewController.m
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Classes/ViewRelated/Tools/TimeZoneSelectorViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WPAppAnalyticsTests.m
  WordPress/main.m
Labels: [Type] Tech Debt

#11654 [Stats Loading] Display cached data if there's no connection
  WordPress/Classes/Extensions/UIViewController+NoResults.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: Stats Refresh

#11667 [Stats Refresh] Period Published: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11668 [Stats Refresh] Period Videos: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11663 Updating upload post method failure UI to show notice instead of a HUD
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: Offline Support

#11454 [Gutenberg]Video insert & upload
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergVideoUploadProcessor.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#11655 Allow WordPress.com API URLs to be overridden with a launch argument
  Podfile
  Podfile.lock
  WordPress/Classes/Models/WPAccount+RestApi.swift
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderSiteSearchService.swift
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/Services/ThemeService.m
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Automated Transfer/AutomatedTransferHelper.swift
  WordPress/Classes/Utility/Environment/Environment.swift
  WordPress/Classes/Utility/Networking/WordPressComRestApi+Defaults.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/NUX/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Testing, Tooling

#11673 Log events for domain credit analytics
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Domain Credit

#11680 Turn on domain credit feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Domain Credit

#11669 [Stats Refresh] Period Countries: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11675 [Stats Refresh] Insights tabbed cards: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11681 Fix 12.4 release notes
  WordPress/Resources/AppStoreStrings.po
Labels: Localization

#11672 Transitioned Period Chart to use live data
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+LargeValueFormatter.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PeriodDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/Stub+Shared.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/period_data.json
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11638 Auto save published post upon preview and show preview url
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/PostService+UnattachedMedia.swift
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.h
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Needs Design, Posting/Editing, Previews

#11559 Podfile: Link all non shared pods as static frameworks to reduce pre-main launch time
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressComStatsiOS/WordPressComStatsiOS.xcodeproj/project.pbxproj
Labels: Performance, Tooling, [Type] Enhancement

#11685 [Stats Refresh] Hide stub Countries map view
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
Labels: Stats Refresh

#11690 Modified Stats charts to highlight the most recent day when applicable
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
Labels: Stats Refresh

#11689 Allow overriding Gutenberg dependencies with a local checkout
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11661 Replace "More" button behavior to show options in an Action Sheet
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/ConfigurablePostView.h
  WordPress/Classes/ViewRelated/Post/InteractivePostView.h
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.h
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.h
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.h
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostBuilder.swift
Labels: Posting/Editing, [Type] Enhancement

#11698 Reader: Guard against ensuring layout when there are no attachments.
  WordPress/Classes/ViewRelated/Views/WPRichText/WPTextAttachmentManager.swift
Labels: Reader, [Type] Crash

#11697 Modified Stats charts to update the period in response to bar selection
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11703 Modified vertical axis to include just five labels
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
Labels: Stats Refresh

#11706 Resolved a defect where in limited cases a chart would not refresh with new data
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
Labels: Stats Refresh

#11634 [Stats Refresh] Periods loading view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Stats Refresh

#11709 Update Aztec to fix static bundle loading issues
  Podfile
  Podfile.lock
Labels: Aztec

#11707 [Stats Refresh] Insights Tags & Categories: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11704 Update README.md
  README.md
Labels: Documentation

#11677 Add Condensed Steps to Build Instructions
  README.md
Labels: Documentation

#11714 [Stats Refresh] Insights Followers details: get max results from API
  WordPress/Classes/Stores/StatsInsightsStore.swift
Labels: Stats Refresh

#11711 [Stats Refresh] Revert cache method
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats Refresh

#11712 Update Gutenberg to the 1.5.0 release branch
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11691 Drop support for iOS 10
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/CLPlacemark+Formatting.swift
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Utility/CookieJar.swift
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartNavigationWatcher.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController+HeaderFooter.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.xib
  WordPress/Classes/ViewRelated/Me/ActivityLogDetailViewController.m
  WordPress/Classes/ViewRelated/Me/ChangePasswordViewController.swift
  WordPress/Classes/ViewRelated/Me/MeHeaderView.m
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+AppRatings.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/CollectionViewContainerRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDetailViewHeaderCell.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Geolocation/PostGeolocationViewController.m
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/Classes/ViewRelated/Site Creation/Shared/TableViewOffsetCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UIView+ContentLayout.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/FormattableContent/RemoteNotificationStyles.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: [Type] Tech Debt

#11719 Completed transition to coordinate period bar and chart interaction
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11720 [Stats Refresh] Enable internal testing
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Stats Refresh

#11726 [Stats Refresh] Posts Stats - Display correct data
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh, [Type] Bug

#11727 Update gutenberg to 1.5.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11723 [Stats Refresh] Period Clicks: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11724 [Stats Refresh] Period Authors: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11725 [Stats Refresh] Post Stats: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11717 Fix some WordPress.com API injection issues
  Podfile.lock
  WordPress/Classes/Services/JetpackService.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Tooling

#11715 Use editor published post event, instead of quick published post.
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: Posting/Editing, Stats

#11718 Replace WPNavigationMediaPickerViewController+StatusBarStyle with the preferredStatusBarStyle option
  Podfile
  Podfile.lock
  WordPress/Classes/Categories/WPNavigationMediaPickerViewController+StatusBarStyle.h
  WordPress/Classes/Categories/WPNavigationMediaPickerViewController+StatusBarStyle.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Me/GravatarPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#11674 [Stats Refresh] StatsViewModels: Replace default search engine icon
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11729 [Stats Refresh] Stats Detail lists / Post Stats loading view
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11696 Testing: Add publish tests using the block editor
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Flows/EditorFlow.swift
  WordPress/WordPressUITests/Screens/Editor/AztecEditorScreen.swift
  WordPress/WordPressUITests/Screens/Editor/BlockEditorScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorEditLinkScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorPostSettings.swift
  WordPress/WordPressUITests/Screens/Editor/EditorPublishEpilogueScreen.swift
  WordPress/WordPressUITests/Screens/Me/AppSettingsScreen.swift
  WordPress/WordPressUITests/Screens/MeTabScreen.swift
  WordPress/WordPressUITests/Screens/TabNavComponent.swift
  WordPress/WordPressUITests/Tests/EditorAztecTests.swift
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: Testing

#11739 Site Creation: first responder can now be resigned in the Domain Selection screen.
  WordPress/Classes/ViewRelated/Site Creation/Shared/TableViewOffsetCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: [Type] Bug

#11736 Fix discard draft loosing all changes
  WordPress/Classes/Services/PostService.m
Labels: Offline Support, Posting/Editing, [Type] Bug

#11734 Fixing error message when saving draft while offline
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Offline Support, [Type] Bug

#11741 [Stats Refresh] Period Referrers: fix displaying details view
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11745 [Stats Refresh] placeholder while loading icon
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Stats Refresh

#11748 [Stats Refresh] empty "simple" stat cards now show `No data yet` label
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
Labels: Stats Refresh

#11740 Fix broken images in posts created by the share extensions
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/ShareExtractor.swift
  WordPress/WordPressShareExtension/SharedCoreDataStack.swift
Labels: Share Extension, [Type] Bug

#11749 Keeping image overlay on Action sheet dismissal
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Offline Support, Posting/Editing

#11754 [Stats Refresh] Add missing separator lines
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11756 [Stats Refresh] Fix period displayed on date bar
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
Labels: Stats Refresh

#11757 Implement Stats Refresh analytics events
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Analytics, Stats Refresh

#11758 Change the fetching of summary data to fetch data for 14 periods at once
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats Refresh

#11765 [Stats Refresh] correct Posting Activity data
  WordPress/Classes/Stores/StatsInsightsStore.swift
Labels: Stats Refresh

#11766 [Stats Refresh] always display Posting Activity months
  WordPress/Classes/Stores/StatsInsightsStore.swift
Labels: Stats Refresh

#11762 Use Environment.current.wordPressComApiBase when initializing WPStatsService
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+Stats.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTodayWidget/TodayViewController.swift
  WordPressComStatsiOS/WordPressComStatsiOS/Services/WPStatsService.h
  WordPressComStatsiOS/WordPressComStatsiOS/Services/WPStatsService.m
  WordPressComStatsiOS/WordPressComStatsiOS/UI/WPStatsViewController.m
  WordPressComStatsiOS/WordPressComStatsiOSTests/WPStatsServiceTests.m
Labels: Tooling, [Type] Enhancement

#11774 Update Aztec version to 1.6.1.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Bug

#11769 Restored period bar visibility and set to use default period count
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats Refresh

#11770 Restored bottom-scroll analytics tracking for Stats screens
  WordPress/Classes/Utility/ImmuTable.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/BottomScrollAnalyticsTracker.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ImmuTableTest.swift
Labels: Stats Refresh

#11705 Update card design and do not display author name when "Me" is selected
  Podfile
  Podfile.lock
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.h
  WordPress/Classes/ViewRelated/Post/PostCardActionBar.m
  WordPress/Classes/ViewRelated/Post/PostCardActionBarItem.h
  WordPress/Classes/ViewRelated/Post/PostCardActionBarItem.m
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.h
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardTextCell.xib
  WordPress/Classes/ViewRelated/Post/PostCell.swift
  WordPress/Classes/ViewRelated/Post/PostCell.xib
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.m
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.h
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCellTests.swift
  WordPress/WordPressTest/PostTests.swift
Labels: Posts List

#11804 [Domain Credit] Fix "Register Domain" cell wrongly pre-selected
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Domain Credit, [Type] Bug

#11806 [Domain Credit] Remove wp.com constrain
  WordPress/Classes/ViewRelated/Blog/DomainCredit/DomainCreditEligibilityChecker.swift
Labels: Domain Credit, [Type] Bug

#11794 [Stats Refresh] Insights Most Popular Time: change icon color to grey
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: Stats Refresh

#11795 [Stats Refresh] Insights All Time Stats: correct Best Views Ever subtitle font size
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
Labels: Stats Refresh

#11801 [Stats Refresh] Insights Posting Activity detail: correct layout on rotation
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.swift
Labels: Stats Refresh

#11814 Theme options picker: align with button
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
Labels: Themes

#11776 Issue/10623 add dependency attribution
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/AboutViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling, [Type] Enhancement

#11811 Fix Notices from hidden ViewControllers being shown in the Editor
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/System/NetworkAware.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
Labels: Offline Support, [Type] Bug

#11778 Merge 12.4.1 into `master`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Tooling

#11805 [Stats Refresh] Queries Cancelled
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboard.storyboard
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats Refresh, [Type] Bug

#11813 [Stats Refresh] remove extra space when 'No data' shown
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
Labels: Stats Refresh

#11820 [Crash] NSRangeException in BlogDetailsViewController
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: [Type] Bug

#11803 Account Settings Primary Site: show domain if site has no title
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/AccountSettingsViewController.swift
Labels: /Me

#11780 Share Extension: Remove the restriction on number of images shared
  RELEASE-NOTES.txt
  WordPress/WordPressDraftActionExtension/Info-Alpha.plist
  WordPress/WordPressDraftActionExtension/Info-Internal.plist
  WordPress/WordPressDraftActionExtension/Info.plist
  WordPress/WordPressShareExtension/Info-Alpha.plist
  WordPress/WordPressShareExtension/Info-Internal.plist
  WordPress/WordPressShareExtension/Info.plist
Labels: Share Extension, [Type] Enhancement

#11789 Display "ghost post card" when loading posts
  WordPress/Classes/Utility/WPContentSyncHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCell.swift
  WordPress/Classes/ViewRelated/Post/PostCell.xib
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCellGhostableTests.swift
  WordPress/WordPressTest/PostCellTests.swift
Labels: Posts List

#11786 Update Gutenberg to 1.6.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#11825 [Stats Refresh] Period Authors: fix expanded row height
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11827 [Stats Refresh] Avoid reload stats overview when browsing back from a stats detail
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
Labels: Domain Credit

#11722 Removing FakePreviewBuilder
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Logging/WPCrashLogging.swift
  WordPress/Classes/ViewRelated/Post/FakePreviewBuilder.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/Classes/ViewRelated/Post/PostPreviewViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Offline Support, Previews

#11817 Updated reply and edit comment messaging experience
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: Comments, Offline Support

#11826 [Stats Refresh] Enable Stats Refresh for all.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Stats Refresh

#11832 Fixes warnings regarding deprecated api.
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Menus/MenuItemEditingViewController.m
Labels: [Type] Tech Debt
