Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2019-02, with the labels that each got.

#10909 [Site creation] Error when submitting a request to create a new site
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
Labels: Site Creation, [Status] DO NOT MERGE

#10921 [Site creation] Add Skip button to Verticals
  WordPress/Classes/ViewRelated/Site Creation/Shared/TableViewOffsetCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: Site Creation

#10932 Quick Start V2: Congratulation screen
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
Labels: Quick Start

#10940 Mitigated crash due to apparent use of an IUO in support VC
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: [Type] Crash

#10938 Resolved a crash in Reader Site Stream header follow count
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
Labels: [Type] Crash

#10933 [Site Creation] Add "Create Site" button to Domain screen
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/AddressCell.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressTableViewProvider.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.xib
Labels: Site Creation

#10935 GB: implement media cancel and retry
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration, Media

#10912 Post Editor - Make heading style distinguishable from paragraph
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Aztec, Gutenberg integration

#10947 Editor: Fixes UISearchController issues in SelectPostViewController
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/SelectPostViewController.swift
Labels: Posting/Editing, [Type] Crash

#10952 Reader: Use WKWebView instead of the deprecated UIWebView for rich te…
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
Labels: Reader

#10950 Integrated locale handling changes in WordPressKit
  Podfile
  Podfile.lock
  WordPress/Classes/Models/WPAccount+RestApi.swift
  WordPress/Classes/Services/SiteSegmentsService.swift
  WordPress/Classes/Services/SiteVerticalsPromptService.swift
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Stores/TimeZoneStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Network/Sync

#10951 Quick Start v2: Add new tours
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Quick Start

#10948 Add analytics tracking for Enhanced Site Creation
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Blog/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/ErrorStateViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Verticals/VerticalsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Analytics, Site Creation

#10906 Fix how the app handles edits made to autosaved drafts.
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/AbstractPost+PostInformation.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: [Type] Bug, [Type] Content Loss

#10936 Quick Start V2: Swipe left to skip a tour
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Quick Start

#10954 GB finish uploads out of editor
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergImgUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Gutenberg/GutenbergImgUploadProcessorTests.swift
Labels: Gutenberg integration

#10963 Plans: Always show syned plans
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewModel.swift
Labels: Plans & Checkout

#10966 Updating Text style of SearchTextField
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
Labels: Accessibility, Site Creation, [Type] Bug

#10967 Fixing jumping around of text in Domains search field
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
Labels: Site Creation, [Type] Bug

#10961 [Stats Refresh] Update delegates to be weak
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
Labels: Stats Refresh

#10957 Reader: Force video tags to 100% the width of the viewport
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
Labels: Reader

#10944 [Stats Refresh] Insights Tags and Categories: add drop-down rows for groups
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#10960 Quick Start v2: Update suggestion logic
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Quick Start

#10965 Sharing: Treat any non-ok status as broken.
  WordPress/Classes/Models/PublicizeConnection.swift
Labels: Sharing

#10972 Fixed bg color warning in EpilogueSectionHeaderFooter
  WordPress/Classes/ViewRelated/NUX/EpilogueSectionHeaderFooter.xib
Labels: [Type] Bug

#10969 Bump Gutenberg ref to release 0.3.5
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#10973 Issues/10844 fix overlapping buttons
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
Labels: Reader

#10985 [Site Creation] Prevents interaction in preview webpage via CSS
  WordPress/Classes/Extensions/WKWebView+Preview.swift
  WordPress/Classes/ViewRelated/NUX/SiteCreationSitePreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Site Creation

#10990 Remove obsolete bottom sheet demo
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Views/BottomSheet/BottomSheetPresentationController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/BottomSheetDemoViewController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/Contents.json
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/Contents.json
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField@2x.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/Demo.xcassets/searchField.imageset/searchField@3x.png
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResult.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultsTableViewController.swift
  WordPress/Classes/ViewRelated/Views/BottomSheet/Demo/LocationResultsTableViewProvider.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FeatureFlagTests.swift
Labels: Low Hanging Fruit, [Type] Task

#10983 Quick Start V2: Stats as initial view controller
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Quick Start

#10953 [Stats Refresh] Add Period > Authors card
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
Labels: Stats Refresh

#10982 Quick Start V2: UI fix
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartListTitleCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartListTitleCell.xib
Labels: Quick Start

#10987 Fix existing UI Login Tests
  Podfile
  Podfile.lock
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Screens/Login/LoginEmailScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginPasswordScreen.swift
  WordPress/WordPressUITests/Screens/Login/WelcomeScreen.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
Labels: Testing

#10968 Fix scrolling glitch on Gutenberg editor
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility

#10980 [Stats Refresh] Add Period > Clicks card
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
Labels: Stats Refresh

#11012 SiteCreation: Use a formatted string and placeholder vs concatenation.
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsCell.swift
Labels: Accessibility, Site Creation

#10995 Share Extension: Increase bottom padding in editor
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: Share Extension

#11001 1. Showing connection error alert in SharingViewController
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
Labels: Offline Support

#10994 Switch over most of the insights for new architecture.
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11036 Replace occurrences of `setTite` with `setTitle:`
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.h
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
Labels: [Type] Tech Debt

#10988 Quick Start v2: Update completion logic
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartListTitleCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Quick Start

#10996 Add tag to Zendesk when Gutenberg is the default editor
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Gutenberg integration, Zendesk

#11019 Add Gutenberg informative dialog
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+InformativeDialog.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergInformativeDialogTests.swift
Labels: Gutenberg integration

#11023 Add new gutenbergDidMount method to delegate
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Analytics, Gutenberg integration

#11000 Core Data models for Stats: Part One
  MIGRATIONS.md
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StatsTestsHelpers.swift
Labels: Stats Refresh

#11010 Add `FollowersStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/FollowersStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/FollowersStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FollowersStatsRecordValueTests.swift
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
  WordPress/WordPressTest/StatsTestsHelpers.swift
Labels: Stats Refresh

#11011 Add `PublicizeConnectionStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/PublicizeConnectionStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/PublicizeConnectionStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PublicizeConectionStatsRecordValueTests.swift
Labels: Stats Refresh

#11043 Gutenberg settings tracking
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
Labels: Analytics, Gutenberg integration

#11044 Update copy for Gutenberg toggle
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
Labels: Gutenberg integration

#11016 Add `TopCommentsAuthorStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentsAuthorStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentsAuthorStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TopCommentsAuthorStatsRecordValueTests.swift
Labels: Stats Refresh

#11017 Add `TopCommentedPostStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentedPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentedPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TopCommentedPostStatsRecordValueTests.swift
Labels: Stats Refresh

#11040 Editor session tracking
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/Blog+Analytics.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Analytics

#11049 Period at the end of Gutenberg setting footer
  WordPress/Classes/ViewRelated/Me/AppSettingsViewController.swift
Labels: Gutenberg integration

#11046 Quick Start V2: Fix swipe to skip
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
Labels: Quick Start, [Type] Bug

#11038 Add `TagsCategoriesStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TagsCategoriesStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TagsCategoriesStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TagsCategoriesStatsRecordValueTests.swift
Labels: Stats Refresh

#11039 Add `StreakInsightStatsRecordValue` and `StreakStatsRecordValue` entity to Core Data
  MIGRATIONS.md
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StreakStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/StreakStatsRecordValueTests.swift
Labels: Stats Refresh

#11045 Enable Gutenberg for all builds
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Gutenberg integration

#10991 Change Gutenberg switch to only affect new posts
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/GutenbergAlertPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergSettingsTests.swift
Labels: Gutenberg integration

#11022 Quick Start V2: Local notifications for the next available tour
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+QuickStart.swift
  WordPress/WordPressTest/PushNotificationsManagerTests.m
Labels: Quick Start

#11053 Rakefile: Don't use 'cocoapods-check' to check if pods should be installed
  Gemfile
  Gemfile.lock
  Rakefile
Labels: Tooling

#11050 CircleCI: Update Orb for improved build performance
  .circleci/config.yml
Labels: Tooling

#11029 [Stats Refresh] Misc enhancements/changes
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTableFooter.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTableFooter.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11057 Upgrade Automattic-Tracks to 0.3.2-beta.1
  Podfile
  Podfile.lock
Labels: Offline Support

#11058 Quick Start V2: Prompt for next step appearing when exiting checklist VC
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Quick Start, [Type] Bug

#11027 Quick Start V2: Fix notice bug
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
Labels: Quick Start, [Type] Bug

#11047 Add `SearchResultsStatsRecordValue` entity to Core Data
  WordPress/Classes/Models/SearchResultsStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/SearchResultsStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SearchResultsStatsRecordValueTests.swift
Labels: Stats Refresh

#11048 Add `TopViewedAuthorStatsRecordValue` and `TopViewedPostStatsRecordValue` entities to Core Data
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedAuthorStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedAuthorStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/TopViewedPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TopViewedStatsTests.swift
Labels: Stats Refresh

#11055 Use mobile secrets credentials for UI tests
  .gitignore
  Scripts/BuildPhases/CopyUITestCredentials.sh
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Tests/EditorAztecTests.swift
  WordPress/WordPressUITests/Tests/EditorTests.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
  WordPress/WordPressUITests/WPUITestCredentials-Template.swift
  WordPress/WordPressUITests/gencredentials.rb
Labels: Testing

#11052 Update a localised string to have literal content
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: i18n

#11015 Debouncer improvements
  WordPress/Classes/Utility/Debouncer.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DebouncerTests.swift
Labels: [Type] Bug

#10981 Improve upload on background
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/WordPressTest/DebouncerTests.swift
Labels: Gutenberg integration, Media

#11018 Fix Aztec placeholder on Gutenberg
  Dangerfile
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11074 Update fr-FR locale to fix a crash
  WordPress/Resources/fr.lproj/Localizable.strings
Labels: i18n

#10999 Add Gutenberg mobile strings for translation
  WordPress/Classes/Utility/InfoPListTranslator.m
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Status] Not Ready for Review

#11071 Stats Refresh: rest of Core Data models
  MIGRATIONS.md
  WordPress/Classes/Models/ClicksStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/ClicksStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/CountryStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/CountryStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/ReferrerStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/ReferrerStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedVideoStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedVideoStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/VisitsSummaryStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/VisitsSummaryStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ClicksStatsRecordValueTests.swift
  WordPress/WordPressTest/CountryStatsRecordValueTests.swift
  WordPress/WordPressTest/ReferrerStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/TopViewedVideoStatsRecordValueTests.swift
  WordPress/WordPressTest/VisitsSummaryStatsRecordValueTests.swift
Labels: Stats Refresh

#11085 Update gb-mobile reference.
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11076 Fix/release notes issue
  RELEASE-NOTES.txt
  Scripts/fastlane/Fastfile
  Scripts/fastlane/actions/ios_update_release_notes.rb
  Scripts/fastlane/helpers/ios_git_helper.rb
Labels: Tooling

#11079 [Stats Refresh] Add Period > Referrers card
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsChildRowsView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsChildRowsView.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11081 [Stats Refresh] Remove duplicates from expanded row tracking
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11089 Allows for a wider error range in a failing test.
  WordPress/WordPressTest/DebouncerTests.swift
Labels: [Type] Task

#11090 Increases the error marging in a test.
  WordPress/WordPressTest/DebouncerTests.swift
Labels: [Type] Task

#11021 Fix existing UI tests
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Screens/Editor/EditorNoticeComponent.swift
  WordPress/WordPressUITests/Screens/Editor/EditorPublishEpilogueScreen.swift
  WordPress/WordPressUITests/Screens/Editor/EditorScreen.swift
  WordPress/WordPressUITests/Screens/FancyAlertComponent.swift
  WordPress/WordPressUITests/Screens/Login/LoginEmailScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginEpilogueScreen.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  WordPress/WordPressUITests/Tests/EditorTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: Testing

#11092 Updates localizable strings
  WordPress/Resources/en.lproj/Localizable.strings
Labels: i18n

#11096 Fix UUID warning on pod install
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: General

#11087 [Stats Refresh] Add Period > Countries card
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11097 Gutenberg: Focus title on new posts.
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#11095 Rename blog type from dotcom to wpcom
  WordPress/Classes/Models/Blog+Analytics.swift
Labels: Analytics, Gutenberg integration

#11103 Issue/10971 implement missing media actions
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#11100 [Stats Refresh] Make stat section labels accessible
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Stats Refresh

#11106 Gutenberg auto-save improvements
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#11107 Reader: Set video tag height to auto, remove padding and margins.
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
Labels: Reader, [Type] Bug

#11056 Send all translations to gutenberg-mobile
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/GutenbergTranslator.swift
  WordPress/Classes/Utility/InfoPListTranslator.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+Localization.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#11099 Updated copy for No results view full screen displayed on connection issue
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Offline Support

#11101 Update No Results View image displayed on connectivity issue
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/NoResultsViewController.swift
  WordPress/Resources/AppImages.xcassets/cloud.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/cloud.imageset/cloud.png
  WordPress/Resources/AppImages.xcassets/cloud.imageset/cloud@2x.png
  WordPress/Resources/AppImages.xcassets/cloud.imageset/cloud@3x.png
Labels: Offline Support

#11108 Clean up test extensions for UI tests
  WordPress/WordPressUITests/Screens/Editor/EditorEditLinkScreen.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: Testing

#11114 Auto save post in Gutenberg.
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#11075 Remove Dangerfile, gem and CircleCI job
  .circleci/config.yml
  Dangerfile
  Gemfile
  Gemfile.lock
Labels: Tooling

#11117 Code freeze: Don't add branch protection to individual release branches
  Scripts/fastlane/Fastfile
Labels: Tooling

#11116 Update react-native-keyboard-aware-scroll-view ref
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11091 Fix layout of Quick Start table view header
  WordPress/Classes/ViewRelated/Blog/BlogDetailsSectionHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Quick Start

#11072 Removed white background from site icon image view
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m
  WordPress/Classes/ViewRelated/Blog/BlogListDataSource.swift
Labels: [Type] Broken Window, [Type] Task

#11112 Analytics: Adds a counter to help investigate an old stats issue.
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/LoadMoreCounter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostListExcessiveLoadMoreTests.swift
Labels: Analytics, Posts List

#11109 Preliminary implementation of Latest Post Summary Chart View
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIStackView+Subviews.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UIView+ContentLayout.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/LatestPostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/lps_withData.json
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11119 Update GB to version 1.0.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11125 [Stats Refresh] add structure for stats detail list view
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.storyboard
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11111 Quick Start v2: Add new fancy alerts
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+QuickStart.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-big-checkmark.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-big-checkmark.imageset/checkIllustration.pdf
Labels: Quick Start

#10977 Auto-search Domains suggestion when entering Domains selection screen
  WordPress/Classes/ViewRelated/Site Creation/Shared/TableViewOffsetCoordinator.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressTableViewProvider.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.xib
Labels: Site Creation, [Type] Task

#11133 Issue/10341 site creation feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.h
  WordPress/Classes/ViewRelated/Blog/BlogListViewController.m
  WordPress/WordPressTest/FeatureFlagTests.swift
Labels: Site Creation

#11134 Update gutenberg to version 1.0.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11121 Update Gutenberg strings
  WordPress/Classes/Utility/GutenbergTranslator.swift
Labels: Gutenberg integration

#11138 Update release toolkit to 0.1.8
  Gemfile.lock
  Scripts/fastlane/Pluginfile
Labels: Tooling

#11132 Issues/10860 analytics nh
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+QuickStart.swift
Labels: Analytics, Quick Start

#11131 Quick Start v2: Turn it on!
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Quick Start

#11137 Added Quick Start to Enhanced Site Creation flow
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
Labels: Quick Start, Site Creation

#11110 Add enhanced screenshots
  Scripts/fastlane/Fastfile
  Scripts/fastlane/appstoreres/metadata/source/screenshot_1.html
  Scripts/fastlane/appstoreres/metadata/source/screenshot_2.html
  Scripts/fastlane/appstoreres/metadata/source/screenshot_3.html
  Scripts/fastlane/appstoreres/metadata/source/screenshot_4.html
  Scripts/fastlane/appstoreres/metadata/source/screenshot_5.html
  Scripts/fastlane/appstoreres/metadata/source/screenshot_6.html
  WordPress/Resources/AppStoreStrings.po
Labels: Localization

#11130 Issues/11078 video tag sizing
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextEmbed.swift
  WordPress/Resources/HTML/richEmbedScript.js
  WordPress/Resources/HTML/richEmbedTemplate.html
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Bug

#11129 Switch over showing/fetching Streak data to new architecture
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11146 Reader: Use performBatchUpdates instead of beginUpdates endUpdates.
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: Reader

#11147 Absorbed defect-resolving changes to WordPressKit
  Podfile
  Podfile.lock
Labels: [Type] Bug

#11127 Modified remaining services to use WordPressKit locale handling
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Stores/TimeZoneStore.swift
Labels: Network/Sync, [Type] Task

#11093 Add UI tests for critical login flows
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressUITests.xcscheme
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Screens/BaseScreen.swift
  WordPress/WordPressUITests/Screens/Login/LinkOrPasswordScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginCheckMagicLinkScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginEmailScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginEpilogueScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginPasswordScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginSiteAddressScreen.swift
  WordPress/WordPressUITests/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/WordPressUITests/Screens/Login/WelcomeScreen.swift
  WordPress/WordPressUITests/Screens/MeTabScreen.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  WordPress/WordPressUITests/Screens/TabNavComponent.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: Testing

#11148 Add `period` field to `StatsRecord`
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataProperties.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPressTest/ClicksStatsRecordValueTests.swift
  WordPress/WordPressTest/CountryStatsRecordValueTests.swift
  WordPress/WordPressTest/ReferrerStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
  WordPress/WordPressTest/TopViewedStatsTests.swift
  WordPress/WordPressTest/TopViewedVideoStatsRecordValueTests.swift
  WordPress/WordPressTest/VisitsSummaryStatsRecordValueTests.swift
Labels: Stats Refresh

#11155 Stats: mapping Insights into Core Data models, part 1
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AllTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/AnnualAndMostPopularTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
Labels: Stats Refresh

#11118 Update Notice design to follow Muriel design guidelines
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
Labels: Offline Support, [Status] Needs Design Review

#11161 Cleanup QS v2 events
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Analytics, Quick Start

#11159 [Stats Refresh] Insights Followers: add detail list view
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Annual Site Stats/AnnualSiteStatsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SimpleTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.storyboard
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsChildRowsView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11156 Stop marking skipped tours as complete
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Analytics, Quick Start

#11164 Expose Reachability pod to app extensions
  Podfile
  Podfile.lock
  WordPressComStatsiOS/WordPressComStatsiOS.xcodeproj/project.pbxproj
Labels: [Type] Bug, [Type] Tech Debt

#11167 Fix errors in metadata
  Scripts/fastlane/Fastfile
  WordPress/Resources/AppStoreStrings.po
Labels: i18n
