Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2019-12, with the labels that each got.

#13026 Update pods for release
  Podfile
  Podfile.lock
Labels: Releases

#12947 Restore autosave revision dialog
  MIGRATIONS.md
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/AbstractPost+PostInformation.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 94.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCardCellTests.swift
Labels: Posting/Editing

#13013 [SIWA] Add flow for 2FA accounts
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Sign In With Apple

#12899 Fix Compact Post List to show date
  WordPress/Classes/ViewRelated/Post/PostCardCell.xib
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.xib
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/PostCompactCellGhostableTests.swift
  WordPress/WordPressTest/PostCompactCellTests.swift
Labels: Posts List

#13017 Fix dirty repository after internal build
  Rakefile
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-1024.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-167.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-60pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-60pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-76pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-76pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-29pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-29pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-40pt@2x.png
Labels: Tooling

#13029 Merge Release/13.8 into develop
  RELEASE-NOTES.txt
  Rakefile
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-1024.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-167.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-29pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-40pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-60pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-60pt@3x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-76pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/app-icon-76pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-29pt.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-29pt@2x.png
  WordPress/Resources/AppImages.xcassets/AppIcon-Internal.appiconset/ipad-app-icon-40pt@2x.png
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#13028 Zendesk: update to 4.0.0
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Zendesk

#12933 Edit already published images in Aztec
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/MediaEditor/MediaEditor.swift
  WordPress/MediaEditor/MediaEditorOperation.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaEditor/MediaEditorTests.swift
Labels: Media Editing, [Type] Task

#13031 Track usage of Media Editing
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Aztec/Media/MediaEditorOperation+Description.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/MediaEditor/Extensions/TOCropViewController+Ext.swift
  WordPress/MediaEditor/MediaEditor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaEditorOperation+DescriptionTests.swift
Labels: Media Editing, [Type] Task

#13019 Add react-native-slider library
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility, Gutenberg integration

#13033 Custom Styles
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/MediaEditor/MediaEditor.swift
  WordPress/WordPressTest/MediaEditor/MediaEditorTests.swift
Labels: Media Editing, [Type] Task

#13034 [All Time Widget] Add default widget with supporting files and settings.
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressAllTimeWidget/AllTimeViewController.swift
  WordPress/WordPressAllTimeWidget/AllTimeWidgetPrefix.pch
  WordPress/WordPressAllTimeWidget/Base.lproj/Localizable.strings
  WordPress/WordPressAllTimeWidget/Info-Alpha.plist
  WordPress/WordPressAllTimeWidget/Info-Internal.plist
  WordPress/WordPressAllTimeWidget/Info.plist
  WordPress/WordPressAllTimeWidget/MainInterface.storyboard
  WordPress/WordPressAllTimeWidget/Tracks+AllTimeWidget.swift
  WordPress/WordPressAllTimeWidget/WordPressAllTimeWidget-Alpha.entitlements
  WordPress/WordPressAllTimeWidget/WordPressAllTimeWidget-Bridging-Header.h
  WordPress/WordPressAllTimeWidget/WordPressAllTimeWidget-Internal.entitlements
  WordPress/WordPressAllTimeWidget/WordPressAllTimeWidget.entitlements
Labels: Stats Widgets

#13046 Merge Release/13.8 into develop
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#13039 Fix search bar color
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+Search.swift
Labels: Dark mode, [Type] Bug

#13050 [VoiceOver] Enhancements for Aztec editor
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
Labels: Aztec, VoiceOver

#13042 [Gutenberg] Fix guten-gallery image size.
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergImageLoader.swift
Labels: Gutenberg integration

#13047 Update PostPost navigation bar to use iOS 13 appearance methods
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
Labels: Posting/Editing

#13045 [This Week Widget] Add default widget with supporting files and settings.
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressThisWeekWidget/Base.lproj/Localizable.strings
  WordPress/WordPressThisWeekWidget/Info-Alpha.plist
  WordPress/WordPressThisWeekWidget/Info-Internal.plist
  WordPress/WordPressThisWeekWidget/Info.plist
  WordPress/WordPressThisWeekWidget/MainInterface.storyboard
  WordPress/WordPressThisWeekWidget/ThisWeekViewController.swift
  WordPress/WordPressThisWeekWidget/ThisWeekWidgetPrefix.pch
  WordPress/WordPressThisWeekWidget/Tracks+ThisWeekWidget.swift
  WordPress/WordPressThisWeekWidget/WordPressThisWeekWidget-Alpha.entitlements
  WordPress/WordPressThisWeekWidget/WordPressThisWeekWidget-Bridging-Header.h
  WordPress/WordPressThisWeekWidget/WordPressThisWeekWidget-Internal.entitlements
  WordPress/WordPressThisWeekWidget/WordPressThisWeekWidget.entitlements
Labels: Stats Widgets

#13043 [All Time Widget] Add functionality
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetFooterView.xib
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetTwoColumnCell.xib
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetUnconfiguredCell.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetUnconfiguredCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressAllTimeWidget/AllTimeViewController.swift
  WordPress/WordPressAllTimeWidget/Base.lproj/Localizable.strings
  WordPress/WordPressAllTimeWidget/MainInterface.storyboard
  WordPress/WordPressAllTimeWidget/Tracks+AllTimeWidget.swift
  WordPress/WordPressTodayWidget/TodayViewController.swift
  WordPress/WordPressTodayWidget/Tracks+TodayWidget.swift
Labels: Stats Widgets

#13055 Feature flag for Post Reblogging
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Post Reblogging

#13051 Make placeholder images tinted with text color.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/AztecAttachmentDelegate.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewTextViewManager.swift
Labels: Dark mode, [Type] Bug

#13056 [VoiceOver] Published Date Picker enhancements
  WordPress/Classes/Extensions/NotificationCenter+ObserveMultiple.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/ChosenValueRow.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingCalendarViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Post Scheduling Enhancements, VoiceOver

#13059 Reblog button in ReaderPostCardCell and ReaderDetailViewController
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.xib
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderDetailViewControllerTests.swift
  WordPress/WordPressTest/ReaderPostCardCellTests.swift
Labels: Post Reblogging, [Type] Enhancement

#13061 Standardize Reader menu list icon colors
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
Labels: Reader

#13064 [This Week Widget] add data handling
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/AllTimeWidgetStats.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/ThisWeekWidgetStats.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/TodayWidgetStats.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressThisWeekWidget/ThisWeekViewController.swift
Labels: Stats Widgets

#13021 Remove entities with nil blog property
  Podfile
  Podfile.lock
  WordPress/Classes/Services/KeyValueDatabase.swift
  WordPress/Classes/Services/NullBlogPropertySanitizer.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NullBlogPropertySanitizerTests.swift
Labels: Core Data, [Type] Crash

#13066 Stats: Lighten selected highlight color on bar charts
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
Labels: Stats Refresh

#13057 [VoiceOver] Add accessibility to Post List buttons
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, VoiceOver

#13076 Add All Time Widget signing configuration
  Scripts/fastlane/Fastfile
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Widgets

#13081 Update WordPressShared
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Task

#13067 [VoiceOver] Update WordPressAuth to 1.10.5-beta.3
  Podfile
  Podfile.lock
Labels: Login, Signup, VoiceOver

#13092 Fix Quick Start 'Follow other sites' tour
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/ManyDelegateNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartNavigationSettings.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/System/WPSplitViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug

#13065 Gutenberg: update to v1.19.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#13106 Fix CocoaLumberjack memory layout issue
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/WordPressDraftActionExtension/WordPressDraft-Lumberjack.m
  WordPress/WordPressDraftActionExtension/WordPressDraftPrefix.pch
  WordPress/WordPressShareExtension/WordPressShare-Lumberjack.m
  WordPress/WordPressShareExtension/WordPressSharePrefix.pch
Labels: [Type] Bug

#13032 Gutenberg/add gallery processors
  WordPress/Classes/Models/Media.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergGalleryUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Gutenberg/GutenbergGalleryUploadProcessorTests.swift
Labels: Gutenberg integration

#13069 Media Editor Architecture Improvement
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/MediaEditor/Capabilities/Crop/MediaEditorCrop.swift
  WordPress/MediaEditor/Capabilities/Crop/TOCropViewController+Ext.swift
  WordPress/MediaEditor/Capabilities/MediaEditorCapability.swift
  WordPress/MediaEditor/Enums/MediaEditorOperation.swift
  WordPress/MediaEditor/Enums/MediaEditorStyle.swift
  WordPress/MediaEditor/MediaEditor.swift
  WordPress/MediaEditor/MediaEditorHub.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaEditor/Capabilities/Crop/MediaEditorCropTests.swift
  WordPress/WordPressTest/MediaEditor/MediaEditorTests.swift
Labels: Media Editing, [Type] Task

#13078 [VoiceOver] Site Creation → Domains enhancements
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/AddressCell.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Site Creation, VoiceOver

#13114 Enables direction lock on the post scheduling calendar view
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
Labels: Post Scheduling Enhancements, [Type] Bug

#13099 [VoiceOver] Self-hosted Login Flow enhancements
  Podfile
  Podfile.lock
Labels: Login, Self-hosted, VoiceOver

#13094 Reblog Action: Users with one available site
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderReblogActionTests.swift
Labels: Post Reblogging, [Status] Needs Design Review, [Type] Enhancement

#13075 Adds some site creation UI improvements
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Resources/AppImages.xcassets/site-creation-loading.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-loading.imageset/site-creation-loading-dark.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-loading.imageset/site-creation-loading.pdf
Labels: Site Creation, [Status] Needs Design Review, [Type] Enhancement

#13125 Removes the Done button from the EditCommentViewController
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
Labels: Comments, [Type] Bug

#13105 Site Creation -> Loading -> Replace the existing status label with the new rotating view
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Resources/AppImages.xcassets/site-creation-loading.imageset/site-creation-loading-dark.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-loading.imageset/site-creation-loading.pdf
Labels: Site Creation, [Type] Task

#13107 Commenting: Refreshes the ReplyTextView UI colors and font
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
Labels: Comments, [Type] Enhancement

#13129 Removes check for `isAdmin` for mention suggestions
  WordPress/Classes/Models/Blog.m
Labels: Comments, Notifications, [Type] Bug

#13130 Fix MARK formatting across several files
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/Blog/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyMedia.swift
  WordPress/Classes/ViewRelated/Ratings/AppFeedbackPromptView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Tools/PromptViewController.swift
Labels: [Type] Task

#13123 [VoiceOver] Improvements for Stats Posting Activity
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityMonth.swift
Labels: Stats Refresh, VoiceOver

#13111 Commenting: Adds a subclass of the EditCommentViewController that enables full screen comment replies
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.h
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.xib
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Comments/Controllers/FullScreenCommentReplyViewControllerTests.swift
Labels: Comments, [Type] Enhancement

#13128 Post Scheduled Date Time Zone Conversions
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/SiteDateFormatters.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingCalendarViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDate+Helpers.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PublishSettingsControllerTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/SchedulingCalendarViewControllerTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/TimePickerViewControllerTests.swift
Labels: Post Scheduling Enhancements

#13133 Enable Feature Flag for Post Scheduling Calendar Picker
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Post Scheduling Enhancements

#13124 Post Reblogging - Users with no available sites and users with more than one available site.
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+BlogPicker.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogFormatter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogPresenter.swift
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderReblogActionTests.swift
Labels: Post Reblogging, [Type] Enhancement

#13136 Adds tracks for post reblogging
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Post Reblogging

#13139 Analytics tracks for Post Reblogging
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogAction.swift
  WordPress/WordPressTest/ReaderReblogActionTests.swift
Labels: Post Reblogging, [Type] Enhancement

#13140 Stats: force refresh when Period changes
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: Stats Refresh

#13146 Fixes Share Extension presentation bugs
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/MainDraftActionViewController.swift
  WordPress/WordPressDraftActionExtension/MainInterface.storyboard
  WordPress/WordPressShareExtension/MainInterface.storyboard
  WordPress/WordPressShareExtension/MainShareViewController.swift
  WordPress/WordPressShareExtension/ShareExtension.storyboard
Labels: Share Extension, [Type] Bug

#13131 Stats Insights tweaks – default cards, modal presentation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/AddInsightTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: Stats, Stats Refresh, [Type] Enhancement

#12923 Experimental page template selector
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#13147 Do not delete revision outside from the editors
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: Offline Support, Posting/Editing, [Type] Bug, [Type] Crash

#13148 [This Week Widget] Add functionality
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/ThisWeekWidgetStats.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetDifferenceCell.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetDifferenceCell.xib
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Shared Views/WidgetUnconfiguredCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressAllTimeWidget/AllTimeViewController.swift
  WordPress/WordPressThisWeekWidget/MainInterface.storyboard
  WordPress/WordPressThisWeekWidget/ThisWeekViewController.swift
  WordPress/WordPressTodayWidget/TodayViewController.swift
Labels: Stats Widgets, [Status] Needs Design Review

#13153 Load appearance proxy earlier in launch
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Task

#13155 Fixes crash when the App is launched by certain notifications after being inactive.
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug, [Type] Crash

#13158 Crash when tapping on certain notifications
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug, [Type] Crash

#13161 Fixes a memory leak.
  WordPress/WordPressShareExtension/TextBundleWrapper.m
Labels: [Type] Bug

#13162 Improves the nullability info in TextBundleWrapper.h (potential Crasher).
  WordPress/WordPressShareExtension/TextBundleWrapper.h
Labels: [Type] Bug

#13163 Silences several static analyzer warnings.
  WordPress/WordPressShareExtension/TextBundleWrapper.m
Labels: [Type] Tech Debt

#13085 Edit async images
  WordPress/MediaEditor/AsyncImage.swift
  WordPress/MediaEditor/Capabilities/Crop/MediaEditorCropZoomRotate.swift
  WordPress/MediaEditor/Enums/MediaEditorStyle.swift
  WordPress/MediaEditor/MediaEditor.swift
  WordPress/MediaEditor/MediaEditorHub.storyboard
  WordPress/MediaEditor/MediaEditorHub.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaEditor/Capabilities/Crop/MediaEditorCropZoomRotateTests.swift
  WordPress/WordPressTest/MediaEditor/MediaEditorHubTests.swift
  WordPress/WordPressTest/MediaEditor/MediaEditorTests.swift
Labels: Media Editing, [Type] Task
