Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2019-03, with the labels that each got.

#11170 Add/new screenshot localizations
  WordPress/Resources/AppStoreStrings.po
Labels: Localization

#11172 Add accessibility identifier support for filters
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/System/FilterBar.swift
Labels: [Type] Enhancement

#11185 Bump up react-native-keyboard-aware-scroll-view version
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11173 Preliminary implementation of Selected Post Summary Chart View
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/LatestPostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/latestPost_data.json
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/selectedPost_data.json
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11181 [Stats Refresh] Insights Comments: add detail list view
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11187 Properly Placed Pages: using dynamic font size
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
Labels: Properly Placed Pages

#11191 [Stats Refresh] Detail list view: update view
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
Labels: Stats Refresh

#11200 Add as input file for credentials build phase
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#11195 PPP: Fix gridicon icon
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
Labels: Properly Placed Pages

#11199 Disabled text field in assembled site view
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
Labels: Site Creation, [Type] Bug

#11163 Gutenberg private site image loader
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/AztecAttachmentDelegate.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergImageLoader.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewTextViewManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, Media

#11201 Stalebot: Don't auto-close stale issues
  .github/stale.yml
Labels: Tooling

#11207 Revert "Code freeze: Don't add branch protection to individual release branches"
  Gemfile.lock
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
Labels: Tooling

#11198 Gutenberg: Fix dictation issue
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11204 [Stats Refresh] Add Period > Overview card
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsCellHeader.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/System/FilterBar.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11183 Move application(_:open:options:) to Swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt

#11203 Make handleDataModelChange more resilient
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m
Labels: Quick Start

#11206 Gutenberg v1.0.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11208 Check if URLs were token is being added are on WP.com
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Post/PrivateSiteURLProtocol.h
  WordPress/Classes/ViewRelated/Post/PrivateSiteURLProtocol.m
Labels: [Type] Bug

#11196 Issue/10735 numeric tag fix
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostService.m
Labels: Posting/Editing, [Type] Bug

#11211 Issue/merge fix for security token
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Post/PrivateSiteURLProtocol.h
  WordPress/Classes/ViewRelated/Post/PrivateSiteURLProtocol.m
Labels: [Type] Bug

#11212 Issue/11094 fix crash after removing self hosted
  WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController+FancyAlerts.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressUITests.xcscheme
  WordPress/WordPressUITests/Tests/LoginTests.swift
Labels: [Type] Bug, [Type] Crash

#11215 Updating aztec and gutenberg refs to test Aztec v1.4.4
  Podfile
  Podfile.lock
Labels: Aztec

#11171 Offline: Replace disruptive Alerts with Notices
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/NoticeStore.swift
  WordPress/Classes/Utility/ReachabilityUtils+OnlineActions.swift
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/Utility/WPError+Swift.swift
  WordPress/Classes/Utility/WPError.h
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+NetworkAware.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/System/NetworkAware.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Offline Support

#11221 Update Gutenberg ref for release v1.1.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11218 Update the project configure file to the latest
  .configure
Labels: Tooling

#11227 Update to released Pods for 12.0
  Podfile
  Podfile.lock
Labels: Tooling

#11228 Merge Release/12.0 into develop
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Tooling

#11210 Preliminary implementation of Period Chart
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PeriodDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PostSummaryDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/Stub+Shared.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/period_data.json
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11224 [Stats Refresh] initial Post Stats view
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.storyboard
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTitleCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11231 [Stats Refresh] Post Stats: add chart card
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
Labels: Stats Refresh

#11236 Modified OverviewCell to support injected data & styling
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11209 PPP: Featured image not displayed
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
Labels: Properly Placed Pages, [Status] Not Ready for Review, [Type] Bug

#11241 Fix formatting in stalebot message
  .github/stale.yml
Labels: Tooling

#11235 Add missing TodayStats entity
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TodayStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TodayStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/TodayStatsTests.swift
Labels: Stats Refresh

#11244 Fix compiler warning
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
Labels: [Type] Bug

#11237 [Stats Refresh] Insights Tags and Categories: add detail list view
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11245 Improve re-authentication prompts
  Podfile
  Podfile.lock
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/NotificationSettingsService.swift
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/PingHubManager.swift
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, Network/Sync, [Type] Bug

#11259 Remove old comments from Deliverfile
  Scripts/fastlane/Deliverfile
Labels: Tooling

#11229 Display error message provided by the server when setting change fails.
  RELEASE-NOTES.txt
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/ViewRelated/Me/AccountSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, [Type] Enhancement

#11256 Fix invalid token on release 12.0
  Podfile
  Podfile.lock
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/NotificationSettingsService.swift
  WordPress/Classes/System/WordPressAppDelegate+Swift.swift
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/PingHubManager.swift
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Bug

#11258 [Gutenberg]Update heading placeholder size on heading level change
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11255 [Stats Refresh] Add Core Data mapping code for Publicize, Streak and Tags/Categories
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/PublicizeConnectionStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/StreakStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/TagsCategoriesStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TodayStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPressTest/PublicizeConectionStatsRecordValueTests.swift
  WordPress/WordPressTest/StreakStatsRecordValueTests.swift
  WordPress/WordPressTest/TagsCategoriesStatsRecordValueTests.swift
Labels: Stats Refresh

#11251 [Stats Refresh] Period Posts and Pages: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11253 [Stats Refresh] Period Search Terms: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11261 [Stats Refresh] Period Videos: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11264 [Stats Refresh] Period Clicks: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
Labels: Stats Refresh

#11263 Improved the appearance of the Period chart with highlights & overlaid bars
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
Labels: Stats Refresh

#11260 Remove old comments from Deliverfile
  Scripts/fastlane/Deliverfile
Labels: Tooling

#11265 An attempt to fix crash in Debouncer callback.
  WordPress/Classes/Utility/Debouncer.swift
Labels: [Type] Bug

#11272 Merge release/11.9.1 into release/12.0
  WordPress/Classes/Utility/Debouncer.swift
Labels: [Type] Crash

#11269 [Stats Refresh] Period Authors: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11220 Fix WPError build warnings
  WordPress/Classes/Utility/WPError.h
Labels: [Type] Bug

#11268 Fixed crash on long press time stamp on iPad.
  WordPress/Classes/Extensions/UIAlertController+Helpers.swift
Labels: [Type] Bug

#11247 Update SwiftLint to 0.27.0
  Rakefile
Labels: Tooling

#11275 [Gutenberg]Disable editing menu on post title
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11271 Gutenberg: Update gutenberg to use RN version 0.59.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11277 [Stats Refresh] Period Referrers: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11279 [Stats Refresh] Period Countries: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11282 [Stats Refresh] Period Published: add detail list view
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11285 Transitioned to use custom chart legend
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsChartLegendView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11287 [Stats Refresh] Finish Core Data Inisights mapping
  WordPress/Classes/Models/FollowersCountStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/FollowersCountStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/FollowersStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentedPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FollowersStatsRecordValueTests.swift
  WordPress/WordPressTest/TopCommentedPostStatsRecordValueTests.swift
  WordPress/WordPressTest/TopCommentsAuthorStatsRecordValueTests.swift
Labels: Stats Refresh

#11291 [Stats Refresh] Period Published detail list: correct data with new API
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11180 Re-add `newpost` url scheme
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
Labels: Posting/Editing

#11288 Share Extension: Improve text import from other apps
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/ShareExtractor.swift
Labels: Share Extension

#11216 Update Fastlane to upload dSYMs to Fabric for the internal version
  Scripts/fastlane/Fastfile
Labels: Tooling

#11281 Dismiss Notices using ActionDispatcher
  WordPress/Classes/Stores/NoticeStore.swift
  WordPress/Classes/System/WordPressAppDelegate.h
  WordPress/Classes/System/WordPressAppDelegate.m
  WordPress/Classes/Utility/Queue.swift
  WordPress/Classes/Utility/ReachabilityUtils+OnlineActions.swift
  WordPress/Classes/Utility/WPError+Swift.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Classes/Stores/NoticeStoreTests.swift
  WordPress/WordPressTest/QueueTests.swift
  WordPressFlux/WordPressFlux/Sources/Store.swift
Labels: [Type] Enhancement

#11290 Domains Search: Filter an exact match to the top of the list
  RELEASE-NOTES.txt
  WordPress/Classes/Services/DomainsService.swift
Labels: Domain Search, Site Creation

#11289 [Stats Refresh] Insights Latest Post Summary: update design
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
Labels: Stats Refresh

#11299 Bring back uniquing of StatsRecordValues
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TodayStatsRecordValue+CoreDataClass.swift
  WordPress/WordPressTest/AllTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/AnnualAndMostPopularTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/FollowersStatsRecordValueTests.swift
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/PublicizeConectionStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
  WordPress/WordPressTest/StreakStatsRecordValueTests.swift
  WordPress/WordPressTest/TagsCategoriesStatsRecordValueTests.swift
  WordPress/WordPressTest/TodayStatsTests.swift
Labels: Stats Refresh

#11296 Update Aztec to version 1.5.0 beta 2
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Aztec/Extensions/ImageAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/MediaAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/Extensions/VideoAttachment+WordPress.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Aztec, [Type] Enhancement

#11294 Auth: Updates so an account can be created with just an authtoken.
  Podfile
  Podfile.lock
  WordPress/Classes/Services/AccountService.h
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/WordPressComSyncService.swift
  WordPress/Classes/ViewRelated/Me/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login

#11295 [Stats Refresh] Finish insights core data persistence.
  Podfile
  Podfile.lock
  WordPress/Classes/Models/AllTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/AnnualAndMostPopularTimeStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/FollowersStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/PublicizeConnectionStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StreakInsightStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TagsCategoriesStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TodayStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopCommentedPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPressTest/AllTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/AnnualAndMostPopularTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/FollowersStatsRecordValueTests.swift
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/PublicizeConectionStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
  WordPress/WordPressTest/StreakStatsRecordValueTests.swift
  WordPress/WordPressTest/TagsCategoriesStatsRecordValueTests.swift
  WordPress/WordPressTest/TodayStatsTests.swift
Labels: Stats Refresh

#11301 Gutenberg/715 image upload cancelation
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#11298 Update react-native-keyboard-aware-scroll-view version
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11308 Fix post categories not saved bug
  Podfile
  Podfile.lock
Labels: [Type] Bug

#11306 Reader: restore empty state button functionality
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Actionable Empty States, Reader

#11303 Use page-specific Offline Notice messages
  WordPress/Classes/Utility/ReachabilityUtils+OnlineActions.swift
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+NetworkAware.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/System/NetworkAware.swift
Labels: Offline Support, [Type] Enhancement

#11317 Start draft with image
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Gutenberg integration

#11321 Update to Gutenberg 1.1.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11323 Cherry pick Podfile update to fix CocoaPods failing.
  Podfile
  Podfile.lock
Labels: Tooling

#11318 Fix Notice and Empty View shown at the same time in Site → Pages/Posts
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: Offline Support

#11319 Fix Notice animating over the tab bar
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
Labels: Offline Support

#11316 [Gutenberg] Readable content margins
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergContainerView.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergContainerView.xib
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#11324 [Stats Refresh] Period Overview card: filter tab bar sized properly
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/System/FilterBar.swift
Labels: Stats Refresh

#11337 [Stats Refresh] TimeInterval/Period mapping code
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ClicksStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/ClicksStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/CountryStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/OtherAndTotalViewsCount+CoreDataClass.swift
  WordPress/Classes/Models/OtherAndTotalViewsCount+CoreDataProperties.swift
  WordPress/Classes/Models/ReferrerStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/SearchResultsStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecord+CoreDataClass.swift
  WordPress/Classes/Models/StatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TagsCategoriesStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedAuthorStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/TopViewedVideoStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/TopViewedVideoStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/Models/VisitsSummaryStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/VisitsSummaryStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 87.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ClicksStatsRecordValueTests.swift
  WordPress/WordPressTest/CountryStatsRecordValueTests.swift
  WordPress/WordPressTest/ReferrerStatsRecordValueTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StatsTestCase.swift
  WordPress/WordPressTest/TopViewedStatsTests.swift
  WordPress/WordPressTest/TopViewedVideoStatsRecordValueTests.swift
  WordPress/WordPressTest/VisitsSummaryStatsRecordValueTests.swift
Labels: Stats Refresh

#11339 Site Creation: Improves the Domain Suggestion UI/UX
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressTableViewProvider.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Site Creation, [Type] Bug

#11340 [Stats Refresh] add date bar to Periods table.
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Refresh

#11341 Add support for updating chart in response to period dimension selection
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Styling.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/PeriodDataStub.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Stubs/period_data.json
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11345 Fix Notices showing anywhere but the bottom on iPad devices
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
Labels: Offline Support

#11363 Update gutenberg to v1.1.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#11358 [Stats Refresh] Add functionality to date bar
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats Refresh

#11354 Site Creation: Fixes separator alignment in the basic information step.
  WordPress/Classes/ViewRelated/Cells/InlineEditableNameValueCell.swift
  WordPress/Classes/ViewRelated/Cells/InlineEditableNameValueCell.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteInfo/SiteInformationWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/AddressCell.xib
Labels: Site Creation, [Type] Bug

#11348 Site Creation: Domain suggestions are no longer laid out behind the checkmark.
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/AddressCell.xib
Labels: Site Creation, [Type] Bug

#11342 [Stats Refresh] StatsPeriodStore: make use of the new API
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats Refresh

#11362 TimeInterval persistence
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11372 Integrated new analytics event for stats chart interaction
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Refresh

#11202 Fix/clarify site storage
  WordPress/Classes/Models/Blog+Quota.swift
  WordPress/Classes/ViewRelated/Blog/SiteSettingsViewController.m
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Accessibility, Localization, [Type] Enhancement

#11368 Fix video Shortcodes on Aztec.
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility

#11374 Fixes the right inset in SearchTextField when not in edit mode.
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
Labels: Site Creation

#11378 Turns off the status bar on launch to prevent W logo squish
  WordPress/Info.plist
Labels: [Type] Broken Window, [Type] Bug
