Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2020-12, with the labels that each got.

#15359 Activity Log: Add Year Calendar Component
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/CalendarViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarMonthView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Activity Log, [Type] Task

#15418 Adds the Shadow to layout cells on starter page and home page pickers
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.xib
Labels: Site Creation, [Type] Bug

#15419 Update the background color of the search header on choose a domain
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Site Creation, [Type] Bug

#15414 Reader: remove unused files
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Reader/DiscoverMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/FollowingMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/LikedMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/OtherMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLater+Analytics.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/SavedForLaterMenuItemCreator.swift
  WordPress/Classes/ViewRelated/Reader/SearchMenuItemCreator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DiscoverMenuItemCreatorTests.swift
  WordPress/WordPressTest/FollowingMenuItemCreatorTests.swift
  WordPress/WordPressTest/LikedMenuItemCreatorTests.swift
  WordPress/WordPressTest/OtherMenuItemCreatorTests.swift
  WordPress/WordPressTest/ReaderFollowedSitesStreamHeaderTests.swift
  WordPress/WordPressTest/SearchMenuItemCreatorTests.swift
Labels: New Reader iOS, Reader, [Type] Tech Debt

#15416 Gutenberg related changes to land after 16.3 App cut
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/SiteSuggestion+CoreDataClass.swift
  WordPress/Classes/Models/SiteSuggestion+CoreDataProperties.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergFilesAppMediaSource.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosStrings.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 103.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#15397 Initial changes to make the Today Home Widget customizable.
  Podfile
  Podfile.lock
  Scripts/fastlane/Fastfile
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Utility/SFHFKeychainUtils.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/TodayWidgetStats.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/HomeWidgetCache.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPressIntents.xcscheme
  WordPress/WordPressHomeWidgetToday/Model/HomeWidgetTodayData.swift
  WordPress/WordPressHomeWidgetToday/Remote service/HomeWidgetTodayRemoteService.swift
  WordPress/WordPressHomeWidgetToday/Supporting Files/WordPressHomeWidgetToday.intentdefinition
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetView.swift
  WordPress/WordPressHomeWidgetToday/WordPressHomeWidgetToday.swift
  WordPress/WordPressIntents/IntentHandler.swift
  WordPress/WordPressIntents/Sites.intentdefinition
  WordPress/WordPressIntents/SitesDataProvider.swift
  WordPress/WordPressIntents/Supporting Files/Info.plist
  WordPress/WordPressIntents/Supporting Files/WordPressIntents-Bridging-Header.h
  WordPress/WordPressIntents/Supporting Files/WordPressIntents.entitlements
  WordPress/WordPressIntents/Supporting Files/WordPressIntentsRelease-Alpha.entitlements
  WordPress/WordPressIntents/Supporting Files/WordPressIntentsRelease-Internal.entitlements
  WordPress/WordPressIntents/WordPressIntentsDebug.entitlements
Labels: [Type] Enhancement

#15421 iOS 14 Widgets: Customizer - removes hidden sites from and orders the sites alphabetically.
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/WordPressIntents/SitesDataProvider.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15425 Update Auth version and add new delegate methods.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Task

#15422 Remove injected CSS/JS that is no longer needed
  WordPress/Classes/Extensions/WKWebView+Preview.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Site Creation, [Type] Task

#15412 Activity Log: Date filter
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/CalendarViewController.swift
  WordPress/Classes/ViewRelated/Activity/Filter/FilterChipButton.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
Labels: Activity Log, [Type] Task

#15424 Reader: Enable Follow Conversation for DotCom and Jetpack sites
  RELEASE-NOTES.txt
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/WordPressTest/FollowCommentsServiceTests.swift
Labels: Comments, P2, [Type] Enhancement

#15429 Point WPKit to the latest beta version
  Podfile
  Podfile.lock
Labels: Activity Log, [Type] Task

#15427 Jetpack Section: Adds Scan item to the My Site menu
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/Networking/WordPressComRestApi+Defaults.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Enhancement

#15433 Accessibility: treat title as a heading + add escape gesture in Reader Detail
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
Labels: Accessibility, VoiceOver, [Type] Bug

#15415 Merge 16.3 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#15432 [Xcode 12] Fix Core Data transformer warnings
  MIGRATIONS.md
  WordPress/Classes/Models/Coordinate.h
  WordPress/Classes/Models/Coordinate.m
  WordPress/Classes/Models/ValueTransformers.swift
  WordPress/Classes/Utility/ContextManager.m
  WordPress/Classes/Utility/CoreDataManager.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 104.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CoreDataMigrationTests.m
Labels: Core Data, Xcode 12

#15400 [Gutenberg] Enable file block
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#15420 [Gutenberg] Audio upload processor
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergAudioUploadProcessor.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergFilesAppMediaSource.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#15442 Reader: add P2 section
  MIGRATIONS.md
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost+Blog.swift
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Utility/WPContentSyncHelper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCellConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 105.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: P2, Reader, [Type] Enhancement

#15445 Project file: Remove reference to an extension file that no longer exists
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Xcode 12, [Type] Task

#15439 P2: Add P2 branding, mark i
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+Blog.swift
Labels: P2, [Type] Enhancement

#15440 Activity Log: filter by activity type
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTypeSelectorViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
Labels: Activity Log, [Type] Task

#15448 Reader: allow horizontal scroll in tables
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/reader.css
Labels: Reader, [Type] Bug

#15447 P2: Add P2 branding, mark ii
  MIGRATIONS.md
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 106.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: P2, [Type] Enhancement

#15452 Update fastlane to 2.170.0
  Gemfile
  Gemfile.lock
  Scripts/fastlane/Pluginfile
Labels: Tooling

#15449 Reader: A8C and P2: update type to "organization"
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItemsStore.swift
Labels: P2, [Type] Enhancement

#15451 Integrate update to WPAuthenticator that allows out apps to hide the WP.com TOS
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Unified Login & Signup, [Type] Enhancement

#15404 [Home Page Picker] Adds template to the existing site creation analytics if a template was used
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyViewTests.swift
Labels: Analytics, Site Creation

#15457 Gutenberg - Fix Gallery block uploads when the editor is closed
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergGalleryUploadProcessor.swift
  WordPress/WordPressTest/Gutenberg/GutenbergGalleryUploadProcessorTests.swift
Labels: Gutenberg compatibility

#15453 Switch Zendesk to use encrypted logging
  Gemfile
  Gemfile.lock
  Scripts/fastlane/Pluginfile
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Logging/WPLogger.h
  WordPress/Classes/Utility/Logging/WPLogger.m
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/ActivityLogViewController.m
Labels: Support, Tooling

#15459 Add DefinesVariableStatusBarStyle to ReaderDetailViewController
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: New Reader iOS, [Type] Bug

#15455 Reader: Add Reader P2 deep link.
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/Coordinators/ReaderCoordinator.swift
Labels: P2, Reader, [Type] Enhancement

#15461 Reader: update to use org id to determine P2 sites
  MIGRATIONS.md
  Podfile.lock
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/ReaderCellConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 107.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: P2, Reader, [Type] Enhancement

#15444 Add a subscription_count property to the reader_* events/stats
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
Labels: Analytics, New Reader iOS, [Type] Task

#15462 Reader: track when A8C and P2 are shown
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: P2, Reader, [Type] Enhancement

#15446 Feature/15178 today widget unconfigured view
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/HomeWidgetData.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressHomeWidgetToday/Model/HomeWidgetTodayEntry.swift
  WordPress/WordPressHomeWidgetToday/Views/Cards/FlexibleCard.swift
  WordPress/WordPressHomeWidgetToday/Views/Cards/StatsValueView.swift
  WordPress/WordPressHomeWidgetToday/Views/Cards/VerticalCard.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetMediumView.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetSmallView.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetView.swift
  WordPress/WordPressHomeWidgetToday/Views/UnconfiguredView.swift
  WordPress/WordPressHomeWidgetToday/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15466 Allow collapsed title to shrink the font to fit the space
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: Site Creation

#15467 Update fastlane plugins
  Gemfile.lock
Labels: Tooling

#15474 P2: Add branding to Reader > Settings > Followed Sites
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
Labels: P2, Reader, [Type] Bug

#15475 WPTableViewHandler: fix an iOS 14 crash due to operations with negative rows
  WordPress/Classes/Utility/WPTableViewHandler.m
Labels: Core Data, [Type] Crash

#15478 WPAuthentication Pasteboard fix + release notes
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: iOS 14

#15477 Reader: update 'Following' site filter to display cached sites
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, [Type] Enhancement

#15450 Integrate gutenberg-mobile release 1.43.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#15479 Editor release 1.42.2 integration
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#15471 Migrate reader events: use new reader tracking method
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockSiteAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReportPostAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLater+Analytics.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShareAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSitesCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderVisitSiteAction.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
Labels: Analytics, New Reader iOS, [Type] Task

#15472 Migrate reader stats: use new reader tracking method
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: Analytics, New Reader iOS, [Type] Task

#15460 Adds Duplicate/Copy post functionality
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, [Type] Enhancement

#15481 Prologue: update site address button title
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Login, [Type] Bug

#15485 Moves New Page quick start tour to FAB
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
Labels: [Type] Bug

#15492 Disable block editor informative popup
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg compatibility

#15484 Reader: add site filter to Automattic and P2s
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: P2, Reader, [Type] Enhancement

#15497 Reader filters: show tab title as view title
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetView.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: P2, Reader, [Type] Enhancement

#15482 [Choose a Domain] Update search results to behave more like Android
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Services/DomainsService.swift
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/InlineErrorRetryTableViewCell.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/AddressCell.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteAddressServiceTests.swift
  WordPress/WordPressTest/Test Data/domain-suggestions.json
Labels: Site Creation, [Status] Needs Design Review, [Type] Enhancement

#15494 Add organizationID to ReaderTeamTopic
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Models/ReaderTeamTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 108.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: P2, Reader, [Type] Enhancement

#15503 Comments: adjust outsized emoji in comments to be a smaller size
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextFormatter.swift
Labels: Comments, [Type] Bug

#15508 Reader: Add the unread post counts feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: P2, Reader

#15517 Log Out: fix a crash in ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: Logged-out, [Type] Crash

#15512 Invite People: misc updates
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
Labels: People Management, [Type] Enhancement

#15521 Reader: fix main thread warning
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
Labels: Reader, [Type] Task

#15518 Fixes a switch must be exhaustive build warning
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
Labels: Jetpack, [Type] Task

#15519 Add @dynamic to Blog.siteSuggestions
  WordPress/Classes/Models/Blog.m
Labels: [Type] Bug

#15526 Reader: Unsave post from saved tab
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, [Type] Bug

#15528 Fix white ghost cells in post list refresh
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, [Type] Bug

#15468 Activity Log: filter bar design
  WordPress/Classes/Extensions/UIEdgeInsets.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/CalendarViewController.swift
  WordPress/Classes/ViewRelated/Activity/Filter/FilterBarView.swift
  WordPress/Classes/ViewRelated/Activity/Filter/FilterChipButton.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Activity Log

#15525 Apply additional padding to the preferredContentSize
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Prepublishing Nudges, [Type] Bug

#15507 Change the background colors for badge notifications in dark mode.
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockTableViewCell.swift
Labels: Notifications, [Type] Enhancement

#15527 Reader: Map and store `unseen_count` for unread post counts
  MIGRATIONS.md
  Podfile.lock
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 109.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader

#15536 checking the bounds width > 0 before setting the reader tabs
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
Labels: Reader, [Type] Bug

#15530 Invite People: add roles link
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
Labels: People Management, [Type] Enhancement

#15500 Merge 16.4 code freeze to develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#15537 Activity Log: fix calendar device rotation
  WordPress/Classes/ViewRelated/Activity/CalendarViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
Labels: Activity Log, [Type] Task

#15534 Activity Log filters: improve accessibility
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/Filter/FilterChipButton.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
Labels: Accessibility, Activity Log, [Type] Task

#15538 Invite People: limit Message to 500 characters
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsMultiTextViewController.h
  WordPress/Classes/ViewRelated/Tools/SettingsMultiTextViewController.m
Labels: People Management, [Status] Needs Design Review, [Type] Enhancement

#15520 Refresh feature announcements cache
  WordPress/Classes/ViewRelated/What's New/Data store/AnnouncementsStore.swift
  WordPress/Classes/ViewRelated/What's New/Data store/Cache/AnnouncementsCache.swift
  WordPress/WordPressTest/What's New/Data store/AnnouncementsDataStoreTests.swift
Labels: What's New, [Type] Bug

#15504 Show announcements in App Settings even if it's a fresh install
  WordPress/Classes/ViewRelated/What's New/Data store/AnnouncementsStore.swift
  WordPress/Classes/ViewRelated/What's New/Data store/Cache/AnnouncementsCache.swift
  WordPress/Classes/ViewRelated/What's New/Presenter/WhatIsNewScenePresenter.swift
  WordPress/WordPressTest/What's New/Data store/AnnouncementsDataStoreTests.swift
Labels: What's New, [Type] Bug

#15532 Improves Jetpack Connect through Magic Links.
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressFlux/WordPressFlux.xcodeproj/project.pbxproj
Labels: [Type] Bug

#15515 Add Duplicate (Copy) Page functionality
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
Labels: Pages List, [Type] Enhancement

#15544 Activity Log: add tracks
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTypeSelectorViewController.swift
Labels: Activity Log, Analytics, [Type] Task

#15548 Allow updatable statusbars on each tab bar view
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: Reader, [Type] Bug

#15456 Today Widget - Tracks
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressHomeWidgetToday/Tracks+TodayHomeWidget.swift
  WordPress/WordPressHomeWidgetToday/Tracks/Tracks+TodayHomeWidget.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetView.swift
  WordPress/WordPressHomeWidgetToday/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15551 Reset the Prepublishing nudges view when navigating between views
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingNavigationController.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Prepublishing Nudges, [Type] Bug

#15554 Removes the calls to update SafariCredentials.
  Podfile.lock
Labels: Unified Login & Signup, [Type] Task

#15139 Xpost Suggestions for Gutenberg
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/SiteSuggestionService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.h
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg compatibility, Gutenberg integration

#15558 Add 60s throttle to suggestion requests
  WordPress/Classes/Services/SiteSuggestionService.swift
  WordPress/Classes/Services/SuggestionService.swift
Labels: Mentions

#15562 Prefetch xpost suggestions in Gutenberg
  WordPress/Classes/Services/SiteSuggestionService.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+BlogPicker.swift
Labels: Gutenberg compatibility

#15563 Added analytics tracks event for suggestions
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Analytics
