Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2020-06, with the labels that each got.

#14213 Apply post styles into webview
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/reader.css
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderDetailWebviewViewControllerTests.swift
Labels: New Reader iOS, Reader, [Type] Task

#14225 Merge 15.0 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#14211 Show unified Google view
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, Signup

#14227 UL&S: Navigate to blank site address view controller
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Login, [Type] Enhancement

#14230 UL&S: Add tableView and continue button to SiteAddressViewController
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, [Type] Enhancement

#14236 Site creation domain search textField becomes first responder
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Domain Search, Site Creation

#14239 Fix post_install hook to use the project directory when patching a ReactNative file
  Podfile
  Podfile.lock
Labels: [Type] Bug

#14229 Push Notifications Permissions - In-line Prompt After 5 Visits
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+NotificationPrimer.swift
Labels: Notifications, [Type] Enhancement

#14085 [RNMobile] Support Theme Colors and Gradients
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/EditorTheme.swift
  WordPress/Classes/Stores/EditorThemeStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg compatibility

#14222 Add header and Discovery footer (Reader WebView)
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderCardDiscoverAttributionView.xib
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailHeaderView.xib
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderCardDiscoverAttributionView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
  WordPress/WordPressTest/ReaderDetailWebviewViewControllerTests.swift
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
Labels: New Reader iOS, Reader, [Type] Task

#14242 ULS: set unified views background color
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login

#14246 ULS: show Google login to signup redirect.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Signup

#14245 Remove unused showNotificationsPrimerAlert from BlogDetailsViewController
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Notifications

#14256 Merge 15.0 release notes + beta changes back to develop
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#14249 Revert post status setting when Prepublishing bottom sheet dismissed
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingNavigationController.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Prepublishing Nudges, [Type] Bug

#14254 Integrate gutenberg 1.29.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#14238 Restore support for animated GIFs in Gutenberg.
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/Media/ImageDownloader.swift
Labels: Gutenberg integration, Media, gif support

#14247 Privacy settings: add a crash reporting option
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
  WordPress/Classes/ViewRelated/Me/App Settings/PrivacySettingsViewController.swift
Labels: App Settings

#14248 UL&S: update the Continue button behavior in SiteAddressViewController
  Podfile
  Podfile.lock
Labels: Login, [Status] Not Ready for Review, [Type] Enhancement

#14260 Adds in-app appearance setting
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/AppAppearance.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: App Settings, Dark mode, [Type] Enhancement

#14233 Add toolbar in the new Reader detail screen
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailToolbar.xib
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, Reader, [Type] Task

#14261 Update Stats->Insights Latest Post date calculations
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
Labels: Stats, [Type] Bug

#14258 ULS: Use Google signup flow
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Signup

#14272 Remove unused PostPreviewGenerator file
  WordPress/Classes/ViewRelated/Post/PostPreviewGenerator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#14273 Fix publish label in Prepublishing Nudges
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Prepublishing Nudges, [Type] Bug

#13967 [Gutenberg] Unsupported block fallback
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebNavigationViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Gutenberg integration

#14263 Improve VoiceOver accessibility in Quick Start v2
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
Labels: Accessibility, Quick Start, VoiceOver, [Type] Bug

#14257 Applies new reader card UI design feedback
  WordPress/Classes/ViewRelated/Reader/ReaderCardDiscoverAttributionView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: New Reader iOS, Reader, [Status] Needs Design Review, [Type] Enhancement

#14278 Update notifications table colors
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
Labels: Notifications, [Type] Enhancement

#14269 Added App Appearance Settings to release notes
  RELEASE-NOTES.txt
Labels: [Type] Task

#14266 Quick Start: Dismiss Notices using clearWithTag
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: Quick Start, [Type] Enhancement

#14277 Fix crash in block editor when adding a second image
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Posting/Editing, [Type] Bug, [Type] Crash

#14291 GIF search: correctly display partial page results.
  WordPress/Classes/ViewRelated/Media/Tenor/TenorPageable.swift
Labels: Tenor

#14295 Update credentials to include Tenor API key
  .configure
  .configure-files/wpcom_alpha_app_credentials.enc
  .configure-files/wpcom_app_credentials.enc
  .configure-files/wpcom_internal_app_credentials.enc
Labels: Tenor

#14297 Enable the Tenor feature flag.
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Tenor

#14275 Update gutenberg version to 1.30.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#14302 Remove Giphy code
  .configure
  .configure-files/wpcom_alpha_app_credentials.enc
  .configure-files/wpcom_app_credentials.enc
  .configure-files/wpcom_internal_app_credentials.enc
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyDataLoader.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyDataSource.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyMedia.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyMediaGroup.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyPageable.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyPicker.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyResultsPage.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyService.swift
  WordPress/Classes/ViewRelated/Media/Giphy/GiphyStrings.swift
  WordPress/Classes/ViewRelated/Media/Giphy/NoResultsGiphyConfiguration.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
  WordPress/Credentials/ApiCredentials.h
  WordPress/Credentials/gencredentials.rb
  WordPress/Resources/AppImages.xcassets/giphy-attribution.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/giphy-attribution.imageset/giphy-attribution.png
  WordPress/Resources/AppImages.xcassets/giphy-attribution.imageset/giphy-attribution@2x.png
  WordPress/Resources/AppImages.xcassets/giphy-attribution.imageset/giphy-attribution@3x.png
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Giphy, [Type] Tech Debt

#14292 Fix Quick Start Publish a Post prompt
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/ActionSheetViewController.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+QuickStart.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Quick Start

#14100 Automated Development Environment Setup Rake Tasks
  README.md
  Rakefile
Labels: Tooling

#14307 Homepage Settings: Add indicators and settings to pages list
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Page.swift
  WordPress/Classes/Services/HomepageSettingsService.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, Site Settings

#14060 Deselect start-over cell on settings screen
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
Labels: Site Settings, [Type] Bug

#14289 Quick Start v2: VoiceOver support missing on Next Steps
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartListTitleCell.xib
Labels: Accessibility, Quick Start, VoiceOver, [Type] Enhancement

#14298 Send highest priority plan in Zendesk Tickets
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Plan.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 96.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ZendeskUtilsTests+Plans.swift
Labels: Zendesk

#14316 Fixes the failing test
  WordPress/Classes/ViewRelated/Reader/ReaderRelativeTimeFormatter.swift
  WordPress/WordPressTest/ReaderRelativeTimeFormatterTests.swift
Labels: New Reader iOS, [Type] Bug

#14320 Merge 15.1 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#14314 Remove ReaderPost content format from the Service
  Podfile
  Podfile.lock
  WordPress/Classes/Services/ReaderPostService.m
Labels: New Reader iOS, Reader, [Type] Task

#14322 Update ZipFoundation
  Podfile.lock
Labels: [Type] Tech Debt

#14321 Remove formatterkit
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPress-Bridging-Header.h
Labels: [Type] Tech Debt

#14299 Fix 'Take a Photo' option failing after adding an image to gallery block
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
Labels: Gutenberg integration, [Type] Bug

#14283 Show loader indicator and errors on the new Reader detail
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: New Reader iOS, Reader, [Type] Task

#14326 Update TOCropViewController
  Podfile.lock
Labels: [Type] Tech Debt

#14335 Revert swift core data feature flag to local developer only
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Core Data, [Type] Bug

#14305 Implement content info metrics (word, characters) in Gutenberg.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, [Type] Enhancement

#14327 Show/hide nav bar and toolbar when scrolling
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderScrollView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, Reader, [Type] Task

#14330 Fixes Web Preview bug
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: Previews, [Type] Bug

#14311 [Gutenberg] Better media uploads
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: Gutenberg compatibility

#14343 Core Data: Normalizes model config for stats entities.
  MIGRATIONS.md
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 97.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data, Stats

#14341 Core Data: Tweaks thrown errors to include more context about what went wrong
  WordPress/Classes/Utility/Migrator/CoreDataIterativeMigrator.swift
Labels: Core Data

#14328 Reader Detail missing features
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostsViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/ReaderCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: New Reader iOS, Reader, [Type] Task

#14333 UL&S: InstructionLabelTableViewCell added
  Podfile
  Podfile.lock
Labels: Login, [Type] Enhancement

#14346 [Gutenberg] Fix gutenberg web-view auth issues with Atomic sites
  WordPress/Classes/Utility/Networking/GutenbergRequestAuthenticator.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#14352 Categories: Makes fields scalar non optional. Adjusts order of execution
  MIGRATIONS.md
  WordPress/Classes/Services/PostCategoryService.m
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 97.xcdatamodel/contents
Labels: Core Data

#14344 ULS: Display navigation bar large titles
  Podfile.lock
Labels: Login

#14339 Save for later: basic offline support
  WordPress/Classes/ViewRelated/Reader/DetailWebView/OfflineReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, Offline Support, Reader, [Type] Task

#14358 Merge 15.1 release notes into develop
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#14336 Update GitHub Actions workflow running Danger to support milestone events
  .github/workflows/danger.yml
Labels: Tooling

#14282 Add a CI job to build a special version for translation reviewers
  .circleci/config.yml
  Gemfile.lock
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
  Scripts/update-translations.rb
Labels: Tooling

#14357 New Reader Detail: CSS fixes
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderCSS.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/reader.css
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.storyboard
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, Reader, [Type] Task

#14365 Enable new Reader Detail
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: New Reader iOS, Reader, [Type] Task

#14340 UL&S: Add TextFieldTableViewCell to SiteAddressViewController
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, [Status] Needs Design Review, [Type] Enhancement

#14364 Update Migrations.md for WordPress 96
  MIGRATIONS.md
Labels: [Type] Bug

#14349 Fixing Push Authentication
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/WordPressTest/PushNotificationsManagerTests.m
Labels: Notifications, [Pri] High

#14363 Auth: Use atomic cookie auth only if atomic and private.
  WordPress/Classes/Utility/Networking/RequestAuthenticator.swift
Labels: Atomic

#14360 Fix WebViews Auth on WPCom after login in.
  WordPress/Classes/Services/AuthenticationService.swift
  WordPress/Classes/Utility/CookieJar.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRelativeTimeFormatter.swift
  WordPress/WordPressTest/ReaderRelativeTimeFormatterTests.swift
Labels: Gutenberg integration, Previews, Webviews

#14366 Fix spotlight on the reader tab icon when rotating devices
  WordPress/Classes/ViewRelated/System/WPTabBarController+QuickStart.swift
Labels: Quick Start, [Type] Bug

#14370 Fixes reader more menu not appearing
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItemsStore.swift
Labels: Reader, [Type] Bug

#14188 [Gutenberg] Enable build from monorepo
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, [Status] DO NOT MERGE

#14373 Update Auth to fix SIWA passwordless 2FA logins.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Login

#14338 Fix word count to ignore HTML tags/comments when doing analytics.
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: Analytics, Gutenberg integration

#14367 Fix navigation bar title when scrolling
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderCSS.swift
  WordPress/Classes/ViewRelated/Reader/ReaderDetailWebviewViewController.swift
Labels: New Reader iOS, Reader, [Type] Bug

#14379 Add CCPA link to the store description
  Scripts/fastlane/appstoreres/metadata/source/description.txt
Labels: Tooling

#14382 Disable .unifiedSiteAddress feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task

#14380 ReaderDetailHeaderView: Reload gradients if interface style changes
  WordPress/Classes/ViewRelated/Reader/DetailWebView/ReaderDetailHeaderView.swift
Labels: New Reader iOS

#14378 Remove GitHub Action workflow to run Danger on PRs
  .github/workflows/danger.yml
  .gitignore
  package.json
  yarn.lock
Labels: Tooling

#14372 UL&S: Add `TextLinkTableViewCell` to SiteAddressViewController
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, [Type] Enhancement

#14359 Add guard around self-hosted site generation to help limit the risk o…
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg compatibility

#14374 Gutenberg/integrate release 1.31.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#14329 Gutenberg: Don't save empty posts
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#14385 UL&S: bug fix: make the TextLinkButtonTableViewCell button word wrap, not truncate
  Podfile.lock
Labels: Login, [Type] Bug

#14386 ULS: Use unified navigation bar
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login

#14389 Reader Phase 2: Select Interests: Creates a custom UICollectionViewFlowLayout subclass
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsCollectionViewFlowLayout.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: New Reader iOS, [Type] Enhancement

#14334 Support dark mode on pre-blocks in post history
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewViewController.swift
Labels: Aztec

#14390 [Blog Details] Make Site Title tappable
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.h
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
Labels: Quick Start, Site Creation, Site Settings, [Type] Enhancement

#14384 Add "Set your site title" action to the quick start list
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.h
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Quick Start

#14369 Split RN patches to separated files
  Podfile
  Podfile.lock
  patches/RN-RCTActionSheetManager.patch
  patches/RN-RCTShadowView.patch
Labels: Gutenberg compatibility, [Type] Bug

#14391 Update Media Editor
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media Editing, [Type] Task

#14388 Updates to use the serif font method from WordPress Shared
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement

#14088 Implement mentions in gutenberg by intercepting @ in the keyboard
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration, [Pri] High, [Type] Enhancement

#14392 Gutenberg - Copy, Cut, Paste, Duplicate blocks
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility

#14398 [Gutenberg] Unsupported fallback tracks
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebNavigationViewController.swift
Labels: Gutenberg integration
