Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-11, with the labels that each got.

#17396 Merge 18.6 code freeze to develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17391 Fixes the unit tests for Xcode 13.
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MockContext.swift
  WordPress/WordPressTest/ReaderReblogActionTests.swift
  WordPress/WordPressTest/ReaderTabItemsStoreTests.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
  WordPress/WordPressTest/ReaderTabViewTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
Labels: [Type] Task

#17398 Add feature flag for new About screen flow
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: About Screen

#17402 Unified About: Basic VC structure
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: About Screen

#17400 Remove `newCommentEdit` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
Labels: [Type] Task, Comments

#17408 Comments: Add method to fetch the latest reply comment ID
  Podfile
  Podfile.lock
  WordPress/Classes/Services/CommentService+Replies.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CommentService+RepliesTests.swift
  WordPress/WordPressTest/Test Data/comments-v2-success.json
  WordPress/WordPressTest/Test Data/empty-array.json
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17410 Unified about screen: Add footer view
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Resources/AppImages.xcassets/Unified About/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/automattic-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/automattic-logo.imageset/automattic-logo-dark.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/automattic-logo.imageset/automattic-logo.pdf
Labels: [Type] Task, About Screen

#17409 Comment Details: Implement reply indicator functionality
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17233 iOS 15: Change Buildkite image to Xcode 13
  .buildkite/cache-builder.yml
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
  .xcversion
  Gemfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MockContext.swift
  WordPress/WordPressTest/ReaderReblogActionTests.swift
  WordPress/WordPressTest/ReaderTabItemsStoreTests.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
  WordPress/WordPressTest/ReaderTabViewTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
  fastlane/Fastfile
Labels: [Type] Task, iOS 15

#17359 Convert UI tests screens to be `ScreenObject` subclasses – Part 3 of many
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Login/WelcomeScreen.swift
  WordPress/UITestsFoundation/Screens/MeTabScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupCheckMagicLinkScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupEmailScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/WelcomeScreenSignupComponent.swift
  WordPress/UITestsFoundation/Screens/SiteSettingsScreen.swift
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
  WordPress/UITestsFoundation/Screens/TabNavComponent.swift
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPress/WordPressUITests/Flows/EditorFlow.swift
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
Labels: Testing

#17418 Read Ruby version for chruby from .ruby-version in CircleCI
  .circleci/config.yml
  .ruby-version
Labels: Tooling

#17417 Merge editorialized release notes into `develop`
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17413 Implements the header view for the unified about dialog.
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutHeaderView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#17427 Unified About: App Logos
  WordPress/Classes/ViewRelated/Me/App Settings/About/AutomatticAppLogosCell.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-dayone.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-dayone.imageset/ua-logo-dayone.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-jetpack.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-jetpack.imageset/ua-logo-jetpack.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-pocketcasts.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-pocketcasts.imageset/ua-logo-pocketcasts.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-simplenote.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-simplenote.imageset/ua-logo-simplenote.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-tumblr.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-tumblr.imageset/tumblr-white.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-tumblr.imageset/ua-logo-tumblr.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-woo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-woo.imageset/ua-logo-woo.pdf
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-wp.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Unified About/ua-logo-wp.imageset/ua-logo-wp.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, About Screen

#17428 Comment Details: show reply view when Reply button tapped.
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17432 Comment Reply: show mention suggestions
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17433 Comment Reply: create comment reply.
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17438 Cherry pick #17434 in 18.5.1 – Remove domain synchronization
  WordPress/Classes/Services/BlogService.m
Labels: Releases

#17442 Merge hotfix 18.5.1 into release 18.6
  WordPress/Classes/Services/BlogService.m
Labels: Releases

#17415 Xcode 13 support + iOS 15 fixes
  .buildkite/cache-builder.yml
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
  .ruby-version
  .xcversion
  Gemfile.lock
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
  fastlane/Fastfile
Labels: iOS 15

#17440 Comment Detail: Show contents in a web view for self-hosted sites
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17443 Comment Reply: update minimized UI
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyBezierView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17441 Merge 18.5.1 changes into `trunk`
  WordPress/Classes/Services/BlogService.m
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#17444 Require authentication for login notification action
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
Labels: Notifications, Login

#17445 Comment Reply: update fullscreen UI
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.xib
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Reply.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17447 Comment Reply: add comment author's name to the Reply placeholder
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17448 Comment Reply fullscreen: display placeholder from minimized Reply
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.h
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.xib
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17450 Integrate gutenberg-mobile release 1.66.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17452 Comment Detail: Fix comment moderation checks for self-hosted sites
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17451 Comment Detail: Fix cell separators not aligning correctly after rotation
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17456 Fix UI tests not running since Xcode 13 migration
  .circleci/config.yml
  WordPress/WordPressUITests/WordPressUITests.xctestplan
  fastlane/Fastfile
Labels: Testing

#17461 Remove PR list generation at codefreeze
  fastlane/Fastfile
Labels: Tooling

#17460 Comment Detail: Fix comment content cell not resizing after edit
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17463 Comment Detail: Fix Delete button not shown or hidden after moderation status update
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17462 Comment Detail: Fix spacing for views in content cell
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17469 Comment Detail: Backport arrowshape.turn.up.backward for iOS 13
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+CommentDetail.swift
  WordPress/Resources/AppImages.xcassets/arrowshape.turn.up.backward.symbolset/Contents.json
  WordPress/Resources/AppImages.xcassets/arrowshape.turn.up.backward.symbolset/arrowshape.turn.up.backward.svg
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17466 Comments: Enable the new comment details for My Site
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Comments, User-Facing

#17457 Support custom UIToolbar appearances in iOS 15
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: Previews, iOS 15

#17465 Integrate gutenberg-mobile release 1.65.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17464 Comment Detail: Fix content cell elements not resizing in AX size
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
Labels: [Type] Bug, Comments, Part of a WIP Feature

#17473 Merge 18.7 code freeze into `develop`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17360 Convert UI tests screens to be `ScreenObject` subclasses – Part 4 of many
  WordPress/UITestsFoundation/BaseScreen.swift
  WordPress/UITestsFoundation/FancyAlertComponent.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/AztecEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEmailScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginSiteAddressScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/WelcomeScreenLoginComponent.swift
  WordPress/UITestsFoundation/Screens/Media/MediaPickerAlbumListScreen.swift
  WordPress/UITestsFoundation/Screens/Media/MediaPickerAlbumScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/UITestsFoundation/Screens/PostsScreen.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
  WordPress/UITestsFoundation/Screens/TabNavComponent.swift
  WordPress/UITestsFoundation/XCUIElement+Scroll.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
Labels: Testing

#17471 Merge 18.6.1 hotfix into 18.7
  RELEASE-NOTES.txt
Labels: Releases

#17361 Convert UI tests screens to be a ScreenObject subclasses – 5 of many
  WordPress/UITestsFoundation/FancyAlertComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Login/Unified/PrologueScreen.swift
  WordPress/UITestsFoundation/Screens/MediaScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/UITestsFoundation/Screens/PostsScreen.swift
  WordPress/UITestsFoundation/Screens/TabNavComponent.swift
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  WordPress/WordPressUITests/Tests/SignupTests.swift
Labels: Testing

#17474 Update release notes with gutenberg-mobile release 1.66.0 changes
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17426 Onboarding Improvements: Quickstart prompt UI
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartSettings.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/QuickStartSettingsTests.swift
Labels: [Type] Task, [Status] Needs Design Review, Onboarding Improvements: Existing Users

#17435 Onboarding Improvements: fine tune Epilogue screen UI
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueChooseSiteTableViewCell.swift
Labels: [Type] Task, Login, Onboarding Improvements: Existing Users

#17477 Unified About: Add device motion and haptics
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AutomatticAppLogosCell.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/System/OrientationLimited.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, About Screen

#17478 Adds tracking coverage to the My Sites No Sites view
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site, Tracks

#17431 Unified About: Allow customizing row accessories and separators
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
Labels: [Type] Task, About Screen

#17480 Comments: Extract comment header cell configuration
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentHeaderTableViewCell.swift
Labels: [Type] Enhancement, Comments

#17481 Unified About: Add 'Share' navigation
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: About Screen

#17488 Fix UserInfo Crash
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaService.m
Labels: [Type] Crash

#17492 Merge editorialized release notes for 18.7 into `develop`
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/appstoreres/jetpack_metadata/source/subtitle.txt
Labels: Releases

#17482 Unified About: Update footer view to scroll with table contents
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
Labels: About Screen

#17489 Unified About: Work With Us
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
Labels: About Screen

#17490 Unified About: Legal and More
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: About Screen

#17487 Reader Comments: Display the new comment header cell
  WordPress/Classes/ViewRelated/Comments/CommentHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17491 Reply text view: fix content vertical alignment.
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
Labels: [Type] Bug, Comments, iOS 15

#17499 Include Core Data crash fix in 18.7
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaService.m
Labels: [Type] Crash, Core Data

#17501 Onboarding Improvements: Remove quick start migration dialog
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+QuickStart.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Onboarding Improvements: Existing Users

#17496 Improves how we handle links in Unified About.
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
Labels: [Type] Task

#17502 Comments: fix empty view vertical placement.
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: [Type] Bug, Comments, NoResultsView

#17505 Comment details: refactor Delete Permanently button into a reusable cell
  WordPress/Classes/ViewRelated/Cells/BorderedButtonTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Comments

#17512 Add tracking to the site switcher
  WordPress/Classes/Categories/NSObject+Helpers.h
  WordPress/Classes/Categories/NSObject+Helpers.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
Labels: [Type] Task, My Site, Tracks

#17510 Unified About: Remove dependencies
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutHeaderView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: About Screen

#17515 Hierarchical Comments: add fetch method to provide count
  Podfile
  Podfile.lock
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17521 Editing: Show notice when switching editor mode
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Enhancement, Posting/Editing

#17518 Adds tracking to the Reader Filter Sheet and Manage view
  WordPress/Classes/Services/ReaderTopicService.h
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Task, Tracks

#17522 Adds tracking to the Post List Share option
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, [Type] Task, Tracks

#17524 Reader Post Details: add Comments table view
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17519 [Tooling] L10n Modernization: Step 1
  .bundle/config
  Gemfile.lock
  Scripts/localize.py
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#17517 Reader Comments: Show disclosure when pushing detail is allowed
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17532 Reader Comments: Display the new content cell
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17535 Reader Comments: Update reaction bar logic
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17537 Onboarding Improvements: track events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
Labels: [Type] Task, Tracks, Onboarding Improvements: Existing Users

#17539 Adds more tracking to the app settings view
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppIconViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsCommon.swift
Labels: [Type] Task, App Settings, Tracks

#17540 Onboarding Improvements: accessibility tweaks
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
Labels: Accessibility, [Type] Task, Onboarding Improvements: Existing Users

#17553 Add tracking to the Pages list
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, [Type] Task, Tracks

#17552 Adds tracking when expanding items on the Stats: Post Stats view
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Stats, [Type] Task, Tracks

#17546 Reader Post Details: fetch 2 top level comments
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17548 Post Details Comments: add view all comments button to comments table
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17554 Crash when going into a like-notification details screen.
  RELEASE-NOTES.txt
  WordPress/Classes/Services/LikeUserHelpers.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/LikeUserHelperTests.swift
Labels: [Type] Crash, Likes

#17419 Unified About: Add Tracking
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenTracker.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, About Screen

#17551 Reader Comments: Indent cells according to comment depth
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17557 Reader Comments: Show ellipsis button when comment can be moderated
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17549 Reader Comments: Show separator for last leaf comments
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17556 Unified About: Add Rate Us option
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
Labels: About Screen

#17550 Feature/about dismiss button
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutHeaderView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
Labels: About Screen

#17564 Onboarding Improvements: Epilogue (select site / create a new site) + Quick Start prompt
  RELEASE-NOTES.txt
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartSettings.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueChooseSiteTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueConnectSiteCell.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueConnectSiteCell.xib
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueCreateNewSiteCell.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueDividerView.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/System/FancyAlertViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Login/QuickStartPromptScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/QuickStartSettingsTests.swift
Labels: [Type] Task, Onboarding Improvements: Existing Users

#17530 Empty Stats: remove AB testing
  WordPress/Classes/ViewRelated/Stats/Insights/EmptyStatsAB.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsPinnedItemStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#17559 Fix a crashing issue in MediaService.
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaService.m
  WordPress/WordPressTest/MediaServiceTests.swift
Labels: [Type] Crash, Media

#17568 Unified About: Add Automattic Family navigation
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
Labels: About Screen

#17563 Integrate gutenberg-mobile release 1.67.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17560 Post Details Comments: add table header with comments count
  WordPress/Classes/ViewRelated/Cells/BorderedButtonTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.xib
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17574 Unified About: Add Blog action
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenTracker.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/WordPressAboutScreenConfiguration.swift
Labels: About Screen

#17575 Unified About: Ensures rotation is locked for about screen
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: About Screen

#17576 Unified About: Enable feature flag for all
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: About Screen

#17536 Add UI tests to check the ability to scroll reader content and interact with the items
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressUITests/Tests/ReaderTests.swift
Labels: Testing

#17577 Unified About: Fix an issue where nav bar should be hidden
  WordPress/Classes/ViewRelated/Me/App Settings/About/UnifiedAboutViewController.swift
Labels: About Screen

#17455 Replay "Re-enable `EditorGutenberTests` (#17436) on top of `ScreenObject` updates
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
Labels: Testing, [Status] DO NOT MERGE

#17580 Rename About Screen
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutHeaderView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AppAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AutomatticAboutScreen.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: About Screen

#17578 Onboarding Improvements: Reuse Post Sign-up Interstitial if there's no sites
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueChooseSiteTableViewCell.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialCoordinator.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NUX/Post Signup Interstitial/PostSignUpInterstitialCoordinatorTests.swift
Labels: [Type] Task, Onboarding Improvements: Existing Users

#17555 Add tracking to the Sharing Buttons and People views
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: People Management, Site Settings, Sharing, [Type] Task, Tracks

#17585 Update AppCenter from version 1.2.0 to 1.3.0
  Podfile.lock
Labels: Tooling

#17590 Empty Stats: increase the threshold to 3000
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsPinnedItemStore.swift
Labels: Stats, [Type] Task

#17595 Reader post reply: fix background colors
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
Labels: [Type] Bug, Reader, Comments

#17589 Reader Comments: Show the author badge for comments from author
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+CommentDetail.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Views/BadgeLabel.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17558 Adds more tracking to the reader, comments, and notifications
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Notifications, Reader, [Type] Task, Comments, Tracks

#17597 Merge 18.8 code freeze into `develop` with conflicts resolution
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17579 Enable new About screen for Jetpack
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/Utility/AppIcon.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AppAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppIconViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/Jetpack/AppConstants.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, About Screen

#17591 Add tracking to the WebKitViewController
  WordPress/Classes/Services/JetpackWebViewControllerFactory.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/Utility/WebViewControllerConfiguration.swift
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/FormattableContent/ActivityContentRouter.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteSettingsViewController+SiteManagement.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/DateAndTimeFormatSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSettingsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AppAboutScreenConfiguration.swift
  WordPress/Classes/ViewRelated/Me/App Settings/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderReportPostAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowAttributionAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderVisitSiteAction.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNoSitesErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNotFoundErrorViewModel.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PreviewWebKitViewControllerTests.swift
Labels: [Type] Task, Tracks

#17598 Reader Post comments button: fix default colors and behavior
  WordPress/Classes/ViewRelated/Cells/BorderedButtonTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
Labels: Reader, Comments, Part of a WIP Feature
