Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-02, with the labels that each got.

#15656 Fix upload completion handling on close-without-save
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: Gutenberg compatibility, Media

#15281 Large Titles: new blog details header and site switcher.
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/ActionRow.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/SiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListDataSource.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#15734 Open stats in the app when tapping on Today Widget
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetView.swift
Labels: [Type] Bug, iOS 14 Widgets

#15745 Reader: only show seen toggle if seen is supported
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 112.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Enhancement

#15753 Reader: Enable `unseenPosts` feature.
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Reader, [Type] Enhancement

#15740 Jetpack Section: Fix/Ignore Threat
  Podfile
  Podfile.lock
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15748 Register Domain Flow: Fix issue where submit footer view had zero width
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController+HeaderFooter.swift
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
Labels: Domain Credit

#15756 Dynamically identify Discover and P2 Reader tabs
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader, [Type] Task

#15731 Enhance rotation for collapsable header screen
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
Labels: Site Creation, [Type] Bug

#15760 Fix a scenario where quick start prompts when marking a step as complete
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
Labels: Quick Start, [Type] Bug

#15669 Generalize Today Widget to Stats Widgets
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Cache/HomeWidgetCache.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetData.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetTodayData.swift
  WordPress/WordPressStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/WordPressStatsWidgets/Remote service/HomeWidgetTodayRemoteService.swift
  WordPress/WordPressStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizedStringKey+extension.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetView.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetToday.swift
  WordPress/WordPressStatsWidgets/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15749 Jetpack Section: Threat Details File Context
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15755 Jetpack Section: Scan: Adds threat fixing status
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/Colors and Styles/MurielColor.swift
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile

#15775 Dismiss Create FAB tooltip if Quick Start is activated
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: Quick Start

#15777 Jetpack Section: Scan - Disable scan section for business plans
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
Labels: Jetpack Mobile, [Type] Task

#15778 Reader: align options menus on post card and post details
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, [Type] Enhancement

#15771 iOS 14 All Time Widget
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/BlogListViewController+StatsWidgets.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressIntents/SitesDataProvider.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetAllTimeData.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetData.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetTodayData.swift
  WordPress/WordPressStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Supporting Files/Base.lproj/Localizable.strings
  WordPress/WordPressStatsWidgets/Supporting Files/en.lproj/Localizable.strings
  WordPress/WordPressStatsWidgets/Views/FourStatsView.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/SingleStatView.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetMediumView.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetView.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetAllTime.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15774 Jetpack Section: Add new restore/backup fetch status failed views
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/BaseRestoreStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/JetpackBackupStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/JetpackRestoreStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/Views/RestoreStatusFailedView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/Views/RestoreStatusFailedView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15758 Add device modes for View Site previews
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PreviewWebKitViewControllerTests.swift
Labels: Previews

#15776 Jetpack Backup: show progress
  Podfile.lock
  WordPress/Classes/Services/JetpackBackupService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15773 Jetpack Section: Scan: Groups threats found by date
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatSectionGrouping.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15779 Jetpack Section: Scan: Push to the scan view from the Notifications
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
Labels: Jetpack Mobile, [Type] Task

#15781 Jetpack Section: Scan - Push to the threat details view
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15780 Jetpack Section: Scan: Updates fix / ignore flow
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15788 Jetpack Section: add tracking for Jetpack Scan events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15792 Jetpack Section: Scan - Adds more tracks
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
Labels: Analytics, Jetpack Mobile, [Type] Task

#15784 Reader post options: show message when following a site
  WordPress/Classes/ViewRelated/Reader/ReaderFollowAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSubscribingNotificationAction.swift
Labels: Reader, [Type] Enhancement

#15786 Reader post options: show message when unfollowing a site
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15791 Jetpack Section: add events for backup / restore
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/BaseRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
Labels: Analytics, [Type] Task

#15770 Update Tracks to 0.8.0
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/Extensions/WKWebView+UserAgent.swift
  WordPress/Classes/Models/UserSettings.swift
  WordPress/Classes/Services/AtomicAuthenticationService.swift
  WordPress/Classes/Services/AuthenticationService.swift
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Logging/EventLoggingDelegate.swift
  WordPress/Classes/Utility/Logging/SentryStartupEvent.swift
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Networking/RequestAuthenticator.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/EncryptedLogTableViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#15793 Reader post options: show messages when seen status toggled
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15790 Jetpack Section: Update copy with editorial text
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/JetpackBackupStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status Failed/JetpackRestoreStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15795 Fix CocoaPods warning
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling, [Type] Bug

#15796 Reader post options: show messages when site notifications toggled
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSubscribingNotificationAction.swift
Labels: Reader, [Type] Enhancement

#15752 Integrate gutenberg-mobile release 1.46.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#15799 Jetpack Section: add backup download notice
  Podfile
  Podfile.lock
  WordPress/Classes/Services/JetpackBackupService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDateFormatting.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatSectionGrouping.swift
Labels: Jetpack, [Type] Task

#15787 Jetpack Section: prevent backup status failed screen from being presented multiple times
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
Labels: Jetpack Mobile, [Type] Task

#15798 Jetpack Section: Fix iPad issues
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/Views/RestoreCompleteView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15809 Jetpack Section: Scan dark mode support
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15814 iOS 14 widget fixes for unconfigured launch URL and text wrapping
  WordPress/WordPressStatsWidgets/Views/Cards/FlexibleCard.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetSmallView.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetView.swift
Labels: iOS 14 Widgets

#15813 Jetpack: enable Backup, Restore and Scan
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15812 Jetpack Section: track "detail" source
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
Labels: Analytics, [Type] Task

#15810 Jetpack Section: Fix some RTL issues
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
Labels: Jetpack Mobile, [Type] Task

#15815 Jetpack: fix backup screen being dismissed
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
Labels: Jetpack, Jetpack Mobile, [Type] Bug

#15800 Reader post options: show messages when (un)following site fails
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15817 Jetpack: rename Rewind to Restore
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15816 Jetpack Section: Add dynamic font sizes
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15794 All Time Widget - Tracks and deeplink
  RELEASE-NOTES.txt
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Tracks/Tracks+TodayHomeWidget.swift
  WordPress/WordPressStatsWidgets/Views/Cards/FlexibleCard.swift
  WordPress/WordPressStatsWidgets/Views/MultiStatsView.swift
  WordPress/WordPressStatsWidgets/Views/SingleStatView.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetAllTime.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15823 Fix login via email link flow
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Login, [Type] Bug

#15808 Add tracking for site creation preview device mode analytics
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Post/Preview/PreviewDeviceSelectionViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
Labels: Analytics, Previews, Site Creation

#15819 Reader post options: refactor followed site success message
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, [Type] Enhancement

#15836 Merge 16.7 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#15835 Update OHHTTPStubs
  Podfile
  Podfile.lock
  WordPress/WordPressTest/AppRatingUtilityTests.swift
  WordPress/WordPressTest/BlogJetpackTest.m
  WordPress/WordPressTest/DomainsServiceTests.swift
  WordPress/WordPressTest/MediaExporterTests.swift
  WordPress/WordPressTest/MediaFileManagerTests.swift
  WordPress/WordPressTest/MediaImageExporterTests.swift
  WordPress/WordPressTest/MediaRequestAuthenticatorTests.swift
  WordPress/WordPressTest/MediaThumbnailExporterTests.swift
  WordPress/WordPressTest/MediaURLExporterTests.swift
  WordPress/WordPressTest/NotificationSettingsServiceTests.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
  WordPress/WordPressTest/OHHTTPStubs+Helpers.swift
  WordPress/WordPressTest/WPAvatarSourceTest.m
  WordPress/WordPressTest/WordPressTest-Bridging-Header.h
Labels: Tooling

#15820 Remove Swift-based Core Data Stack
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
  WordPress/Classes/Utility/CoreDataManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CoreDataManagerMock.swift
  WordPress/WordPressTest/TestContextManager.m
Labels: [Type] Enhancement

#15825 New stories intro assets and links
  WordPress/Classes/ViewRelated/What's New/Views/StoriesIntroViewController.swift
  WordPress/Resources/AppImages.xcassets/Stories/democover01.imageset/democover01.png
  WordPress/Resources/AppImages.xcassets/Stories/democover01.imageset/democover01@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/democover02.imageset/democover02.png
  WordPress/Resources/AppImages.xcassets/Stories/democover02.imageset/democover02@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1@3x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2@3x.png
Labels: WP Stories

#15824 Display loader when site title is updating
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeader.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
Labels: My Site

#15837 Remove obtainPermanentIDForObject
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/Utility/ContextManager.h
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPressTest/TestContextManager.m
Labels: Core Data

#15848 Reader: fix post options menu tracks
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSeenAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Bug

#15842 Fix typo on ignore threat message
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15845 Reader > Discover: update UI when site is blocked
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockSiteAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, [Type] Enhancement

#15846 Reader: Show message when blocking a site succeeds/fails.
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15754 Discover posts sorting control
  Podfile
  Podfile.lock
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionButton.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Post sorting, [Type] Enhancement

#15856 Stats: Update Today widget when refreshing Day data for the current day.
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: iOS 14 Widgets

#15849 Remove newMainContextChildContext in ReaderStreamViewController
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Core Data, Reader

#15759 Show post/page updated notification if this is not a first time publish
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
Labels: Pages List, Posts List, [Type] Bug

#15855 [Home Page Picker] Switches close and preview icon placement in Home Page Picker Preview
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/Preview/SiteDesignPreviewViewController.swift
Labels: Previews, Site Creation

#15863 Fix wrong "login to see stats" message in Widget
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Alpha.xcscheme
  WordPress/WordPressStatsWidgets/Model/HomeWidgetTodayEntry.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/TodayWidgetView.swift
  WordPress/WordPressStatsWidgets/Views/UnconfiguredView.swift
  WordPress/WordPressStatsWidgets/WordPressHomeWidgetToday.swift
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  config/WordPress.release.xcconfig
Labels: [Type] Bug, iOS 14 Widgets

#15811 [Stories] Temporary gutenberg update for media files type
  Podfile
  Podfile.lock
Labels: [Type] Bug

#15878 Remove mergeChanges from ContextManager
  WordPress/Classes/Utility/ContextManager.h
  WordPress/WordPressTest/TestContextManager.m
Labels: Core Data

#15869 Fix automatic session tracking
  WordPress/Classes/Utility/Logging/EventLoggingDelegate.swift
Labels: [Type] Enhancement

#15797 Prevent Homepage from being deleted or moved to a draft
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/Page.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, Posting/Editing, [Type] Enhancement

#15883 Merge 16.7 release notes into develop
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#15789 AB testing: implements an A/A experiment
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
Labels: Analytics, [Type] Task

#15665 [Gutenberg] Add Cover block media settings
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15865 [Gutenberg] Hide audio block on free sites
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15892 Reader post menu: remove unused code
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Task

#15889 Integrate gutenberg-mobile release 1.46.1
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15895 [Tooling] Fix bundler CI failure by updating bundler with security fix
  Gemfile
  Gemfile.lock
  fastlane/download_metadata.swift
Labels: Tooling

#15896 [Tooling] Fix bundler CI failure by updating bundler with security fix
  Gemfile
  Gemfile.lock
  fastlane/download_metadata.swift
Labels: Tooling

#15861 Replace newMainContextChildContext in PeopleViewController
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: Core Data, People Management

#15880 Move blog time zone lookup into blog object
  WordPress/Classes/Extensions/AbstractPost+Dates.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/SiteDateFormatters.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDateFormatting.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/BlogListViewController+StatsWidgets.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogServiceTest.m
  WordPress/WordPressTest/BlogTimeZoneTests.m
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCardCellGhostableTests.swift
  WordPress/WordPressTest/PostCardCellTests.swift
Labels: Core Data

#15860 Use the full version string on the “About” screen
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutViewController.swift
Labels: [Type] Enhancement

#15886 Remove what's new feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: What's New, [Type] Enhancement

#15838 Always update Widgets after logout/login
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/BlogListViewController+StatsWidgets.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Model/HomeWidgetData.swift
  WordPress/WordPressStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/WordPressStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressStatsWidgets/Supporting Files/Base.lproj/Localizable.strings
  WordPress/WordPressStatsWidgets/Supporting Files/en.lproj/Localizable.strings
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Views/UnconfiguredView.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetAllTime.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetToday.swift
Labels: [Type] Bug, iOS 14 Widgets

#15879 Remove external access to the Core Data Stack’s persistentStoreCoordinator and managedObjectModel
  WordPress/Classes/Utility/ContextManager.h
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/MockContext.swift
  WordPress/WordPressTest/ReaderReblogActionTests.swift
  WordPress/WordPressTest/ReaderTabItemsStoreTests.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
  WordPress/WordPressTest/ReaderTabViewTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
Labels: Core Data

#15899 Comments: provide status when fetching
  Podfile
  Podfile.lock
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: Comments, [Type] Enhancement

#15907 Add feature flag for milestone notifications
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Milestone Notifications, [Type] Enhancement

#15898 Show loader while activating theme
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: Themes, [Type] Bug

#15905 Integrate gutenberg-mobile release 1.46.1 to 1.47.0
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15890 Update release-toolkit to add new actions to trigger CircleCI jobs via API calls
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env/user.env-example
Labels: Tooling

#15914 Integrate gutenberg-mobile release 1.46.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#15911 Comments: move cell configuration into cell class.
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: Comments, [Type] Task

#15903 Add the Kanvas editor for creating a story
  Podfile
  Podfile.lock
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/Stories/CameraHandler.swift
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PrepublishingNudgesViewControllerTests.swift
Labels: WP Stories

#15913 Stories Publishing + Gutenberg integration
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Services/Stories/StoryMediaLoader.swift
  WordPress/Classes/Services/Stories/StoryPoster.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/HomepageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergMediaFilesUploadProcessor.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: WP Stories

#15910 ABTest: fix a nil crash
  WordPress/Classes/Utility/AB Testing/ABTest.swift
Labels: Analytics, [Type] Crash

#15866 Discover posts sorting bottom sheet
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionButton.swift
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionSheetViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Post sorting, [Type] Enhancement

#15901 Stories: Update how-to Story URL
  WordPress/Classes/ViewRelated/What's New/Views/StoriesIntroViewController.swift
Labels: WP Stories

#15932 Update secrets in release 16.7
  .configure
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#15862 Remove newMainContextChildContext from SharingButtonsViewController
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
Labels: Core Data, Sharing

#15915 Quick Start: Automatically check off steps if the user completes them outside of Quick Start
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: Quick Start

#15937 Add former fastlane folder to gitignored files
  .gitignore
Labels: Tooling

#15885 Only allow published pages in Homepage settings
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/SelectPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/HomepageSettingsViewController.swift
Labels: Site Settings, [Type] Bug

#15894 Integrate gutenberg-mobile release 1.47.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15922 Jetpack Section: Backup/Restore: Remove the button from the status view
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.xib
Labels: Jetpack Mobile, [Type] Task

#15923 Comments: show comment body in separate label than author and post title.
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+Comments.swift
Labels: Comments, [Type] Enhancement

#15921 Jetpack Section: Adds some scan improvements
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15929 Comments: show yellow dot to indicate Pending comment.
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+Comments.swift
Labels: Comments, [Type] Enhancement

#15936 Add Prepublishing title field
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
  WordPress/WordPressTest/PrepublishingNudgesViewControllerTests.swift
Labels: WP Stories

#15935 Remove no-longer-needed newMainContextChildContext
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/ContextManager.h
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPressTest/TestContextManager.m
Labels: Core Data

#15943 Comments: fix content spacing
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: Comments, [Type] Enhancement

#15844 This Week Widget
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/Data/ThisWeekWidgetStats.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Model/GroupedViewData.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetAllTimeData.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetThisWeekData.swift
  WordPress/WordPressStatsWidgets/Model/ListViewData.swift
  WordPress/WordPressStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/Cards/ListRow.swift
  WordPress/WordPressStatsWidgets/Views/ListStatsView.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/MultiStatsView.swift
  WordPress/WordPressStatsWidgets/Views/SingleStatView.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetAllTime.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetThisWeek.swift
  WordPress/WordPressStatsWidgets/Widgets/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15941 Fix wpios-env.default path in Fastlane error msg
  fastlane/Fastfile
Labels: Tooling

#15944 Comments: merge UI feature branch into develop
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+Comments.swift
Labels: Comments, [Type] Enhancement

#15930 Stories Color + Font Customizations
  Podfile
  Podfile.lock
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraAnalyticsHandler.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraCustomUI.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Fonts/LibreBaskerville-Regular.ttf
  WordPress/Fonts/Noticons.ttf
  WordPress/Fonts/Nunito-Bold.ttf
  WordPress/Fonts/Pacifico-Regular.ttf
  WordPress/Fonts/Shrikhand-Regular.ttf
  WordPress/Fonts/SpaceMono-Bold.ttf
  WordPress/Fonts/oswald_upper.ttf
  WordPress/Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: WP Stories

#15940 InviteLinks: Adds a core data model for storing InviteLinks.
  MIGRATIONS.md
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Models/InviteLinks+CoreDataClass.swift
  WordPress/Classes/Models/InviteLinks+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 113.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data, People Management, [Type] Enhancement

#15954 Enable Stories feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: WP Stories

#15946 Stories: Add Media Picker Integration
  Podfile
  Podfile.lock
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraAnalyticsHandler.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: WP Stories

#15950 Stories: Changes Kanvas editor to use white confirm + next buttons.
  Podfile
  Podfile.lock
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraCustomUI.swift
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button@3x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button@3x.png
Labels: WP Stories

#15867 Initial replacement prologue carousel
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedProloguePages.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedPrologueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX

#15957 Add semibold style for site names in notification subjects
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SubjectContentStyles.swift
Labels: Milestone Notifications, Notifications

#15959 Update secrets
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#15960 Update secrets
  .configure
  .configure-files/app_store_connect_fastlane_api_key.json.enc
  .configure-files/google_cloud_keys.json.enc
Labels: Tooling

#15961 Merge 16.8 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#15939 Discover posts sorting - accessibility
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionButton.swift
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionSheetViewController.swift
Labels: Post sorting, [Type] Enhancement

#15906 Adds a "Confetti" view to be used anywhere in the app.
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Milestone Notifications/ConfettiView.swift
  WordPress/Resources/AppImages.xcassets/confetti-circle.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/confetti-circle.imageset/confetti-circle.pdf
  WordPress/Resources/AppImages.xcassets/confetti-hotdog.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/confetti-hotdog.imageset/confetti-hotdog.pdf
  WordPress/Resources/AppImages.xcassets/confetti-star.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/confetti-star.imageset/confetti-star.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Milestone Notifications, [Type] Enhancement

#15956 Add Button to Milestone Notifications detail view
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Utility/FormattableContent/FormattableContentGroup.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockButtonTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockButtonTableViewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationTextContentTests.swift
  WordPress/WordPressTest/Test Data/notifications-button-text-content.json
Labels: Milestone Notifications, Notifications

#15916 Fix crash on Notifications tab when device is offline
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.m
Labels: [Type] Bug

#15967 Update WordPressAuthenticator pod to fix prologue tracking issue
  Podfile
  Podfile.lock
  fastlane/Deliverfile
Labels: Unified Login & Signup, [Pri] High, [Type] Bug

#15962 [Home Page Picker] Adds sample URL to the Choose a Domain Screen
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/SitePromptView.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/SitePromptView.xib
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Domain Search, Site Creation, [Status] Needs Design Review, [Type] Enhancement

#15958 Reader: Follow conversation should handle `success: false`
  Podfile
  Podfile.lock
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/WordPressTest/FollowCommentsServiceTests.swift
Labels: Reader, [Type] Bug

#15966 Comments: add filter tab bar
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsList.storyboard
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+Filters.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.h
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Comments, [Type] Enhancement

#15968 Milestone Notification text styles and confetti decoration
  WordPress/Classes/Extensions/UIFont+Styles.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/BadgeContentStyles.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockImageTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockImageTableViewCell.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockTextTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockTextTableViewCell.xib
  WordPress/Resources/AppImages.xcassets/Notifications/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-approve.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-approve.imageset/notifications-approve.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-approved.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-approved.imageset/notifications-approved.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-bell.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-bell.imageset/notifications-bell.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-confetti-background.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-confetti-background.imageset/note-confetti-background.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-email.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-email.imageset/notifications-email.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-like.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-like.imageset/notifications-like.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-liked.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-liked.imageset/notifications-liked.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-phone.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-phone.imageset/notifications-phone.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-reply.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-reply.imageset/notifications-reply.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-spam.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-spam.imageset/notifications-spam.pdf
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-trash.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notifications/notifications-trash.imageset/notifications-trash.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Milestone Notifications, Notifications

#15887 Move `blogByBlogId` out of blog service
  WordPress/Classes/Models/Blog+Lookup.swift
  WordPress/Classes/Models/WPAccount+AccountSettings.swift
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/DomainsService.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Services/SiteSuggestionService.swift
  WordPress/Classes/Services/SuggestionService.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/NSManagedObject+Lookup.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/Universal Links/NavigationActionHelpers.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDateFormatting.swift
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentViewController.swift
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/BlogListViewController+StatsWidgets.swift
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
  WordPress/WordPressTest/BlogTests.swift
Labels: Core Data

#15971 Add dark and light colors to ConfettiView animation
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Notifications/Milestone Notifications/ConfettiView.swift
Labels: Milestone Notifications, [Type] Enhancement

#15951 Jetpack Section: Display a warning if server credentials aren't configured
  Podfile.lock
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/BaseRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.xib
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15918 Update lanes to build stable and beta releases
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: Tooling

#15988 Fix broken blog lookup from Objective C
  WordPress/Classes/Models/Blog+Lookup.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Blog+ObjcTests.m
Labels: Core Data

#15976 Invite Links: Changes blog.inviteLinks relation deletion rule to cascade
  MIGRATIONS.md
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 114.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data, People Management, [Type] Bug

#15972 Comments: refetch when selected filter changes
  Podfile.lock
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+Filters.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.h
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: Comments, [Type] Enhancement

#15978 Integrate AztecEditor-iOS 1.19.4
  Podfile
  Podfile.lock
Labels: Aztec, Gutenberg integration

#15970 Invite Links: Implements service layer methods.
  Podfile.lock
  WordPress/Classes/Services/PeopleService.swift
Labels: People Management, [Type] Enhancement

#15975 Notifications: Render bold content in badge notification titles
  WordPress/Classes/Utility/FormattableContent/FormattableContentRange.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/BadgeContentStyles.swift
Labels: Milestone Notifications, Notifications
