Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-01, with the labels that each got.

#15572 Fix ReaderRelativeTimeFormatter unit tests
  WordPress/WordPressTest/ReaderRelativeTimeFormatterTests.swift
Labels: Testing, [Type] Task

#15547 Move WordPressFlux to a Swift Package
  WordPress.xcworkspace/contents.xcworkspacedata
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WordPressUnitTests.xctestplan
  WordPressFlux/.gitignore
  WordPressFlux/Package.swift
  WordPressFlux/Sources/WordPressFlux/Action.swift
  WordPressFlux/Sources/WordPressFlux/Codable+WordPressFlux.swift
  WordPressFlux/Sources/WordPressFlux/Dispatcher.swift
  WordPressFlux/Sources/WordPressFlux/Observable.swift
  WordPressFlux/Sources/WordPressFlux/QueryStore.swift
  WordPressFlux/Sources/WordPressFlux/Receipt.swift
  WordPressFlux/Sources/WordPressFlux/StatefulStore.swift
  WordPressFlux/Sources/WordPressFlux/Store.swift
  WordPressFlux/Tests/LinuxMain.swift
  WordPressFlux/Tests/WordPressFluxTests/WordPressFluxTests.swift
  WordPressFlux/Tests/WordPressFluxTests/XCTestManifests.swift
  WordPressFlux/WordPressFlux.xcodeproj/xcshareddata/xcschemes/WordPressFlux.xcscheme
  WordPressFlux/WordPressFlux/Info.plist
  WordPressFlux/WordPressFlux/WordPressFlux.h
  WordPressFlux/WordPressFluxTests/Info.plist
Labels: Tooling

#15577 Fixes broken tests by removing the unused ReaderRelativeTimeFormatter and its related tests
  WordPress/Classes/ViewRelated/Reader/ReaderRelativeTimeFormatter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderRelativeTimeFormatterTests.swift
Labels: Testing, [Type] Bug

#15576 Removes an invalid relationship from the Comment entity to ReaderSiteTopic.sites
  MIGRATIONS.md
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 110.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data, [Type] Bug

#15569 Remove unneeded constraints on collapsable header view
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Tech Debt

#15581 Reader site filter: show unseen post count
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
Labels: Reader, [Type] Enhancement

#15555 Jetpack Section: Present action sheet for backup and restore
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListRow.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.xib
  WordPress/Classes/ViewRelated/Activity/RewindStatusTableViewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15566 Jetpack Section: Add Backup/Restore Reusable VC
  WordPress/Classes/ViewRelated/Activity/ActivityListSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/JetpackRestoreHeaderView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/JetpackRestoreViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15585 Reader Following site filter: don't show P2 or A8C sites.
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Enhancement

#15586 Remove `unseenPostCount` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
Labels: Reader, [Type] Task

#15588 iOS 13: Fix scroll indicator deprecation warnings
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: General, [Type] Task, iOS 13

#15593 iOS 13: remove editActionsForRowAtIndexPath deprecation warnings
  WordPress/Classes/Utility/ImmuTable.swift
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
Labels: [Type] Task, iOS 13

#15592 iOS 13: Fix gray style deprecation warnings
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Menus/MenuItemSourceFooterView.m
  WordPress/Classes/ViewRelated/People/RoleViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/WPAddPostCategoryViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: [Type] Task, iOS 13

#15599 iOS 13: remove keyWindow deprecation warnings
  WordPress/Classes/Extensions/UIAlertController+Helpers.swift
  WordPress/Classes/Extensions/UIApplication+mainWindow.swift
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutCreator.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Views/AlertView/AlertView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RichContentFormatterTests.swift
  WordPress/WordPressTest/System/3DTouch/WP3DTouchShortcutCreatorTests.swift
Labels: [Type] Task, iOS 13

#15600 Remove unused ReaderRelativeTimeFormatter and tests
  WordPress/Classes/ViewRelated/Reader/ReaderRelativeTimeFormatter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderRelativeTimeFormatterTests.swift
Labels: [Type] Task

#15594 Reader site filters: retain selected filter
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
Labels: Reader, [Type] Enhancement

#15597 Updated UIKeyCommand init method
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: iOS 13

#15591 Hide Xpost UI on unsupported sites
  WordPress/Classes/Services/SiteSuggestionService.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+BlogPicker.swift
Labels: Gutenberg compatibility

#15607 Reverts: Allow updatable statusbars on each tab bar view
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: [Type] Bug

#15590 Jetpack: adds Backup screen
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15605 Fixes deprecation warnings related to Scanner. Minor code clean up.
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextFormatter.swift
Labels: [Type] Enhancement

#15608 Feature/ios13 misc deprecations
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/SelectPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/SiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteTagsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/Header/MeHeaderView.m
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Views/LoadingStatusView.swift
  WordPress/Classes/ViewRelated/Views/WPUploadStatusButton.m
Labels: [Type] Enhancement

#15609 Reader filters: clear filter when topic is unfollowed
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader, [Type] Enhancement

#15557 Fixes magic links.
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Unified Login & Signup, [Type] Enhancement

#15613 People > Invite: make Message field scrollable
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
Labels: People Management

#15615 Add missing item to release notes
  RELEASE-NOTES.txt
Labels: Releases, [Type] Task

#15610 Handle malformed URLs in Xpost sites
  WordPress/Classes/Models/SiteSuggestion+CoreDataClass.swift
Labels: Gutenberg compatibility, [Type] Bug

#15616 Reimplement unseenPostCount feature flag.
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
Labels: Reader, [Type] Task

#15570 Integrate gutenberg-mobile release 1.44.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#15606 Jetpack Section: Scan Status
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-menu-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-menu-icon.imageset/jetpack-scan-menu-icon.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-error.imageset/jetpack-scan-state-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-okay.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-okay.imageset/jetpack-scan-state-okay.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-progress.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-state-progress.imageset/jetpack-scan-state-progress.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#15499 Change menus order under my site to align with DotCom
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: My Site, [Type] Enhancement

#15617 Feature/ios13 misc warnings
  WordPress/Classes/Extensions/UIApplication+mainWindow.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Menus/MenuItemEditingHeaderView.m
  WordPress/Classes/ViewRelated/Notifications/Tools/KeyboardDismissHelper.swift
  WordPress/Classes/ViewRelated/Post/WPPickerView.m
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Tools/TableViewKeyboardObserver.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
Labels: [Type] Enhancement

#15626 Merge 16.5 code freeze into develop
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#15598 Jetpack Section: Add Warning and Restore Status screens
  WordPress/Classes/ViewRelated/Activity/ActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreHeaderView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/RestoreStatusView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/RestoreStatusView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/RestoreWarningView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/RestoreWarningView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15625 Backups screen: add strings and events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15624 Update PageListViewController deletion UI to match PostListViewController
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, [Type] Enhancement

#15618 People views: misc fixes
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleRoleBadgeLabel.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
Labels: People Management, [Type] Task

#15589 [Platform] Update L10n Linter strategy to allow retry
  Gemfile.lock
  Scripts/fastlane/Fastfile
  Scripts/fastlane/Pluginfile
Labels: Tooling

#15628 Jetpack Section: Split Restore and Backup VCs
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/BaseRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackDownloadBackupViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreHeaderView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/RestoreStatusView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/RestoreStatusView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/RestoreWarningView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/RestoreWarningView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15621 Update fastlane and release-toolkit
  Gemfile.lock
  Scripts/fastlane/Pluginfile
Labels: Tooling

#15630 Remove "Create a new Page" and "Customize your site" from Quick Start
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Bug

#15635 Update cocoapods version to 1.10.1 in Podfile.lock file
  Podfile.lock
Labels: [Type] Bug

#15550 [Gutenberg] - Remove tooltip flag and modal layout feature flag
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PageCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#15614 Today widget localization
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressHomeWidgetToday/Supporting Files/Base.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/ar.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/bg.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/cs.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/cy.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/da.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/de.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/en-AU.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/en-CA.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/en-GB.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/en.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/es.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/fr.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/he.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/hr.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/hu.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/id.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/is.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/it.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/ja.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/ko.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/nb.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/nl.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/pl.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/pt-BR.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/pt.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/ro.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/ru.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/sk.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/sq.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/sv.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/th.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/tr.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/zh-Hans.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/zh-Hant.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Views/Localization/LocalizedStringKey+extension.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetView.swift
  WordPress/WordPressHomeWidgetToday/Views/UnconfiguredView.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15540 Switch to saved posts when tapping "view all" on the saved post notice
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: Reader, Save for Later, [Type] Bug

#15632 Add missing dot in string
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/JetpackRestoreViewController.swift
Labels: [Type] Bug

#15575 Adds icon for homepage and posts page
  WordPress/Classes/Extensions/Array+Page.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/PageListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, [Type] Enhancement

#15641 Jetpack Section: Add action to start the scan
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
Labels: Jetpack Mobile, [Type] Task

#15646 Removes defunct code after hotfix.
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Utility/WPWebViewController.h
  WordPress/Classes/Utility/WPWebViewController.m
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/Utility/WebViewControllerConfiguration.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: [Type] Task

#15637 Jetpack: only display Backup and Scan if available
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/JetpackCapabilitiesService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackCapabilitiesServiceTests.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15648 Today Widget - Default site
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressHomeWidgetToday/Supporting Files/Base.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Supporting Files/en.lproj/Localizable.strings
  WordPress/WordPressHomeWidgetToday/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressHomeWidgetToday/Views/TodayWidgetView.swift
  WordPress/WordPressHomeWidgetToday/Views/UnconfiguredView.swift
  WordPress/WordPressHomeWidgetToday/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15638 Reader post details: add ability to mark as seen/unseen.
  MIGRATIONS.md
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 111.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Enhancement

#15645 Reader post card: add ability to mark as seen/unseen
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSeenAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Enhancement

#15644 Integrate gutenberg-mobile release 1.44.1
  .circleci/cache-version
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#15236 Configure ExPlat for use
  Podfile
  Podfile.lock
  WordPress/Classes/Models/WPAccount.h
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Analytics, [Type] Task

#15640 Jetpack Section: Restore Status and Restore Complete
  WordPress/Classes/Services/JetpackRestoreService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/RestoreCompleteView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/BaseRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackRestoreStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/RestoreWarningView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15660 Reader: add a source property when following a topic
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
Labels: Analytics, New Reader iOS, Reader, [Type] Task

#15653 Today Widget - Feature Flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressHomeWidgetToday/WordPressHomeWidgetToday.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15652 Jetpack: adds logic for when to display Activity Log filter + small fixes
  WordPress/Classes/Models/JetpackSiteRef.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/WordPressTest/Activity/ActivityListViewModelTests.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Jetpack, Jetpack Mobile, [Type] Task

#15667 Fix iOS 13 requestImageData warnings
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/MediaAssetExporter.swift
Labels: [Type] Task, iOS 13

#15666 iOS 13 Warnings: Fixes a number of decoding, archiving, secure coding, etc warnings
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/Shared/SharePost.swift
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationContent/RichNotificationViewModel.swift
Labels: [Type] Task, iOS 13

#15668 Reader: Reset content when switching from Discover to filtered stream
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Bug

#15657 Jetpack Section: Backup Progress Details
  Podfile.lock
  WordPress/Classes/Models/JetpackSiteRef.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackRestoreStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/RestoreStatusView.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Jetpack Mobile, [Type] Task

#15658 Jetpack Section: Initial error handling
  WordPress/Classes/Services/JetpackBackupService.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Coordinators/JetpackBackupOptionsCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackRestoreStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Coordinators/JetpackRestoreWarningCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15671 Reader > mark as seen: track events
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSeenAction.swift
Labels: Reader, [Type] Enhancement

#15661 Adds Fix All button action
  Podfile
  Podfile.lock
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15679 Remove Widgets button from Stats nav bar on iOS 14 or later
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: [Type] Enhancement, iOS 14 Widgets

#15677 Jetpack Section: Styles the threat cell
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-threat-fixed.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Scan/jetpack-scan-threat-fixed.imageset/jetpack-scan-threat-fixed.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15685 Add a note about M1 support
  README.md
Labels: Documentation

#15680 Modify Quick Start Steps to support quick start steps
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
Labels: Quick Start, [Type] Enhancement

#15670 Reader > mark as seen: Show menu option only for posts that are followed
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15676 Reader post details: mark post as seen when viewed
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader, [Type] Enhancement

#15663 Integrate gutenberg-mobile release 1.45.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#15684 Activity Log: enable filters
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Activity Log, Jetpack, Jetpack Mobile, [Type] Task

#15681 Reader: Show message when toggling seen fails.
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Status] Needs Design Review, [Type] Enhancement

#15691 Reader: Updates the text for the follow conversation label.
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.m
Labels: Reader

#15692 iOS 14 Today Widget - Refresh site list
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Stats/Today Widgets/iOS 14 Widgets/BlogListViewController+StatsWidgets.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, iOS 14 Widgets

#15693 iOS 14 Today Widget - Feature flag and release notes
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, iOS 14 Widgets

#15701 Update Comment dropping the iOS 12 specifics.
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Task

#15678 Update/page layout api query paramaters
  WordPress/Classes/Services/PageLayoutService.swift
Labels: [Status] Needs Code Review

#15687 Show SignIn as root VC.
  Podfile.lock
  WordPress/Classes/System/WPGUIConstants.h
  WordPress/Classes/System/WPGUIConstants.m
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PrepublishingNudgesViewControllerTests.swift
Labels: Login, [Type] Enhancement

#15702 add base localization for the intents extension
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressIntents/Base.lproj/Sites.intentdefinition
Labels: [Type] Bug, iOS 14 Widgets

#15704 Merge 16.6 code freeze into `develop`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/fastlane/Deliverfile
  Scripts/fastlane/download_metadata.swift
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#15708 Adds a description to the select site intent.
  WordPress/WordPressIntents/Base.lproj/Sites.intentdefinition
Labels: [Type] Task

#15709 Fix Xpost insertion
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.swift
Labels: [Type] Bug

#15710 Merge 16.5.1 into develop
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.swift
Labels: Releases

#15715 Update WPKit
  Podfile
  Podfile.lock
  WordPress/Classes/Services/JetpackRestoreService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Coordinators/JetpackRestoreWarningCoordinator.swift
Labels: [Type] Task, dependencies

#15716 Enable user transition on the prepublishing nudges view
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Accessibility, Prepublishing Nudges, [Type] Bug

#15718 Reader seen toggle: Call the correct endpoint based on isWPCom or not.
  Podfile.lock
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/ViewRelated/Reader/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: Reader, [Type] Enhancement

#15659 Pages List: Add notice after page parent is set
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
Labels: Core, Pages List, [Status] Needs Code Review, [Status] Needs Design Review

#15673 Jetpack Section: Backup/Restore Error Handling
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreStatusFailedViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/Views/RestoreCompleteView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/Views/RestoreCompleteView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Coordinators/JetpackBackupOptionsCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackRestoreStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Coordinators/JetpackRestoreWarningCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Views/RestoreWarningView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Views/RestoreWarningView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15683 Jetpack Section: Activity Detail Download Backup Button
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackBackupCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/Views/RestoreCompleteView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15689 Jetpack Section: Backup / Restore Already Running
  Podfile.lock
  WordPress/Classes/Services/JetpackBackupService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Coordinators/JetpackBackupOptionsCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackBackupOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackBackupStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/JetpackRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Views/RestoreStatusView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/Coordinators/JetpackRestoreWarningCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15688 Add mobile and tablet screenshots in previews and thumbnails
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewDeviceSelectionViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
Labels: Previews, Site Creation

#15725 Activity Log: fix issue with the first month of the date picker
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
Labels: Activity Log, [Type] Bug

#15726 Jetpack Section: Scan: Adds loading and error handling
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
Labels: Jetpack Mobile, [Type] Task

#15696 Jetpack Section: Scan: Adds Scan History View
  WordPress/Classes/Services/JetpackScanService.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanHistoryViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15730 Get the index from the scanner's string, not the parsed string.
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextFormatter.swift
Labels: Reader, [Type] Bug

#15737 Reader: show 'Followed P2s' tab when first P2 is followed
  WordPress/Classes/Services/ReaderSiteService.h
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: P2, Reader, [Type] Bug

#15720 Jetpack Section: Threat Details screen
  Podfile.lock
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack Mobile, [Type] Task

#15735 Comments: fix beyond current run storage crash
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
Labels: Comments, [Type] Crash

#15724 Quick Start: Cancel Edit homepage when homepage is removed
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Pages/PageListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Quick Start, [Type] Bug

#15736 Enable dot Blog domains for all URL searches
  RELEASE-NOTES.txt
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: Site Creation, [Type] Enhancement

#15733 Notifications: route backup notification to Backups screen
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/WordPressTest/MockContentCoordinator.swift
Labels: Activity Log, Jetpack, [Type] Bug

#15742 Tracks: Adds app scheme to global properties.
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
Labels: Analytics, [Type] Enhancement
