Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-10, with the labels that each got.

#17248 Blogging reminders in notification settings
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
Labels: Notifications, push notifications, Blogging Reminders

#17246 Comment Detail: Modify tap action and title when the comment is a reply
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17252 Fix page sharing issues
  WordPress/Classes/Services/PostService.m
Labels: [Type] Bug, Share Extension

#17253 Comment Detail: Handle content link clicks
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17254 Comment Detail: Adjust comment content for RTL layout
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Resources/HTML/richCommentTemplate.html
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17249 Integrate gutenberg-mobile release 1.63.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17257 Update to Gutenberg v1.63.0 tag
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17258 Merge 18.4 code freeze into `develop`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17222 Update domains dashboard after purchase
  WordPress/Classes/Services/BlogService+Domains.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/DomainsService.swift
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain credit/DomainCreditRedemptionSuccessViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domains list/DomainsListViewController.swift
  WordPress/Classes/ViewRelated/Domains/Utility/Blog+DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationButton.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationCard.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DomainsServiceTests.swift
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelLoadingStateTests.swift
Labels: [Type] Enhancement, Domain Registration

#17256 Domains: Added loading spinner to Choose Domain button
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
Labels: Domain Search, Domain Registration, Domains

#17260 Comment Moderation Bar: set button states when one is selected
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17218 Truncate site title if it's too long
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
Labels: [Type] Bug, Login

#17264 Temp PR
  WordPress/Classes/ViewRelated/NUX/LoginEpilogue.storyboard
Labels: [Type] Task

#17261 Empty Stats: Add view count threshold for Grow Audience card display logic
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: [Type] Enhancement, Stats

#17266 Makes the domain searches immediate.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomain.storyboard
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/NUX/DomainSuggestionsButtonViewPresenter.swift
  WordPress/Classes/ViewRelated/NUX/DomainSuggestionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Domain Registration

#17267 Comment Moderation Bar: update comment when Approved button tapped.
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17224 [Gutenberg][Embed block] Include Jetpack embed variants
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#17394 User Profile sheet: disable sheet resizing.
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: [Type] Enhancement, Likes
