Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-09, with the labels that each got.

#17095 Comment Detail: Add header cell
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentHeaderTableViewCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments

#17101 Fix/16941 - Close account additional logic
  WordPress/Classes/Models/WPAccount.h
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
Labels: [Type] Enhancement

#17066 Local Weekly Roundup
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BackgroundTasks/BackgroundTasksCoordinator.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/Utility/BackgroundTasks/WordPressBackgroundTaskEventHandler.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/NotificationEventTracker.swift
  WordPress/Classes/ViewRelated/Developer/WeeklyRoundupDebugScreen.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Info.plist
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Enhancement, Notifications

#17102 Edit Comment: add red border to email field if email is invalid.
  WordPress/Classes/ViewRelated/Comments/EditCommentSingleLineCell.swift
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
Labels: [Type] Enhancement, Comments

#17096 Edit Comment: save changes
  Podfile.lock
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
Labels: [Type] Enhancement, Comments

#16832 Pass the Gallery v2 Flag over from the editor
  Podfile
  Podfile.lock
  WordPress/Classes/Models/BlockEditorSettingElement+CoreDataProperties.swift
  WordPress/Classes/Models/BlockEditorSettings+GutenbergEditorSettings.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
Labels: [Type] Enhancement, Gutenberg integration

#17105 Comment Detail: Add regular text cells
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Comments

#17106 Comment Detail: Reply indicator cell UI
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+CommentDetail.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments

#17110 Comment edit: fix jumpy text view
  WordPress/Classes/ViewRelated/Comments/EditCommentMultiLineCell.swift
  WordPress/Classes/ViewRelated/Comments/EditCommentMultiLineCell.xib
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
Labels: [Type] Enhancement, Comments

#17115 Integrate gutenberg-mobile release 1.61.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17116 Implement weekly roundup toggle
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
  WordPress/Classes/Services/NotificationSettingsService.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Notifications

#17112 Comment edit: use updated values for display
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
Labels: [Type] Enhancement, Comments

#17111 Comment edit: enable new view
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Comments

#17109 Comment Detail: Content cell initial view
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+CommentDetail.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17118 Merge 18.2 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17131 Merge editorialized release notes for 18.2
  Gemfile.lock
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17130 Fix editor_session_start event custom property key
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
Labels: [Type] Bug, Analytics

#17107 "Activate" vs "Active" Wording on Theme Customization
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: [Type] Bug

#17129 Comment Detail: Render content in web view
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Resources/HTML/richCommentStyle.css
  WordPress/Resources/HTML/richCommentTemplate.html
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17100 Fix Secrets setup for external contributors
  .gitignore
  Rakefile
  Scripts/BuildPhases/GenerateCredentials.sh
  Scripts/BuildPhases/GenerateCredentials.xcfilelist
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#17133 Merge trial/nikola milicevic changes into develop
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/ChangeUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Classes/Stores/StatsPeriodStoreTests.swift
  WordPress/WordPressTest/ReferrerDetailsViewModelTests.swift
  WordPress/WordPressTest/StatsTotalRowDataTests.swift
Labels: [Type] Enhancement

#17144 Fix stat issues
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: [Type] Bug, Stats

#17117 Fix Reader Discover inconsistent state
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Bug, Reader

#17141 Empty Stats: refactor loading / dismissal logic for the customize card
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: [Type] Enhancement, Stats

#17120 Add option to publish a Page from the share extension
  RELEASE-NOTES.txt
  WordPress/Tracks+ShareExtension.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/Tracks+DraftAction.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/EXTENSION_MIGRATIONS.md
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/.xccurrentversion
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/Extensions 4.xcdatamodel/contents
  WordPress/WordPressShareExtension/PostUploadOperation.swift
  WordPress/WordPressShareExtension/RemotePost+ShareData.swift
  WordPress/WordPressShareExtension/ShareData.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/SharePostTypePickerViewController.swift
  WordPress/WordPressShareExtension/WPStyleGuide+Share.swift
Labels: [Type] Enhancement, Share Extension

#17155 Trial/diegoreymendez
  RELEASE-NOTES.txt
  WordPress/Tracks+ShareExtension.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/Tracks+DraftAction.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
  WordPress/WordPressShareExtension/EXTENSION_MIGRATIONS.md
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/.xccurrentversion
  WordPress/WordPressShareExtension/Extensions.xcdatamodeld/Extensions 4.xcdatamodel/contents
  WordPress/WordPressShareExtension/PostUploadOperation.swift
  WordPress/WordPressShareExtension/RemotePost+ShareData.swift
  WordPress/WordPressShareExtension/ShareData.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/SharePostTypePickerViewController.swift
  WordPress/WordPressShareExtension/WPStyleGuide+Share.swift
Labels: [Status] Not Ready for Review, [Status] DO NOT MERGE

#17156 Update My Site menu wording
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: [Type] Enhancement, [Status] Needs Copy Review, My Site

#17151 Adds the new domain purchase flow
  Podfile.lock
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/DomainsDashboardView.swift
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
Labels: [Type] Task, Domains

#17159 Xpost Notifications: show `Follow conversation by email` on original post
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.m
Labels: [Type] Bug, Notifications

#17169 Integrate gutenberg-mobile release 1.61.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17173 Fix/15651 - Followed sites in Reader > Following > Filter
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
Labels: [Type] Enhancement

#17183 Integrate gutenberg-mobile release 1.62.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17177 Update WordPress Mocks to fix recent UI tests failures
  Podfile
  Podfile.lock
Labels: Testing

#17196 Merge version 18.3 code freeze into `develop`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/WordPressShareExtension/Base.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17157 Update synced media references when saving a post with ongoing uploads
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Bug, Posting/Editing

#17197 Updates WordPressUI.
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Bug, [Status] DO NOT MERGE, [Status] Blocked

#17145 Add new TimeZoneSuggester
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Tools/Time Zone/TimeZoneSelectorViewController.swift
  WordPress/Classes/ViewRelated/Tools/Time Zone/Views/TimeZoneSearchHeaderView.swift
  WordPress/Classes/ViewRelated/Tools/Time Zone/Views/TimeZoneSearchHeaderView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, time zone suggester

#17199 Edit Comment: make inline editable cells generic
  WordPress/Classes/ViewRelated/Cells/InlineEditableMultiLineCell.swift
  WordPress/Classes/ViewRelated/Cells/InlineEditableMultiLineCell.xib
  WordPress/Classes/ViewRelated/Cells/InlineEditableSingleLineCell.swift
  WordPress/Classes/ViewRelated/Cells/InlineEditableSingleLineCell.xib
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Comments

#17205 Empty Stats: update grow audience ghost cell layout
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostGrowAudienceCell.xib
Labels: Stats, [Type] Task

#17164 Fixes media library sharing issues.
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Utility/Media/MediaVideoExporter.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
Labels: [Type] Bug

#17210 Fix empty state layout bug in comments
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: [Type] Bug, Comments, Layout

#17208 Fixes several build warnings.
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergImageLoader.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+BlogPicker.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserCell.swift
Labels: [Type] Task, Remove Build Warnings

#17207 Identify domain registration webview success.
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
Labels: [Type] Enhancement

#17220 Remove unused code from `ActionSheetComponent`
  WordPress/UITestsFoundation/Screens/ActionSheetComponent.swift
Labels: Testing

#17213 Fix/16961 - Update existing events
  Podfile.lock
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderSiteService.h
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.h
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHeaderAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderLikeAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLater+Analytics.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShareAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSitesCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Sharing.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: [Type] Enhancement

#17147 Comment Detail: Toggle components visibility based on permission
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17211 Comment Moderation Bar: add initial view
  WordPress/Classes/Extensions/UIEdgeInsets.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17212 Comment Moderation Bar: add Approved, Spam, and Trash buttons.
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.xib
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17228 Fixes a crash when accessing Plugins
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
Labels: [Type] Bug

#17229 Remove unused code from some UI tests screen objects
  WordPress/UITestsFoundation/Screens/Login/LoginCheckMagicLinkScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEmailScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginSiteAddressScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/Unified/PasswordScreen.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
Labels: Testing

#17219 Fix/16961 - Events properties logic
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderSiteService.h
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReportPostAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLater+Analytics.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShareAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSitesCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Sharing.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement

#17198 [Gutenberg] Use tarball instead of git tag for forked dependencies
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17226 Integrate gutenberg-mobile release 1.61.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17227 iOS 15: fix the top padding on Table View's header
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Bug, iOS 15

#17217 Domains Dashboard
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Domains/Utility/Blog+DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationButton.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationCard.swift
  WordPress/Classes/ViewRelated/Domains/Views/ShapeWithTextView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Domains

#17234 Sync comments content only if needed
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: [Type] Bug, Comments

#17236 Remove dismiss button from Blogging Reminders flow
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: [Type] Task, Blogging Reminders

#17235 Comment Moderation Bar: restrict width in landscape
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Comments

#17241 Integrate gutenberg-mobile release 1.62.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17242 Comment Moderation Bar: move style settings to style guide extension
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+CommentDetail.swift
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17239 Merge hotfix 18.2.1 into `trunk`
  Podfile
  Podfile.lock
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#17244 Comment Moderation Bar: set button for comment's initial status
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.xib
Labels: [Type] Enhancement, Comments, Part of a WIP Feature

#17175 [Gutenberg] Contact Support from inside editor
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/WordPressSupportSourceTag+Editor.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration
