Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-06, with the labels that each got.

#16579 Fix: Notice overlap with SiteIconActionSheet
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/NoticeStore.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPressTest/Classes/Stores/NoticeStoreTests.swift
Labels: Site Settings, [Status] Needs Code Review

#16608 Reader Post details: show Likes list when Likes summary view tapped
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Likes, Reader, [Type] Enhancement

#16610 Reader Post likes: show NRV where applicable
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
Labels: Likes, Reader, [Type] Enhancement

#16606 Prevent tracking of notifications details access when in background
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Analytics, Notifications

#16613 Jetpack app: do not show Atomic sites
  Podfile
  Podfile.lock
Labels: Jetpack App, [Type] Task

#16533 [Gutenberg] Audio block capability now enables/disables media upload's media sources
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#16616 Reader Post likes list: show user profile when user tapped
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
Labels: Likes, Reader, [Type] Enhancement

#16601 Dismiss suggestions on space keystroke
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergSuggestionsViewController.swift
Labels: [Type] Enhancement

#16617 Reader Post details: add Tracks for Likes List actions
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: Likes, Reader, [Type] Enhancement

#16619 Reader Post Likes: update Likes summary correctly
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Likes, Reader, [Type] Enhancement

#16614 Fix login notice issue - WordPressKit bump
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: General, Login

#16626 Reader Post details: reduce the spacing around the Likes summary
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.xib
Labels: Likes, Reader, [Type] Enhancement

#16628 Reader post details: enable Likes feature
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Likes, Reader, [Type] Enhancement

#16620 Jetpack App (Emphasis): Localize Jetpack Zendesk ticket subject
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Jetpack/AppConstants.swift
Labels: Jetpack App, Jetpack Mobile, [Type] Task

#16622 Jetpack App (Emphasis): Disable "What's New" announcements
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: Jetpack App, Jetpack Mobile, What's New, [Type] Task

#16629 Disable 'Add a Topic' button if input field is empty
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
Labels: Reader, [Type] Bug

#16635 Update release-toolkit to 1.1.0 + add update check
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#16636 Reader: Adds new fields to ReaderPost. Bumps model version.
  MIGRATIONS.md
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 125.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data, Reader, [Type] Enhancement

#16638 Merge 17.5 release notes into develop
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#16602 Disables the ability to open the editor for Post Pages
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: [Type] Enhancement

#16630 Fixes a layout issue when combining long titles and long urls.
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
Labels: Accessibility, [Type] Bug

#16605 Merge Jetpack code freeze into develop
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Releases

#16603 Adds unit tests and improves BloggingRemindersScheduler.
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingRemindersSchedulerTests.swift
  WordPress/WordPressTest/BloggingRemindersStoreTests.swift
Labels: Blogging Reminders, [Type] Task

#16637 Comment and Notification filters: don't use translated titles for tracks
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+Filters.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Analytics, Comments, Notifications

#16639 Comments: show toast message when successfully deleted
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
Labels: Comments

#16640 Add Buildkite UI Tests
  .buildkite/pipeline.yml
Labels: Testing, Tooling

#16612 Jetpack App (Emphasis): Update Zendesk fields
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Jetpack/AppConstants.swift
Labels: Jetpack App, Jetpack Mobile, Support, [Type] Task

#16618 Add GlotPress string linting
  .buildkite/pipeline.yml
Labels: Tooling

#16642 Blogging Reminders: UI in UIKit
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Reminders.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersSettingsFlow.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/CalendarDayToggleButton.swift
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/Contents.json
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-bell.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-bell.imageset/bell.pdf
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-calendar.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-calendar.imageset/calendar.pdf
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-celebration.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Blogging Reminders/reminders-celebration.imageset/celebration.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders

#16645 Fix crash in Comment moderation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/CommentAnalytics.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
Labels: Comments, [Type] Bug

#16653 Comment list: remove extra spacing
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
Labels: Comments, [Type] Bug

#16652 Prevent tracking of notifications details access when in background [retarget for 17.5]
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Analytics, Notifications

#16654 Like User Profile: add more bottom padding for iPhone.
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: Likes

#16641 Revert "Dismiss suggestions on space keystroke"
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergSuggestionsViewController.swift
Labels: [Type] Bug, [Type] Enhancement

#16631 Username picker loader UI change
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/ChangeUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
Labels: NUX, [Type] Task

#16609 Fix: Notice over quickstart removal next steps
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Quick Start, [Type] Bug

#16659 Comments: update alert to indicate a Comment will be permanently deleted.
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
Labels: Comments, [Type] Enhancement

#16643 Add ratings configuration file
  fastlane/Deliverfile
  fastlane/metadata/ratings_config.json
Labels: Releases

#16655 Fix Site Address UI Bugs When Displaying In-Page Errors
  Podfile
  Podfile.lock
Labels: Login

#16499 Reader: avoid duplicate requests
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader, [Type] Bug

#16621 Run Fastfile and Matchfile past Rubocop
  .rubocop.yml
  fastlane/Fastfile
  fastlane/Matchfile
Labels: Tooling

#16670 Add emoji site icon creator
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIFont+Fitting.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/EmojiRenderer.swift
  WordPress/Classes/ViewRelated/Blog/My Site/SiteIconPickerView.swift
  WordPress/Emoji.txt
  WordPress/Resources/AppImages.xcassets/Custom Symbols/Contents.json
  WordPress/Resources/AppImages.xcassets/Custom Symbols/fork.knife.symbolset/Contents.json
  WordPress/Resources/AppImages.xcassets/Custom Symbols/fork.knife.symbolset/fork.knife.svg
  WordPress/Resources/AppImages.xcassets/Custom Symbols/pawprint.symbolset/Contents.json
  WordPress/Resources/AppImages.xcassets/Custom Symbols/pawprint.symbolset/pawprint.svg
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: My Site

#16671 Integrate gutenberg-mobile release 1.55.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16666 Fixes keyboard avoidance for the Stories prepublishing sheet
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: [Type] Bug

#16661 Fix: Display placeholder text for blank entries in Set Parent view
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
Labels: Pages List, [Type] Bug

#16673 Change default app icon to spectrum
  WordPress/Classes/ViewRelated/Me/App Settings/AppIconViewController.swift
  WordPress/Info.plist
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Contents.json
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-iTunes.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-76x76.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-76x76@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-83.5x83.5@2x.png
  WordPress/Resources/Icons/blue/blue-icon-app-76x76.png
  WordPress/Resources/Icons/blue/blue-icon-app-76x76@2x.png
  WordPress/Resources/Icons/blue/blue-icon-app-83.5x83.5@2x.png
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/Wordpress-Alpha-Info.plist
Labels: General

#16658 Fix: Remove the notice that over laps with the Editor More ActionSheet
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
Labels: Posting/Editing, [Status] Needs Code Review, [Type] Bug

#16664 Check translation progress during final release
  Gemfile.lock
  fastlane/Fastfile
Labels: Tooling

#16674 [Tooling] Fix GitHub releases for intermediate betas
  fastlane/Fastfile
Labels: Tooling

#16672 Updates WordPressUI version.
  Podfile
  Podfile.lock
Labels: Layout, [Type] Bug

#15969 Discover posts sorting - Use "recent and "trending" icons
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Reader/Sorting/ReaderSortingOptionButton.swift
Labels: Post sorting, [Type] Enhancement

#16649 Adds tracking to the blogging reminders flow.
  WordPress/Classes/Extensions/UIViewController+Dismissal.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Reminders.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Analytics, Blogging Reminders

#16687 Remove double import of AutomatticTracks from app delegate
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: Tooling

#16683 Prevent rotation of Blogging Reminders flow
  Podfile.lock
Labels: Blogging Reminders

#16682 Adds blogging reminders to site settings.
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Blog/Site Settings/SettingTableViewCell.h
  WordPress/Classes/ViewRelated/Blog/Site Settings/SettingTableViewCell.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.h
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
Labels: Blogging Reminders, [Type] Enhancement

#16686 Update blogging reminders tip
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: Blogging Reminders

#16681 Merge 17.6 beta 1 code freeze into develop
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/download_metadata.swift
Labels: Releases

#16634 Jetpack App (Emphasis): Use dynamic dates in screenshots
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/My Site/SiteIconPickerView.swift
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16684 Fix Blogging Reminders UI on iPad
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Reminders.swift
Labels: Blogging Reminders, [Type] Task

#16562 Upgrade React Native to 0.64
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
  patches/RCTCxxBridge.patch
  patches/RCTTurboModuleManager.patch
  patches/RN-RCTActionSheetManager.patch
  patches/RN-RCTShadowView.patch
  patches/RN-RCTUIImageViewAnimated.patch
Labels: Gutenberg integration

#16651 Fix date medium string warnings
  WordPress/Classes/Extensions/AbstractPost+Dates.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/View Model/ChangeUsernameViewModel.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/WordPressShareExtension/ExtensionNotificationManager.swift
  WordPress/WordPressShareExtension/ShareNoticeViewModel.swift
  WordPress/WordPressTest/PostCardCellTests.swift
Labels: General

#16691 Upgrade ZendeskSupportSDK pod from 5.2.0 to 5.3.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Tooling

#16633 Fix outdated login UI tests
  WordPress/WordPressUITests/Tests/LoginTests.swift
Labels: Testing

#16701 Hides the quick action buttons when using accessibility font sizes.
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/ActionRow.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
Labels: Accessibility, [Type] Bug

#16695 Improve navigation transitions in the Blogging Reminders setup flow on iPad
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersAnimator.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersNavigationController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders, [Type] Task

#16704 Updates WordPressKit version.
  Podfile
  Podfile.lock
Labels: [Type] Enhancement

#16702 Revert app icon to blue
  WordPress/Classes/ViewRelated/Me/App Settings/AppIconViewController.swift
  WordPress/Info.plist
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Contents.json
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-20x20@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-29x29@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-40x40@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/Icon-App-iTunes.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-60x60@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-76x76.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-76x76@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum.appiconset/spectrum-icon-app-83.5x83.5@2x.png
  WordPress/Resources/Icons/blue/blue-icon-app-76x76.png
  WordPress/Resources/Icons/blue/blue-icon-app-76x76@2x.png
  WordPress/Resources/Icons/blue/blue-icon-app-83.5x83.5@2x.png
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/Wordpress-Alpha-Info.plist
Labels: General

#16694 Blogging reminders: Prompt for permission
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersPushPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders, Notifications, push notifications

#16703 Integrate gutenberg-mobile release 1.55.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16675 Adds ability to manage plugins for self hosted sites that aren't connected to Jetpack
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Models/JetpackSiteRef.swift
  WordPress/Classes/Models/Plugin.swift
  WordPress/Classes/Services/BlogService+JetpackConvenience.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/BlogTests.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
Labels: Jetpack Plugins, Self-hosted, [Type] Task

#16693 Wires the blogging reminders scheduler to the UI.
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersPushPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/CalendarDayToggleButton.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingRemindersSchedulerTests.swift
Labels: Blogging Reminders, [Type] Enhancement

#16708 Blogging reminders: format summary text at end of flow
  WordPress/Classes/Extensions/NSCalendar+Helpers.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: Blogging Reminders

#16679 Issue/14055 - Mark referrer as spam
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Classes/Stores/StatsPeriodStoreTests.swift
  WordPress/WordPressTest/StatsTotalRowDataTests.swift
Labels: Stats, [Type] Task

#16713 Fix rake:credentials
  Rakefile
Labels: Tooling

#16615 Try using Xcode 12.5
  .circleci/config.yml
  .xcversion
Labels: Tooling

#16707 Add ar-SA and he locales to screenshot generation
  WordPress/WordPressUITests/Screens/Login/Unified/PasswordScreen.swift
  fastlane/ScreenshotFastfile
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/ar-SA/app_store_screenshot_6.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/he/app_store_screenshot_6.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_1.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_1.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_2.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_2.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_3.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_3.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_4.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_4.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_5.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_5.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_6.html
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_6.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_7.txt
  fastlane/appstoreres/metadata/ar-SA/app_store_screenshot_8.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_1.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_1.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_2.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_2.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_3.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_3.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_4.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_4.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_5.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_5.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_6.html
  fastlane/appstoreres/metadata/he/app_store_screenshot_6.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_7.txt
  fastlane/appstoreres/metadata/he/app_store_screenshot_8.txt
Labels: Jetpack App, Jetpack Mobile, Testing

#16706 Add automation to update App Store strings .po file for Jetpack
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
  fastlane/appstoreres/jetpack_metadata/source/app_name.txt
  fastlane/appstoreres/jetpack_metadata/source/description.txt
  fastlane/appstoreres/jetpack_metadata/source/keywords.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/source/promo_screenshot_6.txt
  fastlane/appstoreres/jetpack_metadata/source/subtitle.txt
Labels: Tooling

#16719 Makes the blogging reminders scheduler work for multiple blogs.
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/WordPressTest/BloggingRemindersSchedulerTests.swift
Labels: Blogging Reminders, [Type] Task

#16712 Add tracking for day selection in blogging reminders
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
Labels: Blogging Reminders, Tracks, [Type] Task

#16688 Address compiler warnings in UI tests targets
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
Labels: Testing

#16714 Issue/16710 - Flatten referrers list
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats, [Type] Enhancement

#16722 Several localization fixes for blogging reminders.
  WordPress/Classes/Extensions/NSCalendar+Helpers.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: Blogging Reminders, [Type] Task

#16586 Fix Unsupported Block Editor on account created prior to December 2018
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebViewController.swift
Labels: Gutenberg compatibility, Webviews, [Type] Bug

#16574 Add can_view_editor_onboarding property to editor session events
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
Labels: Analytics, [Status] In Progress, [Type] Enhancement

#16723 Integrate gutenberg-mobile release 1.55.2
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16715 Issue/16710 - Add referrer details scene
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Enhancement

#16716 Issue/16710 - Implement logic for referrer details scene
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Stats, [Type] Enhancement

#16727 Issue/16710 - Add accessibility support
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderCell.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsHeaderRow.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsSpamActionCell.swift
Labels: Accessibility, Stats, [Type] Enhancement

#16728 Likes List: track when more Likes fetched
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
Labels: Analytics, Likes, [Type] Enhancement

#16717 Blogging reminders: Unschedule all on logout
  WordPress/Classes/Services/BlogService+Reminders.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingRemindersSchedulerTests.swift
  WordPress/WordPressTest/BloggingRemindersStoreTests.swift
Labels: Blogging Reminders

#16729 Issues/16599 follow conversation from post
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSubscribeCommentsAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FollowCommentsServiceTests.swift
Labels: Reader, [Type] Enhancement

#16748 Stats: allow subtitle text size to be dynamic.
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
Labels: Accessibility, Stats, [Type] Bug

#16747 Updates auth pod version
  Podfile
  Podfile.lock
Labels: Login, [Type] Task

#16744 Fixes a memory issue in our share extension.
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/ShareExtractor.swift
  WordPress/WordPressShareExtension/UIImage+Extensions.swift
Labels: Share Extension, [Type] Crash

#16426 [RNMobile] Add "Set as Featured" Button to Image Block
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergFeaturedImageHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration, Part of a WIP Feature, [Status] DO NOT MERGE, [Type] Enhancement

#16735 Removes the blogging reminders card.
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCard.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders, [Type] Task

#16752 Integrate gutenberg-mobile release 1.56.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16734 Improves large text support throughout Blogging Reminders.
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersPushPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/CalendarDayToggleButton.swift
Labels: Accessibility, Blogging Reminders, [Type] Enhancement

#16736 Editor Onboarding: Enable tooltip for 50% of users
  WordPress/Classes/Utility/Editor/GutenbergOnboardingRollout.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
Labels: [Type] Enhancement

#16746 Show blogging reminders setup flow after publishing for the first time
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersActions.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersPushPromptViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders, [Type] Task

#16758 Enables blogging reminders for all users.
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Blogging Reminders, [Type] Enhancement

#16756 Copy review of Blogging Reminders.
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
Labels: Blogging Reminders, [Type] Enhancement

#16760 Add blogging reminder frequency to site settings
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduleFormatter.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders

#16757 Stats Countries card: allow subtitle text size to be dynamic.
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
Labels: Accessibility, Stats, [Type] Bug

#16743 Blogging Reminders: Notification copy and action
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Blogging Reminders

#16761 Stats date chooser: let height be dynamic
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
Labels: Accessibility, Stats, [Type] Bug

#16766 Update to use WPKit changes.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Domains/Register/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
Labels: [Type] Task

#16765 Layout Grid: Update the feature flag so that is available in production build
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Gutenberg integration

#16721 [Gutenberg] Gallery refactor - Test upload completion processor
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergRefactoredGalleryUploadProcessorTests.swift
Labels: Testing

#16764 Add lane to download localized metadata for Jetpack
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
  fastlane/download_metadata.swift
Labels: Tooling

#16768 Update WPKit to get Comment changes
  Podfile.lock
Labels: Comments, [Type] Enhancement

#16772 Update tracks to 0.9.0
  Podfile
  Podfile.lock
Labels: Analytics, [Type] Enhancement

#16769 Comment: add `canModerate` attribute
  MIGRATIONS.md
  WordPress/Classes/Models/Comment.h
  WordPress/Classes/Models/Comment.m
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 126.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Comments, [Type] Enhancement
