Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2021-05, with the labels that each got.

#16422 Fix testBasicPostPublish UI Test
  WordPress/WordPressUITests/Screens/Editor/BlockEditorScreen.swift
Labels: Testing

#16414 Integrate gutenberg-mobile release 1.52.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/WordPressUITests/Screens/Editor/BlockEditorScreen.swift
Labels: Gutenberg integration

#16424 Merge 17.2 final into develop
  Podfile.lock
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-GB/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/es-MX/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#16428 Merge the 17.3 code freeze into develop
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases

#16419 Update Comment and Post Likes tests to use new methods
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: Likes, Testing, [Type] Enhancement

#16281 Feature: Allow the user to change the author for multi-author sites for Posts and Pages
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Post/PostAuthorSelectorViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#16435 Jetpack App: Updates the design of the login empty / failed state
  WordPress/Jetpack/AppImages.xcassets/Login Empty State/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Login Empty State/jetpack-empty-state-illustration.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Login Empty State/jetpack-empty-state-illustration.imageset/jetpack-empty-state-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/Login Empty State/jetpack-empty-state-illustration.imageset/jetpack-empty-state-light.pdf
  WordPress/Jetpack/Classes/JetpackAuthenticationManager.swift
  WordPress/Jetpack/Classes/ViewRelated/JetpackErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/JetpackLoginErrorViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/JetpackLoginErrorViewController.xib
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.xib
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNoSitesErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNotFoundErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNotWPErrorViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack, Jetpack App, Jetpack Mobile, Login, Unified Login & Signup, [Type] Task

#16421 Remove the New badge from the Story post option
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
Labels: WP Stories

#16360 Fix UBE tracks custom event format
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
Labels: Gutenberg compatibility, [Type] Bug

#16438 Reader deep links: Automatically scroll to comment if an anchor is present in URL
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: Reader, Universal Links

#16332 [RNMobile] Add Featured Banner to Image Block
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: Gutenberg integration, [Status] DO NOT MERGE, [Type] Enhancement

#16405 Stories: change the create sheet order
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FAB.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: WP Stories, [Type] Task

#16441 Jetpack: add associated domains in order for password autofill to work
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
Labels: Jetpack App, Jetpack Mobile, [Type] Task

#16442 Comments: Reorder spam and trash filtes.
  WordPress/Classes/ViewRelated/Comments/CommentsViewController+Filters.swift
Labels: Comments, [Type] Task

#16448 Integrate gutenberg-mobile release 1.52.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#16396 Jetpack App (Emphasis): Add a new JetpackScreenshotGeneration target
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/JetpackScreenshotGeneration/Info.plist
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/JetpackScreenshotGeneration.xcscheme
  WordPress/WordPressUITests/Flows/LoginFlow.swift
  WordPress/WordPressUITests/Screens/ActivityLogScreen.swift
  WordPress/WordPressUITests/Screens/JetpackBackupOptionsScreen.swift
  WordPress/WordPressUITests/Screens/JetpackBackupScreen.swift
  WordPress/WordPressUITests/Screens/JetpackScanScreen.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16454 Notification Likes: purge likes older than 7 days
  MIGRATIONS.md
  WordPress/Classes/Models/Notifications/Likes/LikeUser+CoreDataProperties.swift
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/LikeUserHelpers.swift
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 124.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Likes, [Type] Enhancement

#16412 Fix Jetpack signing and add beta lane
  WordPress/Jetpack/Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  fastlane/Jetpack-Fastfile
Labels: Tooling

#16449 Like Notifications: Dynamic user profile sheet height on iPhone.
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: Likes, [Type] Enhancement

#16437 Improved large text support in the pages list.
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Views/FixedSizeImageView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Accessibility

#16450 Fix audio file upload issues for audio block and from media library
  WordPress/Classes/Utility/Media/MediaURLExporter.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergFilesAppMediaSource.swift
Labels: Gutenberg integration, Media

#16462 Jetpack App: Adds support for magic links
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/App Configuration/AppDependency.swift
  WordPress/Classes/Utility/App Configuration/AuthenticationHandler.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Jetpack/AppDependency.swift
  WordPress/Jetpack/Classes/JetpackAuthenticationManager.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNoSitesErrorViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack, Jetpack App, Jetpack Mobile, Login, Unified Login & Signup, [Type] Task

#16445 Handle stories media uploading post-publish
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Services/Stories/StoryPoster.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergMediaFilesUploadProcessor.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+ShowTab.swift
Labels: WP Stories, [Type] Bug

#16463 Jetpack: display atomic sites
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Jetpack/AppImages.xcassets/jetpack-logo.imageset/JetpackLogo@2x.png
  WordPress/Jetpack/AppImages.xcassets/jetpack-logo.imageset/JetpackLogo@3x.png
Labels: Jetpack App, [Type] Task

#16467 Fixes truncated suggested username in the change username screen
  WordPress/Classes/ViewRelated/NUX/SignupUsernameTableViewController.swift
Labels: Accessibility, NUX, Signup, [Type] Bug

#16458 Changed the quick action button coloring.
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/ActionRow.swift
Labels: Large titles, [Type] Bug

#16444 Improve text wrapping in FancyButtons
  Podfile
  Podfile.lock
Labels: Accessibility, Layout

#16461 Add Search step to Follow Other Sites Quick Start tour
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: Quick Start, Reader

#16479 Adding transform block to release notes.
  RELEASE-NOTES.txt
Labels: Releases

#16474 Likes: Correctly size user profile sheet pop over on iPad.
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: Likes, [Type] Enhancement

#16481 Add Jetpack Secrets (Part 1)
  .configure
  .configure-files/Secrets-Alpha.swift.enc
  .configure-files/Secrets-Internal.swift.enc
  .configure-files/Secrets.swift.enc
  .configure-files/wpcom_alpha_app_credentials.enc
  .configure-files/wpcom_app_credentials.enc
  .configure-files/wpcom_internal_app_credentials.enc
  Scripts/BuildPhases/ApplyConfiguration.sh
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/Logging/EventLoggingDataProvider.swift
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorService.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteCreationRequest+Validation.swift
  WordPress/Credentials/ApiCredentials.h
  WordPress/Credentials/ApiCredentials.m
  WordPress/Credentials/Secrets-example.swift
  WordPress/Credentials/gencredentials.rb
  WordPress/Credentials/secrets-manifest.xcfilelist
  WordPress/Credentials/wpcom_app_credentials-example
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WPAppAnalyticsTests.m
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  config/WordPress.release.xcconfig
Labels: Tooling

#16472 Improves support for dynamic type in PrepublishingHeaderView.
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.xib
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
Labels: Accessibility

#16484 Handle auth notifications presented while the app is in the foreground
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
Labels: Login, Notifications

#16485 Jetpack: add logout confirmation message
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Jetpack/AppConstants.swift
Labels: Jetpack App, [Type] Task

#16483 Fix NoResults in PluginsViewController
  WordPress/Classes/ViewRelated/Plugins/PluginViewController.swift
Labels: Activity Log, Jetpack App

#16487 Integrate gutenberg-mobile release 1.52.2
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16317 Create Screenshots for 17.1
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/WordPressScreenshotGeneration/SnapshotHelper.swift
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
  fastlane/ScreenshotFastfile
  fastlane/Snapfile
Labels: Tooling

#16406 Add editor onboarding capability
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Editor/GutenbergOnboardingRollout.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gutenberg integration

#16488 Jetpack App (Emphasis): Update Jetpack screenshots
  Podfile
  Podfile.lock
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16494 Use Jetpack secrets for the Jetpack app
  .configure
  .configure-files/Jetpack-Secrets.swift.enc
  Scripts/BuildPhases/ApplyConfiguration.sh
  WordPress/WordPress.xcodeproj/project.pbxproj
  config/Jetpack.alpha.xcconfig
  config/Jetpack.debug.xcconfig
  config/Jetpack.internal.xcconfig
  config/Jetpack.release.xcconfig
Labels: Tooling

#16495 Like Notifications: Show error when fetching Likes fails or there is no connection.
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
Labels: Likes, [Type] Enhancement

#16504 Fix UI tests
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
Labels: Testing

#16498 Integrate gutenberg-mobile release 1.53.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#16493 SharingService: Ensure a completion block is called during sync
  WordPress/Classes/Services/SharingService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SharingServiceTests.swift
Labels: Network/Sync, Sharing

#16490 Add pull-to-refresh to My Site screen
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: My Site

#16506 Jetpack App (Emphasis): Add jetpack_screenshots lane
  .gitignore
  fastlane/ScreenshotFastfile
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16512 Jetpack App (Emphasis): Fix iPad UI tests
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/WordPressUITests/Screens/JetpackBackupScreen.swift
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16515 Support: Show apps support site instead of zendesk docs.
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Support, [Type] Task

#16501 Update Bottom Sheet to improve accessibility with larger font sizes
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingNavigationController.swift
  WordPress/Classes/ViewRelated/Post/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: Accessibility, Likes, Prepublishing Nudges, Reader, [Status] Needs Design Review, [Type] Task

#16520 Updates WordPressShared.
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Accessibility, [Type] Bug

#16518 Likes: Add pagination support to Post and Comment services
  Podfile
  Podfile.lock
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/LikeUserHelpers.swift
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: Likes, [Type] Enhancement

#16531 SharingService: Restore commented-out code
  WordPress/Classes/Services/SharingService.swift
Labels: Sharing

#16528 Restore commented out publicizer sync code in SharingService
  WordPress/Classes/Services/SharingService.swift
Labels: Sharing

#16522 Jetpack App (Emphasis): Add create_jetpack_promo_screenshots lane
  .gitignore
  fastlane/ScreenshotFastfile
  fastlane/appstoreres/assets/backgrounds/ipad-2ndgen-backgrounds/FancyJetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/ipad-2ndgen-backgrounds/JetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/ipad-3rdgen-backgrounds/FancyJetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/ipad-3rdgen-backgrounds/JetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/iphone-6.5in-backgrounds/FancyJetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/iphone-6.5in-backgrounds/JetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/iphone-8-backgrounds/FancyJetpackSpace.png
  fastlane/appstoreres/assets/backgrounds/iphone-8-backgrounds/JetpackSpace.png
  fastlane/appstoreres/assets/jetpack-style.css
  fastlane/jetpack_screenshots.json
Labels: Jetpack App, Jetpack Mobile, Testing, [Type] Task

#16505 Align UI test elements
  WordPress/WordPressUITests/Screens/MySiteScreen.swift
Labels: Testing

#16530 Update WPKit version
  Podfile
  Podfile.lock
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: [Type] Task

#16540 Likes List: load more Likes on scroll
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
Labels: Likes, [Type] Enhancement

#16547 Likes List: show activity indicator when content is loading.
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
Labels: Likes, [Type] Enhancement

#16546 Fix Google Login
  .configure
  .configure-files/Jetpack-Secrets.swift.enc
  WordPress/Info.plist
  WordPress/Jetpack/Info.plist
  WordPress/WordPress-Internal-Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: Login, [Type] Bug

#16523 Merge 17.4 code freeze into develop
  .circleci/cache-version
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Info.plist
  WordPress/Jetpack/Info.plist
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress-Internal-Info.plist
  WordPress/Wordpress-Alpha-Info.plist
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/download_metadata.swift
Labels: Releases

#16545 Xcode 12.5 Compatibility
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIApplication+mainWindow.swift
  WordPress/Classes/ViewRelated/Tools/TableViewKeyboardObserver.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  patches/RCTCxxBridge.patch
  patches/RCTTurboModuleManager.patch
Labels: Xcode 12

#15839 File Block Media Source label improvement
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosStrings.swift
Labels: [Type] Task

#16534 Improve deep links tracking
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/Universal Links/Route+Page.swift
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+Mbar.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Start.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/WordPressTest/MBarRouteTests.swift
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Analytics, Universal Links

#16552 Complementary PR for #16521
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
Labels: [Type] Task

#16475 [Gutenberg] Enable reusable block only in WP.com sites
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#16538 Fix horizontal scrolling in plugin directory
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Plugins/CollectionViewContainerRow.swift
  WordPress/Classes/ViewRelated/Plugins/PluginDirectoryViewController.swift
Labels: Jetpack Plugins

#16548 Fixes video format upload problem
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaSettings.swift
  WordPress/Classes/Utility/Media/MediaAssetExporter.swift
  WordPress/Classes/Utility/Media/MediaVideoExporter.swift
Labels: Media, [Type] Bug

#16532 People: Fix flashing loading screen when pulling to refresh.
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: People Management, [Type] Bug

#16468 Fetch blog metadata when switching sites
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Bug

#16560 Improved deep linking tracking (retarget)
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/Universal Links/Route+Page.swift
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+Mbar.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Start.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/WordPressTest/MBarRouteTests.swift
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Analytics, Universal Links

#16529 Comments: Show a spinner when refreshing comment lists.
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: Comments, [Type] Enhancement

#16541 Add Blogging Reminders "Get Started" card
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCard.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersCell.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedProloguePages.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedPrologueViewController.swift
  WordPress/Classes/ViewRelated/Tools/UIView+SwiftUI.swift
  WordPress/Resources/AppImages.xcassets/Hands-Calendar.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Hands-Calendar.imageset/Hands Calendar.png
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Type] Task, blogging reminders

#16553 Likes List: filter out users already fetched
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: Likes, [Type] Enhancement

#16563 Add 17.4 release notes
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#16554 Integrate gutenberg-mobile release 1.53.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#16568 Likes List: remove duplicate likes
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
Labels: Likes, [Type] Task

#16559 Jetpack App (Emphasis): Hide Followed Sites Section in Notficiation Settings
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: Jetpack App, Jetpack Mobile, Notifications, [Type] Task

#16576 Add default BuildKite pipeline
  .buildkite/pipeline.yml
Labels: Tooling

#16580 Fetch release toolkit from Ruby Gems with ~> 1.0 requirement
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#16581 Fix missing support options.
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: Zendesk, [Type] Bug

#16575 Reader Post Details: show initial Likes summary
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Likes, Reader, [Type] Enhancement

#16582 Reader Post Details: show Likes info
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.xib
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: Likes, Reader, [Type] Enhancement

#16585 Task/improve server creds clarity
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+Jetpack.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/BaseRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/JetpackRestoreOptionsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Views/JetpackRestoreHeaderView.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanStatusCell.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanThreatViewModel.swift
  WordPress/Classes/ViewRelated/Views/MultilineButton.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Jetpack Mobile, [Status] Needs Design Review, [Type] Task

#16296 Show switch to block editor in empty classic post
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/AztecPostViewController+MenuTests.swift
Labels: Posting/Editing, [Type] Bug

#16570 Implements BloggingReminders and BloggingRemindersStore.
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingRemindersStoreTest.swift
Labels: Blogging Reminders, [Type] Task

#16590 Integrate gutenberg-mobile release 1.54.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#16587 Blogging Reminders Settings Flow i1
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Reminders.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersSettingsFlow.swift
  WordPress/Classes/ViewRelated/Reusable SwiftUI Views/ButtonStyles.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Blogging Reminders

#16525 Add Noticons font to content and service extensions
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Crash

#16600 Merge 17.5 code freeze into develop
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/localize.py
  WordPress/Resources/en.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Deliverfile
  fastlane/download_metadata.swift
Labels: Releases
