Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-06, with the labels that each got.

#18802 Use clearer name for GlotPress project URLs constants
  fastlane/lanes/localization.rb
Labels: [Type] Enhancement, Tooling

#18786 [Site Design Revamp] Update recommended designs caption font
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
Labels: [Type] Task, Site Creation

#18787 [Site Design Revamp] Remove selection border on dismissal of preview
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18789 [Site Design Revamp] Make the Site Design screen header solid
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18791 Add an empty configureCell method to conform to WPTableViewHandlerDelegate
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
Labels: [Type] Enhancement, Remove Build Warnings

#18792 Blogging Prompts: Fix some UI display issues
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.swift
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18758 Quick Start: Fix orientation-related issues with quick start notices
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIViewController+Notice.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Bug, Quick Start, Layout

#18809 Fix Tracks event for adding domain to cart
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
Labels: Jetpack App, Domains

#18812 Integrate gutenberg-mobile release 1.77.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18806 Follow Conversation Tooltip Improvements
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
Labels: [Type] Enhancement, [Type] Task, Feature Highlight Tooltip

#18804 Build warnings: fix `xib` warnings
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingEnableNotificationsViewController.xib
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingQuestionsPromptViewController.xib
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.xib
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
Labels: [Type] Task, Remove Build Warnings

#18810 Quick Start: Fix quick actions auto scrolling in RTL
  WordPress/Classes/Extensions/UIScrollView+Helpers.swift
Labels: [Type] Bug, Quick Start

#18815 [Site Design Revamp] Reset header on rotation
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18740 Site Design Screen Improvements
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/FilterableCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/GutenbergLayoutPickerViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Extensions/RemoteSiteDesigns.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/RemoteSiteDesign+Thumbnail.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignCategoryThumbnailSize.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteDesignSectionLoaderTests.swift
  WordPress/WordPressTest/SiteCreation/SiteDesignTests.swift
Labels: [Type] Enhancement, Site Creation

#18826 [Gutenberg] Update Gutenberg Mobile reference to `v1.78.0-alpha2`
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18817 Feature/follow conversation tooltip
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Feature Highlight/FeatureHighlightStore.swift
  WordPress/Classes/ViewRelated/Feature Highlight/Tooltip.swift
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipAnchor.swift
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Type] Task, Feature Highlight Tooltip

#18831 Use `only_rules` syntax in SwiftLint config file
  .swiftlint.yml
Labels: Tooling

#18819 Blogging Prompts: Add check to prompts header to only display for WP sites
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18814 Blogging Prompts: Add "Learn more" to prompts dashboard card
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18841 Feature Highlight Tooltip Tracking
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: [Type] Enhancement, [Type] Task, Feature Highlight Tooltip

#18839 Setup and run RuboCop
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Rakefile
  Scripts/fix-screenshots.rb
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
Labels: Tooling

#18834 Update Charts pod from version 3.6.0 to 4.0.3
  Podfile
  Podfile.lock
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+LargeValueFormatter.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsChartMarker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#18820 Blogging Prompts: Show prompts feature intro once when the tab controller is displayed
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/WPTabBarController+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18828 Blogging Prompts: Update prompts editor entry point strings to match Android
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18854 Update the SwiftLint version used in `Rakefile` to the latest
  Rakefile
  WordPress/Classes/Utility/Networking/RequestAuthenticator.swift
  WordPress/WordPressTest/ViewRelated/Tools/Time Zone/TimeZoneSelectorViewModelTests.swift
Labels: Tooling

#18856 Revert: Quick Start card new visuals
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
Labels: [Type] Bug, Quick Start, My Site Dashboard

#18816 Blogging Prompts: Update the display logic for prompts dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18848 Feature Highlight Tooltip follow button callback
  WordPress/Classes/ViewRelated/Feature Highlight/FeatureHighlightStore.swift
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, [Type] Task, Feature Highlight Tooltip

#18832 Use Xcode 13.4.1 in the main Buildkite pipeline
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcversion
Labels: Tooling

#18857 Integrate gutenberg-mobile release 1.78.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18859 Follow Conversation Tooltip remove local feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Feature Highlight/FeatureHighlightStore.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FeatureHighlightStoreTests.swift
Labels: [Type] Task, Feature Highlight Tooltip

#18808 Blogging Prompts: Add prompt metadata to prompt posts
  MIGRATIONS.md
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
  WordPress/Classes/Models/Post+CoreDataProperties.swift
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 143.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Core Data, Part of a WIP Feature, Blogging Prompts

#18842 Blogging Prompts: Fix caching issue with today's prompt for the prompts dashboard card
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18849 Blogging Prompts: Add an app check to the prompts feature flag for Jetpack
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18851 Blogging Prompts: Add `dailyprompt` tag to blogging prompt posts
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18853 Blogging Prompts: Add `prompt_id` property to the post published analytic
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18843 Blogging Prompts: Add info button to prompts bottom sheet header view
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18822 Build Warnings: Fix missing nullability warnings
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/ViewRelated/Stats/Extensions/StatsViewController+JetpackSettings.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.h
Labels: [Type] Task, Remove Build Warnings

#18823 Notifications: Fix detailed notification view not scrolling in landscape
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
Labels: [Type] Bug, Notifications

#18829 Blogging Prompts: Hide self-hosted sites in the site picker from the prompts intro view
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListDataSource.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18860 Blogging Prompts: Enable the blogging prompts feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Blogging Prompts

#18803 Stats Revamp: Add donut chart to referrers detail card
  WordPress/Classes/ViewRelated/Stats/Charts/DonutChartView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsReferrersChartViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Revamp

#18865 Merge hotfix 20.0.1 into release branch for 20.1
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
Labels: Releases

#18866 Merge changes from version 20.1 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#18824 Build Warnings: Remove invalid relationships from old models
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 101.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 102.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 103.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 104.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 105.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 106.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 107.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 108.xcdatamodel/contents
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 109.xcdatamodel/contents
Labels: [Type] Task, Remove Build Warnings

#18858 Stats Revamp: Likes Details Screen
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: Stats, Stats Revamp

#18881 Build Warnings: Fix the last of missing nullability warnings
  WordPress/Classes/Categories/NSObject+Helpers.h
  WordPress/Classes/System/WordPress-Bridging-Header.h
Labels: [Type] Task, Remove Build Warnings

#18879 [Site Design Revamp] Reduce recommended design thumbnail sizes
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignCategoryThumbnailSize.swift
Labels: [Type] Task, Site Creation

#18890 Stats Revamp: Comments Details Screen
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: Stats, Stats Revamp

#18898 [RNMobile] Update "testAddGalleryBlock" test case to reflect expected content for v1 of Gallery block
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
Labels: Testing, Gutenberg integration

#18895 Integrate gutenberg-mobile release 1.78.1
  Podfile
  Podfile.lock
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
Labels: Gutenberg integration

#18892 Remove Site Name experiment code and set feature flag to disabled
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationWizardLauncherTests.swift
Labels: [Type] Tech Debt, Site Creation

#18900 Blogging Prompts: Add 'Undo' notification when skipping a prompt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Blogging Prompts

#18903 Blogging Prompts: Hide 'create' and 'next' cards when prompts card is displayed
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
Labels: [Type] Task, Blogging Prompts

#18902 Blogging Prompts: Add left and right margins to prompts title in dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Task, Blogging Prompts

#18907 [People Management] Fix crash on iPad
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
Labels: [Type] Crash, People Management

#18897 Quick Start: New Visuals v2 with fix
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
Labels: [Type] Enhancement, Quick Start

#18827 [Tooling] Fix some initial issues with screenshot generation
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/WordPressScreenshotGeneration/SnapshotHelper.swift
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/en-AU/app_store_screenshot_6.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/en-CA/app_store_screenshot_6.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_1.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_2.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_3.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_4.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_5.txt
  fastlane/appstoreres/jetpack_metadata/en-GB/app_store_screenshot_6.txt
  fastlane/lanes/screenshots.rb
Labels: Tooling

#18889 Remove obsolete `WordPressFlux.xcodeproj`
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
  WordPressFlux/.swiftpm/xcode/xcshareddata/xcschemes/WordPressFlux.xcscheme
  WordPressFlux/WordPressFlux.xcodeproj/project.pbxproj
Labels: Tooling

#18911 Stats Revamp: Appearance Update
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostCells.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsStackViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsStackViewCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Revamp

#18894 Stats Revamp: Guides for Totals cells
  WordPress/Classes/Extensions/UIEdgeInsets.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Revamp

#18923 Stats Revamp: Update copy
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureDescriptionView.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2IntroductionPresenter.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Task, Stats Revamp

#18910 Stats Revamp: Followers Donut Graph
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Charts/DonutChartView.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsFollowersChartViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsReferrersChartViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, Stats Revamp

#18915 Remove "(missing)" build targets from multiple scheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Alpha.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Internal.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Tooling

#18925 Merge fixes and new localizations from beta 20.1.0.3
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#18927 [Tooling] Fix cache rebuild job
  .buildkite/cache-builder.yml
Labels: Tooling

#18921 fix: Preview adjusts for device orientation change
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
Labels: [Type] Bug, Previews

#18928 Stats Revamp: UI and copy cleanup
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
Labels: Stats Revamp

#18930 Stats Revamp: Top Followers card styling + card resizing fix
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats, Stats Revamp

#18919 fix: Image block preserves alt text from media library
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: [Type] Bug, Media, Gutenberg integration

#18920 Blogging Prompts: Allow feature intro screen without site picker
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/WPTabBarController+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Task, Blogging Prompts

#18918 Tooltip presenter offset improvements
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
Labels: [Type] Task, Feature Highlight Tooltip

#18934 Revert Spectrum 22 as default app icon, back to Cool Blue
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/AppIcon.swift
  WordPress/Info.plist
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-20x20.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-20x20@2x-1.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-20x20@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-20x20@3x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-29x29-1.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-29x29.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-29x29@2x-1.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-29x29@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-29x29@3x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-40x40.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-40x40@2x-1.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-40x40@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-40x40@3x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-60x60@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-60x60@3x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-76x76.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-76x76@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-83.5x83.5@2x.png
  WordPress/Jetpack/AppImages.xcassets/AppIconJetpackSpectrum2022.appiconset/Icon-App-iTunes.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Contents.json
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-20x20.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-20x20@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-20x20@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-20x20@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-29x29-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-29x29.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-29x29@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-29x29@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-29x29@3x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-40x40.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-40x40@2x-1.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-40x40@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-60x60@2x.png
  WordPress/Resources/AppImages.xcassets/AppIconSpectrum2022.appiconset/Icon-App-iTunes.png
  WordPress/Resources/Icons/spectrum-2022/pride-'22-icon-app-60x60@2x.png
  WordPress/Resources/Icons/spectrum-2022/pride-'22-icon-app-60x60@3x.png
  WordPress/Resources/Icons/spectrum-2022/pride-'22-icon-app-76x76.png
  WordPress/Resources/Icons/spectrum-2022/pride-'22-icon-app-76x76@2x.png
  WordPress/Resources/Icons/spectrum-2022/pride-'22-icon-app-83.5x83.5@2x.png
  WordPress/Resources/Icons/spectrum-2022/spectrum-'22-icon-app-60x60@2x.png
  WordPress/Resources/Icons/spectrum-2022/spectrum-'22-icon-app-60x60@3x.png
  WordPress/Resources/Icons/spectrum-2022/spectrum-'22-icon-app-76x76.png
  WordPress/Resources/Icons/spectrum-2022/spectrum-'22-icon-app-76x76@2x.png
  WordPress/Resources/Icons/spectrum-2022/spectrum-'22-icon-app-83.5x83.5@2x.png
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/Wordpress-Alpha-Info.plist
Labels: General

#18935 Stats Revamp: Tracks ViewsVisitors, ViewMore, GrowAudience, TotalLikesGuide, Feature announcement
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
Labels: Stats, Stats Revamp

#18885 Stats Widget: Load stats in the widget after user logs in
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressTest/BlogServiceMock.swift
  WordPress/WordPressTest/Classes/Stores/StatsWidgetsStoreTests.swift
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
Labels: [Type] Bug, iOS 14 Widgets

#18936 Stats: Updates chart elements to use Blue in Jetpack
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsFollowersChartViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsReferrersChartViewModel.swift
Labels: Stats Revamp

#18941 Stats Revamp: Date Picker 2nd Level - remove from Followers and Comments
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
Labels: Stats, Stats Revamp

#18944 Stats revamp: Set Insights margins to readable width
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: Stats Revamp

#18943 Show Stats Revamp feature announcement on launch
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2IntroductionPresenter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Stats Revamp

#18945 Enable Stats revamp feature flag for Jetpack
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: Stats Revamp

#18940 Stats Revamp: ViewMore -> 3rd Level details
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPressTest/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModelTests.swift
Labels: Stats, Stats Revamp

#18933 Merge changes from release 20.1 finalization
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/en-AU/description.txt
  fastlane/metadata/en-AU/keywords.txt
  fastlane/metadata/en-AU/name.txt
  fastlane/metadata/en-AU/release_notes.txt
  fastlane/metadata/en-AU/subtitle.txt
Labels: Releases

#18946 Merge 20.2 code freeze to trunk
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#18950 Fix: Tooltip blinking when phone is tilted
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
Labels: [Type] Bug, Reader

#18948 Quick Start: Fix task complete event misfiring
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Bug, Analytics, Quick Start

#18954 [Tooling] Cleanup pipeline steps structure
  .buildkite/pipeline.yml
Labels: Tooling

#18845 Address RuboCop violations that couldn't be automatically fixed
  .rubocop.yml
  Podfile
  Podfile.lock
  Rakefile
  fastlane/lanes/localization.rb
Labels: Tooling

#18957 Fix unsatisfiable constraints in Editor and Reader
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement, Reader, Gutenberg integration, Layout

#18964 Merge release/20.2 - Release Notes
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases
