Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-04, with the labels that each got.

#18253 Add search capability to the Site Intent Verticals screen
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/IntentCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentData.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentVertical.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyServiceTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: [Type] Task, Site Intent Question

#18270 [Site Intent Question] Adds release note
  RELEASE-NOTES.txt
Labels: [Type] Task, Site Creation

#18263 Merge 19.6 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/WordPressIntents/en.lproj/Sites.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#18278 Add feature flag for Site Name screen
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Site Creation

#18251 Blogging Prompts: Initial prompt dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18259 Blogging Prompts: Configure prompt card bottom row for answered state
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18262 Fix app freeze on fresh install when access the dashboard
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/DynamicHeightCollectionView.swift
  WordPress/Classes/ViewRelated/Views/IntrinsicCollectionView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, My Site Dashboard

#18279 Feature Introduction: set button view height based on buttons displayed
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18276 My Site Dashboard: Add pull to refresh to the dashboard on the iPad
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, iPad, My Site Dashboard

#18283 My Site Dashboard: Fix truncated title on next post card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardNextPostView.swift
Labels: [Type] Bug, My Site Dashboard

#18282 My Site: Tighten spacings in the my site screen
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
Labels: [Type] Enhancement, My Site

#18296 My Site Dashboard: Fix nudge view for Stats card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsNudgeView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, My Site Dashboard

#18290 Blogging Prompts: Show contextual menu UI when ellipsis button is tapped
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18280 Add Site Name screen
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+Search.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/TemplatePreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/TemplatePreviewViewController.xib
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/AssembledSiteView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/LandInTheEditorHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteCreationRequest+Validation.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteCreationRotatingMessageView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/IntentCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/IntentCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentData.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentVertical.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsWizardContent.xib
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressCell.xib
  WordPress/Classes/ViewRelated/Site Creation/Web Address/SitePromptView.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/SitePromptView.xib
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Creation

#18297 Blogging Prompts: Add destructive menu item style for the iOS 13 fallback
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Views/MenuSheetViewController.swift
Labels: [Type] Enhancement, iOS 13, Blogging Prompts

#18303 My Site Dashboard: Multiple UI issues fixes for iOS 13
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartChecklistView.swift
Labels: [Type] Bug, Quick Start, My Site Dashboard

#18301 My Site Dashboard: ensure error is not shown alongside posts or prompt and only sync authors if the user is an administrator
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Bug, My Site Dashboard

#18312 My Site Dashboard: change how `default_tab_experiment` is tracked
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Tracks, My Site Dashboard

#18306 Integrate gutenberg-mobile release 1.73.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18315 My Site Dashboard: Update dashboard layout when trait collection changes
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, iPad, My Site Dashboard

#18325 My Site Dashboard: Fix RtL for quick start and dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
Labels: [Type] Bug, My Site Dashboard

#18328 My Site Dashboard: use fade animation in posts card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Enhancement, [Type] Task

#18330 Issue/18323 Stop grow audience card from being displayed incorrectly
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: Stats, Actionable Empty States

#18304 Blogging Prompts Feature Introduction: add header image
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18320 Blogging Prompts Feature Introduction: update lightbulb icon
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Resources/AppImages.xcassets/icon-lightbulb-outline.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-lightbulb-outline.imageset/icon-lightbulb-outline.pdf
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18333 Blogging Prompts: Update prompt card lightbulb icon
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18322 Fix title not showing on rotation in Site Intent screen
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
Labels: [Type] Bug, Site Creation

#18155 Improve VoiceOver experience when reordering menus
  RELEASE-NOTES.txt
  WordPress/Classes/Models/MenuItem.h
  WordPress/Classes/Models/MenuItem.m
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Menus/MenuItemView.h
  WordPress/Classes/ViewRelated/Menus/MenuItemView.m
  WordPress/Classes/ViewRelated/Menus/MenuItemsViewController.h
  WordPress/Classes/ViewRelated/Menus/MenuItemsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Menus/Controllers/MenuItemsViewControllerTests.swift
  WordPress/WordPressTest/Menus/MenuItemTests.swift
Labels: [Type] Enhancement, Accessibility, Menus

#18298 [Site Name] A/B Test the site name screen
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteIntentAB.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTracksEventTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationWizardLauncherTests.swift
Labels: [Type] Task, Site Creation

#18321 [Site Name] Name screen - blank the search placeholder and focus search on load
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
Labels: [Type] Task, Site Creation

#18309 My Site Dashboard: Reduce usage of sections in the dashboard
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardSection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Part of a WIP Feature, My Site Dashboard

#18332 My Site Dashboard: open the editor without delay
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
Labels: [Type] Enhancement, Performance, My Site Dashboard

#18310 My Site Dashboard: Refactor dashboard's data source
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
Labels: [Type] Task, Part of a WIP Feature, My Site Dashboard

#18311 My Site Dashboard: Dashboard data source unit tests
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
Labels: Testing, [Type] Task, Part of a WIP Feature, My Site Dashboard

#18329 Blogging Prompts: Add train of avatars to prompt card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/AvatarTrainView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18334 My Site Dashboard: prevent `dashboardCardShown` from triggering twice
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardAnalytics.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, My Site Dashboard

#18343 My Site Dashboard: Display Stats Insight tab from Today's Stats dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.h
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: [Type] Task, My Site Dashboard

#18313 Site Intent: Clear custom verticals between VC loads
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentData.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentVertical.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteIntentDataTests.swift
Labels: [Type] Bug, Site Creation

#18335 [Site Name] Add Site Name screen to the Site Creation flow
  WordPress/Classes/Models/SiteInformation.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
Labels: [Type] Task, Site Creation

#18345 [Site Intent] UI Tweaks
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/IntentCell.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
Labels: [Type] Task, Site Creation

#18339 [Site Intent] Disable emoji description on VoiceOver
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/IntentCell.xib
Labels: [Type] Enhancement, Site Creation

#18347 [DO NOT MERGE] External PR: Cut off content in reader browser view
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: [Status] DO NOT MERGE

#18349 Comment Notifications: remove Trash swipe action
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Notifications/Actions/ApproveComment.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Enhancement, Notifications, Comments

#18357 Remove tip section from blogging reminders
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: [Type] Task, Blogging Reminders

#18269 Don't let `complete_code_freeze` continue if user asked not to
  fastlane/lanes/release.rb
Labels: Tooling

#18346 [Site Intent] Sort Verticals alphabetically on the Site Intent screen
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentData.swift
  WordPress/WordPressTest/SiteCreation/SiteIntentDataTests.swift
Labels: [Type] Task, Site Creation

#18353 My Site Dashboard: Rename Site Menu to Menu
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
Labels: [Type] Task, My Site Dashboard

#18340 My Site Dashboard: Refactor drafts and scheduled posts cells
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Part of a WIP Feature, My Site Dashboard

#18344 My Site Dashboard: hide quick actions from Site Menu for users assigned to the experiment
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
Labels: [Type] Enhancement, [Type] Task

#18326 Gutenberg - Add quote block v2 flag
  Podfile
  Podfile.lock
  WordPress/Classes/Models/BlockEditorSettingElement+CoreDataProperties.swift
  WordPress/Classes/Models/BlockEditorSettings+GutenbergEditorSettings.swift
Labels: Gutenberg integration

#18360 Merge fixes and changes from beta 19.6.0.4
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentData.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/bg.lproj/Localizable.strings
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/cy.lproj/Localizable.strings
  WordPress/Resources/da.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-AU.lproj/Localizable.strings
  WordPress/Resources/en-CA.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/hr.lproj/Localizable.strings
  WordPress/Resources/hu.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/is.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nb.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/pt.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sk.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/th.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  WordPress/WordPressTest/SiteCreation/SiteIntentDataTests.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/lanes/build.rb
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-GB/release_notes.txt
  fastlane/metadata/id/release_notes.txt
Labels: Releases

#18356 Blogging Prompts Feature Introduction: add gradient colors to header image
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18358 Blogging Prompts Feature Introduction: show example prompt card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18341 Blogging Prompts: Fix centering of prompt card views
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18354 [Tooling] Automatically fix GBM pods issues on `pod install` failure
  Rakefile
Labels: Tooling

#18363 My Site Dashboard: Update empty stats nudge copy
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
Labels: [Type] Task, My Site Dashboard

#18373 My Site Dashboard: Show site name in My Site nav title
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Enhancement, My Site Dashboard

#18368 [Site Name] Add back navigation text to Site Name
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
Labels: [Type] Task, Site Creation

#18371 Blogging Prompts Feature Introduction: customize action buttons
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18370 Blogging Prompts Feature Introduction: add shadow to prompt card view.
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18374 Integrate gutenberg-mobile release 1.74.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18294 Bump Buildkite `bash-cache` plugin to version `2.2.0`
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: Tooling

#18372 Merge fixes and changes from beta 19.6.0.5
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/lanes/build.rb
Labels: Releases

#18376 [Tooling] Add Ruby version warning to installer
  README.md
  Rakefile
Labels: [Type] Enhancement, Tooling

#18377 Comment Details: add more space between reaction and moderation bars
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
Labels: [Type] Enhancement, Comments

#18319 Jetpack Prompt: Add logic to dismiss the prompt if the user selects no thanks
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+JetpackInstall.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/JetpackInstallPromptSettings.swift
  WordPress/Classes/ViewRelated/Jetpack/JetpackInstallPromptViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/JetpackInstallPromptViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Resources/AppImages.xcassets/Jetpack Install/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-circle-particle.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-circle-particle.imageset/circle-particle.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-notifications.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-notifications.imageset/notifications-bell.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-stats.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-stats.imageset/icon-shortcut-stats.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-long-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-long-logo.imageset/prologue-logo.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-error.imageset/jetpack-install-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-logo.imageset/jetpack-install-logo.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-menu-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-menu-icon.imageset/jetpack-scan-menu-icon.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-error.imageset/jetpack-scan-state-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-okay.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-okay.imageset/jetpack-scan-state-okay.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-progress.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-progress.imageset/jetpack-scan-state-progress.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-threat-fixed.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-threat-fixed.imageset/jetpack-scan-threat-fixed.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Jetpack/JetpackInstallPromptTests.swift
Labels: Jetpack, Jetpack Mobile, Jetpack Install

#18366 [Site Name] Add Tracks events and tests for Site Name
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreationNameTracksEventTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationWizardLauncherTests.swift
Labels: [Type] Task, Site Creation, Tracks

#18384 [Site Name] Enable Site Name feature
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Site Creation

#18367 [Site Name] Removes Site Intent Question A/B test
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteIntentAB.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTracksEventTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationWizardLauncherTests.swift
Labels: [Type] Task, Site Creation

#18378 Site Creation - Remove Domain Suggestion Screen
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteCreationRequest+Validation.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: [Type] Task, Site Creation

#18351 My Site Dashboard: Refactor next post cells and remove unneeded code
  WordPress/Classes/Services/PostCoordinator+Dashboard.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardEmptyPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Helpers/DashboardCardInnerErrorView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Views/DashboardPostListErrorCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPostsParser.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
Labels: [Type] Task, Part of a WIP Feature, My Site Dashboard

#18380 AB test: make ExPlat available only for WPiOS
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: [Type] Task

#18379 Merge changes from finalized 19.6 release
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/tr/subtitle.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#18394 Merge changes from 19.7.0.0 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#18393 Quick Start for Existing Users: Update View Site task
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartTourStateView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Task, Quick Start

#18391 My Site Dashboard: Sync posts more often and reload cards less
  WordPress/Classes/PropertyWrappers/Atomic.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/DashboardPostsSyncManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPostsParser.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardPostsParserTests.swift
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
Labels: [Type] Bug, Part of a WIP Feature, My Site Dashboard

#18392 Blogging Prompts: Use plain gray color as default avatar image
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/AvatarTrainView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18305 Stats Revamp: Updated cell appearance for Insights
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/GrowAudienceCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboard.storyboard
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Status] Not Ready for Review, Stats Revamp

#18407 [Site Creation] [Site Design] Fix animations when showing action buttons
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Bug, Site Creation

#18399 Add prompt option to blogging reminders settings
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18386 Improve site creator tests
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameViewController.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationNameTracksEventTests.swift
Labels: [Type] Task, Site Creation

#18397 [Site Name] Adjusts design picker buttons for treatment variation
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteDesignTests.swift
Labels: [Type] Task, Site Creation

#18410 Add spaces around placeholder in Site Name vertical title localized string
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
Labels: [Type] Bug, Site Creation

#18405 My Site Dashboard: Refactor dashboard architecture and data source
  RELEASE-NOTES.txt
  WordPress/Classes/PropertyWrappers/Atomic.swift
  WordPress/Classes/Services/PostCoordinator+Dashboard.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardEmptyPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Helpers/DashboardCardInnerErrorView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Views/DashboardPostListErrorCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/DashboardPostsSyncManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPostsParser.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardSection.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardPostsParserTests.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
Labels: Refactor, [Type] Task, My Site Dashboard

#18416 Remove direct link to the `.ipa` of Installable Build
  fastlane/lanes/build.rb
  fastlane/lanes/release.rb
Labels: Tooling

#18417 [Tooling] Update fastlane + remove workaround for match mutation
  Gemfile.lock
  fastlane/Fastfile
Labels: Tooling

#18395 Quick Start for Existing Users: Refactor Quick Start UI data source
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartTourStateView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCongratulationsCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCongratulationsCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartFactory.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartSkipAllCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartSkipAllCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Quick Start

#18348 [Tooling] Re-enable localization linting
  Gemfile.lock
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  fastlane/Pluginfile
  fastlane/lanes/release.rb
Labels: Tooling, Releases

#18425 Merge an important localization fix from `release/19.7`
  Gemfile.lock
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  fastlane/Pluginfile
  fastlane/lanes/release.rb
Labels: Localization, Releases

#18424 Suggestion: Spell out "one" instead of using numeric placeholder in Reader likes singular string
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
Labels: Reader, Localization

#18419 Fix Site Name screen layout on smaller iPhones
  WordPress/Classes/ViewRelated/Site Creation/Site Name/SiteNameView.swift
Labels: [Type] Bug, Site Creation

#18418 Blogging Prompts Feature Introduction: show scheduling view
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18421 Feature Introduction: fix header image layout
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Bug, Part of a WIP Feature, Blogging Prompts

#18423 Stats Revamp: Updated Most Popular Time card
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Stats Revamp

#18415 Add header view to `ActionSheetViewController`
  WordPress/Classes/ViewRelated/System/Action Sheet/ActionSheetViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18412 Quick Start for Existing Users: Add new tasks collection for existing users
  WordPress/Classes/Models/Blog+QuickStart.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartFactory.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 138.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
Labels: [Type] Task, Quick Start

#18414 Video length restrictions are not applicable to self hosted sites
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Utility/Media/Blog+VideoLimits.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogVideoLimitsTests.swift
Labels: [Type] Bug, [Pri] Medium, Media

#18413 Quick Start for Existing users: Update Stats tour
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIScrollView+Helpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/QuickActionButton.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
Labels: [Type] Task, Quick Start

#18428 Blogging Prompts Feature Introduction: show post creation
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18430 Blogging Prompts Feature Introduction: show site selector
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18445 Integrate gutenberg-mobile release 1.74.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18435 Jetpack Scan: add VaultPress message and option to open the dashboard
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
Labels: [Type] Bug, Jetpack Mobile, Scan

#18440 Feature Introduction: fix colors
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18446 Remove unnecessary two `String(format:)` calls
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
Labels: Localization

#18443 Quick Start for Existing Users: Add notifications tour
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+QuickStart.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPressTest/QuickStartFactoryTests.swift
Labels: [Type] Task, Quick Start

#18427 [Tooling] Add linter for AppLocalizedString not used in extension targets
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.rb
  Scripts/BuildPhases/runRubyScript
  WordPress/Classes/Utility/FormattableContent/Actions/FormattableContentAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
Labels: Testing

#18450 Quick Start for Existing Users: Update Reader task
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: [Type] Task, Quick Start

#18457 Quick Start for Existing Users: Respect feature flag when logging into a self-hosted site
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Bug, Quick Start

#18385 Add Onboarding Personalization Questions
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+OnboardingPrompt.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingEnableNotificationsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingEnableNotificationsViewController.xib
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingQuestionsCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingQuestionsPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/Onboarding Questions Prompt/OnboardingQuestionsPromptViewController.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/NUX/ContentViews/Editor/UnifiedPrologueNotificationsContentView.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Resources/AppImages.xcassets/Notification Prompt/Contents.json
  WordPress/Resources/AppImages.xcassets/Notification Prompt/traffic-surge-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notification Prompt/traffic-surge-icon.imageset/traffic-surge-icon.png
  WordPress/Resources/AppImages.xcassets/Notification Prompt/traffic-surge-icon.imageset/traffic-surge-icon@2x.png
  WordPress/Resources/AppImages.xcassets/Notification Prompt/traffic-surge-icon.imageset/traffic-surge-icon@3x.png
  WordPress/Resources/AppImages.xcassets/Notification Prompt/view-milestone-1k.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Notification Prompt/view-milestone-1k.imageset/view-milestone-1k.png
  WordPress/Resources/AppImages.xcassets/Notification Prompt/view-milestone-1k.imageset/view-milestone-1k@2x.png
  WordPress/Resources/AppImages.xcassets/Notification Prompt/view-milestone-1k.imageset/view-milestone-1k@3x.png
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/OnboardingQuestionsPromptScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Login

#18459 Posts Card: change the title font
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardEmptyPostsCardCell.swift
Labels: [Type] Task, Design

#18453 Blogging Prompts: Move shared blogging prompt styles into an extension
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+BloggingPrompts.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18456 Blogging Prompts: Create prompts header view for create new action sheet
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonActionSheet.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18454 Blogging Prompts Feature Introduction: allow prompt card size to be dynamic
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.xib
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18461 Quick Start: track tap under "Menu"
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
Labels: [Type] Task, Tracks

#18451 Integrate gutenberg-mobile release 1.75.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18464 My Site Dashboard: Sync blog and update nav title after pull to refresh
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, My Site Dashboard

#18470 Blogging Prompts Card: Fix avatar train color
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/AvatarTrainView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18477 Merge finalized release 19.7
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#18460 Quick Start for Existing Users: Refactor additionalSafeAreaInsets logic
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Task, Quick Start

#18474 [Site Design Revamp] Update title text and remove subtext
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/FilterableCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18455 [Site Design Revamp] Remove preview mode selector from nav bar
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/FilterableCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/WordPressTest/SiteCreation/SiteDesignTests.swift
Labels: [Type] Task, Site Creation

#18469 Quick Start for Existing Users: Delete "Edit your homepage" tour
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
Labels: [Type] Task, Quick Start

#18449 Follow Conversation Improvements
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsNotificationSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSubscribeCommentsAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderSubscribeCommentsActionTests.swift
Labels: [Type] Enhancement, Reader
