Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-02, with the labels that each got.

#17851 Replace 🧪 with 🔬 as the Buildkite test step emoji
  .buildkite/pipeline.yml
Labels: Tooling

#17839 My Site Dashboard: add error messages when posts fails to load
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Helpers/DashboardCardInnerErrorView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17830 Add email followers filter to people page
  WordPress/Classes/Models/ManagedPerson.swift
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleCell.swift
  WordPress/Classes/ViewRelated/People/PeopleCellViewModel.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
Labels: People Management, [Type] Task

#17856 Stats: fix navigation between Insights and other Stats tab
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: [Type] Bug, Stats

#17860 Remove copy from editorialized release notes about comments moderation
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17429 A/B test landing in the editor
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog+HomepageSettings.swift
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditHomepageViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Post/HomepageEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/LandInTheEditorHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Site Creation, Part of a WIP Feature

#17854 People: Add email followers filter to people page
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ManagedPerson.swift
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleCell.swift
  WordPress/Classes/ViewRelated/People/PeopleCellViewModel.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
Labels: People Management, [Type] Task

#17847 My Site Dashboard: FAB + Quick Start tour auto-scroll
  WordPress/Classes/Extensions/UIScrollView+Helpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17848 My Site Dashboard: track interaction with posts content
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Analytics, [Type] Task, My Site Dashboard

#17858 Comment Threads: disable comment moderation menu
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Bug, Reader, Comments

#17132 Prompt to keep or replace Featured Image when replacing Image block media that is set as the Featured Image
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg integration

#17859 Threaded comment moderation: update post's Comment snippet
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: [Type] Bug, Reader, Comments

#17827 Integrate gutenberg-mobile release 1.70.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17821 Create sites with user's timezone
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteCreationRequest+Validation.swift
Labels: [Status] DO NOT MERGE, Site Creation

#17863 My Site Dashboard: Remove table header view from BlogDetailsViewController
  WordPress/Classes/Extensions/UIScrollView+Helpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
Labels: [Type] Task, Quick Start, My Site Dashboard

#17880 Stop logging MediaHost errors to Sentry
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: Reader

#17869 Threaded comment moderation: don't show non-approved cached comments
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: [Type] Bug, Reader, Comments

#17881 Integrate gutenberg-mobile release 1.70.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17885 Disabled some of the UI tests while investigating the reasons.
  WordPress/WordPressUITests/WordPressUITests.xctestplan
Labels: Testing

#17862 Add Buildkite Release Builds
  .buildkite/commands/release-build-jetpack.sh
  .buildkite/commands/release-build-wordpress-internal.sh
  .buildkite/commands/release-build-wordpress.sh
  .buildkite/release-builds.yml
  fastlane/Fastfile
Labels: Tooling

#17867 Add New Insights Card to navigation bar
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: Stats

#17888 Comment Threads: enable comment moderation menu
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Reader, Comments

#17868 Fix checkmark fading animation when choosing a site design
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.xib
Labels: [Type] Bug

#17884 Save xcode results as artifact in Buildkite
  .buildkite/commands/run-ui-tests.sh
  .buildkite/pipeline.yml
Labels: Testing, Tooling

#17896 Merge finalized 19.1 release
  Gemfile.lock
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
Labels: Releases

#17889 My Site Dashboard: request cards
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17890 Notifications > Comment Details: fetch comment if it is not cached
  .buildkite/commands/installable-build-jetpack.sh
  .buildkite/commands/installable-build-wordpress.sh
  Podfile
  Podfile.lock
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17894 Stats: Scroll to new Insights card when added
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: Stats, Stats Refresh

#17901 Ensure the `cache-builder.yml` Buildkite pipeline uses Bundler 2.3.x+
  .buildkite/cache-builder.yml
Labels: Tooling

#17900 Merge 19.2 code freeze with conflicts resolution
  Gemfile.lock
  Podfile
  Podfile.lock
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17902 My Site Dashboard: Hide Quick Actions cell for Jetpack App
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+QuickActions.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17905 Use `sentry_check_cli_installed` to verify Sentry's CLI requirements
  fastlane/Fastfile
Labels: Tooling

#17897 Notifications > Comment Details: show previous and next arrows in nav bar
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17913 Fix Installable Builds on Draft PRs
  .buildkite/pipeline.yml
Labels: [Type] Enhancement

#17909 My Site Dashboard: handle local and remote cards
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/HostCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardSection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-drafts-and-scheduled.json
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-drafts-only.json
Labels: [Type] Task, My Site Dashboard

#17911 Issue/17528-17534 - Page and Post list copy link functionality
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Enhancement, Posts List, Pages List

#17917 Comment moderation: update view correctly when selecting Next on confirmation notice
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Bug, Comments

#17922 Add Release Notes for #17911
  RELEASE-NOTES.txt
Labels: [Type] Enhancement, Posts List, Pages List

#17891 Remove CircleCI
  .buildkite/commands/release-build-jetpack.sh
  .buildkite/commands/release-build-wordpress-internal.sh
  .buildkite/commands/release-build-wordpress.sh
  .buildkite/release-builds.yml
  .circleci/cache-version
  .circleci/config.yml
  Gemfile.lock
  README.md
  Rakefile
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env/user.env-example
Labels: Tooling

#17898 Choose a design: Dismiss the device selection popover when Skip is pressed
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Bug

#17930 Add editorialized release notes for version 19.2
  .buildkite/commands/release-build-jetpack.sh
  .buildkite/commands/release-build-wordpress-internal.sh
  .buildkite/commands/release-build-wordpress.sh
  .buildkite/release-builds.yml
  .circleci/cache-version
  .circleci/config.yml
  Gemfile.lock
  README.md
  Rakefile
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env/user.env-example
Labels: Releases

#17931 Remove unused `fastlane-plugin-test_center` resulting in CI failures
  Gemfile.lock
  fastlane/Pluginfile
Labels: [Type] Bug, Tooling

#17914 Enable more features in the Jetpack app
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/ViewRelated/Blog/Add Site/AddSiteAlertFactory.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.swift
Labels: Jetpack, [Type] Task, Jetpack Mobile, Jetpack App

#17861 Reduce flickering when previewing a site
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Preview/PreviewDeviceSelectionViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/Preview/TemplatePreviewViewController.swift
Labels: [Type] Enhancement, Previews

#17942 Merge tweak to version 19.2 editorialized release notes
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17935 My Site Dashboard: change site
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17915 Enable login tests tearDown to close MySites modal
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/WordPressUITests/Tests/LoginTests.swift
Labels: Testing

#17941 Integrate gutenberg-mobile release 1.71.1
  .buildkite/commands/installable-build-jetpack.sh
  .buildkite/commands/installable-build-wordpress.sh
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17943 My Site Dashboard (Phase 2): Hook up Quick Action buttons
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.h
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: [Type] Task, My Site Dashboard

#17947 Quick Start: fix header font
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.xib
Labels: [Type] Bug, Quick Start

#17945 My Site Dashboard: cache the response
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersistence.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardPersistenceTests.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Task, My Site Dashboard

#17923 Notifications > Comment Details: show previous/next comments
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17903 Add to Editor tests the ability to close the editor screen when Screen Object fails to load
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
Labels: Testing

#17949 My Site Dashboard (Phase 2): Fix blog details vc instantiation
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17954 Notifications: show new Comment detail from previous/next buttons
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17960 My Site Dashboard: add card frame
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17844 [Gutenberg] [Aztec] Prevent headings from becoming bold after words are autocorrected
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Bug, Posting/Editing, Aztec

#17959 Notifications > Comments: show Notification detail from previous/next buttons
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17976 Configure button targets for BlogDetailHeaderView outside of initialization closure
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
Labels: [Type] Bug, Site Picker

#17969 Notifications > Comment details header: fix misc issues
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17973 Notifications > Comment details: fix reply headers
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17975 My Site Dashboard: update endpoint to `cards-data`
  Podfile
  Podfile.lock
Labels: [Type] Task, My Site Dashboard

#17979 Stats: Scroll to new Insights card when added - update RELEASE-NOTES.txt
  RELEASE-NOTES.txt
Labels: Stats, Stats Revamp

#17974 Reader Comments: Preventatively cancel ongoing image downloads
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
Labels: [Type] Bug, Reader, Comments

#17983 Update Ruby tooling to expect Bundler 2.3.7
  Gemfile.lock
Labels: Tooling

#17957 My Site Dashboard (Phase 2): iPad info architecture
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17971 Editor: Additional error messages for media upload failures
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: Posting/Editing, Media, Gutenberg integration

#17966 My Site Dashboard (Phase 2): Fix segmented control alignment in landscape mode
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17980 Comment Notifications: mark as read when viewed with previous/next buttons
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17989 Revert Gutenberg Mobile version to v1.71.1, Aztec to 1.19.7
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Status] DO NOT MERGE, Gutenberg integration

#17995 My Site Dashboard: Update blog for site picker
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Task, My Site Dashboard

#17936 Stats Revamp: StatsPeriodStore reduce superfluous onChange events
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats, Stats Revamp

#17998 Merge 19.2.1 into 19.3
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: Releases

#17952 Re-enable UI Tests
  WordPress/WordPressUITests/WordPressUITests.xctestplan
Labels: Testing

#17992 Notifications > Comments: remove Notification when Comment is removed
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17997 Merge 19.3 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17999 Save xcode results from unit tests to buildkite
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
Labels: Testing, Tooling

#18002 Notifications split view: set selected Notification after removing moderated
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#17981 Add animated gif support to notifications, comments, and my site comments
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/NSAttributedString+Helpers.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationMediaDownloader.swift
  WordPress/Classes/ViewRelated/Views/RichTextView/AnimatedGifAttachmentViewProvider.swift
  WordPress/Classes/ViewRelated/Views/RichTextView/RichTextView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Notifications, Reader, [Type] Task, Comments, GIF Support

#17987 My Site Dashboard (Phase 2): Create dedicated section for Home item in site menu
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17977 My Site Dashboard: refine posts card
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardNextPostView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-first-post.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-first-post.imageset/firstpost.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#18005 My Site Dashboard: track posts card shown
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Task, Tracks, My Site Dashboard

#18004 WeeklyRoundupBackgroundTask - Blog Title + Site Title tests and refactor
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/Blog+Title.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BackgroundTasks/WeeklyRoundupBackgroundTaskTests.swift
  WordPress/WordPressTest/BlogTitleTests.swift
Labels: [Type] Bug, Testing

#18010 Notifications split view: immediately remove deleted comment notifications
  WordPress/Classes/ViewRelated/Cells/BorderedButtonTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18008 Re-enable Stats UI Tests
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
  WordPress/WordPressUITests/Tests/StatsTests.swift
  WordPress/WordPressUITests/WordPressUITests.xctestplan
Labels: Testing

#18012 Reader Follow Topics: Removes empty space at the bottom of the screen
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.xib
Labels: [Type] Bug, Reader

#18018 My Site Dashboard: Hide navigation title when scrolled to the top edge
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#18014 My Site Dashboard: Posts Cards improvements
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardSection.swift
Labels: [Type] Task, My Site Dashboard

#18016 My Site Dashboard: handle auto-update
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
Labels: [Type] Task, My Site Dashboard

#18025 My Site Dashboard: add pull to refresh
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#18026 My Site Dashboard: hook up FAB actions
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#18032 Docs: add FAB changes to the release-notes as an internal change
  RELEASE-NOTES.txt
Labels: [Type] Task

#18006 Fix Position of Search Icon in Site Creation - Choose a Domain for RTL languages
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
Labels: [Type] Enhancement, [Pri] Low, Domain Search, Localization, Site Creation

#18023 Prevent copy link notifications from piling up
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Type] Bug, Posts List, Pages List

#18030 Fix Media permissions header sizing on iOS 14
  WordPress/Classes/ViewRelated/Media/DeviceMediaPermissionsHeader.swift
Labels: Media

#18027 My Site Dashboard: Fix Quick Actions horizontal scroll
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Views/ButtonScrollView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#18033 My Site: track pull to refresh
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site, My Site Dashboard

#18034 My Site Dashboard: update next post prompt when switching between sites
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
Labels: [Type] Task, My Site Dashboard

#18038 My Site: Properly reset navigation bar appearance when disappearing
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, My Site

#18017 Stats - Remove unnecessary api calls from Insights
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/Insights/InsightType.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteStatsInformationTests.swift
Labels: [Type] Task, Stats Revamp
