Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-01, with the labels that each got.

#17706 Remove an unused variable assignment from `Fastfile`
  fastlane/Fastfile
Labels: Tooling

#17708 Merge editorialized release notes into `develop`
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17713 Update English App Store metadata for ASO experiment
  fastlane/download_metadata.swift
  fastlane/metadata/en-AU/keywords.txt
  fastlane/metadata/en-AU/name.txt
  fastlane/metadata/en-AU/subtitle.txt
  fastlane/metadata/en-CA/keywords.txt
  fastlane/metadata/en-CA/name.txt
  fastlane/metadata/en-CA/subtitle.txt
  fastlane/metadata/en-GB/keywords.txt
  fastlane/metadata/en-GB/name.txt
  fastlane/metadata/en-GB/subtitle.txt
  fastlane/metadata/en-US/keywords.txt
  fastlane/metadata/en-US/name.txt
  fastlane/metadata/en-US/subtitle.txt
Labels: Tooling

#17710 Adds a check when trying to dismiss the quick start prompt on the login epilogue
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Task, Login, Quick Start, Unified Login & Signup

#17715 [Gutenberg] Integrate alpha version `v1.69.0-alpha2`
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17711 Reader Post Details Comments: add Follow Conversation button
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.xib
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17712 Reader Post Details Comments: hide Follow Conversation button if commenting is closed
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17714 Reader Comments: Remove feature flag for Follow Conversation
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.h
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.m
Labels: [Type] Enhancement, Reader

#17722 Updates the Jetpack Connection URL to the new scheme
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
Labels: Jetpack, [Type] Task, Jetpack Install

#17717 Reader Post Details Comments: hide Follow Conversation button if subscribing is disabled
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17725 Reader post comments following: refactor ObjC methods to Swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsNotificationSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Task, Comments, Part of a WIP Feature

#17720 Improve username handling with password autofill
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: NUX, Login, Unified Login & Signup

#17726 Integrate gutenberg-mobile release 1.69.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17701 Set `waitTimeout` to 7 for most of screen objects
  WordPress/UITestsFoundation/Screens/ActionSheetComponent.swift
  WordPress/UITestsFoundation/Screens/ActivityLogScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/AztecEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorNoticeComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPublishEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorSettingsComponents/CategoriesComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorSettingsComponents/TagsComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/FeaturedImageScreen.swift
  WordPress/UITestsFoundation/Screens/Jetpack/JetpackBackupOptionsScreen.swift
  WordPress/UITestsFoundation/Screens/Jetpack/JetpackBackupScreen.swift
  WordPress/UITestsFoundation/Screens/Jetpack/JetpackScanScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LinkOrPasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginCheckMagicLinkScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEmailScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginPasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginSiteAddressScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/QuickStartPromptScreen.swift
  WordPress/UITestsFoundation/Screens/Login/Unified/GetStartedScreen.swift
  WordPress/UITestsFoundation/Screens/Login/Unified/PasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/WelcomeScreen.swift
  WordPress/UITestsFoundation/Screens/Login/WelcomeScreenLoginComponent.swift
  WordPress/UITestsFoundation/Screens/Me/ContactUsScreen.swift
  WordPress/UITestsFoundation/Screens/Me/SupportScreen.swift
  WordPress/UITestsFoundation/Screens/MeTabScreen.swift
  WordPress/UITestsFoundation/Screens/Media/MediaPickerAlbumListScreen.swift
  WordPress/UITestsFoundation/Screens/Media/MediaPickerAlbumScreen.swift
  WordPress/UITestsFoundation/Screens/MediaScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/UITestsFoundation/Screens/PostsScreen.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupCheckMagicLinkScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupEmailScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/SignupEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/Signup/WelcomeScreenSignupComponent.swift
  WordPress/UITestsFoundation/Screens/SiteSettingsScreen.swift
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
Labels: Testing

#17732 Merge 19.0 code freeze into `develop`
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17734 Better user error message when adding media with limited access to photos
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media

#17727 Reader post comments following: move notification sheet handling to presenter
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Reader, [Type] Task, Comments

#17728 Reader Post Details Comments: show bell icon when user is subscribed to comments
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17700 Made mock UI tests credentials shorter.
  WordPress/WordPressUITests/WPUITestCredentials.swift
Labels: Testing

#17736 Comments: Remove newCommentDetail feature flag
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/CommentViewController.h
  WordPress/Classes/ViewRelated/Comments/CommentViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Comments

#17737 My Site Dashboard: Initial Structure
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/HostCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/QuickLinksView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: My Site Dashboard

#17738 My Site Dashboard: add the initial structure for the posts card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17739 Reader Post Details Comments: add functionality to `Follow Conversation` button
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17741 Reader Post Details Comments: update button state
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
Labels: [Type] Enhancement, Reader, Comments, Part of a WIP Feature

#17742 Reader Post Comment Following: add source to tracks
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
Labels: [Type] Enhancement, Reader, Analytics, Comments, Part of a WIP Feature

#17743 Reader Post Details Comments: change the stack view to vertical for accessibility text size.
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.xib
Labels: [Type] Enhancement, Accessibility, Reader, Comments, Part of a WIP Feature

#17747 Comments: Remove unified list feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentsTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Notifications.storyboard
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableHeaderView.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteTableViewCell.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NoteUndoOverlayView.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteUndoOverlayView.xib
  WordPress/Classes/ViewRelated/Views/List/ListTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/ListTableViewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationContentExtension/Sources/Views/NotificationContentView.swift
Labels: [Type] Enhancement, [Type] Task

#17723 Jetpack Onboarding Prompt: Style the prompt view
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/JetpackInstallPromptViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/JetpackInstallPromptViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Resources/AppImages.xcassets/Jetpack Install/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-circle-particle.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-circle-particle.imageset/circle-particle.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-notifications.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-notifications.imageset/notifications-bell.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-stats.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-icon-stats.imageset/icon-shortcut-stats.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-long-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install Prompt/jetpack-long-logo.imageset/prologue-logo.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-error.imageset/jetpack-install-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Install/jetpack-install-logo.imageset/jetpack-install-logo.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-menu-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-menu-icon.imageset/jetpack-scan-menu-icon.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-error.imageset/jetpack-scan-state-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-okay.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-okay.imageset/jetpack-scan-state-okay.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-progress.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-state-progress.imageset/jetpack-scan-state-progress.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-threat-fixed.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack/Jetpack Scan/jetpack-scan-threat-fixed.imageset/jetpack-scan-threat-fixed.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack, [Type] Task, Jetpack Install

#17750 My Site Dashboard: sync posts in the post card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Task, My Site Dashboard

#17755 Remove feature flag for Recommend App to Others
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Me/App Settings/About/AboutViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Enhancement, [Type] Task

#17756 Custom calendar VoiceOver improvements
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Activity/CalendarViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarMonthView.swift
Labels: Accessibility, Activity Log, Post Scheduling Enhancements

#17745 Make `code_freeze` lane extract release notes for Jetpack
  fastlane/Fastfile
Labels: Tooling

#17757 My Site Dashboard: open the editor from the post cards list
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
Labels: [Type] Task, My Site Dashboard

#17763 Add editorialized release notes for version 19.0
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17761 Calendar Accessibility: Prevent VoiceOver Calendar Scrollback
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarCollectionView.swift
Labels: [Type] Bug, Accessibility, Post Scheduling Enhancements

#17644 [Gutenberg] Hide help button from UBE
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posting/Editing, Gutenberg integration

#17748 Adds the Sharing row back to Me view controller
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: About Screen

#17749 Reader Post Details Comments: enable Follow Conversation
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Reader, Comments

#17758 Comment Threads: Add undo functionality for moderation actions
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: [Type] Enhancement, Reader, Comments

#17754 Add limited photo library access header to media picker
  Podfile
  Podfile.lock
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Media/DeviceMediaPermissionsHeader.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media

#17771 Merge beta 19.0.0.2 into `develop`, with conflicts resolution
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Resources/ro.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-GB/release_notes.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/es-MX/release_notes.txt
Labels: Releases

#17768 Make "anytime" two words when setting reminders
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: [Type] Bug, Blogging Reminders

#17767 My Site Dashboard: style the post cell
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.xib
Labels: [Type] Task, My Site Dashboard

#17626 Update default branch to trunk
  .circleci/config.yml
  RELEASE-CYCLE.md
  Scripts/manage-version.sh
  docs/feature-flags.md
  docs/pull-request-guidelines.md
  fastlane/Fastfile
Labels: Tooling

#17775 My Site Dashboard: configure to show `draft` or `scheduled` posts (targeting `trunk`)
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Task, My Site Dashboard

#17766 Weekly Roundup Improvements (Core Data + Localization)
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
Labels: [Type] Crash, Notifications

#17724 Improve error messages when logging into self-hosted sites
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Login

#17670 Filter media types when presenting the Media Picker for Mobile Gutenberg
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
Labels: [Type] Bug

#17773 Integrate gutenberg-mobile release 1.69.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#17618 Initial Port of Jetpack Tiled Gallery Block
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Posting/Editing, Media, [Status] DO NOT MERGE, Gutenberg integration

#17777 Improves accessibility labels and hints in media library
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media, Accessibility, VoiceOver

#17791 Integrate gutenberg-mobile release 1.70.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#17789 Notifications: Add mark all read functionality and network support
  Podfile
  Podfile.lock
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
Labels: [Type] Enhancement, Notifications

#17785 Fix Share Sheet + image upload for images with copyright symbol from Photos app
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/ShareExtractor.swift
Labels: Media

#17798 Fix Jetpack `en-US` release notes not being uploaded to ASC
  fastlane/jetpack_metadata/en-US/description.txt
  fastlane/jetpack_metadata/en-US/keywords.txt
  fastlane/jetpack_metadata/en-US/release_notes.txt
  fastlane/jetpack_metadata/en-US/subtitle.txt
Labels: Tooling, Releases

#17787 My Site Dashboard: show posts cards under "Dashboard" section
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17759 Fix Core Data crash related to media errors
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Media.m
  WordPress/Classes/Services/MediaService.m
  WordPress/WordPressTest/CoreDataMigrationTests.m
Labels: [Type] Crash, Core Data

#17783 My Site Dashboard: Extract NewBlogDetailHeaderView to SitePickerViewController
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.xib
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17792 My Site Dashboard: Delete old BlogDetailHeaderView
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeader.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/NewBlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17796 Notifications: Add tracking for mark all read button
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Enhancement, Notifications, Tracks

#17797 Feature Announcement: add icons property to Feature struct
  Podfile
  Podfile.lock
  WordPress/WordPressTest/What's New/Data store/AnnouncementsDataStoreTests.swift
Labels: [Type] Task, What's New

#17803 Publicize: Fix Facebook auth success detection
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/SharingAuthorizationWebViewController.swift
Labels: Sharing, Publicize

#17795 Adds dynamic type support to media permissions prompt
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Media/DeviceMediaPermissionsHeader.swift
  WordPress/Info.plist
  WordPress/Jetpack/Info.plist
Labels: [Type] Enhancement, Media

#17778 Add transition animation between login epilogue and quick start prompt screens
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueAnimator.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/UIView+Margins.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Onboarding Improvements: Existing Users

#17806 Merge 19.1 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#17811 My Site Dashboard: Fix large nav title not shrinking on scroll
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, My Site Dashboard

#17808 Notifications: Add confirmation action sheet for mark all as read button
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Enhancement, Notifications

#17807 Media Detail screen improve accessibility and hints
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemTableViewCells.swift
Labels: Media, Accessibility

#17812 Table Views: use `insetGrouped` style
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/ImmuTableViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Header.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+QuickActions.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/ActionRow.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/DateAndTimeFormatSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/DiscussionSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/HomepageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/Related Posts/RelatedPostsSettingsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackConnectionViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSettingsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSpeedUpSiteSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/PrivacySettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/Presenter/MeScenePresenter.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/WPAddPostCategoryViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsListEditorViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsMultiTextViewController.m
  WordPress/Classes/ViewRelated/Tools/SettingsSelectionViewController.m
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site, My Site Dashboard

#17814 My Site Dashboard: Add site picker to MySite screen only once
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Task, My Site Dashboard

#17820 My Site Dashboard: Convert rootview to scrollview
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/IntrinsicTableView.swift
  WordPress/Classes/ViewRelated/Views/IntrinsicCollectionView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#17822 Enable media picker permissions feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Media

#17819 Add transition animation between login epilogue and quick start prompt screens
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueAnimator.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/UIView+Margins.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Login

#17831 Merge beta 19.1.0.2 and editorialized release notes
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#17810 Update Kit and Tracks pods to versions using UIDeviceIdentifier 2.0.0
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Logging/TracksLogger.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#17801 Notifications: add nav bar button to mark all as read
  WordPress/Classes/Services/NotificationActionsService.swift
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
Labels: [Type] Enhancement, Notifications

#17815 Automate copying the Jetpack en-US release notes into the metadata
  fastlane/Jetpack-Fastfile
Labels: Tooling

#17581 Create Installable Builds with Buildkite
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/installable-build-jetpack.sh
  .buildkite/commands/installable-build-wordpress.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
Labels: [Type] Enhancement, Tooling

#17816 Refactors Publicize connection URL detection
  WordPress/Classes/ViewRelated/Blog/PublicizeConnectionURLMatcher.swift
  WordPress/Classes/ViewRelated/Blog/SharingAuthorizationWebViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PublicizeAuthorizationURLComponentsTests.swift
Labels: Sharing, Publicize

#17836 Fix release notes to titlecase proper nouns
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#17837 Merge 19.1 release notes VoiceOver and Dynamic Type capitalization fix
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/Jetpack-Fastfile
Labels: Releases

#17829 My Site Dashboard: Hide segmented control for self-hosted sites
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, My Site Dashboard

#17843 Update CocoaPods gem to match the version used in Podfile.lock
  Gemfile
  Gemfile.lock
Labels: Tooling

#17840 Notifications: enable mark all as read button
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Notifications

#17838 Media Detail Image Full screen improve accessibility and hints
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
Labels: Media, Accessibility
