Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-03, with the labels that each got.

#18050 Comment Edit: disable author fields for registered users
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Cells/InlineEditableSingleLineCell.swift
  WordPress/Classes/ViewRelated/Comments/EditCommentTableViewController.swift
Labels: [Type] Bug, Comments

#18049 Notification Comments: add wrapper view controller to display details
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationCommentDetailCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18040 My Site: Fix navbar back transition animation
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSettingsViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
Labels: [Type] Bug, My Site

#18015 My Site Dashboard (Phase 2): Quick Start Initial Structure
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/EmojiRenderer.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteIconPickerView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+QuickStart.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Task, My Site Dashboard

#18059 FAB: fix floating notice when switching sites
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Bug, My Site

#18063 Add feature flag for site intent question screen.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Site Creation

#18076 Merge 19.3.0.3 changes into `trunk` – Localization testing build
  WordPress/Resources/en-CA.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/en-CA/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#18060 My Site Dashboard: show ghost cards when loading for the first time
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardGhostCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardGhostCardContent.xib
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Task, My Site Dashboard

#18044 My Site Dashboard (Phase 2): Refine Quick Start card design
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Media/CircularProgressView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Accessibility, [Type] Task, My Site Dashboard

#18048 Add push notification media support
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/String+CondenseWhitespace.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/FormattableContent/RichNotificationContentFormatter.swift
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
Labels: Notifications, GIF Support, Rich Notifications, push notifications

#18062 Notification Comment details: show loading and error views
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18064 Notification Comment details: remove gap at the top
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: [Type] Bug, Notifications, Comments, Part of a WIP Feature

#18070 Notification Comment details: add tracks for actions
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
Labels: Notifications, Comments, Part of a WIP Feature, Tracks

#18079 Jetpack App: update Post Signup Interstitial welcome text
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Jetpack/AppConstants.swift
Labels: [Type] Bug, Jetpack App

#18080 Integrate gutenberg-mobile release 1.71.3
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18084 Merge finalized release 19.3
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/fr-FR/release_notes.txt
Labels: Releases

#18082 Notification Comment details: set background color to fix transition oddity
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: [Type] Bug, Notifications, Comments, Part of a WIP Feature

#18087 My Site Dashboard: add wpComID to DashboardCardModel
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
Labels: [Type] Task, My Site Dashboard

#18091 My Site: scroll My Site screen to top when My Site tab is tapped
  WordPress/Classes/Extensions/UINavigationController+Helpers.swift
Labels: [Type] Bug, My Site

#18088 My Site Dashboard: remove provisional loading indicator
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
Labels: [Type] Task, My Site Dashboard

#18058 Stats Revamp: Remove the customise card from Insights
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: [Type] Enhancement, Stats, Stats Revamp

#18090 Stats Insights: Align Tracks events with Android
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/AddInsightTableViewController.swift
Labels: Stats, Stats Revamp

#18075 My Site Dashboard (Phase 2): Implement UI for Stats card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardSingleStatView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.h
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#18085 updated RELEASE-NOTES.txt for WeeklyRoundupBackgroundTask #18029
  RELEASE-NOTES.txt
Labels: [Type] Bug

#18092 My Site Dashboard: improve how `invalidateLayout` is called
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
Labels: [Type] Enhancement, My Site Dashboard

#18093 Merge 19.4 code freeze
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#18068 My Site Dashboard: handle failures and stale data
  WordPress/Classes/Models/Blog+DashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardFailureCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardGhostCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardStateTests.swift
Labels: [Type] Task, My Site Dashboard

#18097 Fix invalid domain query error release notes, wpkit-ios version, padding and font size
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Domain Search, Site Creation

#18072 Stats - Insights - Update Default cards list
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsInformation.swift
  WordPress/Classes/ViewRelated/Stats/Insights/InsightType.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/WordPressUITests/Tests/StatsTests.swift
Labels: [Type] Task, Stats Revamp

#18073 Block Editor UI Tests enhancements
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Media/MediaPickerAlbumScreen.swift
  WordPress/WordPressUITests/Tests/EditorGutenbergTests.swift
Labels: Testing

#18103 Quick Start: update release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, Quick Start, My Site Dashboard

#18101 My Site Dashboard (Phase 2): Set default section on My Site
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Dashboard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#18110 FAB: show/hide when creating/deleting a site
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, My Site

#18105 Reader: Fix unsatisfiable constraints
  WordPress/Classes/ViewRelated/Post/PostListFooterView.m
  WordPress/Classes/ViewRelated/Post/PostListFooterView.xib
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.xib
  WordPress/Classes/ViewRelated/Views/NoResults.storyboard
Labels: [Type] Enhancement, Reader, Layout

#18119 Enable Stats UI Tests to deal with insights cards not being loaded
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
Labels: Testing

#18116 Merge release notes and ASO keywords update for 19.4
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
  fastlane/Fastfile
  fastlane/appstoreres/metadata/source/keywords.txt
  fastlane/appstoreres/metadata/source/subtitle.txt
  fastlane/download_metadata.swift
Labels: Releases

#18120 Add localizable name for WordPress app on App Store
  WordPress/Resources/AppStoreStrings.po
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
  fastlane/appstoreres/jetpack_metadata/source/name.txt
  fastlane/appstoreres/metadata/source/name.txt
  fastlane/download_metadata.swift
  fastlane/metadata/default/name.txt
Labels: Releases

#18121 Merge 19.4 to send localizable App Store name to GlotPress
  WordPress/Resources/AppStoreStrings.po
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
  fastlane/appstoreres/jetpack_metadata/source/name.txt
  fastlane/appstoreres/metadata/source/name.txt
  fastlane/download_metadata.swift
  fastlane/metadata/default/name.txt
Labels: Releases

#18096 My Site Dashboard: update the dashboard after a new site is created
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
Labels: [Type] Task, My Site Dashboard

#18111 My Site Dashboard: fix breaking constraints
  WordPress/Classes/Extensions/UIView+PinSubviewPriority.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardGhostCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Layout, My Site Dashboard

#18104 Fix ghost not disappearing from Insights cards in certain conditions
  WordPress/Classes/Stores/StatsInsightsStore.swift
Labels: [Type] Bug, Stats Revamp

#18125 My Site Dashboard: add AB test after site creation and option to change the default in Settings
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardAB.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, App Settings, My Site Dashboard

#18065 [Gutenberg] Update gesture handler and reanimated libraries
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18114 Fix unsatisfiable constraints in MySite and Notification tabs
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Post/PostCardCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
Labels: [Type] Enhancement, Layout

#18132 Fix issue preventing users from change profile picture
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarPickerViewController.swift
Labels: [Type] Bug, Media

#18133 My Site Dashboard (Phase 2): Display correct data for Stats card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardStatsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardStatsViewModelTests.swift
Labels: [Type] Task, My Site Dashboard

#18109 Update WordPress Authenticator to remove Lottie dependency
  Podfile
  Podfile.lock
Labels: Tooling

#18131 Notification Comment Details: hide back button title in threaded comments
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18129 Notification Comment Details: get comment from post if blog is unavailable
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18130 Notification Comment Details: post comment functionality
  WordPress/Classes/Services/CommentService+Replies.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/WordPressTest/CommentService+RepliesTests.swift
  WordPress/WordPressTest/Test Data/comments-v2-success.json
Labels: [Type] Enhancement, Notifications, Comments, Part of a WIP Feature

#18138 [Gutenberg] Include initial changes of `1.72.0`
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18117 [Gutenberg] Use original repository for some `react-native-editor` dependencies
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18141 Notification Comment details: enable feature for release
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Notifications, Comments

#18142 Remove `postDetailsComments` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: [Type] Task

#18143 Remove `followConversationPostDetails` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
Labels: [Type] Task

#18149 Blog Details: Remove NSLog
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Broken Window, My Site

#18083 Add A/B test for site intent question
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteIntentAB.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTests.swift
Labels: [Type] Enhancement, Site Creation

#18159 Merge changes from 19.4 final version
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/keywords.txt
  fastlane/metadata/de-DE/keywords.txt
  fastlane/metadata/de-DE/name.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/de-DE/subtitle.txt
  fastlane/metadata/fr-FR/subtitle.txt
  fastlane/metadata/he/keywords.txt
  fastlane/metadata/he/name.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/he/subtitle.txt
  fastlane/metadata/it/keywords.txt
  fastlane/metadata/it/name.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/it/subtitle.txt
  fastlane/metadata/ja/keywords.txt
  fastlane/metadata/ja/name.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ja/subtitle.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/nl-NL/subtitle.txt
  fastlane/metadata/ru/keywords.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/ru/subtitle.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/sv/subtitle.txt
  fastlane/metadata/tr/name.txt
  fastlane/metadata/tr/subtitle.txt
  fastlane/metadata/zh-Hans/keywords.txt
  fastlane/metadata/zh-Hans/name.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hans/subtitle.txt
  fastlane/metadata/zh-Hant/keywords.txt
  fastlane/metadata/zh-Hant/name.txt
  fastlane/metadata/zh-Hant/release_notes.txt
  fastlane/metadata/zh-Hant/subtitle.txt
Labels: Releases

#18123 Fix spacing and font size of the message displayed when there are no domain suggestions during search
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressWizardContent.swift
Labels: [Type] Enhancement, Domain Search, Site Creation

#18137 [Gutenberg] Update `react-native-reanimated` version to `2.4.1`
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18152 Remove `markAllNotificationsAsRead` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: Notifications, [Type] Task

#18153 Remove `commentThreadModerationMenu` feature flag.
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Reader, [Type] Task, Comments

#18124 Fixes some issues in Domains dashboard
  WordPress/Classes/Services/BlogService+Domains.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardView.swift
Labels: [Type] Task, Domain Registration, Domains

#18163 Reader Comments: Remove newCommentThread flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.h
  WordPress/Classes/ViewRelated/Reader/ReaderPostHeaderView.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Comments

#18146 Split VC: Show correct vc when collapsing split view controllers
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/System/WPSplitViewController.swift
Labels: [Type] Bug, [Pri] Low, My Site

#18166 Add empty Site Intent Question screen in site creation flow
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/DesignSelection/SiteDesignStep.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteSegments/SiteSegmentsStep.swift
  WordPress/Classes/ViewRelated/Site Creation/WebAddress/WebAddressStep.swift
Labels: [Type] Enhancement, Site Creation

#18160 My Site Dashboard (Phase 2): Add ability to remove Quick Start from dashboard
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.h
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.m
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Quick Start, My Site Dashboard

#18134 My Site Dashboard (Phase 2): Accessibility and track events for Stats card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardSingleStatView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: Accessibility, [Type] Task, Tracks, My Site Dashboard

#18170 My Site Dashboard (Phase 2): Revisit quick start notices logic
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Task, Quick Start, My Site Dashboard

#18171 Merge 19.5 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/download_metadata.swift
Labels: Releases

#18162 WeeklyRoundupBackgroundTask - no launch handler
  WordPress/Classes/Utility/BackgroundTasks/BackgroundTasksCoordinator.swift
Labels: [Type] Bug

#18157 My Site Dashboard: change AB test assignment and implement events/properties
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.h
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/SiteAssemblyWizardContent.swift
Labels: [Type] Task, Tracks, My Site Dashboard

#18177 Blogging Prompts: add feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18183 My Site Dasboard (Phase 2): Add tracking for Quick Start dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartTourStateView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
Labels: [Type] Task, Tracks, My Site Dashboard

#18186 Cherry-pick #18162 into 19.4.1 hotfix branch
  WordPress/Classes/Utility/BackgroundTasks/BackgroundTasksCoordinator.swift
Labels: Releases

#18139 No feedback to users when creating Post + Camera is used to capture photos and Photo library permission not given
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
Labels: [Type] Bug, Media

#18191 Remove log messages that could crash the app due to missing params.
  WordPress/Classes/Services/ReaderPostService.m
Labels: [Type] Bug, Notifications, Reader

#18197 Fix: Crash when displaying remove quickstart action sheet on iPad
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.h
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Crash, Quick Start, My Site, My Site Dashboard

#18165 My Site Dashboard: use diffable data source on the posts card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Task, My Site Dashboard

#18182 Fix exit animation of notices
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/System/Notices/NoticeAnimator.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticePresenter.swift
Labels: [Type] Enhancement, General

#18207 My Site Dashboard (Phase 2): Add bottom padding to the dashboard collection view
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
Labels: [Type] Task, Layout, My Site Dashboard

#18140 [Tooling] Split Fastfile for readability and move lanes around
  .rubocop.yml
  Gemfile
  Podfile
  Rakefile
  Scripts/fix-screenshots.rb
  fastlane/Fastfile
  fastlane/Jetpack-Fastfile
  fastlane/ScreenshotFastfile
  fastlane/lanes/build.rb
  fastlane/lanes/codesign.rb
  fastlane/lanes/localization-lanes.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Labels: Tooling

#18192 [Tooling] Additional cleanup of Fastfile lanes (DRYing + QR code support for Installable Builds)
  fastlane/lanes/build.rb
Labels: Tooling

#18211 Revert FBReactNativeSpec hash
  Podfile.lock
Labels: [Type] Bug

#18185 My Site Dashboard: show drafts and/or scheduled cards if needed
  WordPress/Classes/Services/PostCoordinator+Dashboard.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPostsParser.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardPostsParserTests.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-without-posts.json
Labels: [Type] Bug, My Site Dashboard

#18198 Add tracks events to site intent question screen
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreationIntentTracksEventTests.swift
Labels: Site Creation

#18203 Add comments to Sites.strings for translators
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPressIntents/en.lproj/Sites.strings
Labels: Releases

#18217 Merge release/19.5 — iOS Widget translator comments
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPressIntents/en.lproj/Sites.strings
Labels: Releases

#18213 Quick Start: Enhancements to the Reader tour
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: [Type] Enhancement, Reader, Quick Start

#18189 Use feature flag instead of ExPlat for land in the editor
  WordPress/Classes/Utility/AB Testing/ABTest.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Site Creation/FinalAssembly/LandInTheEditorHelper.swift
Labels: Site Creation

#18216 My Site Dashboard: fix lateral margins for iPad and separator
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Views/BlogDashboardPostCardGhostCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Views/BlogDashboardPostCardGhostCell.xib
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, My Site Dashboard

#18196 Feature Introduction: initial view
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Status] DO NOT MERGE, Part of a WIP Feature, Blogging Prompts

#18223 [Tooling] Add improved zsh fastlane completion script
  fastlane/completion.zsh
Labels: Tooling

#18227 My Site Dashboard: change Quick Actions order
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
Labels: [Type] Task, My Site Dashboard

#18226 My Site Dashboard: fix crash for iOS 13 and 14
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Crash, My Site Dashboard

#18219 [Site Intent Question] Display list of default verticals on the Site Intent Question screen
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/IntentCell.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/IntentCell.xib
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentData.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentStep.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentVertical.swift
  WordPress/Classes/ViewRelated/Site Creation/SiteIntent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteAssemblyServiceTests.swift
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: [Type] Task, Site Intent Question

#18237 Fixes Podfile.lock out of sync on trunk
  Podfile.lock
Labels: [Type] Task

#18231 My Site Dashboard: Custom feature announcement
  WordPress/Classes/ViewRelated/What's New/Data store/AnnouncementsDataSource.swift
  WordPress/Classes/ViewRelated/What's New/Data store/AnnouncementsStore.swift
  WordPress/Classes/ViewRelated/What's New/Presenter/WhatIsNewScenePresenter.swift
  WordPress/Classes/ViewRelated/What's New/Views/AnnouncementCell.swift
  WordPress/Classes/ViewRelated/What's New/Views/DashboardCustomAnnouncementCell.swift
  WordPress/Classes/ViewRelated/What's New/Views/FindOutMoreCell.swift
  WordPress/Classes/ViewRelated/What's New/Views/StoriesIntroViewController.swift
  WordPress/Classes/ViewRelated/What's New/Views/WhatIsNewView.swift
  WordPress/Classes/ViewRelated/What's New/Views/WhatIsNewViewAppearance.swift
  WordPress/Classes/ViewRelated/What's New/Views/WhatIsNewViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, [Status] Needs Copy Review, What's New, My Site Dashboard

#18242 Integrate gutenberg-mobile release 1.72.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18240 Enable My Site Dashboard
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, My Site Dashboard

#18239 My Site Dashboard: add small nudge on Today's Stats when there's no views
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardSingleStatView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsNudgeButton.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsStackView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardStatsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardStatsViewModelTests.swift
Labels: [Type] Task, My Site Dashboard

#18241 My Site Dashboard: fix experiment assignment and tracking
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
Labels: [Type] Task, My Site Dashboard

#18249 Integrate gutenberg-mobile release 1.73.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18246 Feature Introduction: configure action buttons
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18247 Blogging Prompts: initial Feature Introduction view
  WordPress/Classes/ViewRelated/Feature Introduction/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts
