Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-05, with the labels that each got.

#18476 Stats Revamp: Updated Latest Post Summary Card
  Podfile
  Podfile.lock
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataClass.swift
  WordPress/Classes/Models/LastPostStatsRecordValue+CoreDataProperties.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 139.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
Labels: Stats Revamp

#18482 Add Blogging Prompts Service
  Podfile
  Podfile.lock
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18489 Feature Highlights: Tooltip Anchor
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipAnchor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Feature Highlight Tooltip

#18485 Remove "context saved" expectation from CoreDataStack mocks
  WordPress/WordPressTest/AccountServiceTests.swift
  WordPress/WordPressTest/AtomicAuthenticationServiceTests.swift
  WordPress/WordPressTest/BlogJetpackTest.m
  WordPress/WordPressTest/ContextManagerMock.h
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
Labels: Testing, Core Data

#18480 Stats Revamp: Adds no data states to Most Popular Time and Latest Post cells
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
Labels: Stats Revamp

#18490 Feature Introduction: show header titles in compact height
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/FeatureIntroductionViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18491 Blogging Prompts Feature Introduction: VoiceOver improvements
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureDescriptionView.xib
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Enhancement, Accessibility, Part of a WIP Feature, Blogging Prompts

#18481 Blogging Prompts: Add creating a new post with a blogging prompt
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18462 [Tooling] Re-implement AppLocalizedStrings linter in swift
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.rb
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.sh
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.swift
  Scripts/BuildPhases/runRubyScript
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#18478 Move creating model instance function out from CoreDataStack mocks
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ActivityContentFactoryTests.swift
  WordPress/WordPressTest/ActivityLogTestData.swift
  WordPress/WordPressTest/ContextManagerMock.h
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableUserContentTests.swift
  WordPress/WordPressTest/NSManagedObject+Fixture.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
  WordPress/WordPressTest/NotificationTextContentTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/NotificationsContentFactoryTests.swift
  WordPress/WordPressTest/PinghubTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
  WordPress/WordPressTest/TestUtilities/JSONLoader.swift
  WordPress/WordPressTest/TestUtilities/JSONObject.swift
Labels: Testing

#18503 Blogging Prompts: Present example prompt in prompts feature intro on 'Try it now' tap
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18508 Add editorialized release notes for WordPress and Jetpack 19.8
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/lanes/localization.rb
Labels: Localization, Releases

#18504 Blogging Prompts: Present new post from 'Answer Prompt' tap on dashboard prompt card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18505 Blogging Prompts List: initial view
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.storyboard
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18513 Blogging Prompts List: prompt table cell
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.xib
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.storyboard
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18507 Change JSONObject.loadFile function to throw errors
  WordPress/WordPressTest/ActivityContentFactoryTests.swift
  WordPress/WordPressTest/ActivityLogFormattableContentTests.swift
  WordPress/WordPressTest/ActivityLogRangesTest.swift
  WordPress/WordPressTest/ActivityLogTestData.swift
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableUserContentTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/NSManagedObject+Fixture.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
  WordPress/WordPressTest/NotificationContentRouterTests.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationTextContentTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/NotificationsContentFactoryTests.swift
  WordPress/WordPressTest/PinghubTests.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TestUtilities/JSONObject.swift
  WordPress/WordPressTest/TrashCommentActionTests.swift
Labels: Testing

#18518 Maintainer PR to run tests on external contributor PR #18507
  WordPress/WordPressTest/ActivityContentFactoryTests.swift
  WordPress/WordPressTest/ActivityLogFormattableContentTests.swift
  WordPress/WordPressTest/ActivityLogRangesTest.swift
  WordPress/WordPressTest/ActivityLogTestData.swift
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/FormattableUserContentTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/NSManagedObject+Fixture.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
  WordPress/WordPressTest/NotificationContentRouterTests.swift
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationTextContentTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/NotificationsContentFactoryTests.swift
  WordPress/WordPressTest/PinghubTests.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TestUtilities/JSONObject.swift
  WordPress/WordPressTest/TrashCommentActionTests.swift
Labels: Testing

#18519 Quick Start for Existing Users: All tour complete notice
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
Labels: [Type] Task, Quick Start

#18515 Blogging Prompts List: add the ability to show empty views for different scenarios.
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18506 [Site Design Revamp] Main View - remove filtering and action buttons
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/RemoteSiteDesign+Thumbnail.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteDesignTests.swift
Labels: [Type] Task, Site Creation

#18512 Establish CoreDataStack mock usage pattern - Part I
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/Menus/Controllers/MenuItemsViewControllerTests.swift
  WordPress/WordPressTest/Menus/MenuItemTests.swift
  WordPress/WordPressTest/Pages/Controllers/PageListViewControllerTests.swift
  WordPress/WordPressTest/ReaderPostTest.m
  WordPress/WordPressTest/ReaderSelectInterestsCoordinatorTests.swift
  WordPress/WordPressTest/ReaderStreamViewControllerTests.swift
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
  WordPress/WordPressTest/TrashCommentActionTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PostListViewControllerTests.swift
Labels: Testing

#18516 Maintainer PR to run tests on external contributor PR #18512
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/Menus/Controllers/MenuItemsViewControllerTests.swift
  WordPress/WordPressTest/Menus/MenuItemTests.swift
  WordPress/WordPressTest/Pages/Controllers/PageListViewControllerTests.swift
  WordPress/WordPressTest/ReaderPostTest.m
  WordPress/WordPressTest/ReaderSelectInterestsCoordinatorTests.swift
  WordPress/WordPressTest/ReaderStreamViewControllerTests.swift
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TestContextManager.h
  WordPress/WordPressTest/TestContextManager.m
  WordPress/WordPressTest/TrashCommentActionTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PostListViewControllerTests.swift
Labels: Testing

#18511 Stats Revamp: New Likes, Comments, Followers Totals Card I
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SparklineView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Revamp

#18520 Upgrade Charts to latest 3.x version, 3.6.0
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
Labels: Tooling

#18524 Blogging Prompts: Fix warnings in `BloggingPromptsHeaderView.xib`
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18533 Blogging Prompts List: show real prompts
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18534 Blogging Prompt Dashboard Card: show a real prompt
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18535 Blogging Prompts: Add answer prompt flow to prompts action sheet header
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonActionSheet.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18537 My Site Dashboard: Fix crash on non-iOS 15 when loading posts cards
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
Labels: [Type] Crash, My Site Dashboard

#18539 My Site Dashboard: Fix posts cards not loaded after logout
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
Labels: [Type] Bug, My Site Dashboard

#18471 Quick Start for Existing Users: Add media upload tour
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+FancyAlerts.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
Labels: [Type] Task, Quick Start

#18543 Update site title when it changes from site settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Bug, My Site

#18548 Blogging Prompt Dashboard Card: show error when fetching prompt fails
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18545 Blogging Prompts: use prompt date fix
  Podfile
  Podfile.lock
  WordPress/Classes/Services/BloggingPromptsService.swift
Labels: [Type] Bug, Part of a WIP Feature, Blogging Prompts

#18530 [Gutenberg] Analytics - Add editor block moved event
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
Labels: Analytics, Gutenberg compatibility

#18559 Fix navigation buttons not scaling with large fonts in Site Intent
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/Wizard/WizardNavigation.swift
Labels: [Type] Bug, Site Creation

#18553 Integrate gutenberg-mobile release 1.75.1
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
Labels: Gutenberg integration

#18567 Fix text flipping in rtl languages
  RELEASE-NOTES.txt
  WordPress/WordPressStatsWidgets/Views/Cards/FlexibleCard.swift
  WordPress/WordPressStatsWidgets/Views/Cards/ListRow.swift
  WordPress/WordPressStatsWidgets/Views/Cards/VerticalCard.swift
  WordPress/WordPressStatsWidgets/Views/SingleStatView.swift
Labels: [Type] Bug, iOS 14 Widgets

#18572 Blogging Prompt Compact Card: show a real prompt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18551 Quick Start for Existing Users: Update Quick Start complete notification copy
  Podfile.lock
Labels: [Type] Task, Quick Start

#18564 Quick Start for Existing Users: Enable feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Quick Start

#18560 Quick Start for Existing Users: Update track events
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.m
  WordPress/Classes/Utility/Analytics/WPAnalytics+QuickStart.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartTourStateView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartFactory.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Analytics, [Type] Task, Quick Start

#18522 Feature/highlights tooltip container
  WordPress/Classes/ViewRelated/Feature Highlight/Tooltip.swift
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipAnchor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Status] Needs Design Review, Part of a WIP Feature, Feature Highlight Tooltip

#18590 QuickStart for Existing Users V2: Mark reader task as done when user taps on a tag
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: [Type] Task, Quick Start

#18576 Blogging Prompts List: limit to 11 prompts, no filtering
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.storyboard
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18574 Blogging Prompts: Add blogging prompts attribution to prompts dashboard card
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/BloggingPromptsAttribution.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Resources/AppImages.xcassets/logo-dayone.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/logo-dayone.imageset/logo-dayone.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18597 Blogging Prompts Feature Introduction: use real prompt for new post
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18509 Stats Revamp: Views Visitors Card and Graph
  WordPress/Classes/Stores/StatsStore+Cache.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/InsightType.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/AddInsightTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsChartMarker.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Stats/Insights/SiteStatsInsightViewModelTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Insights/stats-visits-day-11.json
  WordPress/WordPressTest/ViewRelated/Stats/Insights/stats-visits-day-14.json
  WordPress/WordPressTest/ViewRelated/Stats/Insights/stats-visits-day-4.json
Labels: Stats, Stats Revamp

#18598 Blogging Prompts: Add attribution to prompts header view in action sheet
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18426 [Jetpack] Enable Domains purchases for wpcom sites in adhoc builds
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardView.swift
  WordPress/Jetpack/AppConfiguration.swift
Labels: Jetpack App, Domains

#18584 Merge release/19.8 (19.8.0.2 beta)
  Gemfile.lock
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Pluginfile
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#18599 Blogging Prompt Cards: pass real prompt to post editor
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18595 Enhance the stability of flaky unit tests
  WordPress/WordPressTest/Extensions/XCTestCase+Wait.swift
Labels: [Type] Enhancement, Testing

#18612 Merge finalized release/19.8
  WordPress/Resources/de.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/es-MX/description.txt
  fastlane/metadata/es-MX/keywords.txt
  fastlane/metadata/es-MX/name.txt
  fastlane/metadata/es-MX/subtitle.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
Labels: Releases

#18532 [Tooling] Remove legacy scripts
  Scripts/allowSimulatorPhotosAccess.sh
  Scripts/coverage.py
  Scripts/exportipa/exportOptions.plist
  Scripts/exportipa/exportipa.sh
  Scripts/install-oclint.sh
  Scripts/run-oclint.sh
  Scripts/runUITests.sh
Labels: Tooling

#18562 [Tooling] Include Jetpack bundle ID when using register_new_device
  fastlane/lanes/codesign.rb
Labels: Tooling

#18607 Blogging Prompts: Add Core Data model and adjust service
  MIGRATIONS.md
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/Models/BloggingPrompt+CoreDataProperties.swift
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 140.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
  WordPress/WordPressTest/Test Data/blogging-prompts-fetch-success.json
Labels: [Type] Enhancement, Core Data, Blogging Prompts

#18608 Quick Start: don’t display quick start prompt for self-hosted sites
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Bug, Quick Start

#18591 Quick Start: Refresh Quick Start card location when the default section changes
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteSettings.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Bug, Quick Start

#18619 Quick Start for Existing Users: Fix "Preview your site" waypoint
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, iPad, Quick Start

#18609 Fix an issue where the FAB was not correctly displayed in the post screen on iPad split screen
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: [Type] Bug, Posts List

#18625 My Site Dashboard: fix `default_tab_experiment ` property for `account_created` event
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Bug, Tracks, My Site Dashboard

#18613 Fixes a crash due to an unregistered cell in Stats Insights
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Insights/InsightType.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: [Type] Bug, Stats

#18622 Stats Insights: Added donut chart component
  WordPress/Classes/ViewRelated/Stats/Charts/DonutChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/SparklineView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats Revamp

#18643 Answer Prompt: do not pre-populate post title
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18630 Use ContextManager directly in ContextManagerTests
  WordPress/Classes/Utility/ContextManager.h
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPressTest/ContextManagerMock.h
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/ContextManagerTests.swift
Labels: Testing

#18628 [Site Design Revamp] Main View - Enlarge design thumbnails
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/FilterableCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/GutenbergLayoutPickerViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignCategoryThumbnailSize.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Creation

#18610 Blogging Prompts: Update prompts header view attribution label to be dynamic
  WordPress/Classes/ViewRelated/System/Action Sheet/ActionSheetViewController.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.xib
  WordPress/Classes/ViewRelated/System/Action Sheet/BottomSheetPresentationController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18642 Blogging Prompts Dashboard Card: hide prompt card when prompt skipped
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18646 Reader empty stream: be consistent with capitalization across sections
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
Labels: [Status] Needs Code Review, Reader

#18653 Blogging Prompt Compact Card: correctly display prompt text
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18579 Establish CoreDataStack mock usage pattern - Part III
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AccountServiceTests.swift
  WordPress/WordPressTest/BlogJetpackTest.m
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/ContextManagerMock+AutomaticTeardown.swift
  WordPress/WordPressTest/ContextManagerMock.h
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
  WordPress/WordPressTest/MediaRequestAuthenticatorTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/PostCardCellGhostableTests.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
  WordPress/WordPressTest/ReaderCardServiceTests.swift
  WordPress/WordPressTest/Services/MediaCoordinatorTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Utils/PostNoticeViewModelTests.swift
Labels: Testing

#18654 Merge editorialized release notes for version 19.9
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#18660 Remove 'Z' prefix from a couple test case classes
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
Labels: Testing

#18649 Quick Start: Remove completed list from checklist modal
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Quick Start

#18659 Quick Start: Fix notifications waypoint for RTL locales
  WordPress/Classes/ViewRelated/System/WPTabBarController+QuickStart.swift
Labels: [Type] Bug, Quick Start

#18651 Quick Start for Existing Users: Move site title waypoint to trailing edge
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
Labels: [Type] Enhancement, Quick Start

#18525 [Tooling] Improvements on the AppLocalizedString linter
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.sh
  Scripts/BuildPhases/LintAppLocalizedStringsUsage.swift
Labels: Tooling

#18656 Site Design Revamp - Add Helper Text at the bottom
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18670 Blogging Prompt Cards: hide Share button
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18658 Blogging Prompts: use cached prompts for compact card and prompts list
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18662 Prompts List: don't show table behind empty views
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
Labels: [Type] Bug, Part of a WIP Feature, Blogging Prompts

#18669 Quick Start for Existing Users: End current tour when switching blogs
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Bug, Quick Start

#18665 Disable the nullability completeness warning
  config/SDKVersions.xcconfig
Labels: Tooling

#18666 Replace child contexts in test cases with mainContext
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
  WordPress/WordPressTest/GutenbergSettingsTests.swift
  WordPress/WordPressTest/MediaProgressCoordinatorTests.swift
  WordPress/WordPressTest/MediaTests.swift
  WordPress/WordPressTest/PostTests.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
  WordPress/WordPressTest/QuickStartSettingsTests.swift
Labels: Testing

#18680 Maintainer PR to run tests on external contributor PR #18666
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
  WordPress/WordPressTest/GutenbergSettingsTests.swift
  WordPress/WordPressTest/MediaProgressCoordinatorTests.swift
  WordPress/WordPressTest/MediaTests.swift
  WordPress/WordPressTest/PostTests.swift
  WordPress/WordPressTest/QuickStartFactoryTests.swift
  WordPress/WordPressTest/QuickStartSettingsTests.swift
Labels: Testing

#18667 Move instantiating ContextManagerMock out from NotificationUtility
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/NotificationContentRouterTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TrashCommentActionTests.swift
Labels: Testing

#18681 Maintainer PR to run tests on external contributor PR #18667
  WordPress/WordPressTest/ApproveCommentActionTests.swift
  WordPress/WordPressTest/EditCommentActionTests.swift
  WordPress/WordPressTest/FormattableCommentContentTests.swift
  WordPress/WordPressTest/FormattableContentGroupTests.swift
  WordPress/WordPressTest/LikeCommentActionTests.swift
  WordPress/WordPressTest/MarkAsSpamActionTests.swift
  WordPress/WordPressTest/NotificationContentRouterTests.swift
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/ReplyToCommentActionTests.swift
  WordPress/WordPressTest/TrashCommentActionTests.swift
Labels: Testing

#18682 Define `JetpackModuleHelperDelegate` in ObjC layer to avoid warning
  WordPress/Classes/ViewRelated/Blog/JetpackModuleHelper.swift
  WordPress/Classes/ViewRelated/Blog/SharingViewController.h
Labels: Remove Build Warnings

#18684 Integrate gutenberg-mobile release 1.76.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18606 Feature/highlights tooltip presenter
  WordPress/Classes/ViewRelated/Feature Highlight/Tooltip.swift
  WordPress/Classes/ViewRelated/Feature Highlight/TooltipPresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Type] Task, Feature Highlight Tooltip

#18657 [Site Design Revamp] Main View - Add recommended designs section
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignStep.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteDesignSectionLoaderTests.swift
Labels: [Type] Task, Site Creation

#18693 Blogging Prompts: Local notification scheduler (part 1)
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18655 Translate ContextManagerMock to Swift
  WordPress/Classes/Utility/ContextManager.h
  WordPress/Classes/Utility/ContextManager.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AllTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/Analytics/EditorAnalytics/PostEditorAnalyticsSessionTests.swift
  WordPress/WordPressTest/AnnualAndMostPopularTimeStatsRecordValueTests.swift
  WordPress/WordPressTest/Blog+ObjcTests.m
  WordPress/WordPressTest/BlogJetpackTest.m
  WordPress/WordPressTest/BlogServiceTest.m
  WordPress/WordPressTest/BlogSettingsDiscussionTests.swift
  WordPress/WordPressTest/BlogSiteVisibilityHelperTest.m
  WordPress/WordPressTest/BlogTimeZoneTests.m
  WordPress/WordPressTest/ClicksStatsRecordValueTests.swift
  WordPress/WordPressTest/CommentService+RepliesTests.swift
  WordPress/WordPressTest/CommentServiceTests.swift
  WordPress/WordPressTest/ContextManagerMock.h
  WordPress/WordPressTest/ContextManagerMock.m
  WordPress/WordPressTest/ContextManagerMock.swift
  WordPress/WordPressTest/CountryStatsRecordValueTests.swift
  WordPress/WordPressTest/EditorSettingsServiceTests.swift
  WordPress/WordPressTest/Extensions/DictionaryHelpersTests.swift
  WordPress/WordPressTest/Extensions/Scanner+QuotedTextTests.swift
  WordPress/WordPressTest/Extensions/XCTestCase+Wait.swift
  WordPress/WordPressTest/FileDownloadsStatsRecordValueTests.swift
  WordPress/WordPressTest/FollowersStatsRecordValueTests.swift
  WordPress/WordPressTest/Gutenberg/MediaUploadHashTests.swift
  WordPress/WordPressTest/LastPostStatsRecordValueTests.swift
  WordPress/WordPressTest/MediaPicker/Tenor/TenorDataSouceTests.swift
  WordPress/WordPressTest/MediaProgressCoordinatorTests.swift
  WordPress/WordPressTest/MediaThumbnailExporterTests.swift
  WordPress/WordPressTest/PrepublishingHeaderViewTests.swift
  WordPress/WordPressTest/PublicizeConectionStatsRecordValueTests.swift
  WordPress/WordPressTest/ReaderPostServiceTest.m
  WordPress/WordPressTest/ReaderPostTest.m
  WordPress/WordPressTest/ReferrerStatsRecordValueTests.swift
  WordPress/WordPressTest/SearchResultsStatsRecordValueTests.swift
  WordPress/WordPressTest/Services/MediaCoordinatorTests.swift
  WordPress/WordPressTest/Services/PostAutoUploadInteractorTests.swift
  WordPress/WordPressTest/Services/PostCoordinatorFailedPostsFetcherTests.swift
  WordPress/WordPressTest/Services/PostServiceSelfHostedTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyViewTests.swift
  WordPress/WordPressTest/StatsRecordTests.swift
  WordPress/WordPressTest/StreakStatsRecordValueTests.swift
  WordPress/WordPressTest/TagsCategoriesStatsRecordValueTests.swift
  WordPress/WordPressTest/TodayStatsTests.swift
  WordPress/WordPressTest/TopCommentedPostStatsRecordValueTests.swift
  WordPress/WordPressTest/TopViewedStatsTests.swift
  WordPress/WordPressTest/TopViewedVideoStatsRecordValueTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Helpers/StatsMockDataLoader.swift
  WordPress/WordPressTest/VisitsSummaryStatsRecordValueTests.swift
  WordPress/WordPressTest/WordPressTest-Bridging-Header.h
Labels: Testing

#18706 Site Design Revamp - Add large serif titles to categories
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18695 Blogging Prompts: Add `fetchSettings` and `updateSettings` blogging prompt calls
  Podfile
  Podfile.lock
  WordPress/Classes/Services/BloggingPromptsService.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18697 [Site Design Revamp] Randomize designs
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Extensions/RemoteSiteDesigns.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteDesignSectionLoaderTests.swift
Labels: [Type] Task, Site Creation

#18704 My Site Dashboard: change Quick Actions order
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
Labels: [Type] Enhancement, My Site Dashboard

#18705 Blogging Prompts: Add push notification authorization
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18710 Site Design Revamp - Add Caption to Recommended Section
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/GutenbergLayoutPickerViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
Labels: [Type] Task, Site Creation

#18714 Blogging Prompts: Store notification identifiers
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18708 Stats Insights: Separate Likes and Comments cards with live data
  WordPress/Classes/ViewRelated/Stats/Charts/SparklineView.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Insights/InsightType.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats Revamp

#18720 Stats Revamp: Populate comparison hint for Likes / Comments
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
Labels: Stats Revamp

#18725 [Site Design Revamp] Add period to helper text
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Task, Site Creation

#18683 Adds feature config for fetching beta site designs
  Podfile.lock
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
Labels: [Type] Enhancement, Site Creation

#18719 Blogging Prompts: Add saving the prompt settings to the fetch and update calls
  WordPress/Classes/Models/BloggingPromptSettings+CoreDataClass.swift
  WordPress/Classes/Models/BloggingPromptSettingsReminderDays+CoreDataClass.swift
  WordPress/Classes/Services/BloggingPromptsService.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18723 Blogging Prompts: Show or hide prompt dashboard card based on cached settings
  WordPress/Classes/Services/BlogService+BloggingPrompts.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18735 [Site Design Revamp] Clip collapsable header view controller to bounds
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.xib
Labels: [Type] Task, Site Creation

#18711 Quick Start: New visuals for Quick Start Modal
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistCell.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartToursCollection.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Quick Start

#18728 Blogging Prompts: Schedule static notifications
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18729 Blogging Prompts: Add unscheduling logic
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18730 Blogging Prompts: Add payload to notification request
  WordPress/Classes/Utility/Blogging Reminders/PromptRemindersScheduler.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18671 Remove unnecessary `UpdatePlistPreprocessor` aggregate target and build phase
  .gitignore
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#18731 Posts: omit `metadata` param when creating a post
  Podfile
  Podfile.lock
Labels: [Type] Bug, Posting/Editing

#18734 [Site Design Revamp] Fix constraint warning for collection view
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
Labels: [Type] Task, Site Creation

#18737 Blogging Prompts: Save prompt settings when reminders are scheduled
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18722 Site Design Revamp - Track Recommended Designs
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/SiteDesignPreviewViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSection.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/WordPressTest/SiteCreation/SiteDesignTests.swift
Labels: [Type] Task, Site Creation

#18726 [Site Design Revamp] Cache API results with section assembler function
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignSectionLoader.swift
  WordPress/WordPressTest/SiteCreation/SiteDesignSectionLoaderTests.swift
Labels: [Type] Task, Site Creation

#18741 Stats Insights: Hide comparison from Followers total card
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
Labels: Stats Revamp

#18636 App Settings Cleanup i
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/MediaCacheSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, [Status] Needs Code Review

#18713 Integrate gutenberg-mobile release 1.77.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#18744 Merge 19.9.0.6 with conflicts resolution
  WordPress/Resources/pl.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/en-CA/description.txt
  fastlane/metadata/en-CA/keywords.txt
  fastlane/metadata/en-CA/name.txt
  fastlane/metadata/en-CA/subtitle.txt
  fastlane/metadata/ja/release_notes.txt
Labels: Releases

#18750 Blogging Prompts: Add handler for prompt notifications
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/Utility/Blogging Prompts/PromptRemindersScheduler.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/WPTabBarController+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18748 Stats Revamp: Followers Details Screen
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: Stats, Stats Revamp

#18754 [Site Design Revamp] UI Tweaks
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Layout Picker/CategorySectionTableViewCell.xib
Labels: [Type] Task, Site Creation

#18747 Quick Start: New visuals v2
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.xib
Labels: [Type] Task, [Status] Needs Design Review, Quick Start

#18759 Merge finalized release 19.9
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/en-CA/description.txt
  fastlane/metadata/en-CA/keywords.txt
  fastlane/metadata/en-CA/name.txt
  fastlane/metadata/en-CA/subtitle.txt
Labels: Releases

#18751 Blogging Prompts: Tracks for events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsFeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Blogging Prompts/BloggingPromptsIntroductionPresenter.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18753 Blogging Prompts: Add syncing reminder UI with remote prompts schedule
  WordPress/Classes/Models/BloggingPromptSettings+CoreDataClass.swift
  WordPress/Classes/Models/BloggingPromptSettingsReminderDays+CoreDataClass.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18742 [Gutenberg] Bump `react-native-gesture-handler` to version `2.3.2`
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18764 Comments: Fix comment moderation bar padding in multitasking context
  WordPress/Classes/ViewRelated/Comments/CommentModerationBar.swift
Labels: [Type] Bug, Comments

#18772 Blogging Prompts: Add wrapper component to interface between schedulers
  WordPress/Classes/Utility/Blogging Prompts/ReminderScheduleCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReminderScheduleCoordinatorTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18774 Blogging Prompts: Reminders coordinator integration
  WordPress/Classes/Models/BloggingPromptSettings+CoreDataClass.swift
  WordPress/Classes/Services/BlogService+Reminders.swift
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/Blogging Prompts/PromptRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18770 Build Warnings: Ignore warnings inside the auto-generated `WordPress-Swift.h`
  WordPress/WordPress-Swift.h
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Remove Build Warnings

#18771 Merge 20.0 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#18668 Replace "full" iterative CoreData migration test with "130 to latest" test instead, to speed up test suite
  WordPress/WordPressTest/ContextManagerTests.swift
Labels: Testing

#18773 Build Warnings: remove different warnings
  WordPress/Classes/Services/BlogService+BloggingPrompts.swift
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Jetpack/AppImages.xcassets/icon-tab-notifications-unread-jetpack.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/icon-tab-notifications-unread-jetpack.imageset/icon-tab-notifications-unread-muriel-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/icon-tab-notifications-unread-jetpack.imageset/icon-tab-notifications-unread-muriel.pdf
  WordPress/Jetpack/AppImages.xcassets/wp-illustration-quickstart-existing-site-jetpack.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/wp-illustration-quickstart-existing-site-jetpack.imageset/wp-illustration-quickstart-existing-site.pdf
  WordPress/Jetpack/AppStyleGuide.swift
Labels: [Type] Task, Remove Build Warnings

#18777 Blogging Prompts: Update prompts reminder analytics to match Android
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersTracker.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18768 Use ASC API key in register_new_device lane
  fastlane/lanes/codesign.rb
Labels: Tooling

#18776 Blogging Prompts: Renew prompt reminders for current blog
  WordPress/Classes/Utility/Blogging Prompts/PromptRemindersScheduler.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/WPTabBarController+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18781 Blogging Prompts: Add notification actions for prompt reminders
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Blogging Prompts/PromptRemindersScheduler.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/WPTabBarController+BloggingPrompt.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Blogging Prompts

#18784 Merge Gutenberg 1.77.0 after branch
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#18793 Blogging Prompts: Fix warning when saving settings in `BloggingPromptsService`
  WordPress/Classes/Services/BloggingPromptsService.swift
Labels: [Type] Task, Part of a WIP Feature, Blogging Prompts

#18790 Update BloggingPrompt Transformer class to NSSecureUnarchiveFromData
  MIGRATIONS.md
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 142.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Core Data, Part of a WIP Feature, Blogging Prompts
