Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-11, with the labels that each got.

#19547 Remove unnecessary `cp` of `project.env-example` from CI command
  .buildkite/commands/build-for-testing.sh
Labels: Tooling

#19552 Merge editorialized release for version 21.1 into `trunk`
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#19554 Update blogging prompts answer label color to secondaryLabel
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+BloggingPrompts.swift
Labels: [Type] Enhancement, Blogging Prompts

#19548 Add function to copy keychains and remove shared keychain code
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/CredentialsService.swift
  WordPress/Classes/Services/NotificationSupportService.swift
  WordPress/Classes/Services/ShareExtensionService.swift
  WordPress/Classes/Services/TodayExtensionService.m
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/KeychainUtils.swift
  WordPress/Classes/Utility/Migrations/10-11/BlogToAccount.m
  WordPress/Classes/Utility/Migrations/10-11/BlogToJetpackAccount.m
  WordPress/Classes/Utility/Migrations/BlogToBlog32to33.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
  WordPress/WordPressStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/WordPressTest/KeychainUtilsTests.swift
Labels: [Type] Task, Jetpack Focus

#19556 Don't allow editing from a notification when a post is being edited
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
Labels: Posting/Editing

#19537 Jetpack Focus: Create a generic fullscreen overlay
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayConfig.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19533 WordPress to Jetpack Migration Welcome Screen
  WordPress/Classes/ViewRelated/Blog/Blog + Me/UIBarButtonItem+MeBarButton.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UITableView+Header.swift
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-welcome.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-welcome.imageset/wp-migration-welcome 1.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-welcome.imageset/wp-migration-welcome.pdf
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationFlowCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationStep.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationStepViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Views/MigrationActionsView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Views/MigrationHeaderView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Welcome/MigrationWelcomeBlogTableViewCell.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Welcome/MigrationWelcomeViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Welcome/MigrationWelcomeViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Jetpack Focus

#19563 WordPress to Jetpack flow: main flow implementation
  WordPress/Classes/System/WindowManager.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationFlowCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationStep.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Types/MigrationStepViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress Migration/Welcome/MigrationWelcomeViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationDependencyContainer.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationFlowCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationNavigationController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationStep.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationActionsConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationStepConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationActionsView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationHeaderView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeBlogTableViewCell.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19521 Use a shared operation queue among `NotificationSyncMediator` instances
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/ViewRelated/Stats/Operation/AsyncBlockOperation.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationSyncMediatorTests.swift
Labels: Core Data

#19538 Remove the stored context object in MediaCoordinator and MediaThumbnailCoordinator
  WordPress/Classes/Extensions/Media+Blog.swift
  WordPress/Classes/Extensions/Media+Sync.swift
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaService.swift
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaServiceTests.swift
  WordPress/WordPressTest/Services/MediaCoordinatorTests.swift
Labels: Core Data

#19539 Remove the stored context object in `ReaderStreamViewController`
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Core Data

#19557 Update Jetpack entitlements on all build types to match WP
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
Labels: Jetpack

#19578 Add unit tests for UIImageView.optimizedURL method
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteIconTests.swift
Labels: Testing, [Type] Tech Debt

#19555 Media Picker: Fix the no results message position
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/WordPressTest/ViewRelated/Views/Controllers/NoResultsViewControllerTests.swift
Labels: [Type] Bug, Media

#19581 Merge changes from release 21.1 finalization into `trunk`
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
Labels: Releases

#19559 Add ability to specify custom image size when downloading Site Image
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeBlogTableViewCell.swift
  WordPress/WordPressTest/SiteIconTests.swift
Labels: [Type] Enhancement, Jetpack App

#19531 Jetpack Focus: Disable Notifications For WordPress app when Jetpack notifications enabled - Part 1
  WordPress/Classes/Services/NotificationFilteringService.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
  WordPress/WordPressTest/NotificationFilteringServiceTests.swift
Labels: Notifications, Jetpack, Jetpack Focus

#19595 My Site Dashboard: Fixes an issue where the segmented control is clipped when the dashboard is selected
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, Layout, My Site Dashboard

#19572 JP to WP Migration - Complete notifications permissions and success screen UI
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-done.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-done.imageset/wp-migration-done-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-done.imageset/wp-migration-done-light.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-icon-with-badge.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-icon-with-badge.imageset/wp-migration-icon-with-badge.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-ltr.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-ltr.imageset/wp-migration-notifications-explainer-ltr-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-ltr.imageset/wp-migration-notifications-explainer-ltr-light.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-rtl.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-rtl.imageset/wp-migration-notifications-explainer-rtl-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications-explainer-rtl.imageset/wp-migration-notifications-explainer-rtl-light.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications.imageset/wp-migration-notifications-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-notifications.imageset/wp-migration-notifications-lights.pdf
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationCenterViewConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationStepConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationHeaderView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19571 Jetpack Focus: Display phase one overlays for Stats, Reader, and Notifications
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackOverlayFrequencyTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayConfig.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayGeneralPhaseConfig.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayStaticConfig.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/JetpackNotificationsLogoAnimation_ltr.json
  WordPress/JetpackNotificationsLogoAnimation_rtl.json
  WordPress/JetpackReaderLogoAnimation_ltr.json
  WordPress/JetpackReaderLogoAnimation_rtl.json
  WordPress/JetpackStatsLogoAnimation_ltr.json
  WordPress/JetpackStatsLogoAnimation_rtl.json
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackOverlayFrequencyTrackerTests.swift
Labels: [Type] Task, Jetpack Focus

#19597 Tweak atomic site account deletion error message to give more info
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Releases

#19604 Merge 21.2 code freeze into `trunk` with conflicts resolution
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#19606 Fix a `NSLocalizedStrings` not using a literal value, leading to an export issue
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Localization, Tooling, Jetpack Focus

#19605 Add editorialized release notes for version 21.2
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
Labels: Releases

#19590 Disable Local Notifications for WeeklyRoundupBackgroundTask + Remove pending notifications in settings
  RELEASE-NOTES.txt
  WordPress/Classes/Services/NotificationFilteringService.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack Focus

#19615 Sync Weekly Roundup and notifications switch state
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
Labels: [Type] Bug, Jetpack Focus

#19611 Disable Local Notifications and Flow for Blogging Reminders
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsPinnedItemStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Stats/Insights/SiteStatsPinnedItemStoreTests.swift
Labels: Blogging Reminders, Jetpack Focus

#19621 Continue saving fetched posts even if the service instance is released
  WordPress/Classes/Services/ReaderPostService+PostsV2.swift
Labels: [Type] Bug, Core Data

#19622 Jetpack Content Migration Flow: Add a data migrator class
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Task, Jetpack Focus

#19618 [Jetpack Content Migration Flow] Add Help Screen
  WordPress/Classes/ViewRelated/Me/Views/Header/MeHeaderView.h
  WordPress/Classes/ViewRelated/Me/Views/Header/MeHeaderView.m
  WordPress/Classes/ViewRelated/Me/Views/Header/MeHeaderViewConfiguration.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/UITableView+Header.swift
  WordPress/Classes/ViewRelated/Support/LogOutActionHandler.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewControllerConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationDependencyContainer.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationNavigationController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19635 Update various localized strings to use reverse-DNS keys
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/QR Login/View Controllers/QRLoginVerifyAuthorizationViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/CustomizeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GrowAudienceCell.swift
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionEditorViewController.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
Labels: Localization

#19602 Jetpack Focus: Display Site Creation overlay
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel+Analytics.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewModel.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Creation, Jetpack Focus

#19647 [Tooling] Use explicit title for Beta/Release builds on Buildkite UI
  fastlane/lanes/release.rb
Labels: Tooling

#19646 Jetpack Focus: Add analytics tracking for the Jetpack Site Creation overlay
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel+Analytics.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: Analytics, [Type] Task, Jetpack Focus

#19645 Remote Feature Flags: Add the ability to override remote feature flag values
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
Labels: [Type] Enhancement, Core

#19650 [Jetpack] Content Migration Feature Flag
  WordPress/Classes/Stores/UserPersistentStoreFactory.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/LegacyContextFactory.m
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19638 Jetpack migration flow - add success card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Jetpack/AppImages.xcassets/wp-migration-success-card-icon.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/wp-migration-success-card-icon.imageset/wp-migratrion-success-card-icon.pdf
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/DashboardMigrationSuccessCell.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessCardView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19654 Merge 21.2.0.2 to trunk
  WordPress/JetpackDraftActionExtension/sq.lproj/InfoPlist.strings
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#19603 Add universal link action for the Jetpack overlay
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Universal Links/Routes+Jetpack.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Info.plist
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Jetpack Focus

#19632 [Jetpack Content Migration] Notification and Success screens UI Tweaks
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationActionsView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewController.swift
Labels: [Type] Task, Jetpack Focus

#19652 Jetpack Focus: Correctly handle large text within the fullscreen overlay
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewModel.swift
Labels: [Type] Bug, Accessibility, Jetpack Focus

#19653 Jetpack Focus: Hook up the CTA button for the fullscreen overlay
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackRedirector.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19636 Call `AVCaptureSession` `startRunning` from a background thread
  WordPress/Classes/ViewRelated/QR Login/Helpers/QRLoginCameraSession.swift
Labels: [Type] Bug

#19644 Remove "null" frameworks from a few targets
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Core

#19661 [Jetpack Content Migration] Display Migration UI when Content Migration Feature Flag is enabled
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: [Type] Task, Jetpack App

#19616 Jetpack Focus: Disable WordPress app notifications from Jetpack app by using URL schemes
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Services/NotificationFilteringService.swift
  WordPress/Classes/System/Constants.h
  WordPress/Classes/System/Constants.m
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/BackgroundTasks/BackgroundTasksCoordinator.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsPinnedItemStore.swift
  WordPress/Info.plist
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Info.plist
  WordPress/WordPress-Internal-Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
  WordPress/WordPressTest/NotificationFilteringServiceTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Insights/SiteStatsPinnedItemStoreTests.swift
  WordPress/Wordpress-Alpha-Info.plist
Labels: Notifications, Jetpack Focus

#19634 Fix the app not being refreshed after disconnecting from WordPress.com in Jetpack Settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackConnectionViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSettingsViewController.swift
Labels: [Type] Bug, Jetpack

#19660 Jetpack Migration: Skip copying over private keychain
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19629 Jetpack Focus: Reschedule local WordPress notifications after reenabling notifications
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
Labels: Jetpack Focus

#19663 Jetpack migration: Copy Today Widget data to JP
  WordPress/Classes/Utility/Blogging Prompts/PromptRemindersScheduler.swift
  WordPress/Classes/Utility/KeychainUtils.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPressTest/DataMigratorTests.swift
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19669 [Jetpack] Unsync user defaults with WP-JP
  WordPress/Classes/Stores/UserPersistentStoreFactory.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19670 Jetpack Focus: Disable notifications - always access isRegisteredForRemoteNotifications from main thread
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsPinnedItemStore.swift
Labels: [Type] Bug, Notifications, Jetpack Focus

#19673 Merge final release/21.2
  WordPress/JetpackDraftActionExtension/nl.lproj/InfoPlist.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/pt-BR/release_notes.txt
Labels: Releases

#19665 Jetpack Extensions: Use different keys to avoid conflicts between WP and JP extensions
  RELEASE-NOTES.txt
  WordPress/Classes/Services/NotificationFilteringService.swift
  WordPress/Classes/Services/NotificationSupportService.swift
  WordPress/Classes/Services/ShareExtensionService.swift
  WordPress/Classes/Stores/UserPersistentRepository.swift
  WordPress/Classes/Stores/UserPersistentStore.swift
  WordPress/Classes/System/Constants.m
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/Utility/App Configuration/AppDependency.swift
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/Utility/App Configuration/ExtensionConfiguration.swift
  WordPress/Classes/Utility/App Configuration/WidgetConfiguration.swift
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/Jetpack/AppConstants.swift
  WordPress/Jetpack/AppDependency.swift
  WordPress/Jetpack/AppStyleGuide.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/ExtensionConfiguration.swift
  WordPress/Jetpack/WidgetConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
  WordPress/WordPressTest/DataMigratorTests.swift
  WordPress/WordPressTest/InMemoryUserDefaults.swift
Labels: [Type] Bug, Share Extension, Jetpack Focus

#19671 [Jetpack Content Migration] Success Card Actions
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationActionsConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationCenterViewConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/MigrationDeleteWordPressViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/MigrationDeleteWordPressViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/UIButton+Dismiss.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Collection View/DashboardMigrationSuccessCell+Jetpack.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Collection View/DashboardMigrationSuccessCell+WordPress.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Collection View/DashboardMigrationSuccessCell.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessActionHandler.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Table View/MigrationSuccessCell+Jetpack.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Table View/MigrationSuccessCell+WordPress.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Table View/MigrationSuccessCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack App, Jetpack Content Migration Flow

#19674 Jetpack migration: Wire up export function to the UI in WordPress
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19655 [Jetpack Migration Flow] [Jetpack] Determine if WordPress app is installed
  WordPress/Classes/Extensions/UIApplication+AppAvailability.swift
  WordPress/Jetpack/Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Content Migration Flow

#19680 [Jetpack Migration Flow] [Jetpack] Determine if installed WordPress version is capable of Jetpack migrations
  WordPress/Classes/Extensions/UIApplication+AppAvailability.swift
  WordPress/Info.plist
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationAppDetection.swift
  WordPress/Jetpack/Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Content Migration Flow

#19676 Add import logic to `JetpackWindowManager`
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19686 Jetpack Focus: Add convenience method for retrieving the removal deadline
  WordPress/Classes/Stores/RemoteConfigStore.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfig.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfigParameter.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/WordPressTest/InMemoryUserDefaults.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
Labels: [Type] Task, Jetpack Focus

#19684 Check all posts remote status instead of just drafts
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
Labels: [Type] Task, Jetpack Focus, Jetpack Content Migration Flow

#19692 Jetpack migration flow - add tracks for migratable and not migratable statuses
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationAppDetection.swift
Labels: [Type] Task, Jetpack Focus

#19690 [Jetpack Content Migration] Send Migration Email
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationEmailService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus, Jetpack Content Migration Flow
