Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2022-12, with the labels that each got.

#19697 [Disable notifications] Fix not registering for WP notifications during the initial launch
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
Labels: [Type] Bug, Notifications, Jetpack Focus

#19696 [Jetpack Content Migration] The Migration Flow doesn't disappear when signing out
  WordPress/Classes/ViewRelated/Support/LogOutActionHandler.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow

#19698 Merge 21.3 fixes & editorialized release notes to trunk
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIApplication+AppAvailability.swift
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Classes/ViewRelated/Support/LogOutActionHandler.swift
  WordPress/Info.plist
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationAppDetection.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationEmailService.swift
  WordPress/Jetpack/Info.plist
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
  WordPress/WordPressTest/DataMigratorTests.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
Labels: Releases

#19700 Fix share extension navigation bar being transparent
  RELEASE-NOTES.txt
  WordPress/WordPressShareExtension/MainShareViewController.swift
Labels: [Type] Bug

#19683 Add SharedDataIssueSolver class
  WordPress/Classes/Models/WPAccount.m
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/Classes/Utility/SharedDataIssueSolver.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DataMigratorTests.swift
  WordPress/WordPressTest/SharedDataIssueSolverTests.swift
Labels: [Type] Task, Jetpack Focus, Jetpack Content Migration Flow

#19708 Remove unnecessary `SchedulingViewControllerProtocol`
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingViewControllerPresenter.swift
Labels: [Type] Tech Debt

#19706 Jetpack Focus: Fix extensions keychain data not properly migrated
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/SharedDataIssueSolver.swift
  WordPress/WordPressTest/SharedDataIssueSolverTests.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow

#19677 Tracks: Fix currently selected screen value when Login is set as root
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Enhancement, Tracks, Jetpack Focus, Jetpack Content Migration Flow

#19711 [Jetpack Content Migration] Migration Events Tracking
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationEvent.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationEmailService.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationActionsView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/MigrationDeleteWordPressViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessActionHandler.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessCardView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus, Jetpack Content Migration Flow

#19713 Export and import blogging reminders using the blog's url
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
Labels: [Type] Bug, Jetpack Focus

#19710 Jetpack Migration: Provide a path for JP to trigger data export in WP
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Universal Links/Migration/MigrationDeepLinkRouter.swift
  WordPress/Classes/Utility/Universal Links/Migration/WordPressExportRoute.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigratableStateTracker.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Load WordPress/MigrationLoadWordPressViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Load WordPress/MigrationLoadWordPressViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19714 [Jetpack Content Migration] Enable Content Migration Flow
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19699 Remove redundant `#available(iOS 13, *)` and `@available(iOS 13, *)` checks
  WordPress/Classes/ViewRelated/Activity/Filter/FilterChipButton.swift
  WordPress/Classes/ViewRelated/Blog/Blog + Me/GravatarButtonView.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/Time Selector/TimeSelectionView.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebNavigationViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Views/GutenGhostView.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/TitleSubtitleTextfieldHeader.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapView.swift
  WordPress/Classes/ViewRelated/Stats/Today Widgets/WidgetStyles.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/WordPressShareExtension/ExtensionPresentationController.swift
Labels: Tooling

#19719 Track Load WordPress screen events and content export events
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationEvent.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Load WordPress/MigrationLoadWordPressViewController.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19730 CMF: Don't present the flow when feature flag is disabled
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow

#19734 [Jetpack Content Migration] Disable Content Migration Flow
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Jetpack Content Migration Flow

#19736 [Jetpack Content Migration Flow] Put the ContentMigrationCoordinator behind feature flag
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: Jetpack Content Migration Flow

#19707 Remove redundant `@available(iOS 12, *)` annotations and checks
  WordPress/Classes/Models/ValueTransformers.swift
  WordPress/Classes/ViewRelated/Tools/SettingsTextViewController.m
Labels: [Type] Tech Debt

#19709 Remove redundant `available(iOS 14, *)` annotations and checks
  WordPress/Classes/Extensions/UITextField+WorkaroundContinueIssue.swift
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteIconPickerView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergFilesAppMediaSource.swift
  WordPress/Classes/ViewRelated/Media/DeviceMediaPermissionsHeader.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/ActionSheetViewController.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
Labels: [Type] Tech Debt

#19732 Update WordPress 21.3 release notes with Jetpack migration
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#19735 [Jetpack Focus] Revert Jetpack Notifications Disabling Feature Flag and Release Notes
  RELEASE-NOTES.txt
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
Labels: Jetpack Focus

#19740 Fix site icon alert logic
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
Labels: [Type] Bug, My Site

#19747 Merge beta 21.3.0.3 into `trunk`
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#19749 [Fix] Jetpack force logout on accounts with no sites
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: [Type] Bug, Jetpack App

#19703 Jetpack Focus: Display phase two/three overlays for Stats, Reader, and Notifications
  WordPress/Classes/Utility/BuildInformation/RemoteConfig.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewModel.swift
Labels: [Status] DO NOT MERGE, [Type] Task, Jetpack Focus

#19758 Update comments to Jetpack from JetPack.
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: [Type] Task

#19694 [Stats Widget] Reduce the refresh interval for Stats widgets
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
Labels: [Type] Bug, Stats, iOS 14 Widgets

#19759 [Jetpack Content Migration Flow] Enable feature flags
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Jetpack Content Migration Flow

#19764 [Bugfix] Localize Blogging Prompts Answer Button
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
Labels: [Type] Bug, i18n

#19717 Post / Page creation: Don't send default Post.authorID to the API
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: [Type] Bug, Posting/Editing

#19756 Remove self-hosted credentials from keychain when the site is removed
  WordPress/Classes/Models/Blog.m
Labels: [Type] Bug, Self-hosted, Keychain

#19751 Fix VoiceOver crash when initial screen is Home
  WordPress/Classes/ViewRelated/Reader/Tags View/DynamicHeightCollectionView.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/TopicsCollectionView.swift
Labels: [Type] Crash, VoiceOver, My Site Dashboard

#19754 Jetpack Migration: Clean up exported content on WP log out
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19750 Fixes a couple of flaky unit and UI tests
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/WordPressTest/MediaURLExporterTests.swift
Labels: [Type] Enhancement, Testing

#19588 Remove ContextManagerMock
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Blog+ObjcTests.m
  WordPress/WordPressTest/BlogJetpackTest.m
  WordPress/WordPressTest/BlogServiceTest.m
  WordPress/WordPressTest/BlogSiteVisibilityHelperTest.m
  WordPress/WordPressTest/BlogTimeZoneTests.m
  WordPress/WordPressTest/BloggingRemindersSchedulerTests.swift
  WordPress/WordPressTest/ContextManager+Helpers.swift
  WordPress/WordPressTest/ContextManagerTests.swift
  WordPress/WordPressTest/CoreDataTestCase.swift
  WordPress/WordPressTest/MenusServiceTests.m
  WordPress/WordPressTest/Notification/Controllers/NotificationsViewControllerTests.swift
  WordPress/WordPressTest/PostCategoryServiceTests.m
  WordPress/WordPressTest/PostTagServiceTests.m
  WordPress/WordPressTest/PromptRemindersSchedulerTests.swift
  WordPress/WordPressTest/ReaderPostServiceTest.m
  WordPress/WordPressTest/ReaderPostTest.m
  WordPress/WordPressTest/ThemeServiceTests.m
  WordPress/WordPressTest/WPAccount+ObjCLookupTests.m
Labels: Core Data

#19765 Fix crash when `perform` is called on a context with deprecated concurrency type
  WordPress/Classes/Utility/ContainerContextFactory.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ContainerContextFactoryTests.swift
Labels: [Type] Bug, [Type] Crash, Core Data, Jetpack Content Migration Flow

#19768 Stats Revamp: Change follower details to be the same behaviour as Android
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
Labels: Stats, Stats Revamp

#19769 [Reader] Scroll to the top if the tab bar button is tapped
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: [Type] Enhancement, Reader

#19772 Notifications: Fix filter tab color "leaking" to table view in dark scheme
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug, Notifications

#19775 Remove bounce back to safari code
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
Labels: [Type] Bug, Universal Links, Jetpack App

#19777 [Jetpack Content Migration Flow] Update schemes for Alpha and Internal builds
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackRedirector.swift
  WordPress/WordPress-Internal-Info.plist
  WordPress/Wordpress-Alpha-Info.plist
Labels: [Type] Task, Jetpack Content Migration Flow

#19778 [Tooling] Update App Center Distribution Group used by Installable Builds
  fastlane/lanes/build.rb
Labels: Tooling

#19780 Jetpack Migration: Use app group constant instead of hardcoded value
  WordPress/Classes/System/Constants.m
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow

#19782 Jetpack Focus: Adds Jetpack menu card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/Table View/MigrationSuccessCell.swift
  WordPress/JetpackAllFeaturesLogosAnimation_ltr.json
  WordPress/JetpackAllFeaturesLogosAnimation_rtl.json
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site, Jetpack Focus

#19664 Fix Weekly Update debug instructions
  WordPress/Classes/ViewRelated/Developer/WeeklyRoundupDebugScreen.swift
Labels: Testing, [Type] Task

#19785 Jetpack Focus: Implements actions inside the Jetpack menu card
  WordPress/Classes/Stores/RemoteConfigStore.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfigParameter.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Task, My Site, Jetpack Focus

#19793 Use Xcode 14.2 on CI
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcversion
Labels: [Type] Core

#19786 Jetpack Focus: Add analytics tracking for the Jetpack menu card
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
Labels: Analytics, [Type] Task, Jetpack Focus

#19795 Jetpack Focus: Display phase three feature collection overlay on app open
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackOverlayFrequencyTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/WordPressTest/JetpackOverlayFrequencyTrackerTests.swift
Labels: [Type] Task, Jetpack Focus

#19792 Prevent multiple threads exporting data at the same time
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Crash, Jetpack Focus, Jetpack Content Migration Flow

#19787 Jetpack Migration: Do not direct to WordPress if there are prior migration errors
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
Labels: [Type] Enhancement, Jetpack Focus, Jetpack Content Migration Flow

#19798 [Jetpack Content Migration Flow] [Load WordPress view] Secondary description key
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Load WordPress/MigrationLoadWordPressViewModel.swift
Labels: [Type] Task, Jetpack Content Migration Flow

#19801 Stats Revamp: Show Total Likes details data for this week instead of last 7 days
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: [Type] Bug, Stats Revamp

#19790 [Stats Revamp] Fixing Scaling Font (Dynamic Type) issues
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Stats/Charts/DonutChartView.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/InsightsManagementViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsFollowersChartViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsReferrersChartViewModel.swift
Labels: [Type] Bug, Accessibility, Jetpack, Stats Revamp

#19757 [Stats Revamp] Show data for a week in Views & Visitors and Total Likes details
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsRevampStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Classes/Stores/StatsRevampStoreTests.swift
Labels: [Type] Bug, Stats Revamp

#19805 [Stats Revamp] Fix Country card does not have any title in details
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.xib
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: [Type] Bug, Stats, Stats Revamp

#19806 Jetpack Focus: Update remote config keys
  WordPress/Classes/Utility/BuildInformation/RemoteConfig.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
Labels: Jetpack Focus

#19814 Integrate gutenberg-mobile release 1.86.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#19808 [Stats Revamp] Show "View More" CTA instead of "Week" CTA for Total Comments card
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
Labels: [Type] Enhancement, Stats, Jetpack App, Stats Revamp

#19691 [Gutenberg] Disable editor Jetpack-powered features based on Jetpack Features Removal phases
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
Labels: Gutenberg integration

#19819 [Stats Revamp] Recalculate the height of Insights Update prompt header when dynamic text size changes
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: [Type] Bug, Accessibility, Jetpack App, Stats Revamp

#19822 Increase the migration welcome screen top inset in iOS 14 only
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Welcome/MigrationWelcomeViewController.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow
