Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-04, with the labels that each got.

#20460 Use the default link behavior when counterpart app exists
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
Labels: [Type] Enhancement, Universal Links

#20455 Prefix the Jetpack version of `icon-tab-mysites` with `jetpack-`
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/jetpack-icon-tab-mysites.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/jetpack-icon-tab-mysites.imageset/icon-tab-mysite.pdf
  WordPress/Jetpack/AppStyleGuide.swift
Labels: Remove Build Warnings

#20457 Merge finalized 22.0 release
  WordPress/Resources/fr.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/fr-FR/subtitle.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#20395 Enable Core Data concurrency debug option in UI tests
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
Labels: Core Data

#20384 Hiding dashboard cards: add context menus
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/BlazeCardView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardAnalytics.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardHelpers.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallCardView.swift
  WordPress/Resources/AppImages.xcassets/more-horizontal-mobile.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/more-horizontal-mobile.imageset/more-horizontal-mobile.svg
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, My Site Dashboard

#20462 Merge 22.1 code freeze
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#20465 Replace all `case _:` with `default:`
  WordPress/UITestsFoundation/XCTestCase+Utils.swift
Labels: Core

#20464 Add launch arguments and env vars to the Jetpack scheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Jetpack.xcscheme
Labels: [Type] Core

#20472 Fix Activity Log and Plugins not working on Jetpack
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/Services/CredentialsService.swift
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/Utility/App Configuration/AppDependency.swift
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/Utility/App Configuration/ExtensionConfiguration.swift
  WordPress/Classes/Utility/KeychainTools.swift
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/Jetpack/AppConstants.swift
  WordPress/Jetpack/AppDependency.swift
  WordPress/Jetpack/AppStyleGuide.swift
  WordPress/Jetpack/ExtensionConfiguration.swift
Labels: [Type] Bug, Activity Log, Jetpack App

#20424 Domains Dashboard Card: Presentation & Analytics
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardCardConfigurable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardTracker.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardFactory.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Tracks, Domains, Domains Dashboard Card

#20477 Dashboard Cards: Activity log skeleton UI
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#20469 Turn on unused parameters warning
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.m
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Services/ThemeService.m
  WordPress/Classes/Utility/LocationService.m
  WordPress/Classes/Utility/ReachabilityUtils.m
  WordPress/Classes/Utility/UIAlertControllerProxy.m
  WordPress/Classes/Utility/WPAuthTokenIssueSolver.m
  WordPress/Classes/Utility/WPAvatarSource.m
  WordPress/Classes/Utility/WPError.m
  WordPress/Classes/Utility/WPWebViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingAuthorizationHelper.m
  WordPress/Classes/ViewRelated/Blog/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingDetailViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/Related Posts/RelatedPostsSettingsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Comments/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/ActivityLogViewController.m
  WordPress/Classes/ViewRelated/Media/WPAndDeviceMediaLibraryDataSource.m
  WordPress/Classes/ViewRelated/Menus/MenuItemAbstractPostsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemCategoriesViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemTagsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/Post/FeaturedImageViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.m
  WordPress/Classes/ViewRelated/Views/WPAnimatedBox.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/TextBundleWrapper.m
  WordPress/WordPressTest/MenusServiceTests.m
  WordPress/WordPressTest/PostCategoryServiceTests.m
  WordPress/WordPressTest/PostTagServiceTests.m
  WordPress/WordPressTest/WPAvatarSourceTest.m
  config/Common.xcconfig
  config/SDKVersions.xcconfig
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  config/WordPress.release.xcconfig
Labels: [Type] Core

#20473 Add an unit test for CommentService.updateRepliesVisibility
  WordPress/Classes/Services/CommentService+Replies.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CommentService+RepliesTests.swift
  WordPress/WordPressTest/Test Data/reader-post-comments-success.json
Labels: Core Data

#20475 Update blogging prompt card on pull-to-refresh
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Enhancement, Blogging Prompts

#20428 [Gutenberg] Support POST requests
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergNetworking.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg compatibility

#20479 Dashboard Cards: Pages card skeleton
  WordPress/Classes/Models/WPAccount.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-drafts-and-scheduled.json
Labels: [Type] Task, My Site Dashboard

#20481 Dashboard cards: Activity log context menu
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
Labels: [Type] Task, My Site Dashboard

#20262 [Gutenberg] Remove Keyboard Aware Flatlist
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility

#20493 My Site Dashboard: Fixes the dashboard not loading
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
Labels: [Type] Bug, My Site Dashboard

#20497 Integrate gutenberg-mobile release 1.92.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#20502 Update git s3 cache plugin to the latest version
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: [Type] Core

#20501 The repo cache key should be buildkite pipeline slug
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: [Type] Core

#20490 Fix: App crashes when tapping more and share button in the Reader Details screen
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIPopoverPresentationController+PopoverAnchor.swift
  WordPress/Classes/ViewRelated/Post/PostSharingController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShareAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Crash, Reader, Jetpack App

#20495 Dashboard Cards: Configure Pages card context menu
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesCardCell.swift
Labels: [Type] Task, My Site Dashboard

#20514 Fix failing unit test in testShowShareSheet
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: Testing

#20515 Jetpack Focus: Emphasize uninstalling the app in the migration success card
  RELEASE-NOTES.txt
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-success-card-icon-ltr.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-success-card-icon-ltr.imageset/wp-migration-success-card-icon-ltr.pdf
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-success-card-icon-rtl.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/WordPress Migration/wp-migration-success-card-icon-rtl.imageset/wp-migration-success-card-icon-rtl.pdf
  WordPress/Jetpack/AppImages.xcassets/wp-migration-success-card-icon.imageset/wp-migratrion-success-card-icon.pdf
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationCenterViewConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/MigrationDeleteWordPressViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessCardView.swift
Labels: [Type] Enhancement, Jetpack Focus

#20529 Integrate gutenberg-mobile release 1.93.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#20528 Domains Dashboard Card: Fix Domains presentation on iPad
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardCoordinator.swift
Labels: [Type] Bug, Domain Registration, Domains Dashboard Card

#20540 Blogging Prompts: Enable the blogging prompts social feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Task, Blogging Prompts

#20545 Fix event name for plugin installation failures
  WordPress/Classes/ViewRelated/Jetpack/Install/ViewModel/WPComJetpackRemoteInstallViewModel.swift
Labels: [Type] Enhancement, Tracks, Jetpack Install

#20510 Enable the Core Data Concurrency Debug launch argument
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Jetpack.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: [Type] Core

#20378 Update `a8c-ci-toolkit` to latest version, 2.15.1
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: Tooling

#20468 [Doman Purchase] Site Preview UI
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/WordPressTest/SiteCreation/SiteAssemblyViewTests.swift
Labels: Site Creation, Jetpack App

#20538 Dashboard Cards: Fixes card header flashes on launch
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
Labels: [Type] Bug, My Site Dashboard

#20476 Jetpack: Reorganize My Site Menu
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Strings.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogDetailsSubsectionToSectionCategoryTests.swift
Labels: [Type] Enhancement, [Status] DO NOT MERGE, My Site, Jetpack App

#20524 Dashboard Cards: Display latest pages in Pages card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPageCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/PagesCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCardTableView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/DashboardPostsSyncManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Resources/AppImages.xcassets/icon.calendar.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon.calendar.imageset/icon.calendar.png
  WordPress/Resources/AppImages.xcassets/icon.calendar.imageset/icon.calendar@2x.png
  WordPress/Resources/AppImages.xcassets/icon.calendar.imageset/icon.calendar@3x.png
  WordPress/Resources/AppImages.xcassets/icon.globe.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon.globe.imageset/icon.globe.png
  WordPress/Resources/AppImages.xcassets/icon.globe.imageset/icon.globe@2x.png
  WordPress/Resources/AppImages.xcassets/icon.globe.imageset/icon.globe@3x.png
  WordPress/Resources/AppImages.xcassets/icon.verse.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon.verse.imageset/icon.verse.png
  WordPress/Resources/AppImages.xcassets/icon.verse.imageset/icon.verse@2x.png
  WordPress/Resources/AppImages.xcassets/icon.verse.imageset/icon.verse@3x.png
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
Labels: [Type] Task, My Site Dashboard

#20536 Dashboard Card: Implement Pages card actions
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesListCardCell.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site Dashboard

#20537 Dashboard Cards: Handle Dark mode for the Pages Card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPageCell.swift
Labels: [Type] Task, My Site Dashboard

#20511 Strip Gutenberg VideoPress block for excerpt
  Podfile
  Podfile.lock
Labels: Gutenberg compatibility

#20549 Scheduled Posts: Fix date modified being set to future date
  WordPress/Classes/Services/PostService.m
Labels: [Type] Bug, Post Scheduling Enhancements

#20559 Fix Domains Service initializer crash when wordPressComRestApi is nil
  WordPress/Classes/Services/BlogService+Domains.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
Labels: [Type] Crash, Domains

#20556 Notifications: Fixes a crash when tapping the notifications tab multiple times right after launch
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Crash, Notifications

#20551 Dashboard Cards: Refactor Activity
  WordPress/Classes/Extensions/JSONDecoderExtension.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
Labels: [Type] Task, My Site Dashboard

#20522 [Gutenberg] Emit editor save events
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: Gutenberg integration

#20570 Domains Dashboard Card: Card UI v2
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardSearchView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Domains, Domains Dashboard Card

#20571 Gutenberg Mobile: Emit save event to Gutenberg upon preview
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
Labels: Gutenberg integration

#20567 Fix: Use default value for nil sitenames when displaying a notice
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
Labels: [Type] Enhancement, Reader

#20574 Integrate gutenberg-mobile release 1.93.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#20585 [Gutenberg] Fix range out of bounds exception in block upload processor
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergBlockProcessor.swift
  WordPress/WordPressTest/GutenbergVideoPressUploadProcessorTests.swift
Labels: [Type] Crash, Gutenberg compatibility

#20562 [UI Tests] Add Domains Dashboard Card UI test
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/feature-flags.json
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/UITests/Tests/DashboardTests.swift
  WordPress/UITests/WordPressUITests.xctestplan
  WordPress/UITestsFoundation/Screens/DomainsScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing

#20580 [Gutenberg] Enable VideoPress block
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg compatibility

#20582 Activity Log: Explicitly set Activity Store to return all items
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
Labels: [Type] Bug, Activity Log

#20584 Dashboard Cards: Track activity log events
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell+ActivityPresenter.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Task, My Site Dashboard

#20588 Dashboard Cards: Pages card track events
  WordPress/Classes/System/RootViewPresenter+EditorNavigation.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/PagesCardViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
Labels: Analytics, [Type] Task, My Site Dashboard

#20596 My Site Dashboard: Fix the dashboard not loading for contributors
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/Generics/FailableDecodable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardStatsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/Dashboard/DashboardStatsViewModelTests.swift
Labels: [Type] Bug, My Site Dashboard

#20601 Dashboard Cards: Add "new" label for dashboard cards
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
Labels: [Type] Task, My Site Dashboard

#20605 Fix a crash when dashboard is reloaded from a background thread
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
Labels: [Type] Crash, My Site Dashboard

#20604 Revert "Dashboard Cards: Add "new" label for dashboard cards"
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/DashboardPagesListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
Labels: [Type] Task, My Site Dashboard

#20589 Domains Dashboard Card: Hide card from P2 (WP for teams) sites
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/Dashboard/DomainsDashboardCardHelperTests.swift
Labels: Domains, Domains Dashboard Card

#20547 Add Domain Purchasing step in Site Creation flow
  WordPress/Classes/ViewRelated/Domains/Domain registration/DomainPurchasingWebFlowController.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/SiteCreatorTests.swift
Labels: Site Creation, Jetpack App, Domains

#20608 [Reader] Add --color-neutral-5 to ReaderWebView CSS colors
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
Labels: [Type] Bug, Reader

#20617 Integrate gutenberg-mobile release 1.94.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#20612 Domains: Use a common criterion for supporting domain purchases
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/BlogTests.swift
  WordPress/WordPressTest/Dashboard/DomainsDashboardCardHelperTests.swift
Labels: [Type] Enhancement, Refactor, Domains, Domains Dashboard Card

#20614 [Domain Purchase] Update final UI strings
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
Labels: Site Creation, Jetpack Mobile

#20619 Merge finalized release 22.2
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#20621 Fix Domain Dashboard Card appearing while domains information is still loading
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/Dashboard/DomainsDashboardCardHelperTests.swift
Labels: [Type] Enhancement, Domains, Domains Dashboard Card

#20579 Comments: Update styling to match app colors
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Resources/HTML/richCommentStyle.css
  WordPress/Resources/HTML/richCommentTemplate.html
Labels: [Type] Enhancement, Comments
