Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-03, with the labels that each got.

#20216 Add a few unit tests for `ReaderSiteService`
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderSiteServiceTests.swift
Labels: Reader, Core

#20221 Merge 21.7.2 hotfix into 21.8
  WordPress/Classes/Utility/ContextManager.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
Labels: Releases

#20197 Use `CoreDataStack` in `ReaderPostService`
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost+Helper.swift
  WordPress/Classes/Services/Reader Post/ReaderPostService.h
  WordPress/Classes/Services/Reader Post/ReaderPostService.m
  WordPress/Classes/Services/Reader Post/ReaderPostService.swift
  WordPress/Classes/Services/ReaderPostStreamService.swift
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderLikeAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSeenAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
  WordPress/WordPressTest/ReaderPostServiceTest.m
Labels: Core Data

#20224 [JP Plugin] Update the plugin for the Jetpack install cards when the blog is set
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/DashboardJetpackInstallCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallCardView.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallTableViewCell.swift
Labels: [Type] Task, Jetpack Install

#20220 [JP Plugin] Tweak the Jetpack Remote Install UI
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.xib
  WordPress/Classes/ViewRelated/Jetpack/Install/ViewModel/JetpackRemoteInstallViewModel.swift
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-error.imageset/jetpack-install-error.pdf
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-logo.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Jetpack Install/jetpack-install-logo.imageset/jetpack-install-logo.pdf
Labels: [Type] Enhancement, Jetpack Install

#20231 Integrate gutenberg-mobile release 1.89.1
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#20230 Blaze: Web view analytics
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeEventsTracker.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeWebViewModel.swift
Labels: Analytics, [Type] Task, Blaze

#20232 Jetpack app FAQ card on the Jetpack app support view
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Support/SupportConfiguration.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
Labels: Support, [Type] Task

#20235 Integrate gutenberg-mobile release 1.90.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#20227 Do not use `performAndSave` for query
  WordPress/Classes/Services/JetpackCapabilitiesService.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
Labels: Core Data

#20234 Blaze: Web view navigation tweaks
  WordPress/Classes/Utility/BuildInformation/RemoteConfig.swift
  WordPress/Classes/Utility/LinkBehavior.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeEventsTracker.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeWebViewController.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeWebViewModel.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/WordPressTest/Blaze/BlazeWebViewModelTests.swift
  WordPress/WordPressTest/RemoteConfigStoreMock.swift
Labels: [Type] Task, Blaze

#20233 [JP Plugin] More UI and accessibility fixes for Jetpack Remote Install
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.xib
Labels: [Type] Enhancement, Jetpack App

#20223 [JP Plugin] Enable feature flag and add release notes
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Enhancement, Jetpack App, User-Facing

#20239 Change a few `performAndSave` calls to the asynchronous version
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/PeopleService.swift
Labels: Core Data

#20236 Blaze: Show blaze overlay without post content
  WordPress/Classes/ViewRelated/Blaze/BlazeOverlayCoordinator.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blaze/BlazeOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Jetpack/AppImages.xcassets/flame-circle.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/flame-circle.imageset/Flame Circle.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Blaze

#19996 Log missing cookies event instead of reporting it as error
  WordPress/Classes/Utility/Networking/RequestAuthenticator.swift
Labels: [Type] Bug

#20246 Blaze: Show blaze overlay with post content
  WordPress/Classes/ViewRelated/Blaze/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeEventsTracker.swift
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeHelper.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayCoordinator.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeWebViewController.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeWebViewCoordinator.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeWebViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Blaze

#20249 Blaze: Refine overlay UI
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Task, Blaze

#20250 Blaze: Track overlay events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeEventsTracker.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: [Type] Task, Blaze

#20247 Fix crash when Quick Start is removed from the WordPress app
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
Labels: [Type] Bug, Quick Start

#20253 Blaze: Add release note
  RELEASE-NOTES.txt
Labels: [Type] Task, Blaze

#20228 Use async functions in saving Account Settings
  WordPress/Classes/Services/AccountSettingsService.swift
Labels: Core Data

#20226 [UI Tests] Make current WordPress UI Tests to run against Jetpack app locally
  WordPress/JetpackUITests-Info.plist
  WordPress/UITestsFoundation/Screens/Me/SupportScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/JetpackUITests.xcscheme
  WordPress/WordPressUITests/JetpackUITests.xctestplan
  WordPress/WordPressUITests/Tests/MainNavigationTests.swift
  WordPress/WordPressUITests/Tests/StatsTests.swift
  WordPress/WordPressUITests/Tests/SupportScreenTests.swift
  WordPress/WordPressUITests/Utils/XCTest+Extensions.swift
  WordPress/WordPressUITests/WPUITestCredentials.swift
  WordPress/WordPressUITests/WordPressUITests.xctestplan
Labels: Testing

#20258 Fix a typo in `RELEASE-NOTES.txt` (latter -> later)
  RELEASE-NOTES.txt
Labels: Tooling

#20252 Blaze: Display overlay only once
  WordPress/Classes/Utility/OverlayFrequencyTracker.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayCoordinator.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeFlowCoordinator.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeWebViewCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/OverlayFrequencyTrackerTests.swift
Labels: [Type] Task, Blaze

#20256 Remove two unused functions from `MediaService`
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
Labels: Core

#20268 Update account settings asynchronously
  WordPress/Classes/Services/AccountSettingsService.swift
Labels: Core Data

#20265 Refactor `SharingService` to use `CoreDataStack`
  RELEASE-NOTES.txt
  WordPress/Classes/Models/PublicizeService+Lookup.swift
  WordPress/Classes/Models/SharingButton+Lookup.swift
  WordPress/Classes/Services/SharingService.swift
  WordPress/Classes/ViewRelated/Blog/SharingAuthorizationHelper.m
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingDetailViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core Data

#20275 Weekly Updates: Fix crash caused by modifying the UI from a background thread
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
Labels: [Type] Crash, Core

#20273 Blaze: Fix feature flag and fetching
  WordPress/Classes/Services/BlazeService.swift
  WordPress/Classes/Services/BlogService.h
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
Labels: [Type] Task, Blaze

#20267 Remove an unused closure argument
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/ViewRelated/Post/Revisions/ShowRevisionsListManger.swift
Labels: Core Data

#20279 Add API docs to various forms of `performAndSave` function
  WordPress/Classes/Utility/ContextManager.swift
  WordPress/Classes/Utility/CoreDataStack.h
Labels: Core Data

#20244 Refactor updating user role to save local user asynchronously
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
Labels: Core Data

#20280 Add another `performAndSave` overload
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Utility/ContextManager.swift
Labels: Core Data

#20283 Remove `MediaCoordinator`'s `Uploader` conformance
  WordPress/Classes/Services/MediaCoordinator.swift
Labels: Core Data

#20270 Use `CoreDataStack` in `EnhancedSiteCreationService`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
Labels: Core Data

#20272 Remove large titles from the Reader and Notification tab
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: [Type] Enhancement, Notifications, Reader

#20295 Fix the occational 'Could not install WWDR certificates' error
  fastlane/Fastfile
Labels: Tooling

#20274 Change the following button icon in Reader
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Jetpack/UIColor+JetpackColors.swift
Labels: [Type] Enhancement, Reader

#20291 [Gutenberg] Allow audio upload to premium users after Jetpack features removal
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Bug, Gutenberg integration

#20300 Fix deadlock that can occur when initializing `RootViewCoordinator`
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Crash, Core

#20287 Fix: Hide Pages menu for users with insufficient roles
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Enhancement, My Site

#20284 Fix: Skip parsing blogging reminders schedule in background
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduleFormatter.swift
Labels: [Type] Enhancement

#20304 Fix WP.com post deeplink not opening in app
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Enhancement, Universal Links

#20308 Comments: Fix a crash when replying to a post
  WordPress/Classes/Services/CommentService.m
Labels: [Type] Crash, [Status] DO NOT MERGE, Comments

#20311 Merge hotfix 21.8.2 into release 21.9
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: Releases

#20310 Jetpack: Change My Sites tab bar icon
  RELEASE-NOTES.txt
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/icon-tab-mysites.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/icon-tab-mysites.imageset/icon-tab-mysite.pdf
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/icon-tab-notifications-unread-jetpack.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/icon-tab-notifications-unread-jetpack.imageset/icon-tab-notifications-unread-muriel-dark.pdf
  WordPress/Jetpack/AppImages.xcassets/Tab Bar/icon-tab-notifications-unread-jetpack.imageset/icon-tab-notifications-unread-muriel.pdf
  WordPress/Jetpack/AppStyleGuide.swift
Labels: [Type] Enhancement, Jetpack App

#20303 Tweak My Site Dashboard Cards UI
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/Font/UIFont+Fitting.swift
  WordPress/Classes/Extensions/Font/UIFont+Weight.swift
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Ghost/DashboardFailureCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardEmptyPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/QuickActionButton.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/NewQuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/QuickStartChecklistView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardSingleStatView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistHeader.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+BloggingPrompts.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Jetpack/AppStyleGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, My Site

#20290 Blaze: update blaze status on pull to refresh
  WordPress/Classes/Services/BlazeService.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, Blaze

#20314 Blaze: Show Blaze in general section
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Task, Blaze

#20294 Use `CoreDataStack` in `MediaThumbnailService`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Services/MediaThumbnailService.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/WordPressTest/MediaPicker/MediaLibraryPickerDataSourceTests.swift
Labels: Core Data

#20316 Remove no-longer-required `brew update` from CI commands
  .buildkite/commands/prototype-build-jetpack.sh
  .buildkite/commands/prototype-build-wordpress.sh
  .buildkite/commands/release-build-jetpack.sh
  .buildkite/commands/release-build-wordpress-internal.sh
  .buildkite/commands/release-build-wordpress.sh
Labels: Tooling

#20309 Add new feature flag for lock screen widgets in Jetpack
  WordPress/Classes/Utility/App Configuration/WidgetConfiguration.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Jetpack/WidgetConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenStatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
Labels: Stats, iOS 16 Widgets

#20315 Add database upgrade and downgrade tests for the `importData` function
  WordPress/WordPressTest/DataMigratorTests.swift
Labels: [Type] Task, Jetpack App

#20312 Implement lock screen widgets UI
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Extensions/HomeWidgetData+StatsURL.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenSingleStatViewModel.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenWidgetViewModelMapper.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenSingleStatWidgetViewProvider.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenSingleStatView.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenStatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressTest/Widgets/WidgetsViewModelMapperTests.swift
Labels: Stats, iOS 16 Widgets

#20331 Jetpack Focus: Introduce new Static Screens phase
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingVisibility.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
Labels: [Type] Task, Jetpack Focus

#20334 Jetpack Focus: Add reusable static poster screen for removed features
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Get Jetpack App/MovedToJetpackViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Get Jetpack App/MovedToJetpackViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#20341 Jetpack Focus: Add analytics for static screens
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackEventsTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#20343 Jetpack Focus: Wrap static screen in scrollview
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewController.swift
Labels: [Type] Task, Jetpack Focus

#20346 Jetpack Focus: Replace Reader and Notification with static tabs
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/System/StaticScreensTabBarWrapper.swift
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#20349 Jetpack Focus: Change settings badge text in static screens phase
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
Labels: [Type] Bug, Jetpack Focus

#20348 Jetpack Focus: Add static poster for Stats
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Task, Jetpack Focus

#20276 Improve Formatting and Text of In-App Feedback Survey
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/App Configuration/AppConstants.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+AppRatings.swift
  WordPress/Classes/ViewRelated/Ratings/AppFeedbackPromptView.swift
  WordPress/Jetpack/AppConstants.swift
Labels: [Type] Enhancement, App Review Request

#20352 Jetpack Focus: Add deep link handling during Static Screens phase
  WordPress/Classes/System/StaticScreensTabBarWrapper.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: [Type] Task, Jetpack Focus

#20327 Enable forum support for all on WordPress
  WordPress/Classes/ViewRelated/Support/SupportConfiguration.swift
  WordPress/WordPressTest/Support/SupportConfigurationTests.swift
Labels: Support Forum

#20340 Integrate gutenberg-mobile release 1.91.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#20338 Fix inline notification prompt attempting to show when permission is already granted
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+AppRatings.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController+PushPrimer.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Bug, App Review Request

#20355 Merge 21.9.0.3 and 21.9 release finalization
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/System/StaticScreensTabBarWrapper.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingVisibility.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackEventsTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewModel.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
Labels: Releases

#20359 Blaze: Fix overlay description string
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/BlazeCardView.swift
Labels: [Type] Enhancement, Blaze

#20358 Address a few warnings
  WordPress/Classes/Services/Reader Post/ReaderPostService.h
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/WordPressTest/PluginJetpackProxyServiceTests.swift
Labels: Testing

#20237 Implement VideoPress metadata fetching
  Podfile
  Podfile.lock
  WordPress/Classes/Categories/Media+WPMediaAsset.m
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/Stories/StoryMediaLoader.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: [Type] Bug, Media

#20353 Add localizable string for "Views Today" title
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenSingleStatViewModel.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenWidgetViewModelMapper.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenSingleStatWidgetViewProvider.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenSingleStatView.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressTest/Widgets/WidgetsViewModelMapperTests.swift
Labels: Stats, iOS 16 Widgets

#20367 Merge 22.0 code freeze
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#20301 [UI Tests] - Run UI Tests on Jetpack instead of WordPress app
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Jetpack.xcscheme
  fastlane/lanes/build.rb
Labels: Testing, [Type] Task

#20371 [BugFix] Fix widget of home screen for WordPress disappeared
  WordPress/WordPressStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
Labels: Stats, iOS 16 Widgets

#20363 Fix incorrect Navigation Bar Appearance in Reader Detail screen
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
Labels: [Type] Bug, Reader, Jetpack App

#20317 Extract content logic to config from lock screen widget
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenStatsWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsStatWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenSingleStatWidgetViewProvider.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenStatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
Labels: Stats, iOS 16 Widgets

#20372 Update and document parameter for build-for-testing script
  .buildkite/commands/build-for-testing.sh
Labels: Testing, [Type] Task, Tooling

#20383 [UI Tests] Enable Retry on Failure for the JetpackUITests suite.
  WordPress/WordPressUITests/JetpackUITests.xctestplan
Labels: Testing

#20307 Handle site connection state in Jetpack plugin connection flow
  WordPress/Classes/Models/JetpackState.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackNativeConnectionService.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Jetpack App, Jetpack Install

#20382 [JP Plugin] Add overlay presentation logic for WordPress
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackInstallPluginHelper.swift
Labels: [Type] Enhancement, Part of a WIP Feature, Jetpack Install

#20386 [Jetpack Plugin]: Update overlay for WordPress configuration
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackPluginOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackInstallPluginHelper.swift
Labels: [Type] Enhancement, Jetpack Install

#20376 Rename folder from WordPressUITests to UITests
  WordPress/UITests/Flows/EditorFlow.swift
  WordPress/UITests/Flows/LoginFlow.swift
  WordPress/UITests/JetpackUITests-Info.plist
  WordPress/UITests/JetpackUITests.xctestplan
  WordPress/UITests/README.md
  WordPress/UITests/Screens/BaseScreen.swift
  WordPress/UITests/Tests/EditorAztecTests.swift
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITests/Tests/LoginTests.swift
  WordPress/UITests/Tests/MainNavigationTests.swift
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITests/Tests/SignupTests.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITests/Tests/SupportScreenTests.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
  WordPress/UITests/WPUITestCredentials.swift
  WordPress/UITests/WordPressUITests-Info.plist
  WordPress/UITests/WordPressUITests.xctestplan
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Jetpack.xcscheme
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress.xcscheme
Labels: Testing, [Type] Task

#20322 Move uploading media to WP Media Library to `MediaImportService`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
  WordPress/WordPressTest/MediaPicker/MediaLibraryPickerDataSourceTests.swift
Labels: Core Data

#20394 Fix Core Data concurrency issues in `AccountService`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/AccountService.h
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/BlogService.m
Labels: Core Data

#20399 Implement view for logged-out, no-site, and no-data status
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsStatWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenUnconfiguredViewModel.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Models/LockScreenWidgetViewModelMapper.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenSingleStatWidgetViewProvider.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenUnconfiguredView.swift
  WordPress/WordPressTest/Widgets/WidgetsViewModelMapperTests.swift
Labels: Stats, iOS 16 Widgets

#20381 Remote Feature Flags: Separate local and remote feature flags
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlagOverrideStore.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeHelper.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackInstallPluginHelper.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/FeatureFlagTests.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
  WordPress/WordPressTest/RemoteFeatureFlagTests.swift
  WordPress/WordPressTest/Support/SupportConfigurationTests.swift
Labels: [Type] Enhancement, Core

#20392 Do not make another attempt if the HTTP request was cancelled
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/WordPressTest/AccountSettingsServiceTests.swift
Labels: Account Settings

#20365 Hiding dashboard cards: generalize logic for storing preferences
  WordPress/Classes/Models/BloggingPromptSettings+CoreDataClass.swift
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/ViewRelated/Blaze/Helpers/BlazeHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Blogging.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardPersonalizationServiceTests.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Enhancement, My Site Dashboard

#20380 [Gutenberg] Add VideoPress upload processor
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergVideoPressUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergVideoPressUploadProcessorTests.swift
Labels: Gutenberg compatibility

#20339 [Domain Purchasing] Fetch free and paid domains during site creation
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressCell.swift
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#20408 Enable feature flag for Jetpack individual plugin support in WordPress
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Enhancement, User-Facing, Jetpack Install

#20370 Use CrashLogging class to capture migration errors on Sentry
  WordPress/Classes/Utility/Logging/CrashLogging+Singleton.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
Labels: [Type] Enhancement, Jetpack Content Migration Flow

#20406 Remote Config: Add ability to override remote config parameters
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfig.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfigOverrideStore.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfigParameter.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeWebViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackInstallPluginHelper.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/RemoteConfigDebugViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RemoteConfigParameterTests.swift
  WordPress/WordPressTest/RemoteParameterTests.swift
Labels: [Type] Enhancement, Core

#20421 UGC: Fix an edge case where the app could crash when blocking a post author
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Reader Post/ReaderPostService.swift
Labels: [Type] Crash, Reader, Jetpack App, Jetpack Content Migration Flow

#20413 Blaze: Update blaze instance from the correct thread
  WordPress/Classes/Services/BlazeService.swift
Labels: [Type] Crash, Blaze

#20422 Implement event tracking for the new lock screen widget
  WordPress/Classes/Utility/App Configuration/WidgetConfiguration.swift
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Jetpack/WidgetConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/Extensions/HomeWidgetData+StatsURL.swift
  WordPress/WordPressStatsWidgets/Extensions/URL+WidgetSource.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenStatsWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsStatWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Views/LockScreenStatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Tracks/Tracks+StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressTest/Widgets/WidgetUrlSourceTests.swift
  WordPress/WordPressTest/Widgets/WidgetsViewModelMapperTests.swift
Labels: Stats, [Type] Task, iOS 16 Widgets

#20410 Add tests for extracting display name from email address
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NUX/SignupEpilogueTableViewControllerTests.swift
Labels: [Type] Bug

#20313 Add option to customize the app accent color
  WordPress/Classes/Extensions/Colors and Styles/MurielColor.swift
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/Utility/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsNudgeView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+BloggingPrompts.swift
  WordPress/Classes/ViewRelated/Domains/Views/ShapeWithTextView.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/Collapsable Header Collection View Cell/CollapsableHeaderCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/App Color/AppColor.swift
  WordPress/Classes/ViewRelated/Me/App Settings/App Color/AppColorListView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/NUX/SplashPrologueStyleGuide.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/People/WPStyleGuide+People.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/Preview/TemplatePreviewViewController.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/FloatingActionButton.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Jetpack/AppStyleGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, App Settings

#20414 Fix: add workaround for cross-site navigation intent
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: [Type] Enhancement, Universal Links

#20429 New Domains Dashboard Card UI
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Part of a WIP Feature, Domains Dashboard Card

#20432 [UI Tests] Add a new test to cover adding comments to a post
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/rest_v11_sites_106707880_posts_439_replies.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/rest_v11_sites_106707880_posts_439_replies_new.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/rest_v11_sites_posts_subscribers_mine.json
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITestsFoundation/Screens/CommentsScreen.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing

#20431 Blogging Prompts: Update prompt's responses string on the dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: [Type] Task, Blogging Prompts

#20434 Integrate gutenberg-mobile release 1.92.0
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#20436 [JP Plugin] Track error reason when installation fails
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackRemoteInstallViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/ViewModel/WPComJetpackRemoteInstallViewModel.swift
  WordPress/WordPressTest/WPComJetpackRemoteInstallViewModelTests.swift
Labels: [Type] Enhancement, Jetpack App, Jetpack Install

#20426 Add unit tests for `CommentService`
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/CommentService+LikesTests.swift
  WordPress/WordPressTest/CommentService+MorderationTests.swift
  WordPress/WordPressTest/CommentService+RepliesTests.swift
Labels: [Type] Core

#20456 Add accessibility identifier to comments text field and adapt UI Test
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/UITestsFoundation/Screens/CommentsScreen.swift
Labels: Testing
