Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-01, with the labels that each got.

#19818 [Stats Revamp]: Rebuild Views & Visitors card when selected segment changes
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsDelegate.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPressTest/ViewRelated/Stats/Helpers/SiteStatsImmuTableRowsTests.swift
Labels: [Type] Bug, Jetpack App, Stats Revamp

#19776 Stats: PeriodStore + improve CoreData Persistence + Caching
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats, Stats Revamp

#19824 Merge 21.4.0.1 into trunk
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Load WordPress/MigrationLoadWordPressViewModel.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/JetpackDraftActionExtension/cs.lproj/InfoPlist.strings
  WordPress/JetpackDraftActionExtension/pl.lproj/InfoPlist.strings
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/pl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/WordPressDraftActionExtension/pl.lproj/InfoPlist.strings
  WordPress/WordPressIntents/pl.lproj/Sites.strings
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/default/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/en-GB/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#19816 Jetpack Focus: Remove Jetpack features during phase 4
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/RootViewControllerCoordinator.swift
  WordPress/Classes/System/RootViewPresenter.swift
  WordPress/Classes/System/WPTabBarController+RootViewPresenter.swift
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Dashboard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+QuickActions.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Domains/Domain credit/DomainCreditEligibilityChecker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19817 Jetpack Focus: Fix UI issues by removing the `WPTabBarController` dependency
  RELEASE-NOTES.txt
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutHandler.swift
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/RootViewControllerCoordinator.swift
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/System/RootViewPresenter+EditorNavigation.swift
  WordPress/Classes/System/RootViewPresenter+MeNavigation.swift
  WordPress/Classes/System/RootViewPresenter.swift
  WordPress/Classes/System/WPTabBarController+RootViewPresenter.swift
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/Universal Links/Route+Page.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Start.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardEmptyPostsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/RootViewCoordinator+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+OnboardingPrompt.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Comments/CommentAnalytics.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2IntroductionPresenter.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/Coordinators/ReaderCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Classes/ViewRelated/What's New/Dependency container/RootViewCoordinator+WhatIsNew.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
Labels: [Type] Task, Jetpack Focus

#19784 [Jetpack Focus] Add Jetpack banner to Jetpack Backups view
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19832 Merge 21.4.0.2 into `trunk`
  WordPress/Classes/Stores/UserPersistentRepository.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/WordPressTest/ContentMigrationCoordinatorTests.swift
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#19831 [Stats Revamp]: Remove "Week >" button from Views & Visitors card in details
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsDelegate.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPressTest/ViewRelated/Stats/Helpers/SiteStatsImmuTableRowsTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModelTests.swift
Labels: [Type] Bug, Stats, Stats Revamp

#19827 Jetpack Focus: Disable notifications and deep links during phase 4
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutCreator.swift
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/RootViewPresenter+MeNavigation.swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/Utility/Universal Links/Migration/WordPressExportRoute.swift
  WordPress/Classes/Utility/Universal Links/Route+Page.swift
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/RouteMatcher.swift
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+Jetpack.swift
  WordPress/Classes/Utility/Universal Links/Routes+Mbar.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/Routes+Notifications.swift
  WordPress/Classes/Utility/Universal Links/Routes+Post.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Start.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPressTest/PushNotificationsManagerTests.m
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: [Type] Task, Jetpack Focus

#19828 Jetpack Focus: Reload App UI if phase 4 is enabled
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackOverlayFrequencyTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/System/BlurredEmptyViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackOverlayFrequencyTrackerTests.swift
Labels: [Type] Task, Jetpack Focus

#19841 [Jetpack] Content Migration App Appearance Fix
  WordPress/Jetpack/Classes/Utility/DataMigrator.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19842 Jetpack App: Fix a build error due to a change in `WindowManager`
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: [Type] Bug, Jetpack App

#19797 [Jetpack Focus] Add Jetpack banner to People view
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Banner/JetpackBannerWrapperViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19852 Integrate gutenberg-mobile release 1.87.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg integration

#19844 [Jetpack Focus] Add Jetpack banner to Menus view
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Banner/JetpackBannerWrapperViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Menus/MenusViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/People/PeopleViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19845 [Jetpack Focus] Add Jetpack banner to Themes view
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19854 [Jetpack Focus] Add Jetpack banner to Jetpack Scan view
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19853 [Jetpack Focus] Do not continue migration flow if notification alert was dismissed with iOS home action
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationEvent.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Notifications Permission/MigrationNotificationsViewModel.swift
Labels: Jetpack App, Jetpack Focus

#19833 Jetpack Focus: Add switch card to the menu in phase 4
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/Resources/AppImages.xcassets/icon-jetpack.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-jetpack.imageset/icon-jetpack.png
  WordPress/Resources/AppImages.xcassets/icon-jetpack.imageset/icon-jetpack@2x.png
  WordPress/Resources/AppImages.xcassets/icon-jetpack.imageset/icon-jetpack@3x.png
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Task, Jetpack Focus

#19857 Jetpack Focus: Update banners and badges text based on the current phase
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/Backup/BackupListViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Classes/ViewRelated/Blog/SharingViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Badge/DashboardBadgeCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Banner/JetpackBannerView.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Banner/JetpackBannerWrapperViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Button/JetpackButton.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandedScreen.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Menus/MenusViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController+JetpackBannerViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController+JetpackBannerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/JetpackBrandingTextProviderTests.swift
  WordPress/WordPressTest/JetpackNotificationMigrationServiceTests.swift
  WordPress/WordPressTest/MockCurrentDateProvider.swift
  WordPress/WordPressTest/RemoteConfigStoreMock.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
Labels: [Type] Task, Jetpack Focus

#19850 Jetpack Focus: Disable miscellaneous features during phase 4
  WordPress/Classes/Services/PageCoordinator.swift
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingVisibility.swift
Labels: [Type] Task, Jetpack Focus

#19872 Merge 21.4.0.4 into trunk
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/Resources/tr.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/default/release_notes.txt
  fastlane/metadata/default/release_notes.txt
Labels: Releases

#19643 Remove CocoaLumberjack from the libraries
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Logging/CocoaLumberjack.swift
  WordPress/Classes/Utility/Logging/EventLoggingDataProvider.swift
  WordPress/Classes/Utility/Logging/WPLogger.m
  WordPress/Classes/Utility/Logging/WordPressLibraryLogger.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/View Models/JetpackScanStatusViewModel.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Core

#19820 Fix text-only empty state view layout
  .bundle/config
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
Labels: [Type] Bug

#19874 Merge 21.5 code freeze into `trunk`
  Gemfile.lock
  Podfile
  Podfile.lock
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#19878 [Content Migration Flow] Fix typo in notifications prompt
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationCenterViewConfiguration.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19869 Blogging Reminders: Do not show introductory prompt after Content Migration Flow
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
Labels: [Type] Bug, Blogging Reminders, Jetpack Focus, Jetpack Content Migration Flow

#19880 Extract `ReaderPostService.fetchPostsV2` to a new service type
  WordPress/Classes/Services/ReaderPostService.h
  WordPress/Classes/Services/ReaderPostStreamService.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader

#19887 Update tint color in editor's navigation bar
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
Labels: Posting/Editing, Jetpack App

#19881 Jetpack Focus: Implement design for the new users overlay
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlaySiteCreationViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackNewUsersOverlaySecondaryView.swift
  WordPress/Resources/AppImages.xcassets/jp-notif-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/jp-notif-icon.imageset/jp-notif-icon.png
  WordPress/Resources/AppImages.xcassets/jp-notif-icon.imageset/jp-notif-icon@2x.png
  WordPress/Resources/AppImages.xcassets/jp-notif-icon.imageset/jp-notif-icon@3x.png
  WordPress/Resources/AppImages.xcassets/jp-reader-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/jp-reader-icon.imageset/jp-reader-icon.png
  WordPress/Resources/AppImages.xcassets/jp-reader-icon.imageset/jp-reader-icon@2x.png
  WordPress/Resources/AppImages.xcassets/jp-reader-icon.imageset/jp-reader-icon@3x.png
  WordPress/Resources/AppImages.xcassets/jp-stats-icon.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/jp-stats-icon.imageset/jp-stats-icon.png
  WordPress/Resources/AppImages.xcassets/jp-stats-icon.imageset/jp-stats-icon@2x.png
  WordPress/Resources/AppImages.xcassets/jp-stats-icon.imageset/jp-stats-icon@3x.png
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack Focus

#19829 [Stats Revamp] Changing "First day of week" results in incorrect numbers in Views & Visitors and Total Likes details
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/StatsPeriodHelperTests.swift
Labels: [Type] Bug, Stats Revamp

#19843 [Stats Revamp] Show cached data for new insights cards when there's no internet connection
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: [Type] Enhancement, Stats, Stats Revamp

#19896 Jetpack Focus: Remove Jetpack-powered site settings in phase 4
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
Labels: [Type] Task, Jetpack Focus

#19904 Add blogging prompts enhancements feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Blogging Prompts

#19911 Integrate gutenberg-mobile release 1.87.1
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#19894 Jetpack Focus: New users phase menu card and overlay display logic
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Networking/WordPressComRestApi+Defaults.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Task, Jetpack Focus

#19902 Jetpack Focus: Self-hosted removal phase implementation
  WordPress/Classes/Models/Blog+Jetpack.swift
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/BlogDetailsViewController+JetpackBrandingMenuCard.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/Classes/ViewRelated/Jetpack/Login/JetpackLoginViewController.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/JetpackBrandingTextProviderTests.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
  WordPress/WordPressTest/RemoteConfigStoreMock.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
Labels: [Type] Task, Jetpack Focus

#19907 Jetpack Focus: Correctly configure learn more buttons
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Bug, Jetpack Focus

#19906 Merge hotfix 21.4.1 into relese 21.5
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationCenterViewConfiguration.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/bg.lproj/Localizable.strings
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/cy.lproj/Localizable.strings
  WordPress/Resources/da.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-AU.lproj/Localizable.strings
  WordPress/Resources/en-CA.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/hr.lproj/Localizable.strings
  WordPress/Resources/hu.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/is.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nb.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/pt.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sk.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/th.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
Labels: Releases

#19892 Login: Enable signing in with Google and Apple
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Bug, Login

#19909 Stats Revamp: Enable feature flags on Jetpack
  RELEASE-NOTES.txt
  WordPress/Jetpack/AppConfiguration.swift
Labels: Stats, [Type] Task, Jetpack App, Stats Revamp

#19899 Update "Skip for today" string
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
Labels: Jetpack App, Blogging Prompts

#19866 Jetpack Migration Flow: Address rare blogging reminder crashes during the migration flow
  WordPress/Classes/Services/JetpackNotificationMigrationService.swift
Labels: [Type] Bug, Jetpack App, Jetpack Focus

#19917 Stats Revamp: Remove Insights update pop-up
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureDescriptionView.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureDescriptionView.xib
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2FeatureIntroduction.swift
  WordPress/Classes/ViewRelated/Feature Introduction/Stats Revamp v2/StatsRevampV2IntroductionPresenter.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, Stats Revamp

#19898 Fix Noto font family not loaded correctly
  Podfile
  Podfile.lock
Labels: [Type] Bug

#19846 Add prompts viewed analytics to the card and bottom sheet
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
Labels: [Type] Task, Blogging Prompts

#19900 Stats: Make Views & Visitors, Total Likes, and Total Comments cards data consistent with the Web
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/InsightsManagementViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
Labels: Stats, [Type] Task

#19922 Jetpack Focus: Allow deactivating Jetpack when JP features are removed from WordPress
  WordPress/Classes/Models/Plugin.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
Labels: [Type] Task, Jetpack Focus

#19924 Jetpack Focus: Fix overlay's subtitle font not adjusting to the current size category
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
Labels: [Type] Bug, Jetpack Focus

#19928 Merge beta 21.5.0.1 into `trunk`
  Podfile
  Podfile.lock
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/default/release_notes.txt
  fastlane/metadata/default/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
Labels: Releases

#19926 Jetpack: Refresh the analytics metadata after successful import from WordPress
  RELEASE-NOTES.txt
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
Labels: [Type] Bug, Jetpack Focus, Jetpack Content Migration Flow

#19888 The Migration flow doesn't complete automatically if the user closes and re-opens the app
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationState.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationFlowCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Success card/MigrationSuccessCardView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Jetpack App, Jetpack Content Migration Flow

#19935 added .insightsFollowerTotals to case for followers
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
Labels: Stats

#19933 Jetpack Focus: Update phase property names to use snake_case style
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
Labels: [Type] Enhancement, Jetpack Focus

#19939 Jetpack Focus: Fix double ellipsis buttons in the phase 4 menu card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
Labels: [Type] Bug, Jetpack Focus

#19941 Merge beta 21.5.0.2 into `trunk`
  RELEASE-NOTES.txt
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
  WordPress/Resources/cs.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/metadata/en-GB/release_notes.txt
Labels: Releases

#19834 Add note about updating `.xcode-version` in Buildkite pipelines
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcode-version
  Rakefile
Labels: Tooling

#19940 WPAuthenticator - Remove custom step value from `GetStartedViewController`
  Podfile
  Podfile.lock
Labels: [Type] Bug

#19948 Jetpack Focus: Fix Site creation after sign up during phase three
  WordPress/Classes/System/RootViewPresenter.swift
  WordPress/Classes/System/WPTabBarController+RootViewPresenter.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: [Type] Bug, Jetpack Focus

#19945 Integrate gutenberg-mobile release 1.87.2
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#19923 Blogging Prompts: Allow selecting a prompt from the prompts list view
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptTableViewCell.xib
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: [Type] Enhancement, Blogging Prompts

#19932 Blogging Prompts: Add a new prompt tag with the prompt ID
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
Labels: [Type] Enhancement, Blogging Prompts

#19947 Remove context from people service
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PeopleServiceTests.swift
Labels: Core Data

#19927 Replace `DomainsService.context` with `CoreDataStack`
  WordPress/Classes/Services/BlogService+Domains.swift
  WordPress/Classes/Services/DomainsService.swift
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/WordPressTest/DomainsServiceTests.swift
Labels: Core Data

#19944 Jetpack Content Migration: Tweak Migration Screens UI when fonts are enlarged
  RELEASE-NOTES.txt
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationCenterView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationHeaderView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Delete WordPress/MigrationDeleteWordPressViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Jetpack App, Jetpack Content Migration Flow

#19960 Merge finalized 21.5 release into `trunk`
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#19961 Jetpack Content Migration: Refactor "Open WordPress" screen to appear only when the app launches
  RELEASE-NOTES.txt
  WordPress/Classes/System/WindowManager.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: [Type] Bug, Jetpack App, Jetpack Content Migration Flow

#19953 Draft Extension: Revert the display string for Jetpack's draft action
  WordPress/JetpackDraftActionExtension/Info.plist
  WordPress/JetpackDraftActionExtension/en.lproj/InfoPlist.strings
Labels: [Type] Enhancement, Draft Extension, Jetpack App

#19955 Jetpack Focus: Fix overlay's subtitle not highlighting the date
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
Labels: [Type] Bug, Jetpack Focus

#19942 [Bloggin Prompts] View prompt answers
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/RootViewPresenter.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/WPStyleGuide+BloggingPrompts.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
Labels: Jetpack App, Blogging Prompts

#19791 Fix unresponsive "Onboarding Questions" screen
  RELEASE-NOTES.txt
Labels: [Type] Bug, Login

#19954 Jetpack Focus: Avoid premature removal of features
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardPresenter.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
Labels: [Type] Bug, Jetpack Focus

#19972 Cherry-pick #19961 into hotfix 21.5.1
  RELEASE-NOTES.txt
  WordPress/Classes/System/WindowManager.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: Releases

#19962 Stats Widget: Fix users without a site are incorrectly asked to login by the widget
  WordPress/Classes/Services/AccountService.m
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/Services/SiteManagementService.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/WordPressStatsWidgets/Model/HomeWidgetData.swift
  WordPress/WordPressStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressStatsWidgets/Tracks/Tracks+StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Views/UnconfiguredView.swift
Labels: [Type] Bug, Stats, iOS 14 Widgets

#19974 Merge 21.5.1 hotfix into `release/21.6`
  RELEASE-NOTES.txt
  WordPress/Classes/System/WindowManager.swift
  WordPress/Jetpack/Classes/System/JetpackWindowManager.swift
Labels: Releases

#19959 [CoreDataStack] Add an option to call the completion callback on any queue
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/BloggingPromptsService.swift
  WordPress/Classes/Services/CommentService+Likes.swift
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/Services/DomainsService.swift
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MenusService.m
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Services/PostCategoryService.m
  WordPress/Classes/Services/PostService+Likes.swift
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/Classes/Services/ReaderPostService.m
  WordPress/Classes/Services/ReaderPostStreamService.swift
  WordPress/Classes/Services/ReaderTopicService+FollowedInterests.swift
  WordPress/Classes/Services/ReaderTopicService+Subscriptions.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Services/SharingService.swift
  WordPress/Classes/Services/SiteAssemblyService.swift
  WordPress/Classes/Services/SiteManagementService.swift
  WordPress/Classes/Services/ThemeService.m
  WordPress/Classes/Utility/ContextManager.swift
  WordPress/Classes/Utility/CoreDataStack.h
  WordPress/Classes/ViewRelated/Blog/SharingButtonsViewController.swift
  WordPress/WordPressTest/ContextManagerTests.swift
  WordPress/WordPressTest/DataMigratorTests.swift
  WordPress/WordPressTest/LikeUserHelperTests.swift
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
  WordPress/WordPressTest/SharedDataIssueSolverTests.swift
Labels: Core Data

#19949 Replace `PlanService.managedObjectContext` with `CoreDataStack`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/PlanService.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
Labels: Core Data

#19956 Use `CoreDataStack` in `PostCategoryService`
  WordPress/Classes/Models/Blog+Post.swift
  WordPress/Classes/Models/PostCategory+Creation.swift
  WordPress/Classes/Models/PostCategory+Lookup.swift
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Services/PostCategoryService.h
  WordPress/Classes/Services/PostCategoryService.m
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
  WordPress/Classes/ViewRelated/Menus/MenuItemCategoriesViewController.m
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/WPAddPostCategoryViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCategoryServiceTests.m
Labels: Core Data

#19915 Replace `BlockEditorSettingsService.context` with `CoreDataStack`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/AtomicAuthenticationService.swift
  WordPress/Classes/Services/BlockEditorSettingsService.swift
  WordPress/Classes/Utility/CoreDataHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/WordPressTest/BlockEditorSettingsServiceTests.swift
Labels: Core Data

#19908 Update WordPressKit
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ReaderSiteInfoSubscriptions.swift
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/Services/BlogService+BloggingPrompts.swift
  WordPress/Classes/Services/JetpackCapabilitiesService.swift
  WordPress/WordPressShareExtension/RemoteBlog+Capabilities.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
Labels: [Type] Core

#19970 Jetpack Focus: Update the overlay's close button background in dark mode
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackOverlayView.swift
Labels: [Type] Task, Jetpack Focus

#19998 Update WordPressShared to the latest version
  Podfile.lock
Labels: [Type] Core

#20000 [Stats Revamp] Fix Total cards show "higher" word instead of "lower" label
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
Labels: [Type] Bug, Stats, Stats Revamp

#20009 Jetpack Switch prompt: fix typo
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
Labels: Jetpack Focus, Jetpack Content Migration Flow

#19989 Stats: fix stats refresh when day changes in background
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: [Type] Bug, Stats

#20008 [Stats Revamp] Fix crash after backgrounding app from Stats screen
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
Labels: [Type] Bug, [Pri] High, Stats

#19946 Remove context from various service types
  WordPress/Classes/Services/FollowCommentsService.swift
  WordPress/Classes/Services/HomepageSettingsService.swift
  WordPress/Classes/Services/JetpackBackupService.swift
  WordPress/Classes/Services/JetpackCapabilitiesService.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/HomepageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Options/Coordinators/JetpackBackupOptionsCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/Coordinators/JetpackBackupStatusCoordinator.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/WordPressTest/Classes/Stores/ActivityStoreTests.swift
  WordPress/WordPressTest/JetpackCapabilitiesServiceTests.swift
  WordPress/WordPressTest/ReaderSubscribeCommentsActionTests.swift
Labels: Core Data

#20013 [Stats Revamp] Fix Crash when dismissing "Manage Stats Cards" on iPad
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/InsightsManagementViewController.swift
Labels: [Type] Crash, Stats

#20030 Remove a couple of duplicated localization keys
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackNewUsersOverlaySecondaryView.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
Labels: Localization

#20021 [JP Plugin] Feature Flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Jetpack Plugins, Jetpack App

#19999 Jetpack Focus: Disable stats widgets in phase 4
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Utility/App Configuration/WidgetConfiguration.swift
  WordPress/Jetpack/WidgetConfiguration.swift
  WordPress/WordPressStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressStatsWidgets/Tracks/Tracks+StatsWidgets.swift
  WordPress/WordPressStatsWidgets/Views/Localization/LocalizableStrings.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPressStatsWidgets/Views/UnconfiguredView.swift
Labels: [Type] Task, iOS 14 Widgets, Jetpack Focus

#20026 Integrate gutenberg-mobile release 1.87.3
  Podfile
  Podfile.lock
Labels: Gutenberg integration

#20010 Remove context from a few service types
  WordPress/Classes/Models/Role.swift
  WordPress/Classes/Services/ReaderSearchSuggestionService.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Services/RoleService.swift
  WordPress/Classes/Services/SiteManagementService.swift
  WordPress/Classes/Services/SiteSegmentsService.swift
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/DeleteSiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteSettingsViewController+SiteManagement.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPressTest/SiteManagementServiceTests.swift
Labels: Core Data

#20038 Jetpack Focus: Display an overlay when the app is accessed from a disabled entry point
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackOverlayFrequencyTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPressStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/WordPressStatsWidgets/SiteListProvider.swift
  WordPress/WordPressStatsWidgets/Views/StatsWidgetsView.swift
Labels: [Type] Task, Jetpack Focus

#19807 Hide Scan Login Code when logged into an account with 2FA
  MIGRATIONS.md
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ManagedAccountSettings+CoreDataProperties.swift
  WordPress/Classes/Models/ManagedAccountSettings.swift
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 146.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Jetpack App, Jetpack Focus
