Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-12, with the labels that each got.

#22121 Prompts: Add Bloganuary dashboard card
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Blog Dashboard/Cards/DashboardBloganuaryCardCellTests.swift
Labels: [Type] Enhancement, Blogging Prompts

#22129 Prompts: Show Bloganuary modal when Learn more is tapped
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryOverlayViewController.swift
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-page.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-page.imageset/bloganuary-icon-page.pdf
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-people.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-people.imageset/blognuary-icon-people.pdf
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-verse.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-verse.imageset/bloganuary-icon-verse.pdf
  WordPress/Resources/AppImages.xcassets/logo-bloganuary-large.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/logo-bloganuary-large.imageset/logo-bloganuary-large.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Blogging Prompts

#22130 Prompts: Add Tracks to Bloganuary nudges
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryTracker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Tracks, Blogging Prompts

#22136 Enable feature flag for the Bloganuary nudge
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
Labels: [Type] Enhancement, Blogging Prompts

#22141 Add a nudge card in WordPress for SoTW 2023
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/SoTW 2023/SOTWCardView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, WordPress App

#22146 Merge editorialized release notes for 23.8 + Bloganuary changes
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/SoTW 2023/SOTWCardView.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryOverlayViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryTracker.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-page.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-page.imageset/bloganuary-icon-page.pdf
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-people.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-people.imageset/blognuary-icon-people.pdf
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-verse.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/bloganuary-icon-verse.imageset/bloganuary-icon-verse.pdf
  WordPress/Resources/AppImages.xcassets/logo-bloganuary-large.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/logo-bloganuary-large.imageset/logo-bloganuary-large.pdf
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Blog Dashboard/Cards/DashboardBloganuaryCardCellTests.swift
Labels: Releases

#22135 [UI Tests] - Fix failing testCreateScheduledPost test
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
Labels: Testing

#22137 Explicitly mark blog.timeZone as nullable
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDateFormatting.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
Labels: [Type] Crash, Posts List, UI Modernization

#22149 Integrate gutenberg-mobile release v1.109.2
  Gutenberg/config.yml
  Podfile.lock
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
Labels: Gutenberg

#22163 Notifications: Address rare crash when accessing Notification object with invalid IndexPath
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
Labels: [Type] Crash, Notifications

#22085 Fix compliance popover breaking other views presentation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverViewModelTests.swift
Labels: [Type] Bug, Jetpack App, Account Settings

#22167 Reader: Close details view when user is blocked
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: [Type] Crash, Reader

#22168 Add `is_free` property to the `jpios_enhanced_site_creation_domains_selected` event
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressWizardContent.swift
Labels: [Type] Task, Plans in Site Creation

#22172 Posts & Page: Fix everyone icon tint
  WordPress/Classes/ViewRelated/Post/AuthorFilterButton.swift
Labels: [Type] Bug, Posts List, Pages List

#22175 Fix: Expand the CTA button tap area on the Bloganuary overlay
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryOverlayViewController.swift
Labels: [Type] Enhancement, Blogging Prompts

#22176 Reader: Update likes and comments label to be tappable
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
Labels: [Type] Enhancement, Reader

#21984 Clearly inform user of delay till domain becomes active
  WordPress/Classes/ViewRelated/Domains/Views/DomainResultView.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainSetupNoticeView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Plans in Site Creation

#22173 Fix DomainsService crash when account.wordPressComRestApi nil
  WordPress/Classes/Services/BlogService+Domains.swift
  WordPress/Classes/Services/Domains/DomainsService.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
Labels: [Type] Crash, Domains

#22188 Merge finalized release 23.8
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/Bloganuary/BloganuaryOverlayViewController.swift
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
Labels: Releases

#22200 Renames Modules Swift Package to "Modules"
  Modules/Package.swift
Labels: Tooling

#22104 Reader: Remove `readerImprovements` feature flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.xib
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: Reader, [Type] Task

#22199 Merge 23.9 code freeze
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#22086 Update WPAuthenticator
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Core

#22155 Reader: Cache attributed string building to avoid crashes and performance issues
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: [Type] Crash, Reader

#22202 [Dynamic Cards] Remote Feature Flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Task, Domains Dashboard Card

#22191 Fastlane setup improvements before release in CI automation
  fastlane/Fastfile
  fastlane/lanes/release.rb
Labels: Tooling

#22218 Add editorialized release notes for version 23.9
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#22217 Merge 23.8.1 into release 23.9
  Gemfile.lock
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
Labels: Releases

#22203 Improved My Site header: Update release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, My Site

#22222 Improved My Site header: Add tracking
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
Labels: [Type] Task, My Site, Tracks

#22223 Reader: Fix a crash where we access nil likeCount value
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: [Type] Crash, Reader

#22214 Further Fastlane setup improvements before adding CI release automation
  fastlane/Fastfile
  fastlane/lanes/release.rb
Labels: Tooling

#22112 feat: Provide Gutenberg editor network connection status
  Gutenberg/config.yml
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Enhancement, Gutenberg

#22230 Integrate gutenberg-mobile release v1.109.3
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22237 [UI Test] Dismiss image optimization popup
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
Labels: Testing

#22216 Remove Google domains promotional card from the dashboard
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/UITestsFoundation/XCUIElement+Utils.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Task, My Site Dashboard

#22241 [Domains Dashboard Card] Add Card UI
  Modules/Sources/DesignSystem/Components/DSButton.swift
  Modules/Sources/DesignSystem/Components/Modifiers/Text+DesignSystem.swift
  Modules/Sources/DesignSystem/Components/Modifiers/TextStyle.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Domains Dashboard Card

#21904 Confirm that site is indeed not a WordPress site after XML-RPC validation fails
  Podfile
  Podfile.lock
Labels: [Type] Bug, Login

#22257 Fix an issue with local thumbnails not loading using ImageDownloader
  WordPress/Classes/Utility/Media/ImageDownloader.swift
Labels: [Type] Bug, Posting/Editing, Media

#22249 Improved My Site header: Add site option
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
Labels: [Type] Task, My Site

#22232 Reader: Maintain focus when pressing "Like" on a post with VoiceOver enabled
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: [Type] Bug, Accessibility, Reader, VoiceOver

#22234 Fix locally broken blogging prompts unit test
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
Labels: Testing

#22250 Improve debug menu
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugFeatureFlagsView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/RemoteConfigDebugView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/RemoteConfigDebugViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#22236 Add "all_domains" analytics source to some events fired during the All Domains flow
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListConfiguration.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainTransferFooterView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
Labels: [Type] Bug, Analytics, Jetpack App

#22264 Update Domain Registration card description message
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/DashboardDomainRegistrationCardCell.swift
Labels: [Type] Bug, Domains, My Site Dashboard

#22263 Remove a fatal error upon unexpected post instances types
  WordPress/Classes/Services/PostRepository.swift
Labels: [Type] Bug

#22254 Domain: Refactor to use a common domain selection view
  Modules/Sources/DesignSystem/Foundation/Color+DesignSystem.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/FreeToPaidPlansCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomain.storyboard
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/DomainSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardFactory.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell+ViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/SiteCreationEmptySiteTemplate.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressStep.swift
  WordPress/UITests/Tests/DashboardTests.swift
  WordPress/UITestsFoundation/Screens/DomainsSelectionScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RegisterDomainDetailsViewModelLoadingStateTests.swift
  WordPress/WordPressTest/RegisterDomainDetailsViewModelTests.swift
  WordPress/WordPressTest/SiteAddressServiceTests.swift
Labels: [Type] Enhancement, Domains

#22261 Site Domains: Display a card to buy domain with a plan
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/CheckoutViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/PlanSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/DomainSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardFactory.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationButton.swift
  WordPress/Classes/ViewRelated/Domains/Views/PresentationCard.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsPresentationCard.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Domains

#22258 Add passkeys support back
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
  WordPress/WordPress-Alpha.entitlements
  WordPress/WordPress-Internal.entitlements
  WordPress/WordPress.entitlements
Labels: [Type] Task, Passkeys

#22221 Display Dynamic Cards in the Dashboard
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardCardConfigurable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardDynamicCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/DashboardCardTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-multiple-dynamic-cards.json
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-only-one-dynamic-card.json
Labels: Jetpack App, My Site Dashboard

#22229 Add ability to hide dashboard dynamic cards
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardDynamicCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardAnalytics.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/BlogDashboardAnalyticPropertiesProviding.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCard+Personalization.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCardModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, My Site Dashboard

#22265 Fix retain cycle in GutenbergViewController
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Bug, Posting/Editing

#22259 Add navigation to all domains screen
  WordPress/Classes/System/RootViewPresenter+MeNavigation.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Task, Domains Dashboard Card

#22285 Dynamic Cards Analytics
  WordPress/Classes/Utility/Analytics/DashboardDynamicCardAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardDynamicCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/BlogDashboardDynamicCardCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/Dynamic Cards/BlogDashboardDynamicCardCoordinatorTests.swift
  WordPress/WordPressTest/Dashboard/Dynamic Cards/DashboardDynamicCardAnalyticsEventTests.swift
Labels: Analytics, Jetpack App

#22238 feat: Retry failed media uploads when re-establishing network connection
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Enhancement, Media, Gutenberg

#22240 feat: Retry all failed uploads on manual retry
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Enhancement, Media, Gutenberg

#22291 [Dynamic Dashboard Cards] Card Actions
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/BlogDashboardDynamicCardCoordinator.swift
  WordPress/WordPressTest/Dashboard/Dynamic Cards/BlogDashboardDynamicCardCoordinatorTests.swift
  WordPress/WordPressTest/MBarRouteTests.swift
Labels: [Type] Task, Domains Dashboard Card

#22290 Update dynamic cards filtering logic to take into account the remote feature flag key
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
Labels: My Site Dashboard

#22252 Fix crash when editor modifies a deleted post
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Crash, Posting/Editing

#22289 Remove unused code from blog details
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+QuickActions.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/ActionRow.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, My Site

#22304 Remove unused code (1)
  WordPress/Classes/Services/AccountSettingsService.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraCustomUI.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/Time Selector/TimeSelectionView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteIconPickerView.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+Comments.swift
  WordPress/Classes/ViewRelated/Domains/DomainSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockActionsTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/OldReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Sharing/ShareAppContentPresenter+TableView.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/SitePromptView.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/SitePromptView.xib
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/Themes/WPStyleGuide+Themes.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextFormatter.swift
  WordPress/Jetpack/Classes/NUX/JetpackPrologueStyleGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: General, [Type] Task

#22305 Remove unused code (2)
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistViewController.swift
  WordPress/Classes/ViewRelated/Comments/WPStyleGuide+Comments.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsViewModel+RowDefinitions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+InformativeDialog.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/AvatarMenuController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/FloatingActionButton.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/JetpackLoginErrorViewController.xib
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNoSitesErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNotFoundErrorViewModel.swift
  WordPress/Jetpack/Classes/ViewRelated/Login Error/View Models/JetpackNotWPErrorViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/String+Extensions.swift
  WordPress/WordPressTest/GutenbergInformativeDialogTests.swift
Labels: General, [Type] Task

#22306 Remove unused code (3)
  WordPress/Classes/Networking/MediaHost+ReaderPostContentProvider.swift
  WordPress/Classes/Networking/MediaRequestAuthenticator.swift
  WordPress/Classes/Services/SiteVerticalsService.swift
  WordPress/Classes/Utility/BackgroundTasks/WeeklyRoundupBackgroundTask.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/FormattableContent/FormattableTextContent.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraCustomUI.swift
  WordPress/Classes/Utility/Networking/RequestAuthenticator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/BloggingPromptCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Prompts/RootViewCoordinator+BloggingPrompt.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartSettings.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/View Model/ChangeUsernameViewModel.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedProloguePages.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingNavigationController.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Jetpack/Classes/NUX/New Landing Screen/Model/JetpackPrompt.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: General, [Type] Task
