Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-11, with the labels that each got.

#21926 Posts & Pages: Minor fixes
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
Labels: [Type] Bug, Posts List, UI Modernization

#21927 Posts & Pages: Fix empty state position
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Type] Bug, Posts List, UI Modernization

#21928 Posts & Pages: Enable context menus in search
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
Labels: Pages List, [Type] Task, UI Modernization

#21933 Posts & Pages: Update WordPressKit
  Podfile
  Podfile.lock
Labels: Posts List, [Type] Task, UI Modernization

#21860 [Domain Management] All Domains List
  WordPress/Classes/Services/Domains/DomainsService+AllDomains.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/DomainListCard.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListItemViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListActivityIndicatorTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListCardView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/MyDomains/MyDomainsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Domains

#21937 Change Jetpack app name in store listing
  WordPress/Jetpack/Resources/AppStoreStrings.po
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/default/name.txt
  fastlane/jetpack_metadata/default/release_notes.txt
Labels: [Type] Task

#21939 Posts & Pages: Pages context menu part 2
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.xib
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCompactCellGhostableTests.swift
Labels: Pages List, [Type] Task, UI Modernization

#21923 Reader improvements design fixes
  WordPress/Classes/Models/ReaderCard+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
Labels: [Type] Enhancement, Reader

#21916 Posts & Pages: Simplify PageListTableViewHandler
  WordPress/Classes/ViewRelated/Pages/PageListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
Labels: Pages List, [Type] Task, UI Modernization

#21910 [Domain Management] All Domains List Empty View
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListMessageStateViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListActivityIndicatorTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListEmptyView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Domains

#21946 Posts & Pages: Remove WPTableViewHandler Usage
  WordPress/Classes/ViewRelated/Pages/PageListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostListTableViewHandlerTests.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21954 Posts & Pages: Invoke context menus on long press
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21950 Merge editorialized release notes for 23.6
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/jetpack_metadata/default/name.txt
  fastlane/jetpack_metadata/default/privacy_url.txt
  fastlane/metadata/de-DE/privacy_url.txt
  fastlane/metadata/default/privacy_url.txt
  fastlane/metadata/en-AU/privacy_url.txt
  fastlane/metadata/en-CA/privacy_url.txt
  fastlane/metadata/en-GB/privacy_url.txt
  fastlane/metadata/en-US/privacy_url.txt
  fastlane/metadata/es-ES/privacy_url.txt
  fastlane/metadata/es-MX/privacy_url.txt
  fastlane/metadata/fr-FR/privacy_url.txt
  fastlane/metadata/id/privacy_url.txt
  fastlane/metadata/it/privacy_url.txt
  fastlane/metadata/ja/privacy_url.txt
  fastlane/metadata/ko/privacy_url.txt
  fastlane/metadata/nl-NL/privacy_url.txt
  fastlane/metadata/no/privacy_url.txt
  fastlane/metadata/pt-BR/privacy_url.txt
  fastlane/metadata/pt-PT/privacy_url.txt
  fastlane/metadata/ru/privacy_url.txt
  fastlane/metadata/sv/privacy_url.txt
  fastlane/metadata/th/privacy_url.txt
  fastlane/metadata/tr/privacy_url.txt
  fastlane/metadata/zh-Hans/privacy_url.txt
  fastlane/metadata/zh-Hant/privacy_url.txt
Labels: Releases

#21915 [Domain Management] All Domains Search Logic
  WordPress/Classes/Services/Domains/DomainsService+AllDomains.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListMessageStateViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListEmptyView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
Labels: Jetpack App, Domains

#21917 Posts & Pages: Add swipe actions
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper+Actions.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, [Type] Task, UI Modernization

#21958 Posts & Pages: Minor fixes and improvements
  WordPress/Classes/Utility/ReachabilityUtils+OnlineActions.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchTokenTableCell.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21957 Posts & Pages: Make the page attributes section collapsible
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
Labels: Pages List, [Type] Task

#21953 Posts & Pages: Hide author if "me" is selected or blog has only one author
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostView.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, [Type] Task, UI Modernization

#21931 Only call `prepareForReuse` if image is a GIF
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
Labels: Performance, Reader, [Type] Task

#21919 [Domain Management] Domain Choice UI
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Components/PrimaryButton.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Color+DesignSystem.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/ColorGallery.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteBackgroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteBackgroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteForegroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteForegroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteGradientInitial.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteTooltipBackground.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteTooltipBorder.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Custom/SiteCreation/emptySiteTooltipGradientInitial.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundQuaternary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundTertiary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Border/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Border/borderDivider.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Border/borderPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Border/borderSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/error.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/foregroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/foregroundQuaternary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/foregroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/foregroundTertiary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/success.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Foreground/warning.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Theme/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Theme/brandJetpack.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Theme/brandWordPress.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Spacing.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/UIColor+DesignSystem.swift
  WordPress/Resources/AppImages.xcassets/Domains/block-layout.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Domains/block-layout.imageset/block-layout.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Domains

#21949 Use PostRepository to fetch pages in the Menu screen
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MenusService.h
  WordPress/Classes/Services/MenusService.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Menus/MenusViewController.h
  WordPress/Classes/ViewRelated/Menus/MenusViewController.m
  WordPress/Classes/ViewRelated/Menus/MenusViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostRepositoryPostsListTests.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
Labels: Menus

#21963 Posts & Pages: Allow setting a posts page back to a regular page
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
Labels: [Type] Enhancement, Pages List, UI Modernization

#21966 Posts & Pages: Search for all posts
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21965 Posts & Pages: Add Settings context menu action
  WordPress/Classes/Extensions/UINavigationController+Helpers.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Comments/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21935 [Domain Management] Update my domains row UI
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Enhancement, Domains

#21986 Site Media: Add loading and error state for media sharing
  WordPress/Classes/Extensions/UIBarButtonItem+Extensions.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21988 Site Media: Integrate media picker in site icon picker and featured image picker flows
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/SiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
Labels: Media, [Type] Task, UI Modernization

#21976 Use PostRepository.search in PostSearchService
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchService.swift
  WordPress/WordPressTest/PostRepositoryPostsListTests.swift
Labels: Posts List, Pages List

#21974 Use PostRepository to fetch all pages in homepage settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Site Settings/HomepageSettingsViewController.swift
Labels: Site Settings

#21961 Add workaround for broken LIBRARY_SEARCH_PATHS in local Gutenberg
  Gutenberg/cocoapods_helpers.rb
  Podfile
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#21967 Posts & Pages: Enable long press in search results
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper+Actions.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21991 Posts & Pages: Rename preview action for drafts
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21994 Site Media: Add long-press support with a preview and a context menu
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
Labels: Media, [Type] Task, UI Modernization

#21979 Domain Management: Implement add new freestanding domain flow
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/Utility/WebViewControllerFactory.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/FreeToPaidPlansCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardFactory.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Plugins/PluginViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/RegisterDomainDetailsServiceProxyMock.swift
Labels: [Type] Task, Jetpack App, Domains

#21964 [Domain Management] Domain Details web view
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListItemViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListCardView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Me/Domain Details/DomainDetailsWebViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Domains/AllDomainsListItem+Helpers.swift
  WordPress/WordPressTest/Domains/AllDomainsListItemViewModelTests.swift
  WordPress/WordPressTest/Domains/DomainDetailsWebViewControllerTests.swift
Labels: Jetpack App, Domains

#21972 [Domain Management] Pull to Refresh All Domains
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
Labels: Jetpack App, Domains

#22004 Set Site Domains Screen title and right bar button using UIKit
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+DomainCredit.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsDashboardFactory.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Domains

#22002 Posts & Pages: Update release notes
  RELEASE-NOTES.txt
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#22013 Site Media: Display storage quota when adding content
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
Labels: Media, [Type] Task, UI Modernization

#22008 Site Media: Improve media details screen
  WordPress/Classes/ViewRelated/Cells/MediaItemTableViewCells.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPageViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#22009 Site Media: Add aspect mode on iPad (Experimental)
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCellViewModel.swift
Labels: Media, [Type] Task, UI Modernization

#21995 Site Media: Integrate the new site media picker in Gutenberg
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
Labels: Media, [Type] Task, UI Modernization

#22011 Enable Media Modernization feature flag and update release notes
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
Labels: Media, [Type] Task, UI Modernization

#22001 Passkeys: Add support for "Log in with security keys"
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
  WordPress/WordPress-Alpha.entitlements
  WordPress/WordPress-Internal.entitlements
  WordPress/WordPress.entitlements
Labels: [Type] Task, Passkeys

#21997 Use PostRepository.search to fetch posts and pages for dashboard
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/dashboard/106707880 - Tri-County Real Estate/sites_106707880_dashboard.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_181851495_pages_after.json
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/DashboardPostsSyncManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
  WordPress/WordPressTest/PostRepositoryPostsListTests.swift
  WordPress/WordPressTest/PostsListAPIStub.swift
Labels: My Site Dashboard

#22018 Posts & Pages: Tidy up
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/ConfigurablePostView.h
  WordPress/Classes/ViewRelated/Post/LoadMoreCounter.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSearchHeader.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostListExcessiveLoadMoreTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#22021 Fix sharing of PDFs and other documents
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
Labels: [Type] Bug, Media, UI Modernization

#22024 Posts & Pages: Fix set parent page
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
Labels: Pages List, [Type] Task, UI Modernization

#22025 Fix an issue with GIF upload progress
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Media/ItemProviderMediaExporter.swift
Labels: [Type] Bug, Media

#22017 Integrate gutenberg-mobile release v1.108.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22028 Posts & Pages: Fix notice message for deleting a trashed post / page
  WordPress/Classes/Services/PostCoordinator.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21980 Posts & Pages: Normalize newlines
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
Labels: Posts List, [Type] Task, UI Modernization

#22022 Enable inspection of WKWebView for iOS 16.4 and higher
  WordPress/Classes/Utility/WebKitViewController.swift
Labels: [Type] Enhancement, Webviews

#22019 Use multiplication sign to indicate dimensions
  WordPress/Classes/ViewRelated/Cells/MediaSizeSliderCell.swift
Labels: [Type] Task

#22031 Remove animation when more pages are loaded
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Type] Bug, UI Modernization

#22005 [Domain Management] Choice Screen UI Updates
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Components/PrimaryButton.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundTertiary.colorset/Contents.json
Labels: [Type] Enhancement, Domains

#21983 Blogging Prompts: Update Core Data properties for Bloganuary
  MIGRATIONS.md
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/Models/BloggingPrompt+CoreDataProperties.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 153.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt, Core Data, Blogging Prompts, Not User Facing

#22033 Domain Management: Update release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, Domains

#22032 Blogging Prompts: Add support for Bloganuary field
  WordPress/Classes/Extensions/Post+BloggingPrompts.swift
  WordPress/Classes/Models/BloggingPrompt+CoreDataClass.swift
  WordPress/Classes/Services/BloggingPrompts/BloggingPromptRemoteObject.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/BloggingPromptsAttribution.swift
  WordPress/Resources/AppImages.xcassets/logo-bloganuary.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/logo-bloganuary.imageset/logo-bloganuary.svg
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
  WordPress/WordPressTest/Test Data/blogging-prompts-bloganuary.json
Labels: [Type] Enhancement, Blogging Prompts

#21998 Domain Management: Implement add domain to an existing site flow
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/FreeToPaidPlansCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListConfiguration.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListDataSource.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/CheckoutViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/PlanSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Jetpack App, Domains

#22016 [Domain Management] Display transfer domains webview from domains search screen
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/GoogleDomains/DashboardGoogleDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainTransferFooterView.swift
  WordPress/Classes/ViewRelated/Domains/Transfer Domains/TransferDomainsWebViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Domains

#21999 Add missing purging to the fetchAllPages function
  WordPress/Classes/Services/PostRepository.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
Labels: Pages List

#21955 Fix invalid hidden privacy description
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteVisibility+Extensions.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
Labels: [Type] Bug, Site Settings

#21990 Update Charts to fix module name conflicts with Apple Charts
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingSocialAccountsViewController.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+AxisFormatters.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+LargeValueFormatter.swift
  WordPress/Classes/ViewRelated/Stats/Charts/Charts+Support.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsChartMarker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#22036 Merge 23.7 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#22034 Custom analyticsSource for the checkout web view when presented from All Domains flow
  WordPress/Classes/Utility/Analytics/WPAnalytics+Domains.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/FreeToPaidPlansCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/PlanSelectionViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
Labels: Analytics, Jetpack App, Domains

#22040 Remove FeatureFlag.modernizeMedia and associated code
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, UI Modernization

#22041 Fix an issue with cancel not working correctly in site media picker
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
Labels: [Type] Bug, Media

#22045 Fix missing Comments context menu icon
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
Labels: [Type] Bug, UI Modernization

#22046 Update `Automattic-Tracks-iOS` from `2.4.0` to `3.0.0`
  Podfile
  Podfile.lock
Labels: dependencies

#22044 Small code cleanup
  WordPress/Classes/Categories/WPStyleGuide+ReadableMargins.h
  WordPress/Classes/Categories/WPStyleGuide+ReadableMargins.m
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/WPStyleGuide+WebView.h
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaProgressCoordinatorNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Views/VerticallyStackedButton.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
  WordPress/WordPress_Prefix.pch
Labels: [Type] Task

#22053 In App Feedback: Configure significant events logic
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/Utility/Ratings/AppRatingsUtility.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPressTest/AppRatingUtilityTests.swift
Labels: [Type] Enhancement, In-App Rating Prompt, Hack Day

#22000 Introduce "Core" framework for Jetpack Stats Widget as Swift Package
  Modules/.gitignore
  Modules/Package.swift
  Modules/Sources/JetpackStatsWidgetsCore/URL+WidgetUrlSource.swift
  Modules/Sources/JetpackStatsWidgetsCore/WidgetUrlSource.swift
  Modules/Tests/JetpackStatsWidgetsCoreTests/URLWidgetUrlSourceTests.swift
  WordPress.xcworkspace/contents.xcworkspacedata
  WordPress/JetpackStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DeepLinkSourceTests.swift
  WordPress/WordPressTest/WordPressUnitTests.xctestplan
Labels: Tooling

#22057 Remove old Gutenberg reference
  Podfile.lock
Labels: Gutenberg

#22035 Do not attempt Gutenberg workaround when not running locally
  Gutenberg/cocoapods_helpers.rb
  Podfile
  Podfile.lock
Labels: Tooling

#22012 Fix an issue with scheduling of posts not working on iOS 17 with Xcode 15
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PartScreenPresentationController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingViewControllerPresenter.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug

#22059 Integrate PHPickerViewController in Story Editor
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Stories/DisabledVideoOverlay.swift
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Media/DeviceMediaPermissionsHeader.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/NSItemProvider+Exportable.swift
  WordPress/Classes/ViewRelated/Media/PHPickerController+Extensions.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media

#21285 Remove SDWebImage dependency
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Media/MemoryCache.swift
Labels: Performance, Memory Management

#22042 Fix media item details layout on iPad
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemTableViewCells.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Media

#22056 Add a new PageTree which will be used to display pages list
  WordPress/Classes/Utility/PageTree.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PagesListTests.swift
Labels: Pages List

#22055 Test how `BlogDashboardService` behaves for Jetpack
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingVisibility.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Jetpack/JetpackBrandingVisibilityTests.swift
Labels: Testing

#22069 Add release note for external contributor change in #22061.
  RELEASE-NOTES.txt
Labels: Stats

#22072 Posts & Pages: Fix view action title for published posts
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#22077 Make Reader web view inspectable on iOS 16.4 and higher
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
Labels: [Type] Enhancement, Reader, Webviews

#22064 Fix an issue with WordPress → Jetpack migration not working for new accounts with no sites
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/All done/MigrationDoneViewController.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Analytics/MigrationAnalyticsTracker.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/MigrationDependencyContainer.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Navigation/MigrationFlowCoordinator.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationActionsConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/Configuration/MigrationHeaderConfiguration.swift
  WordPress/Jetpack/Classes/ViewRelated/WordPress-to-Jetpack Migration/Common/Views/MigrationStepView.swift
Labels: [Type] Bug, Jetpack Content Migration Flow

#22080 Attempt to fix P2 emoji size bug.
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
Labels: [Type] Bug, Reader, P2

#22062 Move test for `WidgetDataReader` from WordPress unit tests to Swift Package
  Modules/Sources/JetpackStatsWidgetsCore/HomeWidgetData.swift
  Modules/Sources/JetpackStatsWidgetsCore/WidgetDataCacheReader.swift
  Modules/Sources/JetpackStatsWidgetsCore/WidgetDataReadError.swift
  Modules/Tests/JetpackStatsWidgetsCoreTests/WidgetDataCacheReaderTests.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/JetpackStatsWidgets/Cache/HomeWidgetCache.swift
  WordPress/JetpackStatsWidgets/Helpers/HomeWidgetDataFileReader.swift
  WordPress/JetpackStatsWidgets/Helpers/WidgetDataReader.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimePostsBestViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenStatsWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayLikesCommentsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenSiteListProvider.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Models/LockScreenStatsWidgetEntry.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenMultiStatWidgetViewProvider.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/ViewProvider/LockScreenSingleStatWidgetViewProvider.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenStatsWidgetsView.swift
  WordPress/JetpackStatsWidgets/Model/HomeWidgetAllTimeData.swift
  WordPress/JetpackStatsWidgets/Model/HomeWidgetData.swift
  WordPress/JetpackStatsWidgets/Model/HomeWidgetThisWeekData.swift
  WordPress/JetpackStatsWidgets/Model/HomeWidgetTodayData.swift
  WordPress/JetpackStatsWidgets/Model/StatsWidgetEntry.swift
  WordPress/JetpackStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/JetpackStatsWidgets/SiteListProvider.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Widgets/WidgetDataReaderTests.swift
Labels: Tooling

#21970 Fixed bug Stats: Year/Month/Week Stats are empty after navigating #21862
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: [Type] Bug, Stats

#22082 Configure UI tests to always store screenshots
  WordPress/UITests/JetpackUITests.xctestplan
  WordPress/UITests/WordPressUITests.xctestplan
Labels: Testing

#22083 Add support for GIF thumbnail resizing
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/MediaImageExporter.swift
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: [Type] Bug, Media, UI Modernization

#22078 Add Select and Deselect button to previews in Site Media picker
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
Labels: Media, UI Modernization

#21725 Do not show any blog cards when not signed in
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Core

#22084 Integrate gutenberg-mobile release v1.109.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22043 Refactor MediaImageService and fullscreen image view
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController+Swift.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media, UI Modernization

#21748 Re-implement deleting media in `MediaRepository`
  RELEASE-NOTES.txt
  WordPress/Classes/Categories/Media+WPMediaAsset.m
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/MediaRepository.swift
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/WordPressTest/MediaRepositoryTests.swift
  WordPress/WordPressTest/MediaServiceTests.swift
Labels: Media, [Type] Core

#22066 Remove WPMediaPicker dependency from Tenor picker
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageDecoder.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Gravatar.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergTenorMediaPicker.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaDataSource.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaSelectionTitleView.swift
  WordPress/Classes/ViewRelated/Media/ImageView.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/MediaPreviewHelper.swift
  WordPress/Classes/ViewRelated/Media/MemoryCache.swift
  WordPress/Classes/ViewRelated/Media/Preview/MediaPreviewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosMedia.swift
  WordPress/Classes/ViewRelated/Media/Tenor/NoResultsTenorConfiguration.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorDataSource.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorMedia.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorMediaGroup.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorPicker.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorStrings.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorWelcomeView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ImageDownloaderTests.swift
  WordPress/WordPressTest/MediaPicker/Tenor/TenorDataSouceTests.swift
Labels: Media, [Type] Task, UI Modernization

#22074 Implement Stock Photos without WPMediaPicker
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergExternalMeidaPicker.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergStockPhotos.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaSelectionTitleView.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/MediaPickingContext.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/NoResultsStockPhotosConfiguration.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/NullStockPhotosService.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosMedia.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosMediaGroup.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosStrings.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosWelcomeView.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorDataSource.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MockStockPhotosService.swift
  WordPress/WordPressTest/StockPhotosDataSourceTests.swift
  WordPress/WordPressTest/StockPhotosMediaGroupTests.swift
  WordPress/WordPressTest/StockPhotosThumbnailCollectionTests.swift
Labels: Media, [Type] Task, UI Modernization

#22105 Merge 23.8 code freeze – with conflicts resolution
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper+Actions.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#22095 Add UI tests of image optimization setting
  WordPress/Classes/ViewRelated/Me/App Settings/AppSettingsViewController.swift
  WordPress/UITests/Tests/AppSettingsTests.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Me/AppSettingsScreen.swift
  WordPress/UITestsFoundation/Screens/MeTabScreen.swift
  WordPress/UITestsFoundation/XCTestCase+Utils.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing, App Settings

#22038 [Domain Management] Add Tracks
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainTransferFooterView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Task, Domains

#22106 Remove the MediaThumbnailService
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/Services/MediaThumbnailService.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Media

#22109 Fix an issue with pan gesture breaking Site Media picker in single selection mode
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
Labels: [Type] Bug, Media

#22114 Fix crash when deleting media from details from the end of the list
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
Labels: [Type] Bug, Media

#22115 Cherry pick #22038 into `release/23.7.1`
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainTransferFooterView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: Tracks

#22119 Fix an issue with sharing from the context menu not working on iPad
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
Labels: [Type] Bug, Media

#22117 Changes domain placeholder to yourgroovydomain.com
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/DashboardDomainsCardSearchView.swift
Labels: [Type] Task, Domains Dashboard Card

#22111 Reader: Update reader share tracks property to a valid key
  WordPress/Classes/ViewRelated/Reader/ReaderShareAction.swift
Labels: [Type] Bug, Reader, Tracks

#22113 Passkeys Out, Universal Links In
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Jetpack/JetpackDebug.entitlements
  WordPress/Jetpack/JetpackRelease-Alpha.entitlements
  WordPress/Jetpack/JetpackRelease-Internal.entitlements
  WordPress/Jetpack/JetpackRelease.entitlements
  WordPress/WordPress-Alpha.entitlements
  WordPress/WordPress-Internal.entitlements
  WordPress/WordPress.entitlements
Labels: Login, Passkeys

#22122 Integrate gutenberg-mobile release v1.109.1
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22124 Site Media: Code cleanup
  WordPress/Classes/Extensions/NSAttributedString+Helpers.swift
  WordPress/Classes/Utility/Media/ImageDecoder.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/ImageView.swift
  WordPress/Classes/Utility/Media/MemoryCache.swift
  WordPress/Classes/Utility/StringRankedSearch.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Media/Crop/ImageCropOverlayView.swift
  WordPress/Classes/ViewRelated/Media/Crop/ImageCropViewController.swift
  WordPress/Classes/ViewRelated/Media/Crop/ImageCropViewController.xib
  WordPress/Classes/ViewRelated/Media/MediaLibraryStrings.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/WPStyleGuide+Loader.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationMediaDownloader.swift
  WordPress/Classes/ViewRelated/Reader/WPImageViewController+Swift.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media, [Type] Task

#22087 Centralize build code bump logic – Fixes incorrect beta bump
  fastlane/lanes/release.rb
Labels: Tooling
