Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-09, with the labels that each got.

#21474 Contact Support: Prevent chat bot message text from scaling to avoid different message sizes
  WordPress/Classes/ViewRelated/Support/SupportChatBot/support_chat_widget_page.css
Labels: [Type] Enhancement, Contact Support

#21464 [UI Tests] - Fix flaky like notification test (Second try)
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
Labels: Testing

#21456 UI Modernization: No sites me entry point
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesViewModel.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Resources/AppImages.xcassets/noSitesEmptyStateImage.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/noSitesEmptyStateImage.imageset/noSitesEmptyStateImage.png
  WordPress/Resources/AppImages.xcassets/noSitesEmptyStateImage.imageset/noSitesEmptyStateImage@2x.png
  WordPress/Resources/AppImages.xcassets/noSitesEmptyStateImage.imageset/noSitesEmptyStateImage@3x.png
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AccountBuilder.swift
  WordPress/WordPressTest/My Site/NoSiteViewModelTests.swift
Labels: [Type] Task, UI Modernization

#21476 Integrate gutenberg-mobile release 1.103.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#21475 Add feature flag for Reader Improvements
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Reader

#21485 UI Modernization: Me tab release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, UI Modernization

#21477 Reader: Add new header style for the tag stream page
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21470 Add new Media screen (P1)
  WordPress/Classes/Networking/MediaRequestAuthenticator.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/MediaThumbnailExporter.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21481 Merge finalized release 23.1
  RELEASE-NOTES.txt
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-AU.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/jetpack_metadata/ar-SA/release_notes.txt
  fastlane/jetpack_metadata/de-DE/release_notes.txt
  fastlane/jetpack_metadata/es-ES/release_notes.txt
  fastlane/jetpack_metadata/fr-FR/release_notes.txt
  fastlane/jetpack_metadata/he/release_notes.txt
  fastlane/jetpack_metadata/id/release_notes.txt
  fastlane/jetpack_metadata/it/release_notes.txt
  fastlane/jetpack_metadata/ja/release_notes.txt
  fastlane/jetpack_metadata/ko/release_notes.txt
  fastlane/jetpack_metadata/nl-NL/release_notes.txt
  fastlane/jetpack_metadata/pt-BR/release_notes.txt
  fastlane/jetpack_metadata/ru/release_notes.txt
  fastlane/jetpack_metadata/sv/release_notes.txt
  fastlane/jetpack_metadata/tr/release_notes.txt
  fastlane/jetpack_metadata/zh-Hans/release_notes.txt
  fastlane/jetpack_metadata/zh-Hant/release_notes.txt
  fastlane/metadata/ar-SA/release_notes.txt
  fastlane/metadata/de-DE/release_notes.txt
  fastlane/metadata/es-ES/release_notes.txt
  fastlane/metadata/fr-FR/release_notes.txt
  fastlane/metadata/he/release_notes.txt
  fastlane/metadata/id/release_notes.txt
  fastlane/metadata/it/release_notes.txt
  fastlane/metadata/ja/release_notes.txt
  fastlane/metadata/ko/release_notes.txt
  fastlane/metadata/nl-NL/release_notes.txt
  fastlane/metadata/ru/release_notes.txt
  fastlane/metadata/sv/release_notes.txt
  fastlane/metadata/tr/release_notes.txt
  fastlane/metadata/zh-Hans/release_notes.txt
  fastlane/metadata/zh-Hant/release_notes.txt
Labels: Releases

#21443 Use PostRepository.getPost in the share extension
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
Labels: Core Data

#21463 Move creating Media from RemoteMedia function to a helper class
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaService.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Core

#21487 Merge 23.2 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#21478 Rename `TaggedManagedObjectID` initialiser
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/Utility/TaggedManagedObjectID.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
  WordPress/WordPressTest/TaggedManagedObjectIDTests.swift
Labels: Core Data

#21503 Integrate gutenberg-mobile release 1.103.1
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#21517 Fix an issue with site icon not tappable after site creation
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
Labels: [Type] Bug

#21518 Lock Screen Widgets: Refresh widgets when app state changes
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/ViewRelated/Widgets/WidgetCenter+JetpackWidgets.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimePostsBestViewsStatWidgetConfig.swift
  WordPress/WordPressStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimeViewsVisitorsStatWidgetConfig.swift
Labels: [Type] Task, iOS 16 Widgets

#21530 [UI Tests] - Update tests to use new menu screen
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/UITests/Flows/EditorFlow.swift
  WordPress/UITests/Tests/MainNavigationTests.swift
  WordPress/UITests/Tests/MenuNavigationTests.swift
  WordPress/UITests/Tests/PostTests.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITestsFoundation/Screens/MySiteMenuScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing

#21523 Dashboard: update site header design
  WordPress/Classes/Utility/App Configuration/AppStyleGuide.swift
  WordPress/Classes/Utility/Spotlight/Spotlightable.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/SiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Jetpack/AppStyleGuide.swift
  WordPress/Resources/AppImages.xcassets/chevron-down-slim.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/chevron-down-slim.imageset/chevron-down-slim.pdf
Labels: [Type] Task, My Site Dashboard, UI Modernization

#21527 Move helper functions from PostService to PostHelper
  WordPress/Classes/Services/PostHelper.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: Core

#21498 Change ruby version to 3.2.2
  .ruby-version
Labels: Core

#21534 Lock Screen Widgets: VoiceOver improvements
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenMultiStatView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenSingleStatView.swift
Labels: [Type] Enhancement, VoiceOver, iOS 16 Widgets

#21543 Integrate gutenberg-mobile release 1.103.2
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#21533 Lock Screen Widgets: Add Tracks
  WordPress/Classes/ViewRelated/Widgets/WidgetCenter+JetpackWidgets.swift
  WordPress/Jetpack/WidgetConfiguration.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimePostsBestViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimeViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimeViewsVisitorsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenStatsWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayLikesCommentsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsVisitorsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/JetpackStatsWidgets/Tracks/Tracks+StatsWidgets.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetAllTime.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetThisWeek.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetToday.swift
  WordPress/WordPressShareExtension/Tracks.swift
Labels: [Type] Task, Tracks, iOS 16 Widgets

#21547 Merge regenerated strings from release 23.2
  Gutenberg/config.yml
  Podfile.lock
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Releases

#21536 Dashboard: Unified Menu finishing touches
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-activity.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-activity.imageset/globe-3.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-domains.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-domains.imageset/globe-2.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-people.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-people.imageset/comment-author-avatar.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-plugins.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-plugins.imageset/plugins.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-settings.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-settings.imageset/cog.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-social.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-social.imageset/share.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-themes.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-themes.imageset/layout.pdf
Labels: [Type] Task, My Site Dashboard, UI Modernization

#21526 Dashboard: Unified Menu Personalization
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardPersonalizeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationView.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-activity.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-activity.imageset/globe-3.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-comments.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-comments.imageset/comment.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-domains.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-domains.imageset/globe-2.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-people.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-people.imageset/comment-author-avatar.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-plugins.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-plugins.imageset/plugins.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-settings.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-settings.imageset/cog.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-social.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-social.imageset/share.pdf
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-themes.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Menu/site-menu-themes.imageset/layout.pdf
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPressTest/Dashboard/BlogDashboardPersonalizationViewModelTests.swift
Labels: [Type] Task, My Site Dashboard, UI Modernization

#21542 Media: Implement sync of assets
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
Labels: Media, [Type] Task, UI Modernization

#21550 [UI Tests] - Add View Site from My Site Test
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/UITests/README.md
  WordPress/UITests/Tests/MenuNavigationTests.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
Labels: Testing

#21497 Add a `MediaRepository` type
  WordPress/Classes/Services/MediaRepository.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaRepositoryTests.swift
Labels: Core Data

#21344 Use WordPressAuthenticator v7.0.0-beta.1 to drop Google SignIn SDK
  Podfile
  Podfile.lock
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/System/WordPressAppDelegate+openURL.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/SignupEpilogueViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Login, Tooling

#21558 [UI Tests] - Create blank page test - Part 1
  API-Mocks/WordPressMocks/src/main/assets/mocks/__files/__admin/scenarios.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/notifications/notifications_comment_reply.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/notifications/notifications_comment_reply_after.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/notifications/notifications_comment_reply_before.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_106707880_pages_after.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_106707880_pages_before.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_106707880_pages_new.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts_draft,pending.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts_new.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts_private,publish.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/reader_like_post.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/reader_like_post_after.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/reader_likes_tab_after.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/reader_likes_tab_before.json
  WordPress/UITests/README.md
  WordPress/UITests/Tests/DashboardTests.swift
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITestsFoundation/WireMock.swift
Labels: Testing

#21559 UI Modernization: Black and white image for me tab icon
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
Labels: [Type] Enhancement, UI Modernization

#21575 Fix an issue with some deep links not working
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, My Site Dashboard

#21565 Fix an issue with missing search in Media picker
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
Labels: [Type] Bug, Media

#21562 Media: Implement media uploads
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaPickerController.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosPicker.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorPicker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21566 Media: Implement empty state view
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
Labels: Media, [Type] Task, UI Modernization

#21551 Dashboard: Update quick tour icons
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+QuickStart.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
Labels: [Type] Task, Quick Start, UI Modernization

#21574 Integrate gutenberg-mobile release 1.103.3
  Gutenberg/config.yml
  Podfile
  Podfile.lock
Labels: Gutenberg

#21576 Integrate gutenberg-mobile release 1.104.0
  Gutenberg/config.yml
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#21563 Address support bot feedback
  WordPress/Classes/ViewRelated/Support/SupportChatBot/SupportChatBotViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportChatBot/support_chat_widget.css
Labels: [Type] Task, Contact Support

#21571 Contact Support: Hide keyboard after submitting the message to workaround scrolling issues
  WordPress/Classes/ViewRelated/Support/SupportChatBot/support_chat_widget.js
Labels: [Type] Bug, Contact Support

#21548 Fix Stats menu option not visible for self-hosted sites
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Bug, Stats, My Site

#21541 Address Ruby 3 RuboCop violations
  Gutenberg/cocoapods_helpers.rb
  Rakefile
  fastlane/lanes/build.rb
  fastlane/lanes/codesign.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Labels: Tooling

#21581 Move merging posts helper function to PostHelper
  WordPress/Classes/Services/PostHelper.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostService.m
Labels: Core Data

#21578 Contact Support: Dynamic Type fixes
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Support/SupportChatBot/support_chat_widget.css
Labels: [Type] Enhancement, Accessibility, Contact Support

#21582 [UI Tests] - Fix failing testAddMediaBlocks() test
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
Labels: Testing

#21535 Lock Screen Widgets: Enable feature
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/Utility/AccountHelper.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/JetpackStatsWidgets/Helpers/HomeWidgetDataFileReader.swift
  WordPress/JetpackStatsWidgets/Helpers/WidgetDataReader.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimePostsBestViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimeViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenAllTimeViewsVisitorsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenStatsWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayLikesCommentsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Configs/LockScreenTodayViewsVisitorsStatWidgetConfig.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenSiteListProvider.swift
  WordPress/JetpackStatsWidgets/SiteListProvider.swift
  WordPress/WordPressTest/Widgets/WidgetDataReaderTests.swift
Labels: [Type] Task, iOS 16 Widgets

#21585 Me tab: Fix crash when switching between tabs when nav bar is visible
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Crash, UI Modernization

#21589 Fix an issue with image tint color in personalization screen
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationView.swift
Labels: [Type] Bug, My Site Dashboard

#21539 Implement delete, trash, restore post in PostRepository
  WordPress/Classes/Services/PostRepository.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
Labels: Core Data

#21567 Replace `MediaService.getMediaWithID` with the corresponding function in `MediaRepository`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Services/Stories/StoryMediaLoader.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
Labels: Core Data

#21568 Remove MediaService.getMediaLibraryCount
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaRepository.swift
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.m
Labels: Core

#21569 Remove MediaService.getMetadataFromVideoPressID
  RELEASE-NOTES.txt
  WordPress/Classes/Categories/Media+WPMediaAsset.m
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
Labels: Core

#21590 Merge 23.3 code freeze
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#21592 Merge 23.2.1 hotfix into 23.3
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: Releases

#21596 Fix flaky test when tapping View post button on testBasicPostPublishWithCategoryAndTag()
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
Labels: Testing

#21597 Remove domain dashboard card feature flag and related code
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DashboardDomainsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/DomainsDashboardCardTracker.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/DashboardDomainsCardSearchView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/FreeToPaidPlansDashboardCardHelper.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Dashboard/DomainsDashboardCardHelperTests.swift
  WordPress/WordPressTest/Dashboard/FreeToPaidPlansDashboardCardHelperTests.swift
Labels: [Type] Enhancement, Domains Dashboard Card, WP.com Plans

#21482 Reader: Create new site header for the reader
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21588 Fix split view support on large iPhones
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: [Type] Bug, UI Modernization

#21602 Fix split view support on large iPhones
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: [Type] Task, My Site Dashboard

#21594 Update README for UI Tests
  WordPress/UITests/README.md
Labels: Testing

#21580 Media: Implement edit mode
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellBadgeView.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21601 Media: Implement search
  WordPress/Classes/ViewRelated/Media/Library/MediaViewController.swift
Labels: Media, [Type] Task, UI Modernization

#21612 Fix crash when configuring gravatar icon when account email is nil
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesViewModel.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
Labels: [Type] Crash, UI Modernization

#21613 Merge `release/23.2.2` hotfix into `release/23.3`
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesViewModel.swift
Labels: Releases

#21611 Unified Menu: Disable announcement for iPad
  WordPress/Classes/ViewRelated/WhatsNew/Presenter/WhatIsNewScenePresenter.swift
Labels: [Type] Task, What's New

#21609 Fix unresponsive compliance popover when fonts are enlarged
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverViewController.swift
Labels: [Type] Bug, Accessibility, App Settings, My Site, Account Settings

#21610 Fix quick start not terminating on hide this issue
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.h
  WordPress/Classes/Categories/UIViewController+RemoveQuickStart.m
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardPersonalizeCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Start/DashboardQuickStartCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardPersonalizationService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsSectionHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationViewModel.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardPersonalizationViewModelTests.swift
Labels: [Type] Bug, Quick Start, My Site Dashboard

#21599 Add Remote Feature Flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Enhancement, Domains

#21622 Remove heic support from media exporter
  WordPress/Classes/Utility/Media/ItemProviderMediaExporter.swift
Labels: [Type] Bug, Media

#21623 Update media exporter unit tests
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ItemProviderMediaExporterTests.swift
  WordPress/WordPressTest/Test Images/iphone-photo.heic
Labels: Media

#21587 build: Reference RNAztec pod within Gutenberg submodule
  Gutenberg/cocoapods_helpers.rb
Labels: Gutenberg, Tooling

#21628 Plans in Site Creation: Feature Flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Task, Plans in Site Creation

#21615 Media: Thumbnails
  WordPress/Classes/Extensions/Math.swift
  WordPress/Classes/Models/Media.h
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Services/MediaImportService.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Media/MediaThumbnailExporter.swift
  WordPress/Classes/ViewRelated/Media/Library/MediaCollectionCellViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media, [Type] Task, UI Modernization

#21634 Catch crash when creating media
  WordPress/Classes/Services/MediaImportService.swift
Labels: [Type] Crash, Media

#21629 Fix me navigation and deep linking
  WordPress/Classes/System/MySitesCoordinator+RootViewPresenter.swift
  WordPress/Classes/System/RootViewPresenter+MeNavigation.swift
  WordPress/Classes/System/RootViewPresenter.swift
  WordPress/Classes/System/StaticScreensTabBarWrapper.swift
  WordPress/Classes/System/WPTabBarController+RootViewPresenter.swift
  WordPress/Classes/Utility/Universal Links/Routes+Me.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController+UIViewControllerRestoration.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: /Me, [Type] Task, UI Modernization

#21630 Fix the navigation to Privacy Settings screen from the Compliance Popover
  WordPress/Classes/System/RootViewPresenter+AppSettingsNavigation.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Bug, App Settings, Account Settings

#21652 Integrate gutenberg-mobile release 1.105.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#21639 test: Mitigate media block test flakiness
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
Labels: Testing, Gutenberg

#21641 Reader: Temporarily fix Reader Tag header misalignment
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21642 Reader: Update Tag stream header title to sans-serif
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21657 Fix an issue with non-admins being able to see the plugin menu item
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.m
Labels: [Type] Bug, My Site Dashboard

#21651 Media: Implement picker mode
  WordPress/Classes/Models/Blog+Capabilities.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaCollectionCellBadgeView.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaSelectionTitleView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21658 Fix an issue with contributors seeing pre-publishing popup
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostPostViewController.swift
Labels: [Type] Bug, Posting/Editing
