Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2023-10, with the labels that each got.

#21668 Merge 23.4 code freeze to trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#21659 Fix an issue with a New Page action visible for Contributors
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
Labels: [Type] Bug, My Site Dashboard

#21660 Fix a crash: Attempt to add script message handler when one already exists
  WordPress/Classes/ViewRelated/Support/SupportChatBot/SupportChatBotViewController.swift
Labels: [Type] Crash, Contact Support

#21654 Plans in Site Creation: Update Domain Selection view
  Podfile.lock
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/Utility/Analytics/WPAnalytics+Domains.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell+ViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
Labels: [Type] Task, Plans in Site Creation

#21670 Update `fastlane-plugin-sentry` from `1.11.0` to `1.15.0`
  Gemfile.lock
Labels: Tooling

#21627 [UI Tests] - Fix flaky tests on CI runs
  WordPress/UITests/Tests/MainNavigationTests.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteMoreMenuScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/PagesScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing

#21669 Update `fastlane-plugin-appcenter` from `1.11.1` to `2.1.1`
  Gemfile
  Gemfile.lock
Labels: Tooling

#21667 Plans in Site Creation: Create functionality to add domain with a plan to a cart
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalytics+Domains.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewModel/RegisterDomainDetailsServiceProxy.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/SiteCreationPurchasingWebFlowController.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyContentView.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Services/ShoppingCartService.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Plans in Site Creation

#21677 Blogging Prompts: Add `isValidJSONObject` to parsing prompt settings
  RELEASE-NOTES.txt
  WordPress/Classes/Services/BlogService+BloggingPrompts.swift
Labels: [Type] Crash, Blogging Prompts

#21689 Unresponsive compliance pop up fix
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverViewController.swift
Labels: [Type] Bug, Jetpack App

#21692 Merge editorialized release notes for release 23.4
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#21691 Merge hotfix 23.3.1 into release 23.4
  RELEASE-NOTES.txt
Labels: Releases

#21664 Media: Add support for remaining asset types
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCellBadgeView.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCellViewModel.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaDocumentInfoView.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaVideoDurationView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task, UI Modernization

#21673 Media: Add support for self-hosted sites
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media, [Type] Task, UI Modernization

#21678 Media: Add progress reporting
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Utility/Media/MediaExporter.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCellViewModel.swift
Labels: Media, [Type] Task, UI Modernization

#21675 Media: Improve MediaHost performance
  WordPress/Classes/Networking/MediaHost.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media, [Type] Task, UI Modernization

#21695 Add sample DocsBot ID
  WordPress/Credentials/Secrets-example.swift
Labels: [Type] Task, Tooling

#21671 Plans in Site Creation: Show full free domain explanation label in domain selection view
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell+ViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell.swift
Labels: [Type] Enhancement, Plans in Site Creation

#21694 No Sites: Fix navigation to Me screen
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: [Type] Bug, /Me, WordPress App

#21674 Reader: Add new post detail header
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21682 Reader: Update content style to sans-serif
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21700 Fix unit tests
  WordPress/WordPressTest/MediaImageServiceTests.swift
Labels: Media

#21683 Reader: Rename `ReaderPostCardCell` to `OldReaderPostCardCell`
  WordPress/Classes/ViewRelated/Reader/OldReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/OldReaderPostCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderCellConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Ghost.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/OldReaderPostCardCellTests.swift
  WordPress/WordPressTest/ReaderPostCellActionsTests.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21685 Reader: Add new reader post card cell UI
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/Resources/AppImages.xcassets/icon-reader-post-comment.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-post-comment.imageset/icon-reader-post-comment.svg
  WordPress/Resources/AppImages.xcassets/icon-reader-reblog.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-reblog.imageset/icon-reader-reblog.svg
  WordPress/Resources/AppImages.xcassets/icon-reader-star-fill.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-star-fill.imageset/icon-reader-star-fill.svg
  WordPress/Resources/AppImages.xcassets/icon-reader-star-outline.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-star-outline.imageset/icon-reader-star-outline.svg
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21687 Reader: Configure `ReaderPostCardCell` with a `ReaderPost`
  WordPress/Classes/Utility/Date+Formats.swift
  WordPress/Classes/Utility/Date+TimeStrings.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21686 Fix TaggedManagedObjectID warnings
  WordPress/Classes/Services/MediaRepository.swift
  WordPress/Classes/Services/MediaThumbnailCoordinator.swift
  WordPress/Classes/Services/Stories/StoryMediaLoader.swift
  WordPress/Classes/Utility/TaggedManagedObjectID.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/WordPressShareExtension/ShareExtensionSessionManager.swift
  WordPress/WordPressShareExtension/ShareNoticeNavigationCoordinator.swift
  WordPress/WordPressTest/MediaRepositoryTests.swift
  WordPress/WordPressTest/TaggedManagedObjectIDTests.swift
Labels: General

#21698 Update SwiftLint to version 0.53.0 and fix `control_statement`
  Podfile.lock
  WordPress/Classes/Models/Comment+CoreDataClass.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/NotificationTextContent.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderCSS.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
  WordPress/Classes/ViewRelated/WhatsNew/Data store/AnnouncementsStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/What's New/Data store/Announcement+Fixture.swift
  WordPress/WordPressTest/What's New/Data store/CachedAnnouncementsStoreTests.swift
Labels: Testing, Tooling

#21650 Replace `fix_gbm_pods` Rake task with one to `pod update` Gutenberg
  Rakefile
Labels: Tooling

#21704 Fix flaky testReplyNotification test
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
Labels: Testing

#21570 [UI Tests] - Create blank page test - Part 2
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_181851495_pages_after.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_181851495_pages_before.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_181851495_pages_new.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/pages/sites_pages_list.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts_draft,pending_initial_list.json
  WordPress/UITests/README.md
  WordPress/UITests/Tests/DashboardTests.swift
  WordPress/UITests/Tests/PagesTests.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/ActionSheetComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/ChooseLayoutScreen.swift
  WordPress/UITestsFoundation/Screens/Login/LoginEpilogueScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Testing

#21696 Reader: Add reader post card cell actions
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderLikeAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSaveForLaterRemovedPosts.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSavedPostCellActions.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21707 Reader: Add border to icon images and featured image
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21726 Disable sending Jetpack ASC metadata to GlotPress
  fastlane/lanes/localization.rb
Labels: Localization

#21703 Extract ViewModel from `MySiteViewController`
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AccountBuilder.swift
  WordPress/WordPressTest/MySiteViewModelTests.swift
  WordPress/WordPressTest/TruthTable.swift
Labels: Testing

#21734 Posts & Pages: Update filter tab styling
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/Jetpack/UIColor+JetpackColors.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21738 Posts & Pages: Native search
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Posts.storyboard
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21741 Remove a couple of unused functions in MediaService
  WordPress/Classes/Services/MediaService.m
Labels: [Type] Core

#21747 Integrate gutenberg-mobile release 1.106.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#21745 Posts & Pages: Extract search to a separate screen (and ViewModel)
  WordPress/Classes/Utility/WPContentSearchHelper.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21723 Posts & Pages: Enable filter by author for pages
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilterSettings.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21681 Remove .nativePhotoPicker feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Stories/DisabledVideoOverlay.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarPickerViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarUploader.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryMediaPickingCoordinator.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaLibraryPickerDataSource.h
  WordPress/Classes/ViewRelated/Media/WPAndDeviceMediaLibraryDataSource.h
  WordPress/Classes/ViewRelated/Media/WPAndDeviceMediaLibraryDataSource.m
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, UI Modernization

#21762 Reader: Fix like button configuration for Reader
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: Reader, Part of a WIP Feature

#21736 Update the tags list style in Reader detail
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21755 Reader: Update reader follow button styles
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowButton.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21756 Reader: Update Reader cross post cell
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.xib
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21763 Update Reader detail toolbar
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.xib
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21688 Plans in Site Creation: Integrate Plan selection into Site Creation flow
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/Utility/WebViewControllerConfiguration.swift
  WordPress/Classes/ViewRelated/Site Creation/Design Selection/SiteDesignContentCollectionViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanWizardContentViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/WebAddressWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/SiteCreation/PlanWizardContentViewModelTests.swift
Labels: [Type] Task, Plans in Site Creation

#21760 Fix broken widget routing
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
Labels: Stats, Widgets

#21768 Reader: Constrain reader card to `readableContentGuide`
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#21767 Reader: Add new `Sites to follow` reader UI styles
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21765 Reader: Update tag recommendation card
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsNewCardCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#21770 Reader: Fix minor issues
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#21773 Reader: Minor improvements to detail header accessibility
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
Labels: [Type] Enhancement, Accessibility, Reader, Part of a WIP Feature

#21771 Reader: Update `readerImprovements` flag to be remote
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#21751 Account Creation: Fix broken flow after signing up from the WordPress app
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagTests.swift
Labels: [Type] Bug, Signup, WordPress App

#21752 Post Sign-up: Fix incorrect overlay shown in post sign-up flow on WordPress
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
Labels: [Type] Bug, WordPress App

#21772 Reader: Enable the Reader Improvements v1 feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
Labels: Reader, [Type] Task

#21618 [Domain Management] List Card UI
  WordPress/Classes/ViewRelated/Domains/Domain registration/DomainListCard.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Color+DesignSystem.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Background/backgroundPrimary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Background/backgroundQuaternary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Background/backgroundSecondary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Background/backgroundTertiary.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Foreground/error.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Foreground/success.colorset/Contents.json
  WordPress/Classes/ViewRelated/Site Creation/Web Address/DesignSystem/Colors.xcassets/Foundation/Foreground/warning.colorset/Contents.json
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Domains

#21786 Plans in Site Creation: Release notes
  RELEASE-NOTES.txt
Labels: Plans in Site Creation

#21788 Merge 23.5 code freeze
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#21764 Posts & Pages: Native search (Part 2)
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21784 Remove an unused source file: LocalizationConfiguration.swift
  WordPress/JetpackStatsWidgets/Views/Localization/LocalizationConfiguration.swift
Labels: [Type] Core

#21795 Update `DashboardPostsSyncManagerListener` function signature
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/PagesCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/PostsCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/BlogDashboardState.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Helpers/DashboardPostsSyncManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/WordPressTest/Dashboard/DashboardPostsSyncManagerTests.swift
Labels: [Type] Core

#21766 Posts & Pages: Move authors filter button to navigation bar
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterButton.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilterSettings.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/Resources/AppImages.xcassets/icon-people.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-people.imageset/icon-people.pdf
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21794 Posts & Pages: Remove Create Story action
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, [Type] Task, UI Modernization

#21803 Fix authors filter support on Pages
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List

#21802 Reader Detail: Dispatch header layoutIfNeeded on main queue
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
Labels: [Type] Enhancement, Reader

#21790 Plans in Site Creation: Use domain_name returned from Plan Selection view
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanStep.swift
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Plan/PlanWizardContentViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
  WordPress/WordPressTest/SiteCreation/PlanWizardContentViewModelTests.swift
Labels: [Type] Enhancement, Plans in Site Creation

#21804 Posts & Pages: Update posts cell design
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, [Type] Task, UI Modernization

#21810 Reader: Follow button fixes
  WordPress/Classes/Extensions/Font/UIConfigurationTextAttributesTransformer+Font.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowButton.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Reader

#21814 Implement fetching posts/pages list in PostRepository
  WordPress/Classes/Services/PostRepository.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostRepositoryPostsListTests.swift
Labels: Posts List, Pages List

#21815 Reader: Recommendation card design fixes
  WordPress/Classes/ViewRelated/Reader/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsNewCardCell.xib
Labels: [Type] Enhancement, Reader

#21821 Reader: Update scroll-to-top behavior
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement, Reader

#21823 Posts & Pages: Update image placeholder to use solid color
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Media/SolidColorActivityIndicator.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, [Type] Task, UI Modernization

#21806 Posts & Pages: Remove cell switcher from Posts List screen
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PostListViewControllerTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#21789 Posts & Pages: Advanced search
  Podfile
  Podfile.lock
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceOptions.h
  WordPress/Classes/ViewRelated/Media/StringRankedSearch.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchService.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchSuggestionsService.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchToken.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchTokenTableCell.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
  WordPress/Resources/AppImages.xcassets/block-tag-cloud.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/block-tag-cloud.imageset/block-tag-cloud.pdf
  WordPress/Resources/AppImages.xcassets/comment-author-gravatar.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/comment-author-gravatar.imageset/comment-author-gravatar.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostSearchServiceTests.swift
  WordPress/WordPressTest/StringRankedSearchTests.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21831 Reader: Add RTL support for recommended tags card
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
Labels: [Type] Enhancement, Reader

#21833 Reader: Update toolbar with the new icons
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Resources/AppImages.xcassets/icon-reader-save-fill.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-save-fill.imageset/icon-reader-save-fill.svg
  WordPress/Resources/AppImages.xcassets/icon-reader-save-outline.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-save-outline.imageset/icon-reader-save-outline.svg
Labels: [Type] Enhancement, Reader

#21827 Site Domains: Fix an issue where the message when searching for a new domain was misleading
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionsTableViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Utility/Blog+DomainsDashboardView.swift
Labels: [Type] Bug, Domains

#21825 Update project README
  README.md
Labels: [Type] Enhancement, Documentation

#21832 Update WordPressAuthenticator to sign-up bug
  Podfile
  Podfile.lock
Labels: [Type] Bug, Login

#21828 Posts & Pages: Integrate new cells in search
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchService.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel+Highlighter.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostSearchViewModelTests.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21837 Posts & Pages: Update author filter design
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListFilterSettings.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21847 Address a couple of low hanging warnings
  WordPress/Classes/Services/MediaService.h
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Tooling

#21840 Lock Screen Widgets: Remove background and update UI
  WordPress/JetpackStatsWidgets/Assets.xcassets/icon-jetpack.imageset/Contents.json
  WordPress/JetpackStatsWidgets/Assets.xcassets/icon-jetpack.imageset/icon-jetpack.png
  WordPress/JetpackStatsWidgets/Assets.xcassets/icon-jetpack.imageset/icon-jetpack@2x.png
  WordPress/JetpackStatsWidgets/Assets.xcassets/icon-jetpack.imageset/icon-jetpack@3x.png
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenFieldView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenMultiStatView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenSingleStatView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenSiteTitleView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenUnconfiguredView.swift
Labels: [Type] Enhancement, Widgets

#21846 Strip HTML from post titles
  WordPress/Classes/Models/Post.swift
  WordPress/WordPressTest/PostTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#21842 Posts & Pages: New design for pages cells
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Pages/BasePageListCell.h
  WordPress/Classes/ViewRelated/Pages/BasePageListCell.m
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.h
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/PageListTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.h
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.xib
  WordPress/Classes/ViewRelated/Pages/TemplatePageTableViewCell.swift
  WordPress/Resources/AppImages.xcassets/home.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/home.imageset/block-home.pdf
  WordPress/Resources/AppImages.xcassets/posts.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/posts.imageset/site-menu-posts.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Pages List, [Type] Task, UI Modernization

#21844 Posts & Pages: Integrate new page cells in search
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21849 Update release notes
  RELEASE-NOTES.txt
Labels: Posts List

#21710 Widgets: Track loaded widgets when application is opened
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/JetpackStatsWidgets/Tracks/Tracks+StatsWidgets.swift
  WordPress/JetpackStatsWidgets/Tracks/WidgetAnalytics.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetAllTime.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetThisWeek.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetToday.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Analytics, Widgets

#21701 [Domain Management] Add My Domains to Me Screen
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/MyDomains/MyDomainsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Domains

#21850 Posts & Pages: Move post actions to a context menu
  WordPress/Classes/ViewRelated/Post/InteractivePostView.swift
  WordPress/Classes/ViewRelated/Post/PostActionSheet.swift
  WordPress/Classes/ViewRelated/Post/PostCardCell.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostCardCellGhostableTests.swift
  WordPress/WordPressTest/PostCardCellTests.swift
  WordPress/WordPressTest/PostCompactCellTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#21853 Posts & Pages: Page hierarchy
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Resources/AppImages.xcassets/subdirectory.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/subdirectory.imageset/subdirectory.pdf
Labels: Pages List, [Type] Task, UI Modernization

#21858 Reader: Update avatar spacing if site image is removed
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: [Type] Bug, Reader

#21868 UI Tests: Disable compliance popover for UI Tests
  WordPress/Classes/System/UITestConfigurator.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Testing

#21863 Fix: Submitting wrong code for SMS 2FA can result in a vague error message
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Bug, Login

#21872 Gutenberg: Move config comments to header
  Gutenberg/config.yml
Labels: Tooling

#21870 Reader: Fix Reader detail toolbar action labels wrapping on overflow
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: [Type] Enhancement, Reader

#21871 Posts & Pages: Remove dead code and grouping for scheduled pages
  WordPress/Classes/ViewRelated/Pages/PageListTableViewHandler.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
Labels: Pages List, [Type] Task, UI Modernization

#21874 Posts & Pages: Refactor table handler #1
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PostListViewControllerTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#21855 Reader: Reduce amount requested for followed sites
  WordPress/Classes/Services/Reader Post/ReaderPostService.m
Labels: Reader, [Type] Task

#21881 Widget: Fix potential tracks crash by calling uniqueKeysWithValues with unique array
  WordPress/JetpackStatsWidgets/Tracks/WidgetAnalytics.swift
Labels: [Type] Enhancement, Widgets

#21882 Reader: Fix stream header margins and separator
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement, Reader, Layout

#21885 Reader: Add a stretchable image container in recommended sites card
  WordPress/Classes/ViewRelated/Reader/ReaderRecommendedSiteCardCell.xib
Labels: [Type] Enhancement, Reader

#21891 Reader Detail: Update link color to blue
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
Labels: [Type] Enhancement, Reader

#21890 Reader: Stream post card accessibility improvements
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderShowMenuAction.swift
Labels: [Type] Enhancement, Accessibility, Reader

#21894 Integrate gutenberg-mobile release 1.107.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#21884 Posts & Pages: Integrate context menus, selection in search
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: Posts List, [Type] Task, UI Modernization

#21899 Posts & Pages: Replace the eye
  WordPress/Classes/ViewRelated/Post/PostMenuHelper.swift
Labels: Posts List, Pages List, UI Modernization

#21724 Show a toast message (notice) when moving posts to trash
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.h
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.m
  WordPress/Classes/ViewRelated/Pages/RestorePageTableViewCell.xib
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/RestorePostTableViewCell.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: Posts List

#21666 WP/JPiOS: Update Fastfile with version model
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
Labels: Tooling

#21859 Remove unneeded env vars from Fastfile
  fastlane/Fastfile
  fastlane/lanes/release.rb
Labels: Tooling

#21886 Posts & Pages: Add comments action
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostMenuHelper.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/ReaderDetailViewControllerTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, [Type] Task, UI Modernization

#21898 Posts & Pages: Add status text
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, Pages List, [Type] Task, UI Modernization

#21906 Fix move to trash toast message
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: Posts List, Pages List, [Type] Task

#21861 Remove dead code which was used to preload all posts and pages
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: [Type] Core

#21892 Check if the uploaded post is made on top of the latest revision
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/Services/PostService.m
Labels: [Type] Core

#21805 Expose API to fetch All Domains
  WordPress/Classes/Services/Domains/DomainsService+AllDomains.swift
  WordPress/Classes/Services/Domains/DomainsService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Jetpack App, Domains

#21912 Fix release notes for the Plans in Site Creation project
  RELEASE-NOTES.txt
Labels: [Type] Task, Plans in Site Creation

#21911 Merge 23.6 code freeze
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
  fastlane/Fastfile
  fastlane/lanes/release.rb
Labels: Releases

#21897 Use consistent `init` among `-Builder`s in the unit tests
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/AccountBuilder.swift
  WordPress/WordPressTest/AccountServiceTests.swift
  WordPress/WordPressTest/BasePostTests.swift
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverViewModelTests.swift
  WordPress/WordPressTest/JetpackBrandingMenuCardPresenterTests.swift
  WordPress/WordPressTest/JetpackBrandingTextProviderTests.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
  WordPress/WordPressTest/My Site/NoSiteViewModelTests.swift
  WordPress/WordPressTest/MySiteViewModelTests.swift
  WordPress/WordPressTest/PostActionSheetTests.swift
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCompactCellTests.swift
  WordPress/WordPressTest/PrepublishingNudgesViewControllerTests.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
  WordPress/WordPressTest/ReaderDetailViewControllerTests.swift
  WordPress/WordPressTest/ReaderPostBuilder.swift
  WordPress/WordPressTest/ReaderPostCellActionsTests.swift
  WordPress/WordPressTest/ShareAppContentPresenterTests.swift
  WordPress/WordPressTest/SharingServiceTests.swift
  WordPress/WordPressTest/WPAccount+LookupTests.swift
  WordPress/WordPressTest/WPAccount+ObjCLookupTests.m
  WordPress/WordPressTest/WPCrashLoggingDataProviderTests.swift
Labels: Testing

#21504 Dangermattic Setup
  .buildkite/commands/danger-pr-check.sh
  .buildkite/commands/rubocop-via-danger.sh
  .buildkite/pipeline.yml
  .bundle/config
  Dangerfile
  Gemfile
  Gemfile.lock
  Gutenberg/cocoapods_helpers.rb
  Podfile
  Podfile.lock
  fastlane/Fastfile
Labels: Tooling

#21914 Reader: Scroll to top when status bar is tapped
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
Labels: [Type] Bug, Reader

#21918 Posts & Pages: Add tags sync
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchTokenTableCell.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: [Type] Bug, Posts List, UI Modernization

#21925 Remove old Gutenberg reference
  Podfile.lock
Labels: Gutenberg
