Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-11, with the labels that each got.

#23730 Reader: Improve stream headers
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderDiscoverHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderStreamTitleView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBaseHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderNavigationCustomTitleView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTitleView.swift
Labels: Reader

#23744 Fix an issue with Reader showing duplicated subscriptions after adding one from Search
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSiteSearchViewController.swift
Labels: [Type] Bug, Reader

#23675 Replace native WP.com sign in with web-based sign in
  RELEASE-NOTES.txt
  WordPress/Classes/Login/WordPressDotComAuthenticator.swift
  WordPress/Classes/System/Root View/SplitViewRootPresenter.swift
  WordPress/Classes/System/Root View/WordPressAuthenticatorProtocol.swift
  WordPress/Classes/System/UITesting/UITestConfigurator.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPressAuthenticator/Sources/Authenticator/WordPressAuthenticator.swift
  WordPressAuthenticator/Sources/Signin/LoginPrologueViewController.swift
Labels: Login

#23677 Move using stored credentials prompt to the WP.com sign in flow
  WordPressAuthenticator/Sources/Signin/LoginPrologueViewController.swift
  WordPressAuthenticator/Sources/Unified Auth/View Related/Get Started/GetStartedViewController.swift
Labels: Login

#23715 Use ephemeral URLSession to send .org REST API requests
  WordPress/Classes/Networking/WordPressClient.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
Labels: [Type] Bug

#23751 Reader: RSS support improvements
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarSubscriptionsSection.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Reader/Views/ReaderSiteIconView.swift
Labels: Reader

#23759 Reader: Fix WPGlobus plugin support
  WordPress/Classes/Services/Reader Post/ReaderPostService.swift
Labels: [Type] Bug, Reader

#23755 Reader: Safe Area and Empty State View
  Modules/Sources/WordPressUI/Views/EmptyStateView.swift
  WordPress/Classes/Extensions/NoResultsViewController+FollowedSites.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/UITests/Tests/ReaderTests.swift
Labels: Reader

#23726 Add prompt to authenticate with application passwords
  Modules/Sources/WordPressUI/Components/RestApiUpgradePrompt.swift
  Modules/Tests/DesignSystemTests/IconTests.swift
  WordPress/Classes/Login/LoginWithUrlView.swift
  WordPress/Classes/Login/SelfHostedSiteAuthenticator.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
Labels: Self-hosted

#23762 Add feature flag for dot com web login flow
  WordPress/Classes/System/Root View/WordPressAuthenticatorProtocol.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: Login

#23760 Fix XML encoding in Reader search
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderFeedCell.swift
Labels: Reader

#23756 Reader: Remove ReaderFollowedSitesViewController
  WordPress/Classes/Extensions/NoResultsViewController+FollowedSites.swift
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
  WordPress/Classes/ViewRelated/Reader/Style/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionHelper.swift
Labels: Reader

#23754 Reader: Resize covers
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
Labels: Reader

#23769 Execute ExperimentalFeaturesViewModel functions in the main actor
  Modules/Sources/WordPressUI/Views/Settings/Experimental Features/ExperimentalFeaturesViewModel.swift
Labels: [Type] Bug

#23761 feat: Navigate to post stats from authors stats
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: [Type] Enhancement, Stats

#23773 Fix mySiteHeaderAddSiteTapped analytics properties
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController+SiteActions.swift
Labels: [Type] Bug

#23774 Fix Reader localization
  WordPress/Classes/Utility/SharedStrings.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/System/Sidebar/SidebarViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Reader

#23775 Reader: Fix .readerAccessed tracking on iPad
  WordPress/Classes/System/Root View/SplitViewRootPresenter.swift
Labels: Reader

#23771 Reader: Cleanup ReaderStreamVC
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderActionHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderCommentAction.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderShareAction.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23778 feat: Enable sharing to non-Jetpack sites
  RELEASE-NOTES.txt
  WordPress/Classes/Services/BlogService.m
  WordPress/Classes/Utility/App Configuration/AppConfiguration.swift
  WordPress/Jetpack/AppConfiguration.swift
  WordPress/WordPressShareExtension/AppExtensionsService.swift
Labels: [Type] Bug, Share Extension, Jetpack App

#23767 Reader: Search
  WordPress/Classes/Extensions/UIViewController+ChildViewController.swift
  WordPress/Classes/Models/ReaderSearchSuggestion.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSearchSuggestionsView.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSearchSuggestionsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/Reader.storyboard
Labels: Reader

#23781 Reader: Logged-out experience
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderLoggedOutViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/System/Sidebar/SidebarViewController.swift
Labels: Reader

#23768 Self-hosted site user management
  Modules/Package.swift
  Modules/Sources/WordPressShared/Utility/StringRankedSearch.swift
  Modules/Sources/WordPressUI/Extensions/SwiftUI+Extensions.swift
  Modules/Sources/WordPressUI/Views/Users/Components/UserListItem.swift
  Modules/Sources/WordPressUI/Views/Users/Components/UserProfileImage.swift
  Modules/Sources/WordPressUI/Views/Users/UserProvider.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/DisplayUser.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserChangePasswordViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDeleteViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDetailViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserListViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserChangePasswordView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDeleteView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserListView.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog/Blog+SelfHosted.swift
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Self-hosted

#23783 Use EmptyStateView to display 'Application Password Required'
  Modules/Sources/WordPressUI/Components/RestApiUpgradePrompt.swift
Labels: Self-hosted

#23758 [Tooling] Fix `update_appstore_strings` backmerge PR creation
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
Labels: Tooling

#23784 Reader: Fix "Select Interests" Flow
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/Classes/Services/ReaderSearchSuggestionService.swift
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/WordPressTest/ReaderCardServiceTests.swift
Labels: Reader

#23786 Reader: Hardcode WordPress.com Blog Icon
  WordPress/Classes/Models/ReaderPost+Swift.swift
  WordPress/Classes/Models/ReaderPost.h
  WordPress/Classes/Models/ReaderPost.m
  WordPress/Classes/Models/ReaderSiteTopic.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Images/wpcom-blog-icon.png
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderPostTest.m
  WordPress/WordPressTest/ReaderPostTests.swift
Labels: Reader

#23721 feat: GutenbergKit Media Library support
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Enhancement, Gutenberg

#23782 [Tooling] Use `buildkite_pipeline_upload` action to inline Buildkite release pipelines
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/complete-code-freeze.sh
  .buildkite/commands/finalize-hotfix.sh
  .buildkite/commands/finalize-release.sh
  .buildkite/commands/log-outdated-pods.sh
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/publish-release.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/lanes/release.rb
Labels: Tooling

#23789 Reader: Remove some FFs
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
Labels: Reader

#23795 Reader: Make it easier to subscribe
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
Labels: Reader

#23797 Reader: Update Ghost Cells
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Ghost.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23777 Update user details view
  Modules/Sources/WordPressShared/Utility/StringRankedSearch.swift
  Modules/Sources/WordPressUI/Views/Users/Components/UserListItem.swift
  Modules/Sources/WordPressUI/Views/Users/Components/UserProfileImage.swift
  Modules/Sources/WordPressUI/Views/Users/UserProvider.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/DisplayUser.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserChangePasswordViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDeleteViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDetailViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserListViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailsView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserListView.swift
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Self-hosted

#23790 Present an alert for setting a new password
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserChangePasswordViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserChangePasswordView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailsView.swift
Labels: Self-hosted

#23796 Reader: Stream Header Improvements
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Ghost.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderListStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderListStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderTagStreamHeader.xib
  WordPress/Classes/ViewRelated/Reader/Style/WPStyleGuide+Reader.swift
  WordPress/Resources/AppImages.xcassets/icon-reader-follow-highlight.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-follow-highlight.imageset/icon-reader-follow-highlight.pdf
  WordPress/Resources/AppImages.xcassets/icon-reader-follow.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-follow.imageset/icon-reader-follow.pdf
  WordPress/Resources/AppImages.xcassets/icon-reader-following.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-following.imageset/icon-reader-following.pdf
  WordPress/Resources/AppImages.xcassets/icon-reader-header-list.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-header-list.imageset/icon-reader-header-list.pdf
  WordPress/Resources/AppImages.xcassets/icon-reader-header-tag.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-header-tag.imageset/icon-reader-header-tag.pdf
  WordPress/Resources/AppImages.xcassets/icon-reader-search-plus.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-reader-search-plus.imageset/icon-reader-search-plus.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader

#23798 Reader: Fix background color for site icon placeholers
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
Labels: Reader

#23802 Reader: Fix cropped recommended sites
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSiteCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSiteCardCell.xib
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSitesCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSitesCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTableCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionHelper.swift
Labels: Reader

#23791 Use a sheet to present deleting user flow
  Modules/Sources/WordPressUI/Views/Users/ViewModel/DisplayUser.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDeleteView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailsView.swift
Labels: Self-hosted

#23804 Append "+testing" to feedback form email for Automatticians
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ZendeskUtilsTests+A8CEmail.swift
Labels: Support, User Feedback

#23792 Merge UserDataProvider and UserManagementActionDispatcher into one type
  Modules/Sources/WordPressUI/Views/Users/Components/UserListItem.swift
  Modules/Sources/WordPressUI/Views/Users/UserProvider.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDeleteViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserDetailViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/ViewModel/UserListViewModel.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserDetailsView.swift
  Modules/Sources/WordPressUI/Views/Users/Views/UserListView.swift
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/UserServiceTests.swift
Labels: Self-hosted

#23800 Reader: Fix gestures in discover header
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderDiscoverHeaderView.swift
Labels: Reader

#23807 Reader: Fix broken table reload animations
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTableContent.swift
Labels: Reader

#23809 Reader: Fix an issue with Reader not showing notification settings for some sites
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionHelper.swift
Labels: Reader

#23810 Reader: Minor issue with subscritpions
  WordPress/Classes/Services/ReaderSiteService.h
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionHelper.swift
Labels: Reader

#23808 Reader: Add context menus
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23806 Reader: Fix clipped recommended tags
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSitesCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedTagsCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTopicsCardCell.xib
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
Labels: Reader

#23811 Refactor: Remove flipInsetsForRightToLeftLayoutDirection
  WordPress/Classes/Extensions/UIEdgeInsets.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Button/JetpackButton.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: General

#23805 Remove a couple more FFs
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
Labels: General

#23729 Integrate Gravatar Quick Editor
  Modules/Sources/WordPressShared/Utility/Notification+Gravatar.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/URL+Helpers.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Gravatar.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/ImageViewController.swift
  WordPress/Classes/Utility/Media/MemoryCache.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Me.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Gravatar/UIImageView+Gravatar.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarQuickEditorPresenter.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Me/Views/MeHeaderView.swift
  WordPress/Classes/ViewRelated/NUX/Views/Epilogues/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Extensions/URLHelpersTests.swift
  WordPress/WordPressTest/ImageDownloaderTests.swift
  WordPressAuthenticator/Sources/Signin/LoginLinkRequestViewController.swift
  WordPressAuthenticator/Sources/Signin/UIImageView+Additions.swift
  WordPressAuthenticator/Sources/Unified Auth/View Related/Reusable Views/GravatarEmailTableViewCell.swift
Labels: Gravatar

#23814 Move the Application Passwords entry to the current user details
  WordPress/Classes/ApplicationToken/ApplicationTokenListView.swift
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/Users/Components/UserListItem.swift
  WordPress/Classes/Users/Components/UserProfileImage.swift
  WordPress/Classes/Users/UserProvider.swift
  WordPress/Classes/Users/ViewModel/DisplayUser.swift
  WordPress/Classes/Users/ViewModel/UserDeleteViewModel.swift
  WordPress/Classes/Users/ViewModel/UserDetailViewModel.swift
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Self-hosted

#23801 Enable .com web based login on test builds
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: Login

#23816 Reader: Fix issue with nav items jumping
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader

#23821 Reader: Fix RTL and more
  WordPress/Classes/ViewRelated/Comments/Style/WPStyleGuide+CommentDetail.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Resources/AppImages.xcassets/arrowshape.turn.up.backward.symbolset/Contents.json
  WordPress/Resources/AppImages.xcassets/arrowshape.turn.up.backward.symbolset/arrowshape.turn.up.backward.svg
Labels: Reader

#23824 Me Menu: Minor changes
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: /Me

#23825 Reader: Fix site header background in dark mode
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderSiteHeaderView.swift
Labels: Reader

#23826 Reader: Fix scroll-to-top in Reader
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
Labels: Reader

#23829 Refactor: Remove UIKitConstants
  Modules/Sources/WordPressUI/Constants/UIKitConstants.swift
  Modules/Sources/WordPressUI/Extensions/UIView+Animations.swift
  Modules/Sources/WordPressUI/FancyAlert/FancyAlertPresentationController.swift
  Modules/Sources/WordPressUI/FancyAlert/FancyAlertViewController.swift
Labels: General

#23828 Reader: Fix footer height
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23827 Reader: Add like animation in post list
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderLikeAction.swift
Labels: Reader

#23832 Remove downloadSiteIcon
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.swift
Labels: General

#23822 [Tooling] Update CI image from `xcode-16.1` to `xcode-16.1-v4`
  .buildkite/shared-pipeline-vars
Labels: Tooling

#23833 Fix crash in UserProfileSheetViewController
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
  WordPress/Classes/ViewRelated/User Profile Sheet/UserProfileSheetViewController.swift
Labels: General

#23840 Remove BottomSheetViewController from reader conversation settings
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsNotificationSheetViewController.swift
Labels: Reader

#23848 Reader: Add search directly to the menu
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarListsSection.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarSearchResultsView.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
Labels: Reader

#23851 Reader: Add hardcoded wp.org logo
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Images/wporg-blog-icon.png
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader

#23852 Reader: Enhance loading experience in post details
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader

#23846 Reader: Fix insets for recommended sites/tags on iPad
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSitesCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedTagsCell.swift
Labels: Reader

#23843 Prerequisites for removing AlamofireImage
  WordPress/Classes/Extensions/Media/CircularProgressView+ActivityIndicatorType.swift
  WordPress/Classes/Utility/Media/AsyncImageView.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/ImageViewController.swift
  WordPress/Classes/Utility/Media/UIImageView+ImageDownloader.swift
  WordPress/Classes/ViewRelated/Blog/Blog + Me/GravatarButtonView.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerCollectionCell.swift
  WordPress/Classes/ViewRelated/Pages/Views/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Views/ReaderAvatarView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextImage.swift
Labels: General

#23854 [Tooling] Update `Dangerfile` to run Rubocop with `bundle exec`
  Dangerfile
Labels: Tooling

#23842 Reader: Fix an issue with follow button state not updating
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: Reader

#23803 Remove Internal builds leftovers
  Scripts/BuildPhases/GenerateCredentials.sh
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/WordPress Internal.xcscheme
  config/Jetpack.internal.xcconfig
  config/Version.internal.xcconfig
  config/WordPress.alpha.xcconfig
  config/WordPress.debug.xcconfig
  config/WordPress.internal.xcconfig
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/codesign.rb
  fastlane/lanes/release.rb
Labels: Tooling

#23847 Reader: Fix load-more spinner not visible in dark mode
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Post/Views/PostListFooterView.h
  WordPress/Classes/ViewRelated/Post/Views/PostListFooterView.m
  WordPress/Classes/ViewRelated/Post/Views/PostListFooterView.xib
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderTableConfiguration.swift
Labels: Reader

#23849 Reader: Fix an issue where tapping on post avatar opens post
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
Labels: Reader

#23850 Reader: Hide toolbar for AFK posts
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
Labels: Reader

#23844 Add ImageRequest
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/Utility/Media/ImageRequest.swift
Labels: General

#23834 Move Application Passwords entry to user details
  WordPress/Classes/ApplicationToken/ApplicationTokenListView.swift
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/Users/Components/UserListItem.swift
  WordPress/Classes/Users/UserProvider.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/WordPressTest/ApplicationPasswords/ApplicationPasswordsViewModelTests.swift
Labels: Self-hosted

#23864 Bump wordpress-rs version
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/Networking/WordPressClient.swift
  WordPress/Classes/Services/ApplicationPasswordService.swift
  WordPress/Classes/Services/UserService.swift
Labels: [Type] Enhancement

#23855 Put the current user at the top of the list
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/UserListView.swift
Labels: Self-hosted

#23835 Extract delete user confirmation sheet into its own view
  WordPress/Classes/Users/Views/DeleteUserConfirmationSheet.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
Labels: Self-hosted

#23837 Do not show "Delete User" button for the logged in user
  WordPress/Classes/Users/Views/UserDetailsView.swift
Labels: Self-hosted

#23865 Move cached users from UserService to DataStore
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/Users/InMemoryUserDataStore.swift
  WordPress/Classes/Users/UserProvider.swift
  WordPress/Classes/Users/ViewModel/UserDeleteViewModel.swift
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/DeleteUserConfirmationSheet.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/Classes/Utility/DataStore/DataStore.swift
  WordPress/Classes/Utility/DataStore/InMemoryDataStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/DataStoreTests.swift
  WordPress/WordPressTest/UserListViewModelTests.swift
Labels: [Type] Enhancement
