Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-02, with the labels that each got.

#22508 Site Monitoring: Add event tracking
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/PHPLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
Labels: [Type] Task, Tracks, Site Monitoring

#22499 Site Monitoring: Implement WebKit-based Metrics view
  WordPress/Classes/Utility/WebKitView.swift
  WordPress/Classes/Utility/WebView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMetricsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22519 Site Monitoring: Reorder site monitoring row
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/PHPLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
Labels: [Type] Task, Site Monitoring

#22513 Integrate gutenberg-mobile release v1.112.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22517 Reader: Bump compression resistance of the title and summary
  WordPress/Classes/ViewRelated/Reader/ReaderPostCardCell.swift
Labels: [Type] Enhancement, Reader

#22523 Reader: Fix Navigation Button text being truncated while in transition
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22415 Enable site creation for WP users with no sites
  RELEASE-NOTES.txt
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController+SiteCreation.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteOverlaysCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartPromptViewController.xib
  WordPress/Classes/ViewRelated/Domains/DomainSelectionViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/NUX/Post Signup Interstitial/PostSignUpInterstitialViewController.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Intent/SiteIntentViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreationWizardLauncher.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
Labels: Login, WordPress App

#22529 UI Test: Update Follow terms to Subscribe
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
Labels: [Type] Enhancement, Reader, Testing

#22488 Debug screen for boolean User Defaults
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModel.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModelTests.swift
Labels: [Type] Task, App Settings

#22511 Reader: Hide no results view if there's content
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v2_read_tags_cards.json
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Bug, Reader, Part of a WIP Feature

#22527 Jetpack Social: Use `AsyncImage` to download social icons
  WordPress/Classes/ViewRelated/Jetpack/Social/JetpackSocialNoConnectionView.swift
Labels: [Type] Crash, Jetpack Social

#22537 Reader: Add Reader PR number to release notes
  RELEASE-NOTES.txt
Labels: Reader, [Type] Task

#22402 [Design System] Update color values to match Figma
  Modules/Sources/DesignSystem/Components/DSButton.swift
  Modules/Sources/DesignSystem/Foundation/Color+DesignSystem.swift
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundQuaternary.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundSecondary.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundTertiary.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Divider/Contents.json
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Divider/divider.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/UIColor+DesignSystem.swift
  Modules/Sources/DesignSystem/Gallery/ColorGallery.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
Labels: [Type] Task, Design System

#22534 Avoid reloading user defaults sections on toggle switch
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModel.swift
  WordPress/WordPressTest/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModelTests.swift
Labels: Debug

#22535 Load User Defaults list asynchronously to improve performance
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModel.swift
  WordPress/WordPressTest/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugViewModelTests.swift
Labels: [Type] Task, Debug

#22516 Dynamic Dashboard Card Image UI Fix
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardDynamicCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/Dynamic Cards/BlogDashboardDynamicCardCoordinatorTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-only-one-dynamic-card.json
Labels: [Type] Task, Domains Dashboard Card

#22544 Reader: Apply equal heights between navigation and filter buttons
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader

#22493 PR submission checklist: Add reminder to check self-hosted sites
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Task, Tooling

#22525 Group notifications screen navigation bar button items into an overflow menu
  Modules/Package.swift
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/checkmark.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/checkmark.imageset/checkmark.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/ellipsis.horizontal.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/ellipsis.horizontal.imageset/more-horizontal-mobile.svg
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/gearshape.fill.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/gearshape.fill.imageset/cog.pdf
  Modules/Tests/DesignSystemTests/IconTests.swift
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController+Strings.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, [Type] Task

#22547 Reader: Fix plural string typo for the tags filter chip
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
Labels: [Type] Enhancement, Reader

#22552 Reader: Reuse the edit button action for the add tag logic in the filter sheet
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
Labels: [Type] Enhancement, Reader

#22562 docs: Remove Android-specific release note
  RELEASE-NOTES.txt
Labels: [Type] Task, Documentation

#22561 [Design System] Fix wrong font values in UILabel extension
  Modules/Sources/DesignSystem/Components/Modifiers/UILabel+DesignSystem.swift
Labels: [Type] Task, Design System

#22557 Reader: Update Reader quick start tour with new message
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: [Type] Bug, Reader

#22540 Add a feature flag to enable using URLSession in WordPressKit
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Core

#22566 Merge release 24.2 changes without beta to send strings to GlotPress
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/BlogDashboardDynamicCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/QuickStartTourGuide.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartTours.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/Dynamic Cards/BlogDashboardDynamicCardCoordinatorTests.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-only-one-dynamic-card.json
Labels: Releases

#22567 Reader: Update the active filter button behavior
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Accessibility, Reader

#22576 Add editorialized release notes for WordPress 24.2
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
Labels: Releases

#22564 [Notifications P1] Notifications Cell Content Rewrite
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Notifications

#22573 Reader: Show Reader navigation menu when scrolling to top
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: [Type] Bug, Reader

#22556 Update notifications list heading style
  Modules/Sources/DesignSystem/Components/Modifiers/Text+DesignSystem.swift
  Modules/Sources/DesignSystem/Components/Modifiers/UILabel+DesignSystem.swift
  Modules/Sources/DesignSystem/Foundation/Font+DesignSystem.swift
  Modules/Sources/DesignSystem/Foundation/TextStyle.swift
  Modules/Sources/DesignSystem/Foundation/UIFont+DesignSystem.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#22563 [Gravatar] - Add Gravatar info UI in user profile settings
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarInfoRow.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarIntersectingLogosView.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Tools/SettingsCommon.swift
  WordPress/Jetpack/AppImages.xcassets/jetpack-circular.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/jetpack-circular.imageset/jetpack-circular.pdf
  WordPress/Resources/AppImages.xcassets/gravatar-circular.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/gravatar-circular.imageset/gravatar-logo.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-darkpdf.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-light 1.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-light.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gravatar

#22590 Fix l10n for Site Monitoring title menu
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
Labels: [Type] Bug, Site Monitoring

#22591 Merge #22573 & #22590 from release/24.2 to trunk
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Releases

#22577 SFMU: Show error notice if QR code media deep link fails
  WordPress/Classes/Utility/Universal Links/NavigationActionHelpers.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
Labels: Media, [Type] Task, Universal Links

#22596 Merge `release/24.2` to trigger `.strings` update in GlotPress
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Releases

#22553 Dangermattic checks update
  .github/workflows/run-danger.yml
  Dangerfile
  Gemfile
  Gemfile.lock
Labels: Tooling

#22600 Use GravatarURL instead of Gravatar
  Podfile.lock
  WordPress/Classes/Models/ManagedPerson.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Gravatar.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Me.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesViewModel.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
  WordPress/Classes/ViewRelated/Views/List/ListTableViewCell.swift
Labels: Gravatar, Feature Gravatar SDK integration

#22372 GHA Workflow for validating issues
  .github/workflows/validate-issues.yml
Labels: Tooling

#22593 [Notifications P1] Replace Notifications Cell Content
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Styles/SubjectContentStyles.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/HostingTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationTests.swift
  WordPress/WordPressTest/NotificationUtility.swift
  WordPress/WordPressTest/Test Data/notifications-like-multiple-avatar.json
Labels: Notifications, [Type] Task

#22605 Update Lottie to 4.4.0
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Menu Card/JetpackBrandingMenuCardCell.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Moved To Jetpack/MovedToJetpackViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackOverlayView.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallCardView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Core

#22595 Bring user straight to reader comments s creen when notification comment is tapped
  WordPress/Classes/Models/Comment/Comment+CoreDataClass.swift
  WordPress/Classes/Models/Comment/Comment+CoreDataProperties.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#22606 Offline Mode: Improve pre-publishing sheet
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/People/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.xib
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingNavigationController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingSocialAccountsViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+JetpackSocial.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/ChosenValueRow.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingViewControllerPresenter.swift
  WordPress/UITestsFoundation/Screens/Editor/AztecEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorSettingsComponents/CategoriesComponent.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorSettingsComponents/TagsComponent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PrepublishingHeaderViewTests.swift
  WordPress/WordPressTest/PrepublishingNudgesViewControllerTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22599 Reader: Improve navigation bar contrast and spacing
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader

#22424 Stats Traffic: Create Bar Chart card UI
  Modules/Sources/DesignSystem/Foundation/UIColor+DesignSystem.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChart.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartMockData.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartTabs.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartView.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#22615 [Gravatar] - Design updates on the informative Gravatar UI
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarInfoRow.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarIntersectingLogosView.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/Jetpack/AppImages.xcassets/jetpack-circular.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/jetpack-circular.imageset/jetpack-circular.pdf
  WordPress/Jetpack/AppImages.xcassets/jetpack-gravatar.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/jetpack-gravatar.imageset/Jetpack+Gravatar Dark.pdf
  WordPress/Jetpack/AppImages.xcassets/jetpack-gravatar.imageset/Jetpack+Gravatar White 1.pdf
  WordPress/Jetpack/AppImages.xcassets/jetpack-gravatar.imageset/Jetpack+Gravatar White.pdf
  WordPress/Resources/AppImages.xcassets/gravatar-circular.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/gravatar-circular.imageset/gravatar-logo.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-darkpdf.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-light 1.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-circular.imageset/wordpress-logo-light.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-gravatar.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/wordpress-gravatar.imageset/WP+Gravatar Dark.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-gravatar.imageset/WP+Gravatar White 1.pdf
  WordPress/Resources/AppImages.xcassets/wordpress-gravatar.imageset/WP+Gravatar White.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gravatar

#22618 Stats Traffic: Remove testing VC
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartMockData.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#22565 [Notifications P1] Hide the bottom tab bar for all notification details screens
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Notifications.storyboard
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Notifications, [Type] Task

#22433 Stats Traffic: Create Today card
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/StatsTwoColumnRow.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/StatsTwoColumnRow.xib
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Stats, [Type] Task

#22611 Update Starscream to 4.0.6
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Networking/Pinghub.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PinghubWebSocketTests.swift
Labels: Notifications

#22624 Replace Gravatar with GravatarURL
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockCommentTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockUserTableViewCell.swift
  WordPress/Classes/ViewRelated/People/PeopleCell.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Views/Cell/RevisionsTableViewCell.swift
  WordPress/WordPressNotificationContentExtension/Sources/Views/NotificationContentView.swift
Labels: Gravatar, Feature Gravatar SDK integration

#22625 Stats Traffic: Revert Stats Total Row style
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: [Type] Bug, Stats

#22614 Offline Mode: Add PublishButton
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#22616 Notifications row inline action groundwork
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Notifiable.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: Notifications, Jetpack App

#22619 Hide bottom tab bar when display Reader comments
  WordPress/Classes/ViewRelated/Reader/ReaderCommentAction.swift
Labels: [Type] Bug, Reader, Comments

#22627 Fix crash by not loading WP app asset on JP app
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
Labels: [Type] Crash, Jetpack Focus

#22633 Add FeatureFlag.offlineMode
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22621 Site Monitoring: Fix line break mode for web server log request url
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
Labels: [Type] Task, Site Monitoring

#22626 Add caching to async image
  WordPress/Classes/Utility/Media/CachedAsyncImage.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#22630 Fix showing non-user media as an avatar in Notifications screen
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/WordPressTest/Test Data/notifications-like-multiple-avatar.json
Labels: [Type] Bug, Notifications

#22632 Remove unused PostEditorAction.publishNow
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22587 Fix an issue with editable logs details view
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringEntryDetailsView.swift
Labels: [Type] Bug, Site Monitoring

#22637 More release automation
  fastlane/lanes/build.rb
  fastlane/lanes/release.rb
Labels: Tooling

#22644 Fix: Use weak reference in ReaderCardService
  WordPress/Classes/Services/ReaderCardService.swift
Labels: [Type] Enhancement, Reader

#22638 Add step to run `pod outdated` after code freeze completion
  .buildkite/commands/log-outdated-pods.sh
  .buildkite/release-pipelines/complete-code-freeze.yml
Labels: Tooling

#22609 Stats Traffic: Integrate Bar Chart and Today Card within Traffic tab
  WordPress/Classes/Stores/StatsPeriodCache.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsStore+Cache.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsDataHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/StatsTwoColumnRow.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsViewModel+AsyncBlock.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChart.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Stats/Traffic/SiteStatsPeriodViewModelTests.swift
Labels: Stats

#22651 Remove unused code in Zendesk utils
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: [Type] Task, Zendesk

#22641 Replace "download gravatar by email" methods
  WordPress/Classes/ViewRelated/Blog/Blog + Me/UIBarButtonItem+MeBarButton.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Me/Views/Header/MeHeaderView.m
  WordPress/Classes/ViewRelated/NUX/EpilogueUserInfoCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockCommentTableViewCell.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterButton.swift
  WordPress/Classes/ViewRelated/Post/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Views/List/ListTableViewCell.swift
Labels: Feature Gravatar SDK integration

#22635 [gravatar] Using Gravatar.fetchProfile from Gravatar SDK
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
Labels: Gravatar

#22643 [Notifications P1] Replace `AsyncImage` with `CachedAsyncImage`
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: [Type] Bug, [Type] Enhancement, Notifications

#22656 Pre-publishing sheet: Fix typo
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Task, Prepublishing Nudges

#22653 Merge 24.2.1 hotfix into 24.3
  WordPress/Classes/Services/ReaderCardService.swift
Labels: Releases

#22628 Respect safe area for "Reply to post" section on the Comments screen
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: [Type] Bug, Comments

#22507 Add CI automation to drive hotfix releases
  .buildkite/commands/finalize-hotfix.sh
  .buildkite/release-pipelines/finalize-hotfix.yml
  .buildkite/release-pipelines/new-hotfix.yml
  fastlane/lanes/release_management_in_ci.rb
Labels: Tooling

#22612 Adopt to the breaking changes in WordPressOrgRestApi
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Networking/WordPressOrgRestApi+WordPress.swift
  WordPress/Classes/Services/BlockEditorSettingsService.swift
  WordPress/Classes/Services/BloggingPrompts/BloggingPromptsService.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergNetworking.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackNativeConnectionService.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
  WordPress/WordPressTest/BlockEditorSettingsServiceTests.swift
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/CommentService+RepliesTests.swift
  WordPress/WordPressTest/MockWordPressComRestApi.swift
Labels: [Type] Core

#22542 Stats Traffic: Optimize table view updates by integrating diffable data source
  WordPress/Classes/Utility/ImmuTable.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesMap.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/StatsTrafficModels.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostTableViewRows.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Stats/Traffic/SiteStatsPeriodViewModelTests.swift
Labels: [Type] Enhancement, Stats

#22665 Merge `.strings` and `.po` updates into `trunk`
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/en.lproj/Localizable.strings
  WordPress/Resources/release_notes.txt
  fastlane/lanes/build.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
Labels: Releases

#22649 [Notifications P1] Improve row UI for accessibility
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: [Type] Enhancement, Notifications

#22657 [Gravatar] Image upload using Gravatar SDK
  WordPress/Classes/Services/GravatarService.swift
  WordPress/WordPressTest/GravatarServiceTests.swift
Labels: Feature Gravatar SDK integration

#22636 Fix incorrectly tracking reader accessed event in the WordPress app
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.h
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: [Type] Bug, Analytics

#22670 Stats Traffic: Add or update analytics
  WordPress/Classes/System/3DTouch/WP3DTouchShortcutHandler.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+OnboardingPrompt.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartTabs.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: Stats, [Type] Task

#22674 Stats Traffic: Make Views, Visitors, Likes, and Comments visible on the Traffic tab
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
Labels: Stats, [Type] Task

#22675 Remove Today card from Insights if Traffic feature flag is enabled
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
Labels: Stats, [Type] Task

#22666 Update WordPressKit
  Podfile
  Podfile.lock
Labels: [Type] Core

#22680 [Notifications P1] Update header style so header won't float
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Notifications.storyboard
Labels: [Type] Enhancement, Notifications

#22684 Update Lottie class in a nib file
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.xib
Labels: [Type] Bug

#22650 Offline Mode: Media Upload Status
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/Media/MediaProgressCoordinator.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22652 Add notifications inline action for share an own published post
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/block.share.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/block.share.imageset/block-share.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/star/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/star/star.fill.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/star/star.fill.imageset/star-fill.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/star/star.outline.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/star/star.outline.imageset/star-outline.pdf
  WordPress/Classes/Utility/Analytics/AnalyticsEventTracking.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSharingController.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: Notifications, Jetpack App

#22692 Fix a copy-paste issue in the unit tests
  WordPress/WordPressTest/PagesListTests.swift
Labels: Testing

#22691 [Notifications] Add Like Comment Inline Action
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/Types/CommentNotification.swift
  WordPress/Classes/Models/Notifications/Types/LikeableNotification.swift
  WordPress/Classes/Models/Notifications/Types/NewPostNotification.swift
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationsViewModelTests.swift
Labels: Notifications, [Type] Task

#22696 [Notifications P1] Section header spacing change
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: [Type] Enhancement, Notifications

#22602 Initial support for VideoPress v5
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Media, Gutenberg

#22687 Push Notifications: Properly truncate long notifications
  WordPress/Classes/Extensions/String+CondenseWhitespace.swift
  WordPress/Classes/Extensions/String+Truncate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressNotificationServiceExtension/Sources/NotificationService.swift
Labels: [Type] Enhancement, push notifications

#22686 [Notifications P1] Add missing notification selection color for a split screen
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: [Type] Bug, Notifications

#22678 Tooling: Define SwiftLint version and run on CI
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/code-freeze.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix.yml
  .buildkite/release-pipelines/update-app-store-strings.yml
  .swiftlint.yml
  Podfile
  Podfile.lock
Labels: Tooling

#22702 [Notifications P1] Update spacings around 3-avatar row & section headers
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
Labels: [Type] Enhancement, Notifications

#22688 [Notifications] Add Like Post and Comment Inline Actions
  WordPress/Classes/Models/Notifications/Notification.swift
  WordPress/Classes/Models/Notifications/Types/CommentNotification.swift
  WordPress/Classes/Models/Notifications/Types/LikeableNotification.swift
  WordPress/Classes/Models/Notifications/Types/NewPostNotification.swift
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Utility/Analytics/AnalyticsEventTracking.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/HostingTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AnalyticsEventTrackingSpy.swift
  WordPress/WordPressTest/NotificationsViewModelTests.swift
Labels: Notifications, Jetpack App

#22704 Fix notifications header vertical padding
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
Labels: [Type] Bug, Notifications

#22706 Add a missed `completion` call
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackNativeConnectionService.swift
Labels: [Type] Bug

#22667 Updates Jetpack banners and badges copy
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
Labels: [Type] Task, Jetpack Focus

#22708 Notifications: Fix multiple with issues with the new like inline action
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: [Type] Bug, Notifications

#22707 Update Alamofire to v5
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/MemoryCache.swift
  WordPress/Classes/Utility/Universal Links/Routes+Mbar.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorAPI/TenorClient.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/WhatsNew/Views/AnnouncementCell.swift
  WordPress/Classes/ViewRelated/WhatsNew/Views/DashboardCustomAnnouncementCell.swift
  WordPress/WordPressTest/PeopleServiceTests.swift
Labels: [Type] Core

#22697 Fix pre-publishing sheet analytics
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Bug, Prepublishing Nudges

#22715 Merge `release/24.3` into `trunk` to propagate strings changes.
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayViewController.xib
  WordPress/Classes/ViewRelated/Jetpack/Branding/JetpackBrandingTextProvider.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/WPTabBarController+ReaderTabNavigation.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Releases

#22712 Convert unowned to weak in ReaderCommentsFollowPresenter
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
Labels: [Type] Enhancement

#22695 Stats Traffic: Ensure deep links and widget routing work
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+OnboardingPrompt.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: Stats, [Type] Task

#22701 [Design System] Replace force-unwrap with `.clear` nil-coalescing
  Modules/Sources/DesignSystem/Foundation/UIColor+DesignSystem.swift
Labels: [Type] Enhancement, Design System

#22719 Update UI testing instructions
  WordPress/UITests/README.md
Labels: [Type] Task, Documentation

#22722 Stats Traffic: Avoid initializing Stats Traffic before displaying it
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: [Type] Bug, Stats

#22723 Remove unsupported reblog notification type
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Notifiable.swift
Labels: Notifications, [Type] Tech Debt

#22732 Stats Traffic: Prevent selection of date periods in the future
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerViewModel.swift
  WordPress/WordPressTest/StatsTrafficDatePickerViewModelTests.swift
Labels: [Type] Bug, Stats

#22730 Fix: Social Icons in Connection Sharing
  WordPress/Classes/ViewRelated/Blog/SharingViewController.m
  WordPress/Jetpack/AppImages.xcassets/Social/icon-nextdoor.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Social/icon-nextdoor.imageset/nextdoor.svg
Labels: [Status] Needs Code Review, [Status] Needs Design Review, Jetpack Social

#22733 Integrate gutenberg-mobile release v1.114.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22718 Gravatar: Fix build error after errors PR merge in Gravatar SDK
  Podfile.lock
  WordPress/Classes/Services/GravatarService.swift
Labels: Feature Gravatar SDK integration
