Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-05, with the labels that each got.

#23118 Do not reject builds waiting for TestFlight review to avoid CI failure
  fastlane/lanes/build.rb
Labels: Tooling

#23123 Fix duplicate localization keys
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Bug, Localization

#23082 Offline Mode: Fix an issue with restore revisions not clearing media uploads
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23133 Fix duplicate localization keys
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Bug, Localization

#23130 Reader: Add tags chip button to the tags feed
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#23132 Reader: Add empty state for tags feed
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23136 Move ParentPageSettingsViewController to PostSettingsViewController
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Pages/PageSettingsViewController.m
  WordPress/Classes/ViewRelated/Pages/Pages.storyboard
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
Labels: [Type] Task

#23135 Add slug and excerpt fields to Page Settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageSettingsViewController.m
Labels: Posts List, [Type] Task

#23128 [Hack Week] Post success view
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazeOverlayViewModel.swift
  WordPress/Classes/ViewRelated/Blaze/Webview/BlazeFlowCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostNoticePublishSuccessView.swift
  WordPress/Classes/ViewRelated/Post/PostPublishSuccessViewController.storyboard
  WordPress/Classes/ViewRelated/Post/PostPublishSuccessViewController.swift
  WordPress/Resources/AppImages.xcassets/post-published.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/post-published.imageset/post-publihsed.svg
  WordPress/UITestsFoundation/Screens/Editor/EditorPublishEpilogueScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#23138 Reader: Add accessibility labels to Reader tags feed
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagFooterView.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#23107 [Notification Refresh] Likes and follows notifications header redesign
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/arrow.down.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/arrow.down.imageset/arrow-down.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/arrow.up.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/arrow.up.imageset/arrow-up.pdf
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.xib
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
Labels: Notifications

#23141 Stats Subscribers: Dynamic type support improvements
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
Labels: Accessibility, Stats, [Type] Task

#23126 Update terminology to Subscribers from Followers
  WordPress/Classes/Models/Notifications/Actions/Follow.swift
  WordPress/Classes/Models/Notifications/NotificationSettings.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Fullscreen Overlay/JetpackFullscreenOverlayGeneralViewModel.swift
  WordPress/Classes/ViewRelated/NUX/UnifiedProloguePages.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GrowAudienceCell.swift
Labels: Stats, [Type] Task, Localization

#23119 Subscriber chart improvements
  WordPress/Classes/ViewRelated/Stats/Charts/StatsChartMarker.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsChartMarker.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/SubscribersChartMarker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#23117 [Notifications Refresh] Comment Moderation Content Header
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/avatar.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/avatar.imageset/comment-author-avatar.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/edit.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/edit.imageset/edit.pdf
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Comments/Content/CommentContentHeaderView.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentContentView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#23142 Add support for viewing trashed posts
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostTrashedOverlayView.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/UITests/Tests/PagesTests.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts List, [Type] Task

#23151 Stats Subscribers Analytics
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
Labels: Stats, [Type] Task

#23146 Stats: Create missing ghost (loading) views
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostCells.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostSingleValueCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostTableViewRows.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostTopCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostTopCell.xib
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/StatsSubscribersViewModelTests.swift
Labels: Stats, [Type] Task

#23115 Subscribers List Details: Update People List UI
  WordPress/Classes/Models/Role.swift
  WordPress/Classes/Services/PeopleService.swift
  WordPress/Classes/ViewRelated/People/People.storyboard
  WordPress/Classes/ViewRelated/People/PeopleCell.swift
  WordPress/Classes/ViewRelated/People/PeopleCellViewModel.swift
  WordPress/Classes/ViewRelated/People/PeopleRoleBadgeLabel.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/Classes/ViewRelated/People/WPStyleGuide+People.swift
  WordPress/UITestsFoundation/Screens/PeopleScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#23148 Fix WPAnalyticsEvent/postCoordinatorErrorEncountered value
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
Labels: [Type] Bug

#23103 Offline Mode: Integrate "Media Uploads" with a sync engine for drafts
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsView.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23145 Update Post Editor context menu to use new style and update copy
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.swift
  WordPress/Classes/ViewRelated/Pages/PageListSectionHeaderView.xib
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posting/Editing, [Type] Task

#23155 Add defensive code to viewStatsForPost
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Type] Bug

#23154 Improve visibility picker and integrate it in Post Settings
  WordPress/Classes/Models/AbstractPost+TitleForVisibility.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostVisibilityPicker.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Wizard/SiteCreator.swift
Labels: [Type] Task

#23149 Offline Mode: Fix an issue with removing password from posts
  Podfile
  Podfile.lock
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23167 Make the first Stats tab a default one if there's none selected
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats, [Type] Task

#23147 [Notifications Refresh] Comment Content Redesign
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentContentView.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentDetailContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentDetailContentView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
  WordPress/UITests/Tests/NotificationTests.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#23158 Reader: Fix select interests unregistered cell
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
Labels: [Type] Enhancement, Reader

#23171 Reader: Limit tag feed content length
  WordPress/Classes/ViewRelated/Reader/ReaderPost+Display.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#23159 Update RELEASE-NOTES for Stats Subscribers
  RELEASE-NOTES.txt
Labels: Stats, [Type] Task

#23175 [Notifications Refresh] Present Comment Moderations Options View
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentContentHeaderView.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationOptionsView.swift
  WordPress/Classes/ViewRelated/System/Bottom Sheet/BottomSheetContentViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#23176 Offline Mode: Fix incorrect predicates used when syncPublishing is off
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/WordPressTest/PostListFilterTests.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23157 [Notifications Refresh] Improve comment moderation views transition smoothness
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationState.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationView.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationViewModel.swift
Labels: Notifications

#23168 Update RELEASE-NOTES.md with Offline Mode fixes and changes
  RELEASE-NOTES.txt
Labels: [Type] Task

#23144 Reader: Show empty state for individual rows
  WordPress/Classes/Utility/CollectionView/AdaptiveCollectionViewFlowLayout.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardEmptyCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23173 Offline Mode: Deduplicate new posts
  MIGRATIONS.md
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/Blog+Post.swift
  WordPress/Classes/RemotePost+Metadata.swift
  WordPress/Classes/Services/PostHelper+Metadata.swift
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/Classes/WordPress.xcdatamodeld/.xccurrentversion
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 154.xcdatamodel/contents
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23179 Reader: Update when the results controller is reset for tags feed
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableContent.swift
Labels: Reader, [Type] Task

#23182 Reader: Only reload filters when tab items change
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Task

#23183 Reader: Fix a cycle with `ReaderTagCardCellViewModel`'s data source
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
Labels: Reader, [Type] Task

#23186 Use S3 for fastlane match
  .configure
  Gemfile.lock
  fastlane/lanes/codesign.rb
Labels: Tooling

#23073 [Tooling] Run Danger & SwiftLint on the Linter Agent
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
  .github/workflows/run-danger.yml
  Dangerfile
Labels: Tooling

#23189 Fix MediaRequestAuthenticator Core Data threading issue
  WordPress/Classes/Networking/MediaRequestAuthenticator.swift
Labels: [Type] Bug

#23196 Offline Mode: Enable syncPublishing
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23197 Reader: Add announcement card
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/ReaderAnnouncementHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.xib
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader

#22886 Add Gutenberg content parser to use in block processors
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergContentParser.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergContentParser.swift
Labels: [Type] Enhancement, Gutenberg

#23194 In-App Updates: Add remote config param for blocking version
  WordPress/Classes/Utility/BuildInformation/RemoteConfigParameter.swift
Labels: [Type] Task, In-App Updates

#23200 Remove percentage rollout for sync publishing
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23210 Fix button overlap in the "Post Published" sheet on small devices
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
Labels: [Type] Bug, Posting/Editing

#23219 Update release notes for entry related to PR 22886
  RELEASE-NOTES.txt
Labels: Documentation

#23125 [Gutenberg] - Cancel failed or in progress uploads if the media block is removed
  Gutenberg/config.yml
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: Gutenberg

#23214 Reader: Add analytics for the tags stream
  WordPress/Classes/Services/Reader Post/ReaderPostService.h
  WordPress/Classes/Services/Reader Post/ReaderPostService.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHeaderAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderLikeAction.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: [Type] Enhancement, Reader, Analytics, Part of a WIP Feature

#23213 [Site Switcher] Pre iOS 17.0 search functionality fix.
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteSwitcherView.swift
Labels: [Type] Bug, Site Picker

#23185 Reader: Update `ReaderTagCell` to new UI
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderPost+Display.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardEmptyCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.xib
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: [Type] Enhancement, Reader

#23178 [Notifications Refresh] Redesign Likes and Follows details content
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/LikeUserTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/LikeUserTableViewCell.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockUserTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockUserTableViewCell.xib
  WordPress/Classes/ViewRelated/Notifications/Views/NotificationDetailUserView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesListController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications

#23195 In-App Updates: Show notice (flexible) or modal (blocking)
  WordPress/Classes/Services/AppUpdate/AppStoreSearchService.swift
  WordPress/Classes/Services/AppUpdate/AppUpdateCoordinator.swift
  WordPress/Classes/Services/AppUpdate/AppUpdatePresenter.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/AppUpdate/AppStoreInfoViewModel.swift
  WordPress/Classes/ViewRelated/AppUpdate/BlockingUpdateView.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AppUpdate/AppUpdateCoordinatorTests.swift
  WordPress/WordPressTest/RemoteConfigStoreMock.swift
  WordPress/WordPressTest/Test Data/app-store-lookup-response.json
Labels: [Type] Task, In-App Updates

#23222 Reader: Skip showing announcement card in Search
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23233 Increase retry delay for sync
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Task

#23232 Fix an issue with post excerpt not reloading in the list
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/Services/PostHelper.m
Labels: [Type] Bug, Posts List

#22897 Improve performance of File block processor
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergFileUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/GutenbergFileUploadProcessorTests.swift
Labels: [Type] Enhancement, Gutenberg

#23226 Reader: Track when the Reader announcement card is dismissed
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
Labels: Reader, [Type] Task

#23188 [Notifications Refresh] Revert Packages.resolved changes
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: General

#22896 Improve performance of Image and Gallery block processors to avoid long delay when saving a post
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergFileUploadProcessor.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergGalleryUploadProcessor.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergImgUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Gutenberg/GutenbergGalleryUploadProcessorTests.swift
  WordPress/WordPressTest/Gutenberg/GutenbergImgUploadProcessorTests.swift
  WordPress/WordPressTest/GutenbergFileUploadProcessorTests.swift
  WordPress/WordPressTest/GutenbergRefactoredGalleryUploadProcessorTests.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
Labels: [Type] Bug, Gutenberg

#23237 Allow permanently deleting locally trashed drafts from the previous version of the app
  WordPress/Classes/Services/PostRepository.swift
Labels: [Type] Bug, Posts List

#23239 Update Jetpack App Store keywords to include WordPress
  fastlane/jetpack_metadata/ar-SA/keywords.txt
  fastlane/jetpack_metadata/de-DE/keywords.txt
  fastlane/jetpack_metadata/default/keywords.txt
  fastlane/jetpack_metadata/es-ES/keywords.txt
  fastlane/jetpack_metadata/fr-FR/keywords.txt
  fastlane/jetpack_metadata/id/keywords.txt
  fastlane/jetpack_metadata/it/keywords.txt
  fastlane/jetpack_metadata/ja/keywords.txt
  fastlane/jetpack_metadata/ko/keywords.txt
  fastlane/jetpack_metadata/nl-NL/keywords.txt
  fastlane/jetpack_metadata/pt-BR/keywords.txt
  fastlane/jetpack_metadata/ru/keywords.txt
  fastlane/jetpack_metadata/sv/keywords.txt
  fastlane/jetpack_metadata/tr/keywords.txt
  fastlane/jetpack_metadata/zh-Hans/keywords.txt
  fastlane/jetpack_metadata/zh-Hant/keywords.txt
Labels: [Type] Enhancement

#23218 In-App Updates: Prompt update after phased release is complete
  WordPress/Classes/Services/AppUpdate/AppStoreSearchService.swift
  WordPress/Classes/Services/AppUpdate/AppUpdateCoordinator.swift
  WordPress/WordPressTest/AppUpdate/AppUpdateCoordinatorTests.swift
Labels: [Type] Task, In-App Updates

#23220 In-App Updates: Update blocking modal UI
  WordPress/Classes/Services/AppUpdate/AppUpdatePresenter.swift
  WordPress/Classes/ViewRelated/AppUpdate/AppStoreInfoViewModel.swift
  WordPress/Classes/ViewRelated/AppUpdate/BlockingUpdateView.swift
Labels: [Type] Task, In-App Updates

#23221 In-App Updates: Show flexible update again after a specified interval
  WordPress/Classes/Services/AppUpdate/AppStoreSearchService.swift
  WordPress/Classes/Services/AppUpdate/AppUpdateCoordinator.swift
  WordPress/Classes/Services/AppUpdate/AppUpdatePresenter.swift
  WordPress/Classes/Utility/BuildInformation/RemoteConfigParameter.swift
  WordPress/WordPressTest/AppUpdate/AppUpdateCoordinatorTests.swift
  WordPress/WordPressTest/RemoteConfigStoreMock.swift
Labels: [Type] Task, In-App Updates

#23230 In-App Updates: Update release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, In-App Updates

#23243 VtC: Add remote feature flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Task, Voice to Content

#23244 Remove incorrect release note about post visibility when switching tabs
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  fastlane/jetpack_metadata/default/release_notes.txt
  fastlane/metadata/default/release_notes.txt
Labels: Releases

#23241 Reader: Update tags feature flag to be a remote flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
Labels: Reader, [Type] Task

#23242 Reader: Enable the tags feed
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: Reader, [Type] Task

#23247 Fix crash in PostSearchViewModel
  WordPress/Classes/ViewRelated/Post/Search/PostSearchService.swift
Labels: [Type] Bug, Posts List

#23205 VtoC: Prototype
  Podfile
  Podfile.lock
  WordPress/Classes/System/RootViewPresenter+EditorNavigation.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#23224 In-App Updates: Add Version model
  WordPress/Classes/Services/AppUpdate/AppUpdateCoordinator.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Version.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, In-App Updates

#23225 [Notifications P2] Commen Moderation
  Modules/Sources/DesignSystem/Components/DSButton.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationCoordinator.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationOptionsView.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationState.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationView.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationViewModel.swift
Labels: Notifications, [Type] Task

#23254 Revert removal of cache in Post/contentPreviewForDisplay
  WordPress/Classes/Models/Post.swift
Labels: Posts List, [Type] Task

#23248 [Voice to Content] Add eligibility checks
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23249 Integrate gutenberg-mobile release v1.119.0
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#23251 Reader: Add tracks for text highlight/copy in Reader
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Resources/HTML/richCommentTemplate.html
Labels: Reader, [Type] Task

#23252 Reader: Fix filter titles and stream list order for logged-out users
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
Labels: Reader

#23201 Enable performance monitoring
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
Labels: Tooling

#23256 [Voice to Content] Update eligibility checks
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23258 VtC: Recording flow UI
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
Labels: [Type] Task, Voice to Content

#23267 Offline Mode: Remove Deprecated Code – P1
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/PostCompactCell.xib
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCompactCellTests.swift
  WordPress/WordPressTest/PostSyncStateViewModelTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23274 Offline Mode: Remove Deprecated Code – P2
  WordPress/Classes/Models/AbstractPost+HashHelpers.h
  WordPress/Classes/Models/AbstractPost+HashHelpers.m
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/Page.swift
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/Services/PostAutoUploadInteractor.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Uploads/Uploader.swift
  WordPress/Classes/Uploads/UploadsManager.swift
  WordPress/Classes/ViewRelated/Media/MediaProgressCoordinatorNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Post/AutoUploadMessageProvider.swift
  WordPress/Classes/ViewRelated/Post/PageAutoUploadMessageProvider.swift
  WordPress/Classes/ViewRelated/Post/PostAutoUploadMessageProvider.swift
  WordPress/Classes/ViewRelated/Post/PostAutoUploadMessages.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/UITests/Tests/PagesTests.swift
  WordPress/UITests/Tests/PostTests.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/HTMLEditorScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/PostSettingsPublishDateScreen.swift
  WordPress/UITestsFoundation/Screens/Editor/PrepublishingSheetScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/PostService+MarkAsFailedAndDraftIfNeededTests.swift
  WordPress/WordPressTest/PostTests.swift
  WordPress/WordPressTest/Services/PostAutoUploadInteractorTests.swift
  WordPress/WordPressTest/Services/PostCoordinatorFailedPostsFetcherTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Utils/PostNoticeViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23276 Hot Fix: Open AppStore directly rather than through SKStoreProductViewController
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackRedirector.swift
Labels: [Type] Bug, Jetpack Focus

#23279 VtC: Limit recording to 5 minutes
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23284 Merge 24.9.1 hotfix into 25.0 beta
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackRedirector.swift
Labels: Releases

#23234 [Gutenberg] Voice to content
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#23280 [Voice to Content] Fix an issue wtih VtoC draft not being saved
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
Labels: [Type] Task, Voice to Content

#23286 [Voice to Content] Remove artificial delay for checking feature availability
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23285 Offline Mode: Remove Deprecated Code – P4
  WordPress/Classes/Models/AbstractPost+TitleForVisibility.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/Page.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostVisibilitySelectorViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PasswordAlertController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#23287 Offline Mode: Remove Deprecated Code – P5
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogPresenter.swift
  WordPress/UITestsFoundation/Screens/PostsScreen.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23288 VtC: Animate button icon transition
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23283 Reader: Enable announcement header for Jetpack
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  fastlane/Fastfile
Labels: [Type] Enhancement, Reader

#23289 Offline Mode: Remove Deprecated Code – P6
  WordPress/Classes/Models/Post+RefreshStatus.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostService.m
  WordPress/Classes/Services/PostServiceUploadingList.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+Helpers.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
  WordPress/WordPressTest/PostServiceUploadingListTests.swift
  WordPress/WordPressTest/Services/PostServiceSelfHostedTests.swift
  WordPress/WordPressTest/Services/PostServiceWPComTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23272 [Notifications Refresh] Resolve an issue where the comment moderation sheet not resizing properly when comment status changes
  WordPress/Classes/Extensions/SwiftUI/View+ReadSize.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Content/CommentDetailContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationSheetHostingView.swift
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Comments/Views/CommentModerationSheetHostingViewTests.swift
Labels: Notifications

#23296 Merge 25.0 editorialized release notes into trunk
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackRedirector.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases
