Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-04, with the labels that each got.

#22892 Offline Mode: Integrate new APIs in moveToDraft
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22899 Offline Mode: Sync Engine
  WordPress/Classes/Models/AbstractPost+HashHelpers.h
  WordPress/Classes/Models/AbstractPost+Local.swift
  WordPress/Classes/Models/AbstractPost+MarkAsFailedAndDraftIfNeeded.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostHelper.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditHomepageViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/MediaImageServiceTests.swift
  WordPress/WordPressTest/PostCompactCellGhostableTests.swift
  WordPress/WordPressTest/PostCompactCellTests.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
  WordPress/WordPressTest/PostSyncStateViewModelTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22929 Reading Preferences: Apply display setting to comments and related posts section
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Resources/HTML/richCommentStyle.css
  WordPress/Resources/HTML/richCommentTemplate.html
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22938 Reading Preferences: Apply styling to toolbar and navigation bar
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-reading-preferences.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-reading-preferences.imageset/reader-reading-preferences.pdf
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22843 Add privacy declarations to the apps and extensions
  Podfile
  Podfile.lock
  WordPress/JetpackIntents/Supporting Files/PrivacyInfo.xcprivacy
  WordPress/JetpackStatsWidgets/Supporting Files/PrivacyInfo.xcprivacy
  WordPress/PrivacyInfo.xcprivacy
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressDraftActionExtension/PrivacyInfo.xcprivacy
  WordPress/WordPressNotificationServiceExtension/PrivacyInfo.xcprivacy
  WordPress/WordPressShareExtension/PrivacyInfo.xcprivacy
Labels: [Type] Core

#22939 Reading Preferences: Fix sizing issues for post detail and web-based comments
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22941 Reader: Reduce requested amount of followed sites per page
  WordPress/Classes/Services/ReaderTopicService+FollowedSites.swift
Labels: Reader, [Type] Task

#22926 Reader: Only animate the navigation menu when the titles changed
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader

#22918 Stats: Localize percentage strings
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/NumberFormatter+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsChartMarker.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Stats, Localization

#22948 Reader Preferences: Fix font sizing
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22959 Bump up Gravatar to 1.0.1
  Podfile
  Podfile.lock
Labels: Gravatar

#22956 Fix duplicate event tracking and incorrect foreground event logging for push notifications
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/PushNotificationsManager.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, push notifications

#22957 Stats: Localize percentage strings - update method signature
  WordPress/Classes/ViewRelated/Stats/Extensions/Double+Stats.swift
Labels: [Type] Enhancement, Stats

#22962 Stats: Remove deprecated LatestPostSummaryCell
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Latest Post Summary/LatestPostSummaryCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Refactor, Stats

#22930 Offline Mode: Remove post.status usage from the publishing flows
  WordPress/Classes/Models/AbstractPost+TitleForVisibility.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/BasePost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostVisibilityPicker.swift
  WordPress/Classes/ViewRelated/Post/PostVisibilitySelectorViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PasswordAlertController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22919 Offline Mode: Publishing Drafts
  WordPress/Classes/Models/AbstractPost+TitleForVisibility.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/BasePost.swift
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostVisibilityPicker.swift
  WordPress/Classes/ViewRelated/Post/PostVisibilitySelectorViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PasswordAlertController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22934 Offline Mode: Update Post Settings to use the new APIs
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: [Type] Task

#22951 Reader: Create a feature flag for the Reader tags feed
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22953 Reader: Hide "Tags" chip on the Reader subscriptions feed
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22592 Stats Insights: Optimize table view updates by integrating diffable data source
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/TabbedTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/HashableImmutableRow.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/StatsTrafficModels.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/GhostViews/StatsGhostTableViewRows.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#22947 Offline Mode: Trash, Delete, Restore
  Podfile
  Podfile.lock
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/Post+RefreshStatus.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22949 Offline Mode: Add support for pending posts
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22967 Reading Preferences: Fix customization sheet
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22964 Offline Mode: Pages Support
  WordPress/Classes/Utility/BuildInformation/FeatureFlagOverrideStore.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/AztecPostViewController+MenuTests.swift
  WordPress/WordPressTest/Aztec/AztecPostViewControllerAttachmentTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22963 Offline Mode: Autosave and State Restoration
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlagOverrideStore.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Aztec/AztecPostViewController+MenuTests.swift
  WordPress/WordPressTest/Aztec/AztecPostViewControllerAttachmentTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22966 Offline Mode: Simplify Queries in Post List
  WordPress/Classes/Models/BasePost.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22973 Offline Mode: Previews
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22974 Offline Mode: Revisions
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/Revisions/RevisionsTableViewController.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22976 Offline Mode: Metadata
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostHelper.h
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22879 Offline Mode: Add conflict resolution dialog
  WordPress/Classes/Services/PostCoordinator+ResolveConflict.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/ResolveConflictView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22981 Reader: Add "Your Tags" feed menu item
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-menu-list.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-menu-list.imageset/reader-menu-list.svg
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-menu-tags.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-menu-tags.imageset/reader-menu-tags.svg
Labels: Reader, [Type] Task, Part of a WIP Feature

#22979 Offline Mode: Migration
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/Migration/ContentMigrationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/WordPressTest/AbstractPostTest.swift
  WordPress/WordPressTest/PostCoordinatorSyncTests.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22985 Reading Preferences: Polish Post web view + handle change updates
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/reader.css
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Resources/HTML/richCommentStyle.css
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22989 Upgrade to release-toolkit 11.0.0 for better pods checks on code freeze
  Gemfile
  Gemfile.lock
  fastlane/lanes/release.rb
Labels: Tooling

#22983 Fix flaky testCreateBlankPage
  WordPress/UITests/Tests/PagesTests.swift
Labels: Testing, [Type] Task

#22980 Offline Mode: Instrumentation
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/WPInstrumentation.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#22986 Offline Mode: Fix cell reload on postCoordinatorDidUpdate
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22995 Reading Preferences: Add remote flag and tracking
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature, Tracks

#22991 Fix: Update static posters flag default value to true
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackFeaturesRemovalCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/WordPressTest/JetpackFeaturesRemovalCoordinatorTests.swift
Labels: [Type] Enhancement, Reader, WordPress App

#22993 Offline Mode: Disable context menu when post is not editable
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22996 Offline Mode: Fix discard changes
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23001 Reading Preferences: Add "experimental" label to the navigation bar
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
Labels: [Type] Enhancement, Reader

#23000 Integrate gutenberg-mobile release v1.117.0
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22823 Stats Period Details: Optimize table view updates by integrating diffable data source
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
Labels: Stats, [Type] Task

#23009 [Tooling] Improve the "internal pods not on stable version" annotation
  fastlane/lanes/release.rb
Labels: Tooling

#22943 Use shared env vars in Buildkite pipeline
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/code-freeze.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix.yml
  .buildkite/release-pipelines/update-app-store-strings.yml
  .buildkite/shared-pipeline-vars
Labels: Tooling

#23012 Tooling - Update RuboCop config to not allow shorthand hash syntax
  .rubocop.yml
  Gemfile.lock
  Gutenberg/cocoapods_helpers.rb
  Podfile
  Podfile.lock
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/codesign.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/release_management_in_ci.rb
  fastlane/lanes/screenshots.rb
Labels: Tooling

#22999 Reading Preferences: Enable feature for the Jetpack app
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
Labels: [Type] Enhancement, Reader, User-Facing

#23018 Remove Jetpack-only entries from WordPress 24.7 raw release notes
  WordPress/Resources/release_notes.txt
Labels: [Type] Task, Releases

#23020 Merge 24.7 with new release notes for editorialization
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/release_notes.txt
Labels: [Type] Task, Releases

#22992 Offline mode: Show conflict resolution dialog from post list
  WordPress/Classes/Services/PostCoordinator+ResolveConflict.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/ResolveConflictView.swift
Labels: Posts List, Offline Mode (Sync Issues)

#23021 Offline Mode: Fix update button not being enabled after changing settings
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23017 Offline Mode: Fix media upload status
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23016 Offline Mode: Fix a couple of issues with scheduled posts (XMLRPC)
  WordPress/Classes/Services/PostCoordinator+Notices.swift
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23011 Offline Mode: Analycs improvements
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Logging/CrashLogging+Singleton.swift
  WordPress/Classes/Utility/WPInstrumentation.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+Helpers.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23002 Send in-app feedback to Zendesk
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
Labels: [Type] Task, Zendesk

#23024 Offline Mode: Assertion Sampling
  WordPress/Classes/Utility/WPInstrumentation.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23022 Offline Mode: Add if_not_modified_since support for self-hosted sites
  Podfile
  Podfile.lock
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23028 Offline Mode: Fix an issue with posting a re-drafted scheduled post
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23029 Offline Mode: Fix trash post swipe action
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper+Actions.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23007 [Share Action] Set provider to only url for Copy action
  WordPress/Classes/ViewRelated/Post/PostSharingController.swift
Labels: [Type] Bug, Posts List

#23032 Merge release/24.7 with editorialized release notes
  WordPress/Classes/ViewRelated/Post/PostSharingController.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#23027 Update slow unit tests
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaPicker/Tenor/TenorDataSouceTests.swift
  WordPress/WordPressTest/PagesListTests.swift
Labels: [Type] Task

#23003 [Site Picker] Add tracks and update icons
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/vector.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/vector.imageset/Vector.pdf
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListDataSource.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteSwitcherView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: Site Picker

#23026 Stats Traffic & Subscribers: Reintroduce Traffic tab with an old chart and a new date picker
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodTableViewControllerDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodViewModelDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Overview/OverviewCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChart.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerView.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerViewModel.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/StatsTrafficDatePickerViewModelTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Traffic/SiteStatsPeriodViewModelTests.swift
Labels: Stats, [Type] Task

#22928 Add a close button to Post Scheduling Date Picker on iPad
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
Labels: Accessibility, Post Settings

#22997 Offline Mode: Fix state restoration
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Comments/CommentsViewController.m
  WordPress/Classes/ViewRelated/Me/Me Main/Presenter/MeScenePresenter.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Plans/PlanListViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPSplitViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Classes/ViewRelated/Tools/Restorer.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23034 Offline Mode: Media upload status view
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadStatusView.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/DeprecatedPrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#23041 Fix performance issues in the post list
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageView.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
Labels: [Type] Bug

#22895 Remove Story block processor
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergMediaFilesUploadProcessor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Tech Debt, Gutenberg

#22958 Stats: Reuse Stats Store instances between VCs and VMs to share the state
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/WordPressTest/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModelTests.swift
Labels: [Type] Bug, Stats

#23040 Stats Subscribers: Add new Subscribers tab
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/feature_flags.json
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/SiteStatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/SiteStatsSubscribersViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Stats, [Type] Task

#23042 Optimize RemoteFeatureFlagStore
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
Labels: [Type] Task

#23043 Remove EditHomepageViewController and related classes
  WordPress/Classes/Utility/Editor/EditorFactory.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditHomepageViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Post/HomepageEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#23052 Optimize Post.contentPreviewForDisplay
  WordPress/Classes/Models/Post.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23053 Remove custom comparison operators from Post.swift
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: [Type] Task

#23050 Fix: Ensure that the content exists before loading it to the web view
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
Labels: [Type] Enhancement, Reader

#23014 Reader: Add UI for the Reader tags feed
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Reader/ReaderPost+Display.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTableConfiguration.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.xib
  WordPress/Resources/AppImages.xcassets/icon-reader-star-outline.imageset/Contents.json
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23037 Remove PostEditor.OverwritePost
  WordPress/Classes/Services/PostService+Revisions.swift
  WordPress/Classes/Services/PostService.m
Labels: [Type] Core

#23055 Posts: Show "duplicate" action for pending posts
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List

#23056 Stats: Add Subscribers Emails Opens and Clicks Card
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/StatsPeriodCache.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.xib
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/SiteStatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/SiteStatsSubscribersViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersCache.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersStore.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/StatsSubscribersViewModelTests.swift
Labels: Stats, [Type] Task

#23066 Fix an issue with parentPageID removal
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23065 Update page context menu with Stats and Settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: [Type] Task

#23030 Update Reachability from 3.2 to 3.7.6
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Core

#23063 Fix an issue with -logout-at-launch option not removing self-hosted sites
  WordPress/Classes/System/UITestConfigurator.swift
Labels: [Type] Task

#22923 Improve publish date picker
  WordPress/Classes/Extensions/UINavigationController+Helpers.swift
  WordPress/Classes/Services/PostCoordinator+Notices.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/Prepublishing/DeprecatedPrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/SchedulingDatePickerViewController.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task

#23068 Modernize remaining publish settings
  WordPress/Classes/ViewRelated/Post/Categories/PostCategoriesViewController.swift
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
Labels: [Type] Task

#23070 Offline Mode: Fix keyboard avoidance in submit button
  WordPress/Classes/ViewRelated/Post/Prepublishing/DeprecatedPrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23075 [Notifications Refresh] Implement component for Comment Moderation and Likes header
  Modules/Sources/DesignSystem/Components/Content Preview/ContentPreview.swift
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/Chevron/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/Chevron/chevron.right.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/Chevron/chevron.right.imageset/chevron-right.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Design System

#23062 Stats: Add Subscribers `Emails Opens and Clicks` Details
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersStore.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewModel.swift
Labels: Stats, [Type] Task

#23067 Stats: Subscribers List Card
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersCache.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersStore.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewModel.swift
  WordPress/WordPressTest/StatsSubscribersViewModelTests.swift
Labels: Stats, [Type] Task

#23054 [Notifications Refresh] Replace tabs with dropdown in notifications screen
  WordPress/Classes/Extensions/UIButton+Extensions.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController+Strings.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Notifications.storyboard
Labels: Notifications, Jetpack App

#23079 Offline Mode: Add error handling to media upload status view
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadStatusView.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23076 Reader: Add remote fetching for the tags stream
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23088 Stats Widgets: Retain StatsService when making API calls from the widget
  WordPress/JetpackStatsWidgets/Remote service/StatsWidgetsService.swift
Labels: [Type] Bug, Stats, Widgets

#22833 [Hack Week] Site picker Redesign
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundSecondary.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Colors.xcassets/Foundation/Background/backgroundTertiary.colorset/Contents.json
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/vector.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/vector.imageset/Vector.pdf
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListDataSource.swift
  WordPress/Classes/ViewRelated/Blog/Blog List/BlogListViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SiteSwitcherView.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
  WordPress/Classes/WordPress.xcdatamodeld/WordPress 153.xcdatamodel/contents
  WordPress/UITestsFoundation/Screens/MySitesScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/BlogListViewModelTests.swift
Labels: [Type] Enhancement, Site Picker

#23086 Reader: Add loading state for the tags stream
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCell.xib
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#23095 Reader: Fix comment colors
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/reader.css
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Resources/HTML/richCommentStyle.css
Labels: Reader

#23094 Offline Mode: Always enable Retry All button on the Media Upload
  WordPress/Classes/ViewRelated/Post/PostMediaUploadStatusView.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadViewModel.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23078 Offline Mode: Fix an issue with fixLocalMediaURLs not being called
  WordPress/Classes/Extensions/AbstractPost+fixLocalMediaURLs.swift
Labels: [Type] Bug

#23097 Reader: Prevent reloading stream view when menu is fetched
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#23077 Stats: Open `People -> Subscribers` from `Subscribers List` card
  WordPress/Classes/ViewRelated/People/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/PersonViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
Labels: Stats, [Type] Task

#23089 Fix a Core Data threading viloation in gutenbergMediaSources
  WordPress/Classes/Utility/ContextManager.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Bug, Posting/Editing

#23099 Stats Insights: Remove social (publicize) subscribers
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsFollowersChartViewModel.swift
Labels: Stats, [Type] Task

#23104 Offline Mode: Fix minor animation issues in the list
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23083 [Notification Refresh] Replace the old Comment Detail header with the new Content Preview component
  Modules/Sources/DesignSystem/Components/Content Preview/ContentPreview.swift
  WordPress/Classes/Extensions/Design System/ContentProvider+Gravatar.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/CommentHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/HostingTableViewCell.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications

#23105 Offline Mode: Switch to local feature flag
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlagRolloutStore.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageEditorPresenter.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+Helpers.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Feature Flags, Offline Mode (Sync Issues)

#23091 Offline Mode: Fix background sync and media uploads integration
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
  WordPress/WordPressTest/Test Data/remote-post.json
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23102 Offline Mode: Add a way to cancel uploads directly from Media Uploads screen
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaPreviewViewController.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsView.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#23100 Stats Subscribers Deep link support
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Stats, [Type] Task

#23113 Rename Total Followers to Total Subscribers
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
Labels: [Type] Enhancement, Localization

#23084 Stats: Total Subscribers Card
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersStore.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewModel.swift
  WordPress/WordPressTest/StatsSubscribersViewModelTests.swift
Labels: Stats, [Type] Task

#23120 Update Stats-related strings for localization
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Task, Localization

#23121 Merge release/24.8 to trigger .strings update in GlotPress
  WordPress/Classes/ViewRelated/Stats/Helpers/StatSection.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: [Type] Task, Localization

#23090 [Notifications P2] Comment Moderation View
  Modules/Sources/DesignSystem/Foundation/IconName.swift
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/checkmark.circle.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/checkmark.circle.imageset/check-circle.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/clock.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/clock.imageset/clock.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/exclamation.circle.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/exclamation.circle.imageset/exclamation.circle.pdf
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/trash.imageset/Contents.json
  Modules/Sources/DesignSystem/Foundation/Icons.xcassets/trash.imageset/delete_24px.pdf
  WordPress/Classes/ViewRelated/Notifications/Comment Moderation/CommentModerationOptionsView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, [Type] Task

#23109 Reader: Add a footer view for the Reader tags feed
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCell.xib
  WordPress/Classes/ViewRelated/Reader/ReaderTagCardCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagFooterView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagFooterView.xib
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-tag-arrow.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-tag-arrow.imageset/reader-tag-arrow-right.svg
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader, [Type] Task, Part of a WIP Feature
