Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-06, with the labels that each got.

#23269 [Voice to Content] Integrate Markdown conversion
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Task, Voice to Content

#23292 [Notifications Refresh] Introduce likes and subscribers details share button
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/ShareFooterView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Notifications, Jetpack App

#23277 Reader: Show floating button in top-level screen
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/CreateButtonCoordinator.swift
Labels: Reader

#23293 Offline Mode: Remove Deprecated Code – P7
  WordPress/Classes/Models/AbstractPost+MarkAsFailedAndDraftIfNeeded.swift
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostService+UnattachedMedia.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/PostRepositoryTests.swift
  WordPress/WordPressTest/PostService+MarkAsFailedAndDraftIfNeededTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23302 Fix a couple of post editing analytics events
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
Labels: [Type] Task

#23298 Revert 'Save Draft' changes
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: [Type] Task

#23304 Integrate gutenberg-mobile release v1.119.1
  Gutenberg/config.yml
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg

#23313 Fix non-scrollable whats new in BlockingUpdateView
  WordPress/Classes/ViewRelated/AppUpdate/BlockingUpdateView.swift
Labels: [Type] Bug, In-App Updates

#23315 Update nav bar style for Me tab
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
Labels: [Type] Task

#23307 Offline Mode: Remove Deprecated Code – P8
  WordPress/Classes/Models/AbstractPost+Local.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/Models/PostContentProvider.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/WordPressTest/OldReaderPostCardCellTests.swift
  WordPress/WordPressTest/PostTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23318 Integrate gutenberg-mobile release v1.120.0
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#23308 Integrate new PostServiceRemoteREST/createAutosave API
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
Labels: [Type] Task

#23319 Adds os_version parameter in feature flags and dynamic dashboard cards
  Podfile
  Podfile.lock
Labels: [Type] Enhancement, Domains Dashboard Card, Feature Flags

#23321 Remove PostServiceRemote.trashPost (and fix rare crash in PostCategory+Lookup)
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task

#23322 Offline Mode: Remove Deprecated Code – P9
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Models/BasePost.m
  WordPress/Classes/Models/Page.swift
  WordPress/Classes/Models/Post.swift
  WordPress/Classes/Services/PostHelper.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewNonceHandler.swift
  WordPress/WordPressTest/PostTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23325 Offline Mode: Remove Deprecated Code – P10
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/ResolveConflictView.swift
  WordPress/WordPressTest/PostCoordinatorTests.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task

#23312 Fix scroll to comment issue
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: [Type] Bug, Comments

#23330 Reader: Fix crash when stacking site streams of the same type
  WordPress/Classes/Services/ReaderPostStreamService.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/WordPressTest/ReaderTopicServiceTest.swift
Labels: Reader, Core Data

#23334 Fix an issue with missing navigation bar background in Post Settings
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
Labels: [Type] Bug

#23329 Offline Mode: Remove Deprecated Code – P12
  WordPress/Classes/Models/AbstractPost+Searchable.swift
  WordPress/Classes/Models/AbstractPost.h
  WordPress/Classes/Models/AbstractPost.m
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Models/BasePost.swift
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/ViewRelated/Post/PostListFilter.swift
  WordPress/WordPressTest/PostBuilder.swift
  WordPress/WordPressTest/PostTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23259 Update required Xcode version to 15.4
  .buildkite/pipeline.yml
  .xcode-version
  WordPress/UITests/Utils/XCTest+Extensions.swift
Labels: Tooling

#23339 [Voice to Content] Error Handling
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23340 [Voce to Content] Upgrade URL
  Podfile
  Podfile.lock
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
Labels: [Type] Task, Voice to Content

#23291 VtC: Add speech visualizer
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Voice/AudioRecorderVisualizerView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Voice to Content

#23320 Bump up Gravatar to 2.0.0
  Podfile
  Podfile.lock
  WordPress/Classes/Utility/Media/MemoryCache.swift
  WordPress/Classes/ViewRelated/Gravatar/UIImageView+Gravatar.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Gravatar

#23342 Fix an issue where the app will sometimes save empty drafts
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23348 Add .networkConnectionLost to the list of "offline" scenarios
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
Labels: [Type] Bug, Offline Mode (Sync Issues)

#23345 Add more information to .postCoordinatorErrorEncountered
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Task

#23350 Merge editorialized release notes for 25.1 to trunk
  RELEASE-NOTES.txt
  WordPress/Classes/Models/AbstractPost.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/ReaderPostStreamService.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderPostStreamServiceTest.swift
Labels: Releases

#23347 Fix an issue with post content structure not loading in some scenarios
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController+MoreActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: [Type] Bug, Gutenberg

#23355 Improve sync engine for drafts
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/InteractivePostViewDelegate.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/Classes/ViewRelated/Post/ResolveConflictView.swift
Labels: [Type] Bug

#23354 Add defensive code for PostCategory save
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCategoryService.m
  WordPress/Classes/Services/PostHelper+Metadata.swift
  WordPress/Classes/Services/PostHelper.m
Labels: [Type] Bug

#23360 Fix an issue where you could remove the scheduled date on a scheduled post
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
Labels: [Type] Bug, Post Settings

#23363 Fix an issue where a Page editor will not close automatically after trying to update a permanently deleted post
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
Labels: [Type] Bug

#23368 Reader: Fix crash in Discover stream due to unregistered cell types
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
Labels: Reader

#23362 Add loading indicator when refreshing cached data in post list
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
Labels: Posts List, [Type] Task

#23372 Revert 23201 enable performance monitoring
  WordPress/Classes/Utility/Logging/WPCrashLoggingProvider.swift
Labels: [Type] Task

#23365 Remove iAd (Apple Search Ads) attribution
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/iAds/SearchAdsAttribution.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#23374 Re-enable `reject_build_waiting_for_review` after Fastlane upgrade
  Gemfile
  Gemfile.lock
  fastlane/lanes/build.rb
Labels: Tooling

#23371 Stats: Remove deprecated code
  WordPress/Classes/Stores/StatsInsightsCache.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/Stores/StatsPeriodCache.swift
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/Stores/StatsStore+Cache.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/Utility/InteractiveNotificationsManager.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PeriodChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/PostChart.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsBarChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsChartLegendView.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsChartMarker.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartConfiguration.swift
  WordPress/Classes/ViewRelated/Stats/Charts/StatsLineChartView.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsDashboardDeprecated.storyboard
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodTableViewControllerDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodViewModelDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/StatsPeriodHelper.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Insights Management/InsightsManagementViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsMostPopularTimeInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsTotalInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/DetailDataCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsStackViewCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsTableViewCells.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartTabs.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Stats/Helpers/SiteStatsImmuTableRowsTests.swift
  WordPress/WordPressTest/ViewRelated/Stats/Traffic/SiteStatsPeriodViewModelTests.swift
Labels: [Type] Enhancement, Stats

#23370 Integrate gutenberg-mobile release v1.120.1
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#23356 Simplify post list context menu sections
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ViewRelated/Post/Views/PostCardStatusViewModelTests.swift
Labels: Posts List, [Type] Task

#23358 Fix snackbar draft saved message when saving drafts manually
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator+Notices.swift
Labels: [Type] Bug

#23359 Offline Mode: Remove Deprecated Code – P13
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/Classes/ViewRelated/Post/PostEditorState.swift
  WordPress/Classes/ViewRelated/Post/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/PostMediaUploadsView.swift
  WordPress/Classes/ViewRelated/Post/PostNoticePublishSuccessView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingSocialAccountsViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchSuggestionsService.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PublishSettingsControllerTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#23377 Remove unused code
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/System/RootViewPresenter+EditorNavigation.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/PagesCardViewModel.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageListCell.swift
  WordPress/Classes/ViewRelated/Pages/PageListItemViewModel.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostAuthorSelectorViewController.swift
  WordPress/Classes/ViewRelated/Post/PostCardStatusViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Task

#23367 Integrate WordPressKit and WordPressAuthenticator unit tests
  .buildkite/commands/run-pod-tests.sh
  .buildkite/pipeline.yml
  Podfile
  Podfile.lock
  Pods/Pods.xcodeproj/xcshareddata/xcschemes/WordPressAuthenticator.xcscheme
  Pods/Pods.xcodeproj/xcshareddata/xcschemes/WordPressKit.xcscheme
  WordPressAuthenticator/Tests/Mocks/WordpressAuthenticatorProvider.swift
  WordPressAuthenticator/Tests/Services/LoginFacadeTests.m
  WordPressAuthenticator/WordPressAuthenticator.podspec
  WordPressKit/Tests/CoreAPITests/WordPressOrgXMLRPCValidatorTests.swift
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/backup-get-backup-status-complete-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/backup-get-backup-status-in-progress-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/backup-prepare-backup-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-auth-failure.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-bad-json-failure.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-aboutme-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-display-name-bad-json-failure.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-display-name-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-email-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-firstname-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-invalid-input-failure.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-lastname-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-primary-site-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-change-web-address-success.json
  WordPressKit/Tests/WordPressKitTests/Mock Data/WordPressKitTests/me-settings-revert-email-success.json
  WordPressKit/Tests/WordPressKitTests/Tests/RemoteTestCase.swift
  WordPressKit/Tests/WordPressKitTests/Tests/TestCollector+Constants.swift
  WordPressKit/Tests/WordPressKitTests/Tests/ThemeServiceRemoteTests.m
  WordPressKit/Tests/WordPressKitTests/Tests/Utilities/URLSessionHelperTests.swift
  WordPressKit/WordPressKit.podspec
  fastlane/lanes/build.rb
Labels: Tooling

#22847 Stats: Improve scrolling performance
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Extensions/UITableViewCell+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/WPStyleGuide+Stats.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/CountriesCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/StatsRowsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/TopTotalsCell.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Stats

#23379 Fix rare crash in GutenbergWebViewController
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergWeb/GutenbergWebViewController.swift
Labels: [Type] Bug, Gutenberg

#23383 Update rubocop.yml
  .rubocop.yml
Labels: [Type] Task

#23382 Remove Stories and Kanvas dependency
  Podfile
  Podfile.lock
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/Stories/CameraHandler.swift
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/Services/Stories/StoryMediaLoader.swift
  WordPress/Classes/Services/Stories/StoryPoster.swift
  WordPress/Classes/Services/Stories/WPMediaPicker+MediaPicker.swift
  WordPress/Classes/Stores/UserPersistentRepositoryUtility.swift
  WordPress/Classes/System/RootViewPresenter+EditorNavigation.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraAnalyticsHandler.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraCustomUI.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Blog/QuickStartChecklistManager.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
  WordPress/Classes/ViewRelated/WhatsNew/Data store/StoriesIntroDataSource.swift
  WordPress/Classes/ViewRelated/WhatsNew/Views/GridCell.swift
  WordPress/Classes/ViewRelated/WhatsNew/Views/StoriesIntroViewController.swift
  WordPress/Fonts/LibreBaskerville-Regular.ttf
  WordPress/Fonts/Nunito-Bold.ttf
  WordPress/Fonts/Pacifico-Regular.ttf
  WordPress/Fonts/Shrikhand-Regular.ttf
  WordPress/Fonts/SpaceMono-Bold.ttf
  WordPress/Fonts/oswald_upper.ttf
  WordPress/Info.plist
  WordPress/Jetpack/Info.plist
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement

#23381 Reduce App Size – Assets
  WordPress/Jetpack/AppImages.xcassets/Prologue/JPBackground.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Prologue/JPBackground.imageset/background-light_Normal.png
  WordPress/Jetpack/AppImages.xcassets/Prologue/JPBackground.imageset/background-light_Normal@2x.png
  WordPress/Jetpack/AppImages.xcassets/Prologue/JPBackground.imageset/background-light_Normal@3x.png
  WordPress/Resources/AppImages.xcassets/New Jetpack prologue/Contents.json
  WordPress/Resources/AppImages.xcassets/New Jetpack prologue/JPBackground.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-confirm-button.imageset/stories-confirm-button@3x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories-next-button.imageset/stories-next-button@3x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_1.imageset/stories_intro_cover_1@3x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2@2x.png
  WordPress/Resources/AppImages.xcassets/Stories/stories_intro_cover_2.imageset/stories_intro_cover_2@3x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview1.imageset/rppreview-1.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview1.imageset/rppreview-1@2x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview1.imageset/rppreview-1@3x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview2.imageset/rppreview-2.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview2.imageset/rppreview-2@2x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview2.imageset/rppreview-2@3x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview3.imageset/rppreview-3.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview3.imageset/rppreview-3@2x.png
  WordPress/Resources/AppImages.xcassets/relatedPostsPreview3.imageset/rppreview-3@3x.png
  WordPress/Resources/AppImages.xcassets/site-creation-blog.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-blog.imageset/type-blog.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-confetti.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-confetti.imageset/site-creation-confetti.png
  WordPress/Resources/AppImages.xcassets/site-creation-error.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-error.imageset/site-creation-error.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-portfolio.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-portfolio.imageset/type-portfolio.pdf
  WordPress/Resources/AppImages.xcassets/site-creation-website.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/site-creation-website.imageset/type-website.pdf
Labels: [Type] Task

#23310 Fix a rare crash when opening a file downloads stats view
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: [Type] Crash, Stats

#23316 Support editing media metadata via XML-RPC #809
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPressKit/Sources/WordPressKit/Services/MediaServiceRemoteXMLRPC.m
Labels: [Type] Enhancement, Media

#23384 Reader: Fix announcement card keep showing up after tapping Done
  WordPress/Classes/ViewRelated/Reader/ReaderAnnouncementHeaderView.swift
Labels: [Type] Enhancement, Reader

#23385 Remove AlamofireNetworkActivityIndicator
  Podfile
  Podfile.lock
  WordPress/Classes/System/WordPressAppDelegate.swift
Labels: [Type] Task
