Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-01, with the labels that each got.

#22312 Show Bloganuary card in January
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardBloganuaryCardCell.swift
  WordPress/WordPressTest/Blog Dashboard/Cards/DashboardBloganuaryCardCellTests.swift
Labels: [Type] Enhancement, Blogging Prompts

#22314 Fix crash when accessing widget week summary data outside bounds
  Modules/Sources/JetpackStatsWidgetsCore/Model/ThisWeekWidgetStats.swift
  Modules/Tests/JetpackStatsWidgetsCoreTests/ThisWeekWidgetStatsTests.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/JetpackStatsWidgets/Model/ListViewData.swift
  WordPress/JetpackStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/JetpackStatsWidgets/Views/ListStatsView.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetThisWeek.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Crash, Stats

#22316 Update Gutenberg to the `v1.110.0-alpha3` tag
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22303 Fix: Exclude sharing limit nudges from sites with Creator plan
  WordPress/Classes/Models/Blog+JetpackSocial.swift
  WordPress/WordPressTest/Blog Dashboard/Cards/DashboardJetpackSocialCardCellTests.swift
Labels: [Type] Enhancement, Jetpack Social

#22322 Reimplement `waitForElementAndTap...` as a typed `XCUIElement` method
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/UITestsFoundation/XCUIApplication+SavePassword.swift
  WordPress/UITestsFoundation/XCUIElement+TapUntil.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
Labels: Testing

#22273 Reader: Refactor filter sheet
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetView.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterTableData.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Classes/Stores/StatsWidgetsStoreTests.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22327 Integrate gutenberg-mobile release v1.110.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22275 Fix crash when search token are duplicated
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Search/PostSearchSuggestionsService.swift
Labels: [Type] Crash, Posts List

#22326 Adds release note for the dynamic dashboard cards
  RELEASE-NOTES.txt
Labels: [Type] Task, My Site Dashboard

#22277 Fix rare crash when deleting posts
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
Labels: [Type] Crash, Posts List

#22280 Remove personalizeHomeTab feature flag
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/DashboardPostsListCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCard.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
Labels: [Type] Task, My Site Dashboard

#22278 Fix crash in Site Media prefetching cancellation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
Labels: [Type] Crash, Media

#22311 Site Domains: Modernize UI 2/2 - Integrate status and navigation to domain details
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Domains/DomainsService+AllDomains.swift
  WordPress/Classes/ViewRelated/Domains/Utility/DomainExpiryDateFormatter.swift
  WordPress/Classes/ViewRelated/Domains/View Models/DomainsStateViewModel.swift
  WordPress/Classes/ViewRelated/Domains/View Models/SiteDomainsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainDetailsWebViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsStateView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListItemViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListMessageStateViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListEmptyView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/Domains/AllDomainsListItemViewModelTests.swift
  WordPress/WordPressTest/Domains/DomainExpiryDateFormatterTests.swift
  WordPress/WordPressTest/Domains/SiteDomainsViewModelTests.swift
Labels: [Type] Enhancement, Domains

#22294 Site Domains: Modernize UI 1/2
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Domains/DomainsService+AllDomains.swift
  WordPress/Classes/ViewRelated/Domains/Utility/DomainExpiryDateFormatter.swift
  WordPress/Classes/ViewRelated/Domains/View Models/DomainsStateViewModel.swift
  WordPress/Classes/ViewRelated/Domains/View Models/SiteDomainsViewModel.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainDetailsWebViewControllerWrapper.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsStateView.swift
  WordPress/Classes/ViewRelated/Domains/Views/PrimaryDomainView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListItemViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListMessageStateViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel+Strings.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListViewModel.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListCardView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListEmptyView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/Domains/AllDomainsListItemViewModelTests.swift
  WordPress/WordPressTest/Domains/DomainExpiryDateFormatterTests.swift
  WordPress/WordPressTest/Domains/SiteDomainsViewModelTests.swift
Labels: [Type] Enhancement, Domains

#22328 Tracks: Include blog ID in events when media uploads fail
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.h
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
Labels: Media, Tracks

#22330 SFMU: Phase One
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Universal Links/Route.swift
  WordPress/Classes/Utility/Universal Links/Routes+Banners.swift
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/WordPressTest/RouteMatcherTests.swift
Labels: Media, [Type] Task

#22325 Bottom tab improvements: new icons, haptic feedback, icon animation
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-home-selected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-home-selected.imageset/tab-bar-home-selected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-home-unselected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-home-unselected.imageset/tab-bar-home-unselected-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-home-unselected.imageset/tab-bar-home-unselected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-me-selected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-me-selected.imageset/tab-bar-me-selected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-me-unselected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-me-unselected.imageset/tab-bar-me-unselected-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-me-unselected.imageset/tab-bar-me-unselected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-selected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-selected.imageset/tab-bar-notifications-selected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-jp.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-jp.imageset/tab-bar-notifications-unread-jp-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-jp.imageset/tab-bar-notifications-unread-jp.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-wp.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-wp.imageset/tab-bar-notifications-unread-wp-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unread-wp.imageset/tab-bar-notifications-unread-wp.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unselected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unselected.imageset/tab-bar-notifications-unselected-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-notifications-unselected.imageset/tab-bar-notifications-unselected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-reader-selected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-reader-selected.imageset/tab-bar-reader-selected.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-reader-unselected.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-reader-unselected.imageset/tab-bar-reader-unselected-dark.pdf
  WordPress/Resources/AppImages.xcassets/Bottom Tabs/tab-bar-reader-unselected.imageset/tab-bar-reader-unselected.pdf
Labels: [Type] Task, Information Architecture

#22335 Fix an issue with BlogDashboardPersonalizationService being used on the background thread
  RELEASE-NOTES.txt
  WordPress/Classes/Models/BloggingPromptSettings+CoreDataClass.swift
Labels: [Type] Crash, My Site Dashboard

#22332 [Cobranding] Update splash logo
  WordPress/Jetpack/Launch Screen.storyboard
Labels: [Type] Task, Login

#22331 Merge finalized release 23.9
  Modules/Sources/JetpackStatsWidgetsCore/Model/ThisWeekWidgetStats.swift
  Modules/Tests/JetpackStatsWidgetsCoreTests/ThisWeekWidgetStatsTests.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/JetpackStatsWidgets/Model/ListViewData.swift
  WordPress/JetpackStatsWidgets/Remote service/StatsWidgetsService.swift
  WordPress/JetpackStatsWidgets/Views/ListStatsView.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetThisWeek.swift
  WordPress/Resources/ar.lproj/Localizable.strings
  WordPress/Resources/de.lproj/Localizable.strings
  WordPress/Resources/en-AU.lproj/Localizable.strings
  WordPress/Resources/en-GB.lproj/Localizable.strings
  WordPress/Resources/es.lproj/Localizable.strings
  WordPress/Resources/fr.lproj/Localizable.strings
  WordPress/Resources/he.lproj/Localizable.strings
  WordPress/Resources/id.lproj/Localizable.strings
  WordPress/Resources/it.lproj/Localizable.strings
  WordPress/Resources/ja.lproj/Localizable.strings
  WordPress/Resources/ko.lproj/Localizable.strings
  WordPress/Resources/nl.lproj/Localizable.strings
  WordPress/Resources/pt-BR.lproj/Localizable.strings
  WordPress/Resources/ro.lproj/Localizable.strings
  WordPress/Resources/ru.lproj/Localizable.strings
  WordPress/Resources/sq.lproj/Localizable.strings
  WordPress/Resources/sv.lproj/Localizable.strings
  WordPress/Resources/tr.lproj/Localizable.strings
  WordPress/Resources/zh-Hans.lproj/Localizable.strings
  WordPress/Resources/zh-Hant.lproj/Localizable.strings
  WordPress/WordPress.xcodeproj/project.pbxproj
  config/Version.internal.xcconfig
  config/Version.public.xcconfig
Labels: Releases

#22192 Add automation to run most of the release flow in CI
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/complete-code-freeze.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/commands/finalize-release.sh
  .buildkite/release-pipelines/code-freeze.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/update-app-store-strings.yml
  fastlane/Fastfile
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/release_management_in_ci.rb
Labels: Tooling

#22270 Test Fixes to Run Xcode 15 in CI
  .buildkite/cache-builder.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .xcode-version
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_visits-year.json
  Gemfile
  Gemfile.lock
  WordPress/UITests/JetpackUITests.xctestplan
  WordPress/UITests/Tests/LoginTests.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITestsFoundation/Globals.swift
  WordPress/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  WordPress/UITestsFoundation/Screens/Login/LoginUsernamePasswordScreen.swift
  WordPress/UITestsFoundation/Screens/Login/Unified/PasswordScreen.swift
  WordPress/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/UITestsFoundation/Screens/StatsScreen.swift
  WordPress/UITestsFoundation/TestObserver.swift
  WordPress/UITestsFoundation/XCUIApplication+SavePassword.swift
  WordPress/UITestsFoundation/XCUIElement+TapUntil.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/BloggingPromptsServiceTests.swift
  WordPress/WordPressTest/ViewRelated/Tools/Time Zone/TimeZoneFormatterTests.swift
  WordPress/WordPressTest/WKCookieJarTests.swift
  WordPress/WordPressTest/WPUserAgentTests.m
  WordPress/WordPressTest/WordPressUnitTests.xctestplan
  fastlane/lanes/build.rb
Labels: Tooling

#21705 Fix "Please adopt containerBackgroundAPI" for iOS 17 Widgets
  WordPress/JetpackStatsWidgets/LockScreenWidgets/LockScreenStatsWidget.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenMultiStatView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenSingleStatView.swift
  WordPress/JetpackStatsWidgets/LockScreenWidgets/Views/LockScreenUnconfiguredView.swift
  WordPress/JetpackStatsWidgets/Views/Cards/LockScreenFlexibleCard.swift
  WordPress/JetpackStatsWidgets/Views/Cards/LockScreenVerticalCard.swift
  WordPress/JetpackStatsWidgets/Views/Cards/StatsValueView.swift
  WordPress/JetpackStatsWidgets/Views/Cards/VerticalCard.swift
  WordPress/JetpackStatsWidgets/Views/Helpers/iOS17WidgetAPIs.swift
  WordPress/JetpackStatsWidgets/Views/ListStatsView.swift
  WordPress/JetpackStatsWidgets/Views/MultiStatsView.swift
  WordPress/JetpackStatsWidgets/Views/SingleStatView.swift
  WordPress/JetpackStatsWidgets/Views/StatsWidgetsView.swift
  WordPress/JetpackStatsWidgets/Views/UnconfiguredView.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetAllTime.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetThisWeek.swift
  WordPress/JetpackStatsWidgets/Widgets/HomeWidgetToday.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Widgets

#22301 Cleanup pch file
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/BlogSyncFacade.m
  WordPress/Classes/Services/LocalCoreDataService.m
  WordPress/Classes/Services/MenusService.h
  WordPress/Classes/Services/PostHelper.m
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Analytics/WPAppAnalytics.m
  WordPress/Classes/Utility/Migrations/10-11/BlogToAccount.m
  WordPress/Classes/Utility/Migrations/10-11/BlogToJetpackAccount.m
  WordPress/Classes/Utility/WPTableViewHandler.h
  WordPress/Classes/Utility/WPTableViewHandler.m
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Selector/BlogSelectorViewController.m
  WordPress/WordPress_Prefix.pch
Labels: General, [Type] Task

#22336 Remove unused code (6)
  WordPress/Classes/Extensions/AbstractPost+Dates.swift
  WordPress/Classes/Extensions/Colors and Styles/UIColor+MurielColors.swift
  WordPress/Classes/Services/HomepageSettingsService.swift
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/Stores/PluginStore.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/Kanvas/KanvasCameraAnalyticsHandler.swift
  WordPress/Classes/Utility/Media/MediaThumbnailExporter.swift
  WordPress/Classes/Utility/WebKitViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityUtils.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Pages/PagesCardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/BlogDashboardCardFrameView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Comments/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Domains/Utility/Blog+DomainsDashboardView.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergNetworking.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Processors/GutenbergCoverUploadProcessor.swift
  WordPress/Classes/ViewRelated/Gutenberg/Views/GutenGhostView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Coordinators/AllDomainsAddDomainCoordinator.swift
  WordPress/Classes/ViewRelated/Me/All Domains/View Models/AllDomainsListItemViewModel.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/ChangeUsernameViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Style/WPStyleGuide+Notifications.swift
  WordPress/Classes/ViewRelated/Plans/PlanDetailViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/CalendarMonthView.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewModel+Highlighter.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsFollowPresenter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ShadowView.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/SiteCreationAnalyticsHelper.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsCell.swift
  WordPress/Classes/ViewRelated/Site Creation/Web Address/AddressTableViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Charts/InsightsLineChart.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/System/Notices/NoticeStyle.swift
  WordPress/Classes/ViewRelated/Themes/WPStyleGuide+Themes.swift
  WordPress/Classes/ViewRelated/WhatsNew/Views/StoriesIntroViewController.swift
  WordPress/Jetpack/Classes/NUX/JetpackPrologueStyleGuide.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/ShareNoticeConstants.swift
  WordPress/WordPressTest/ViewRelated/Post/Views/CalendarHeaderViewTests.swift
Labels: General, [Type] Task

#22300 Fix crash in MediaService
  WordPress/Classes/Services/MediaService.m
Labels: [Type] Crash, [Type] Task

#22337 Allow trashing draft and scheduled posts with no confirmation
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, [Type] Task

#22321 Remove old checkout option for Gutenberg in `Podfile.lock` and dead products references
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#22344 Bottom tab improvements: Enable feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
Labels: [Type] Task, Design

#22320 Backend-driven Dynamic Cards filtering
  Podfile
  Podfile.lock
  WordPress/Classes/Stores/RemoteFeatureFlagStore.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Models/DashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardRemoteEntity.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/WordPressTest/Dashboard/BlogDashboardServiceTests.swift
  WordPress/WordPressTest/Dashboard/Dynamic Cards/BlogDashboardDynamicCardCoordinatorTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-multiple-dynamic-cards.json
  WordPress/WordPressTest/Test Data/Dashboard/dashboard-200-with-only-one-dynamic-card.json
Labels: Jetpack App, My Site Dashboard

#22340 Posts & Pages: Add share action to pages
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageMenuViewModelTests.swift
  WordPress/Classes/ViewRelated/Post/PageMenuViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSharingController.swift
Labels: Pages List, [Type] Task

#22282 feat: Pause media upload when internet connection unavailable
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: Media, Gutenberg

#22342 fix: Allow unlimited manual upload retries
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Media, Gutenberg

#22365 Update Release Toolkit to 9.3.0
  Gemfile
  Gemfile.lock
Labels: Tooling

#22274 Improve media previews on long-press
  RELEASE-NOTES.txt
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/Utility/Media/ImageView.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaCollectionViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaPreviewViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaDocumentInfoView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media, [Type] Task

#22292 Add prefetching to SiteMediaPageViewController and coalescing to ImageDownloader
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Media/ImageDownloader.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPageViewController.swift
  WordPress/WordPressTest/ImageDownloaderTests.swift
Labels: Media, [Type] Task

#22364 chore: Enable offline media upload features
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Media, Gutenberg

#22358 Improve Publish context menu action
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostHelper.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: Posts List, [Type] Task

#22286 Drop iOS 14 Support: Remove deprecated UIDocumentPickerViewController API
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergFilesAppMediaSource.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/AztecMediaPickingCoordinator.swift
Labels: [Type] Task, Drop iOS 14

#22297 Remove WPImageSource usages
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/ViewRelated/Jetpack/Social/JetpackSocialNoConnectionView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
Labels: Media, [Type] Task

#22362 My site header: Always show switch site option
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
Labels: [Type] Bug, Self-hosted, My Site

#22367 Fix a crash in external media picker
  WordPress/Classes/Extensions/Array.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorDataSource.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchSuggestionsService.swift
Labels: [Type] Crash, Media

#22377 Merge editorialized release notes for version 24.0
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#22276 [Tooling] Move Danger to GitHub Actions
  .buildkite/commands/danger-pr-check.sh
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
Labels: Tooling

#22376 Add editor_upload_media_paused analytics event
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaCoordinator.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaInserterHelper.swift
Labels: Analytics

#22375 Improve Post List analytics
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsTrackerAutomatticTracks.m
  WordPress/Classes/ViewRelated/Pages/PageListViewController+Menu.swift
  WordPress/Classes/ViewRelated/Pages/PageListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostListViewController.swift
Labels: Posts List, [Type] Task

#22379 Stats Traffic: Feature flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: Stats

#22381 Stats Traffic: Create an empty Traffic tab behind the feature flag
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats, [Type] Task

#22284 RFC: Remove obsolete database versions
  WordPress/WordPressTest/CoreDataMigrationTests.m
Labels: [Type] Task, Core Data

#22391 Support dark mode in navigation bar when presenting DomainSelection from SiteDomains
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/DomainSuggestionViewControllerWrapper.swift
Labels: [Type] Bug, Domains

#22401 Merge 23.9.1 hotfix into 24.0
  WordPress/Classes/Extensions/Array.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
  WordPress/Classes/ViewRelated/Media/StockPhotos/StockPhotosDataSource.swift
  WordPress/Classes/ViewRelated/Media/Tenor/TenorDataSource.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchSuggestionsService.swift
  fastlane/jetpack_metadata/copyright.txt
  fastlane/lanes/release.rb
  fastlane/metadata/copyright.txt
Labels: Releases

#22398 Remove a deadcode - the `error` variable will never be an `AFError`
  WordPress/Classes/Services/MediaCoordinator.swift
Labels: [Type] Core

#22395 Updating release-toolkit to its latest version.
  Gemfile
  Gemfile.lock
Labels: [Type] Task, Tooling

#22384 My site header: Add site icon menu if user is admin
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
Labels: [Type] Bug, My Site

#22386 Prevent iPad crash when collapsing secondary vc
  WordPress/Classes/ViewRelated/System/WPSplitViewController.swift
Labels: [Type] Crash, iPad

#22399 Preemptively add a if block to replace the one referencing `AFError`
  WordPress/Classes/Services/MediaCoordinator.swift
Labels: [Type] Core

#22125 Remove explicit Alamofire dependency from `Podfile`
  Podfile
  Podfile.lock
  WordPress/Classes/Extensions/UIImageView+SiteIcon.swift
  WordPress/Classes/ViewRelated/Site Creation/Site Segments/SiteSegmentsCell.swift
Labels: Tooling

#22397 Add unit tests for Compliance Popover Coordinator and revert accidental change
  WordPress/Classes/ViewRelated/EEUUSCompliance/ComplianceLocationService.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverCoordinatorTests.swift
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverViewModelTests.swift
Labels: Jetpack App, Account Settings

#22414 Integrate gutenberg-mobile release v1.111.0
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22052 In-App Feedback Prompt UI
  WordPress/Classes/Utility/In-App Feedback/AppRatingsUtility.swift
  WordPress/Classes/Utility/In-App Feedback/InAppFeedbackCoordinator.swift
  WordPress/Classes/Utility/In-App Feedback/InAppFeedbackPromptCoordinator.swift
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteOverlaysCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverViewModelTests.swift
Labels: Jetpack App, In-App Rating Prompt

#22411 Reader Navigation: Add a blur effect to the trailing end
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22419 Reader Navigation: Add state transition animations to the filter chips
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22405 Reader: Add blogs and tags empty filter sheet view
  WordPress/Classes/ViewRelated/Reader/Filter/EmptyActionView.swift
  WordPress/Classes/ViewRelated/Reader/Filter/EmptyFilterView.swift
  WordPress/Classes/ViewRelated/Reader/Filter/EmptyFilterViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22406 Reader: Update Reader select interests styles
  WordPress/Classes/ViewRelated/Reader/ReaderCardsStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsStyleGuide.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.xib
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22050 In App Feedback Prompt Groundwork
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/Utility/In-App Feedback/AppRatingsUtility.swift
  WordPress/Classes/Utility/In-App Feedback/InAppFeedbackPromptCoordinator.swift
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteOverlaysCoordinator.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Stats/StatsViewController.m
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/AppRatingUtilityTests.swift
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverCoordinatorTests.swift
  WordPress/WordPressTest/EUUSCompliance/CompliancePopoverViewModelTests.swift
  WordPress/WordPressTest/RemoteFeatureFlagStoreMock.swift
Labels: [Type] Task, In-App Rating Prompt

#22427 Fix crash when tapping Share on iPad
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
Labels: [Type] Crash, My Site

#22421 Update WordPressKit to 11.0.0 and WordPressAuthenticator to 9.0.0
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Environment/Environment.swift
  WordPress/Classes/Utility/Networking/WordPressComRestApi+Defaults.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
Labels: [Type] Core

#22430 Tab bar animation: filter and sort tab bar subviews
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
Labels: [Type] Bug, Design

#22416 Reader: Update no results view for Reader blog follows
  WordPress/Classes/Extensions/NoResultsViewController+FollowedSites.swift
  WordPress/Classes/ViewRelated/Reader/Filter/EmptyFilterViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/Classes/ViewRelated/Views/NoResultsViewController.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-following-empty-results.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-following-empty-results.imageset/wp-illustration-following-empty-results-dark.pdf
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-following-empty-results.imageset/wp-illustration-following-empty-results.pdf
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22418 Reader: Add or update analytic events
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22437 Integrate gutenberg-mobile release v1.110.1
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22446 Integrate gutenberg-mobile release v1.111.1
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22436 Reader: Update Reader strings to new terminologies
  WordPress/Classes/Services/ReaderSiteService.m
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewController+Cells.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderBlockedSiteCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
  WordPress/Classes/ViewRelated/Reader/ReaderReblogPresenter.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSiteStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/ReaderSitesCardCell.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Helper.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/WordPressTest/ReaderPostCellActionsTests.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22450 Reader: Show the last visited stream
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22426 Reader Navigation: Add Edit functionality to the filter sheet
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22453 Disable the ability of creating new Story posts
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.m
Labels: [Type] Task, WP Stories

#22451 Revert Site Header change and re-introducing quick site switching
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
Labels: [Type] Task, My Site

#22452 Reader: Update Reader strings to new terminologies
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22457 Site Monitoring: Add remote feature flag
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
Labels: [Type] Task, Site Monitoring

#22476 Remove image optimization pop-up
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaSettings.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/UITests/Tests/AppSettingsTests.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/WordPressTest/MediaSettingsTests.swift
Labels: Media, Gutenberg

#22475 Site Monitoring: Add site monitoring menu item
  WordPress/Classes/Models/Blog.h
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SiteMonitoring.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Strings.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Resources/AppImages.xcassets/tool.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/tool.imageset/tool.pdf
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22480 Site Monitoring: Add universal links
  WordPress/Classes/Utility/Universal Links/Routes+MySites.swift
  WordPress/Classes/Utility/Universal Links/UniversalLinkRouter.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SiteMonitoring.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
Labels: [Type] Task, Site Monitoring

#22482 Integrate gutenberg-mobile release v1.111.2
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg

#22485 Fix a compilation issue in trunk due to automatic merge
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Site Monitoring

#22449 [Gutenberg] Disable Story block
  Gutenberg/config.yml
  Podfile.lock
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg

#22489 Merge 24.1 editorialized release notes (plus other changes)
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaSettings.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/SitePickerViewController+SiteActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergMediaPickerHelper.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/UITests/Tests/AppSettingsTests.swift
  WordPress/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  WordPress/UITestsFoundation/Screens/MySiteScreen.swift
  WordPress/WordPressTest/MediaSettingsTests.swift
Labels: Releases

#22468 Enable In-App Feedback in beta builds
  WordPress/Classes/Utility/In-App Feedback/AppRatingsUtility.swift
  WordPress/Classes/Utility/In-App Feedback/InAppFeedbackPromptCoordinator.swift
Labels: [Type] Bug, In-App Rating Prompt

#22494 Site Monitoring: Add compact filters
  WordPress/Classes/ViewRelated/System/FilterCompact/FilterCompactBar.swift
  WordPress/Classes/ViewRelated/System/FilterCompact/FilterCompactButton.swift
  WordPress/Classes/ViewRelated/System/FilterCompact/FilterCompactDatePicker.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22434 Update WordPressKit and WordPressAuthenticator
  Podfile
  Podfile.lock
  WordPress/Classes/Services/MediaService.m
  WordPress/Classes/Services/MenusService.m
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/Services/SiteAddressService.swift
  WordPress/Classes/Utility/WPError.m
  WordPress/WordPressTest/PeopleServiceTests.swift
  WordPress/WordPressTest/QRLogin/QRLoginVerifyCoordinatorTests.swift
Labels: [Type] Core

#22471 Site Monitoring: Add AtomicSiteService
  WordPress/Classes/Services/AtomicSiteService.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22484 Reader: Use new button styles for Reader no results view
  WordPress/Classes/ViewRelated/Reader/ReaderSearchViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift
Labels: Reader, [Type] Task, Part of a WIP Feature

#22487 Reader: Fix filtering by RSS in the subscription feed
  WordPress/Classes/Services/Reader Post/ReaderPostService.m
  WordPress/Classes/ViewRelated/Reader/ReaderHelpers.swift
Labels: [Type] Bug, Reader, Part of a WIP Feature

#22483 Site Monitoring: Add metrics webview
  WordPress/Classes/Extensions/View+Helpers.swift
  WordPress/Classes/Models/Blog.m
  WordPress/Classes/Utility/WebView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SiteMonitoring.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugFeatureFlagsView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22491 Refactor NotificationsViewController & Add NotificationsViewModel 2
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationsViewModelTests.swift
Labels: Notifications, [Type] Task

#22495 Rename Environment to avoid conflicts with SwiftUI.Environment
  Modules/Sources/DesignSystem/Components/DSButton.swift
  Modules/Sources/DesignSystem/Components/DSButtonStyle.swift
  Modules/Sources/DesignSystem/Gallery/ColorGallery.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Editor/GutenbergRollout.swift
  WordPress/Classes/Utility/Editor/GutenbergSettings.swift
  WordPress/Classes/Utility/Environment/AppEnvironment.swift
  WordPress/Classes/Utility/Networking/WordPressComRestApi+Defaults.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Free to Paid Plans/DashboardDomainsCardSearchView.swift
  WordPress/Classes/ViewRelated/Blog/BlogPersonalization/BlogDashboardPersonalizationView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesView.swift
  WordPress/Classes/ViewRelated/Developer/StoreSandboxSecretScreen.swift
  WordPress/Classes/ViewRelated/Developer/WeeklyRoundupDebugScreen.swift
  WordPress/Classes/ViewRelated/NUX/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingAutoSharingView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/EditorSettingsServiceTests.swift
  WordPress/WordPressTest/GutenbergSettingsTests.swift
Labels: General, [Type] Task

#22500 Site Monitoring: Add Details View
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringEntryDetailsView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22469 Update UI tests for Reader
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v2_read_tags_cards.json
  WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController+Ghost.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTopicsCardCell.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItem.swift
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
Labels: [Type] Enhancement, Reader, Testing

#22351 Refactor `NotificationsViewController` & Add `NotificationsViewModel`
  WordPress/Classes/Services/NotificationSyncMediator.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Notification/Controllers/NotificationsViewControllerTests.swift
  WordPress/WordPressTest/NotificationsViewModelTests.swift
Labels: [Type] Enhancement, Notifications

#22496 Fix Stored Credentials login with 2FA
  Podfile
  Podfile.lock
Labels: [Type] Bug, Login

#22503 Fix: Hide Jetpack Social row if there are no publicize services
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+JetpackSocial.swift
Labels: [Type] Enhancement, Jetpack Social

#22504 Site Monitoring: Add PHP logs and web server logs
  Podfile
  Podfile.lock
  WordPress/Classes/Services/AtomicSiteService.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/NoAtomicLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/PHPLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringEntryDetailsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
  WordPress/Classes/ViewRelated/Views/PagingFooterView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Site Monitoring

#22505 Site Monitoring: Some enhancements
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/PHPLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringEntryDetailsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
  WordPress/Classes/ViewRelated/System/FilterCompact/FilterCompactButton.swift
Labels: [Type] Task, Site Monitoring
