Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-03, with the labels that each got.

#22742 Enlarge Traffic date picker tap targets
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerView.swift
Labels: Stats, [Type] Task

#22734 Stats Traffic: Improve support for larger text sizes on the Traffic tab
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerView.swift
  WordPress/UITests/Tests/StatsTests.swift
Labels: [Type] Enhancement, Stats

#22736 Open Traffic By Day tab from Stats dashboard card
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Stats/DashboardStatsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Stats, [Type] Task

#22741 Notifications: Remove reply icon from notifications title
  WordPress/Classes/ViewRelated/Notifications/FormattableContent/Ranges/NotificationContentRangeFactory.swift
  WordPress/WordPressTest/NotificationContentRangeFactoryTests.swift
Labels: Notifications, [Type] Task

#22713 Remove Gutenberg Video block from excerpt to hide VideoPress URLs
  Podfile
  Podfile.lock
Labels: [Type] Enhancement, Gutenberg

#22746 Update RELEASE-NOTES for Stats Traffic project
  RELEASE-NOTES.txt
Labels: Stats, [Type] Task

#22750 Stats: Limit date to current site date when fetching Stats totals from stats/visits endpoint
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: [Type] Bug, Stats

#22748 Stats: Fix data shown or for incorrect period issues
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodTableViewControllerDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Deprecated/SiteStatsPeriodViewModelDeprecated.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Referrer Details/ReferrerDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/WordPressTest/ViewRelated/Stats/Traffic/SiteStatsPeriodViewModelTests.swift
Labels: [Type] Bug, Stats

#22726 Reader: Update tags recommendation card position
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/WordPressTest/ReaderCardServiceTests.swift
Labels: Reader, [Type] Task

#22747 Reader Comments: Avoid scrolling to an invalid index path
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: [Type] Enhancement, Reader, Comments

#22758 [Gutenberg] Remove code associated to Story block
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
Labels: Gutenberg

#22757 Sync Publishing: Add sync publishing remote feature flag
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
Labels: [Type] Task, Feature Flags

#22689 Offline Mode: Sync Publishing
  WordPress/Classes/Models/BasePost.h
  WordPress/Classes/Services/PostCoordinator+Notices.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostService+UnattachedMedia.swift
  WordPress/Classes/Services/PostService.h
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
  WordPress/Classes/ViewRelated/Post/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#22762 Offline Mode: Remove Edit button from post success screen
  RELEASE-NOTES.txt
  WordPress/Classes/Services/Stories/StoryEditor.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/PostPublishSuccessViewController.storyboard
  WordPress/Classes/ViewRelated/Post/PostPublishSuccessViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, Offline Mode (Sync Issues)

#22763 Offline Mode: Remove Publish button from preview
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Preview/PreviewWebKitViewController.swift
  WordPress/WordPressTest/ViewRelated/Post/Controllers/PreviewWebKitViewControllerTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22735 Bypass login flow in UI tests
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts_new.json
  WordPress/Classes/System/RootViewCoordinator.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/UITests/Tests/AppSettingsTests.swift
  WordPress/UITests/Tests/DashboardTests.swift
  WordPress/UITests/Tests/EditorAztecTests.swift
  WordPress/UITests/Tests/EditorGutenbergTests.swift
  WordPress/UITests/Tests/MainNavigationTests.swift
  WordPress/UITests/Tests/MenuNavigationTests.swift
  WordPress/UITests/Tests/NotificationTests.swift
  WordPress/UITests/Tests/PagesTests.swift
  WordPress/UITests/Tests/PostTests.swift
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITests/Tests/StatsTests.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
Labels: Testing

#22771 Reader: Restore the native scroll-to-top behavior
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabView.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewController.swift
Labels: [Type] Enhancement, Reader

#22766 Include year in Traffic date picker
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerViewModel.swift
  WordPress/WordPressTest/StatsTrafficDatePickerViewModelTests.swift
Labels: [Type] Bug, Stats

#22588 build: Upgrade to React Native 0.73
  Gutenberg/cocoapods_helpers.rb
  Gutenberg/config.yml
  Podfile.lock
  RELEASE-NOTES.txt
Labels: [Type] Task, Gutenberg, Tooling

#22634 Offline Mode: Draft sync states
  WordPress/Classes/ViewRelated/Post/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/PostListItemViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSyncStateViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/PostSyncStateViewModelTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22781 Remove unused AssetsLibrary lib
  WordPress/Classes/Services/MediaService.h
Labels: [Type] Task, Tooling

#22765 Fix an issue where the notification inline action causes the notifications view controller to leak
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
Labels: Notifications

#22775 Reader: Update Reader details like view to match web
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
Labels: [Type] Enhancement, Reader

#22783 Merge `release/24.4` with editorialized release notes
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerViewModel.swift
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
  WordPress/WordPressTest/StatsTrafficDatePickerViewModelTests.swift
Labels: Releases

#22787 Hide Reader Details back button when it is the first view controller in the navigation stack
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Notifications

#22790 Reader: Update tags filter to be before blogs filter
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
Labels: [Type] Enhancement, Reader

#22785 [Notifications] Debounce like inline action
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
Labels: [Type] Bug, Notifications

#22793 Update WordPressKit to 14.0.1
  Podfile.lock
Labels: [Type] Bug

#22800 Integrate gutenberg-mobile release v1.114.1
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22804 Fix notification row selection style in landscape mode
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
Labels: Notifications, Jetpack App

#22655 [Gutenberg] Add error boundary components and exception logging
  Gutenberg/config.yml
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  Scripts/BuildPhases/CopyGutenbergJS.sh
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  fastlane/lanes/build.rb
Labels: Gutenberg, Tracks

#22801 Use single feature announcement screen in 24.4
  WordPress/Classes/ViewRelated/WhatsNew/Presenter/WhatIsNewScenePresenter.swift
Labels: Stats, [Type] Task

#22808 Reader: Fix navigation button animation issues
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationButton.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderNavigationMenu.swift
Labels: [Type] Enhancement, Reader

#22814 Post a Slack message after builds have been deployed to TestFlight
  fastlane/lanes/build.rb
Labels: Tooling, Releases

#22806 Media: Check if blog supports stock photos / tenor
  WordPress/Classes/ViewRelated/Media/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
Labels: [Type] Bug, Media, Linked to App Review

#22817 Notifications: Ensure that the section is also within bounds
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
Labels: [Type] Enhancement, Notifications

#22819 [Notifications] Debounce like action on notifications
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewModel.swift
Labels: [Type] Bug, Notifications

#22822 Improve Unit Tests reliability
  WordPress/WordPressTest/AtomicAuthenticationServiceTests.swift
Labels: Testing

#22827 [Unit Tests] Increase testGetAuthCookie timeout to cope with execution time in CI
  WordPress/WordPressTest/AtomicAuthenticationServiceTests.swift
Labels: Testing

#22791 Reader: Use new Reader streams discover endpoint
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v2_read_tags_cards.json
  Podfile
  Podfile.lock
  WordPress/Classes/Models/ReaderCard+CoreDataClass.swift
  WordPress/Classes/Services/ReaderCardService.swift
  WordPress/Classes/Utility/BuildInformation/RemoteFeatureFlag.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderCardServiceTests.swift
  WordPress/WordPressTest/ReaderCardTests.swift
  WordPress/WordPressTest/Test Data/reader-cards-success.json
  WordPress/WordPressTest/Test Data/reader-cards.json
Labels: [Type] Enhancement, Reader

#22810 Stats: Fix a crash in a remote service when accessing date formatter
  Podfile
  Podfile.lock
Labels: [Type] Crash, Stats

#22812 Hide partner themes from theme browser
  WordPress/Classes/Services/ThemeService.m
Labels: [Type] Bug, Themes

#22830 Fix dynamic card icons display issue
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
Labels: [Type] Bug, My Site Dashboard

#22831 Integrate gutenberg-mobile release v1.115.0
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22834 Add a workaround for an issue with RN not rendering local files without a file extension
  WordPress/Classes/Models/Media.h
  WordPress/Classes/Services/MediaImageService.swift
Labels: [Type] Bug, Media

#22837 Upgrade to release-toolkit 10.0.0
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  fastlane/lanes/release.rb
Labels: Tooling

#22803 Enhance error handling for notifications from private blogs
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: [Type] Bug, Notifications, Reader, Comments

#22807 Offline Mode: Add new APIs for saving post changes
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Extensions/Foundation+Extensions.swift
  WordPress/WordPressTest/MediaBuilder.swift
  WordPress/WordPressTest/PostRepositorySaveTests.swift
  WordPress/WordPressTest/Test Data/remote-post.json
Labels: [Type] Task, Offline Mode (Sync Issues)

#22846 Release 24.5 tasks: Updated outdated Pods
  Podfile.lock
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Task, dependencies

#22826 Stats Traffic: Increase number of weeks to fetch for monthly chart
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
Labels: [Type] Bug, Stats

#22848 Offline Mode: Integrate new PostRepository.save method in main publishing flows
  Podfile
  Podfile.lock
  WordPress/Classes/Services/PostAutoUploadInteractor.swift
  WordPress/Classes/Services/PostCoordinator+Notices.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/Classes/Services/PostRepository.swift
  WordPress/Classes/Services/PostServiceRemote+Concurrency.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/WordPressTest/PostRepositorySaveTests.swift
Labels: [Type] Task, Offline Mode (Sync Issues)

#22857 Stats Traffic: Fix a crash on iOS 15 & 16 when expanding rows
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
Labels: [Type] Crash, Stats

#22860 Reader: Fix blinking navigation bar on dark mode in Reader Post
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
Labels: Reader

#22869 Task/make new feature announcement UI the default
  WordPress/Classes/ViewRelated/WhatsNew/Presenter/WhatIsNewScenePresenter.swift
Labels: [Type] Task, What's New

#22862 Exclude Gutenberg source map file from binary
  Gutenberg/cocoapods_helpers.rb
  fastlane/lanes/build.rb
Labels: [Type] Bug, Gutenberg

#22861 [Design System] Add icon customisability to `DSButton`
  Modules/Sources/DesignSystem/Components/DSButton.swift
  Modules/Sources/DesignSystem/Gallery/DSButtonGallery.swift
Labels: [Type] Enhancement, Design System

#22841 Design System: Move Length constants to DS namespace
  Modules/Sources/DesignSystem/Components/DSButton.swift
  Modules/Sources/DesignSystem/Foundation/CGFloat+DesignSystem.swift
  Modules/Sources/DesignSystem/Foundation/Length.swift
  Modules/Sources/DesignSystem/Gallery/DSButtonGallery.swift
  Modules/Sources/DesignSystem/Gallery/LengthGallery.swift
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Domains/GoogleDomains/DashboardGoogleDomainsCardView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Dynamic/DynamicDashboardCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/NoAtomicLogsView.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainSuggestions/RegisterDomainTransferFooterView.swift
  WordPress/Classes/ViewRelated/Domains/Views/DomainsStateView.swift
  WordPress/Classes/ViewRelated/Domains/Views/PrimaryDomainView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsPresentationCard.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListCardView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/AllDomainsListViewController.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsBaseTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/Chart/StatsTrafficBarChartView.swift
  WordPress/Classes/ViewRelated/Stats/Traffic/StatsTrafficDatePickerView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarsView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: [Type] Enhancement, Design System

#22878 Update GravatarService to use the new AvatarService
  WordPress/Classes/Services/GravatarService.swift
  WordPress/WordPressTest/GravatarServiceTests.swift
Labels: Feature Gravatar SDK integration

#22880 Fix compiler errors in Design System module
  Modules/Sources/DesignSystem/Components/DSButton.swift
Labels: [Type] Bug, Design System

#22425 [Gutenberg] Highlight text bug fixes
  Gutenberg/config.yml
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
Labels: Gutenberg

#22838 Compose a user agent instead of using WKWebView
  WordPress/Classes/Utility/WPUserAgent.m
  WordPress/Classes/Utility/WPUserAgent.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/WPUserAgentTests.m
Labels: [Type] Tech Debt

#22876 Fix Reader interest selection index out of bounds
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderInterestsDataSource.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/WordPressTest/ReaderInterestsDataSourceTests.swift
Labels: [Type] Enhancement, Reader

#22885 Reader: Remove returning a cached `ReaderSiteTopic`
  RELEASE-NOTES.txt
  WordPress/Classes/Services/ReaderTopicService.m
Labels: [Type] Bug, Reader

#22881 Reader: Use escaped pattern when fetching search suggestion
  WordPress/Classes/Services/ReaderSearchSuggestionService.swift
Labels: [Type] Crash, Reader

#22875 Reader: Update `Edit` to `Manage` in Reader filter sheet
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
Labels: Reader, [Type] Task

#22873 Reader: Use follow for tag strings instead of subscribe
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterSheetViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewController+Cells.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/Reader/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Select Interests/ReaderSelectInterestsViewController.swift
  WordPress/Classes/ViewRelated/Reader/WPStyleGuide+Reader.swift
  WordPress/UITests/Tests/ReaderTests.swift
  WordPress/UITestsFoundation/Screens/ReaderScreen.swift
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
Labels: Reader, [Type] Task

#22889 Update podfile: Gravatar testspecs
  Podfile
  Podfile.lock
Labels: Feature Gravatar SDK integration

#22874 [Gutenberg] Upload React Native bundle and source map files from Gutenberg framework
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg, Tooling

#22829 Reader: Auto-update filter chips when subscriptions are updated
  WordPress/Classes/Models/ReaderTagTopic.swift
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/Filter/ReaderTopicChangeObserver.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderManageScenePresenter.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabViewModel.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ReaderTabViewModelTests.swift
Labels: [Type] Enhancement, Reader

#22894 [Gravatar] Fetch Gravatar profile using async fetch method
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
Labels: Feature Gravatar SDK integration

#22900 Update WordPressKit to address #22891
  Podfile
  Podfile.lock
  WordPress/WordPressTest/MenusServiceTests.m
  WordPress/WordPressTest/ThemeServiceTests.m
Labels: Tooling

#22904 [Gravatar] Rollback usage of fetch Gravatar profile
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueTableViewController.swift
  WordPress/Classes/ViewRelated/NUX/LoginEpilogueUserInfo.swift
Labels: Gravatar

#22915 Integrate gutenberg-mobile release v1.116.0
  Gutenberg/config.yml
  Podfile.lock
Labels: Gutenberg

#22909 Remove unnecessary `git-s3-cache` leftovers
  .buildkite/cache-builder.yml
  .buildkite/release-builds.yml
Labels: Tooling

#22908 Do not upload a build to App Center during release cycle
  .buildkite/commands/release-build-wordpress-internal.sh
  .buildkite/release-builds.yml
  fastlane/lanes/build.rb
Labels: Tooling, Releases

#22907 [Gravatar] Use new Identifier types
  WordPress/Classes/Services/GravatarService.swift
Labels: Gravatar

#22866 Stats Insights Details: Fix some Details information not being loaded
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: [Type] Bug, Stats

#22914 Stats Insights: Fix Total Comments details shows a different value
  WordPress/Classes/Stores/StatsPeriodStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: [Type] Bug, Stats

#22842 Reader: Update Reader fetch followed sites to fetch all sites
  Podfile
  Podfile.lock
  WordPress/Classes/Services/ReaderTopicService+FollowedSites.swift
  WordPress/Classes/Services/ReaderTopicService.h
  WordPress/Classes/Services/ReaderTopicService.m
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Filter/FilterProvider.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowedSitesViewController.swift
  WordPress/Classes/ViewRelated/Reader/Tab Navigation/ReaderTabItemsStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Bug, Reader

#22851 [WIP] HACK Week: Reader detail customization
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/reader.css
  WordPress/Classes/ViewRelated/Reader/ReaderFollowButton.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/ReaderTopicCollectionViewCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Tags View/TopicsCollectionView.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySetting.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
  WordPress/Resources/HTML/richCommentStyle.css
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: [Type] Enhancement, Reader, Part of a WIP Feature

#22890 Stats Insights: Fix "An error occurred" errors
  Podfile
  Podfile.lock
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsInsightsCache.swift
  WordPress/Classes/Stores/StatsInsightsStore.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
Labels: [Type] Bug, Stats
