Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2024-12, with the labels that each got.

#23866 Encapsulate UserDataStore in UserService
  WordPress/Classes/Services/UserService.swift
  WordPress/Classes/Users/UserProvider.swift
  WordPress/Classes/Users/ViewModel/UserDeleteViewModel.swift
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/WordPressTest/UserListViewModelTests.swift
Labels: [Type] Enhancement

#23839 build: Update GutenbergKit ref
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Gutenberg

#23875 Merge 25.5 release notes to `trunk`
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#23853 Reader: Add a way to view posts that are restricted
  Modules/Sources/WordPressUI/Extensions/UITextView+Extensions.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderReadMoreView.swift
Labels: Reader

#23845 Fix rare crash – link tap in Reader
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
Labels: Reader

#23880 Reader: Fix layout for cross-post cells on iPad
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
Labels: Reader

#23884 Update Blog.dotComID value if needed before saving
  WordPress/Classes/Models/Blog/Blog.m
  WordPress/WordPressTest/BlogBuilder.swift
  WordPress/WordPressTest/BlogTests.swift
Labels: [Type] Bug

#23857 Present `WpApiError.errorMessage` instead of `localizedDescription`
  WordPress/Classes/ApplicationToken/ApplicationTokenListView.swift
  WordPress/Classes/Extensions/WpApiError+Localized.swift
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
Labels: Self-hosted

#23886 iPad: Default to the displace mode
  WordPress/Classes/System/Root View/SplitViewRootPresenter.swift
Labels: iPad

#23766 Pass the expected account email to the WP.com login webpage
  WordPress/Classes/Login/WordPressDotComAuthenticator.swift
  WordPress/WordPressTest/Login/WordPressDotComAuthenticatorTests.swift
Labels: Self-hosted

#23838 Make Xcode report concurrency warnings on the Modules package
  Modules/Package.swift
Labels: [Type] Tech Debt

#23891 Refactor: Remove ImageLoader usages from Blaze
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Media/AsyncImageView.swift
  WordPress/Classes/Utility/Media/ImageRequest.swift
  WordPress/Classes/ViewRelated/Blaze Campaigns/BlazeCampaignTableViewCell.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCampaignView.swift
Labels: Media

#23889 Fix an issue with posts shown embedded in the notifications popover
  RELEASE-NOTES.txt
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
Labels: Reader

#23887 Add media URLs and entity IDs
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/ImmuTable/WPImmuTableRows.swift
  WordPress/Classes/ViewRelated/Cells/TextViewTableCell.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Site Creation/Shared/UITableView+Header.swift
  WordPress/Classes/ViewRelated/Views/EntityMetadataTableFooterView.swift
Labels: Media

#23900 [Tooling] Remove Backmerge PR creation from the `publish_release` lane
  fastlane/lanes/release.rb
Labels: Tooling

#23897 Reader: Enhance cover image
  RELEASE-NOTES.txt
  WordPress/Classes/Extensions/Interpolation.swift
  WordPress/Classes/Networking/MediaHost+ReaderPost.swift
  WordPress/Classes/Utility/Media/AsyncImageView.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.xib
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailNewHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Views/ReaderAvatarView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-reading-preferences.imageset/Contents.json
  WordPress/Jetpack/AppImages.xcassets/Reader/reader-reading-preferences.imageset/reader-reading-preferences.pdf
Labels: Media

#23890 Refactor: Add WordPressMedia
  Modules/Package.swift
  Modules/Sources/WordPressMedia/AnimagedImage.swift
  Modules/Sources/WordPressMedia/ImageDecoder.swift
  Modules/Sources/WordPressMedia/ImageDownloader.swift
  Modules/Sources/WordPressMedia/ImageRequest.swift
  Modules/Sources/WordPressMedia/MediaHost.swift
  Modules/Sources/WordPressMedia/MemoryCache.swift
  Modules/Sources/WordPressTesting/Empty.swift
  Modules/Sources/WordPressTesting/Resources/anim-reader.gif
  Modules/Sources/WordPressTesting/Resources/test-image.jpg
  Modules/Tests/WordPressMediaTests/ImageDownloaderTests.swift
  Modules/Tests/WordPressMediaTests/MediaHostTests.swift
  WordPress/Classes/Extensions/NSAttributedString+Helpers.swift
  WordPress/Classes/Networking/MediaHost+AbstractPost.swift
  WordPress/Classes/Networking/MediaHost+Blog.swift
  WordPress/Classes/Networking/MediaHost+ReaderPost.swift
  WordPress/Classes/Networking/MediaRequestAuthenticator.swift
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/Classes/Utility/Media/AsyncImageView.swift
  WordPress/Classes/Utility/Media/CachedAsyncImage.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Extensions.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Gravatar.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/ImageViewController.swift
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/Utility/Media/MemoryCache+Extensions.swift
  WordPress/Classes/Utility/Media/UIImageView+ImageDownloader.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blaze Campaigns/BlazeCampaignTableViewCell.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCampaignView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Me.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Gutenberg/AztecAttachmentDelegate.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergMediaEditorImage.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarQuickEditorPresenter.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaCollectionCell.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationMediaDownloader.swift
  WordPress/Classes/ViewRelated/Pages/Views/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/Preview/RevisionPreviewTextViewManager.swift
  WordPress/Classes/ViewRelated/Post/Views/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/WPImageViewController+Swift.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+MeTab.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextImage.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaHostTests.swift
  WordPress/WordPressTest/MediaImageServiceTests.swift
  WordPress/WordPressTest/WordPressUnitTests.xctestplan
Labels: Media

#23904 Show Notifications bell in more places in Reader
  WordPress/Classes/System/Root View/ReaderPresenter.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Sharing.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23905 Move FaviconService to WordPressMedia and make it compatible with Swift 6
  Modules/Sources/WordPressMedia/FaviconService.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Views/ReaderSiteIconView.swift
Labels: Media

#23894 [Tooling] Use the `xcode-16.2-macos-14.7.1-v1` CI image
  .buildkite/shared-pipeline-vars
  .xcode-version
Labels: Tooling

#23688 Add Image Playground Support
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAppAnalytics+Media.swift
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteIconPickerPresenter.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergExternalMeidaPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPickerMenu+ImagePlayground.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Media

#23909 Five improvements for ReaderDetailHeaderView
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.storyboard
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: Reader

#23913 Fix order in Stats / Subsribers / Emails
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats

#23912 Fix off-by-one error in post likes
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: Reader

#23908 Fix crash in Reader stream empty state views
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23919 build: Upgrade GutenbergKit
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Enhancement, Gutenberg

#23922 Replace WPImageViewController with LightboxViewController
  RELEASE-NOTES.txt
  WordPress/Classes/Networking/MediaHost+AbstractPost.swift
  WordPress/Classes/Networking/MediaHost+Blog.swift
  WordPress/Classes/Networking/MediaHost+Extensions.swift
  WordPress/Classes/Networking/MediaHost+ReaderPost.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/ContentCoordinator.swift
  WordPress/Classes/Utility/Media/AsyncImageView.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/Classes/Utility/Media/ImageLoadingController.swift
  WordPress/Classes/Utility/Media/UIImageView+ImageDownloader.swift
  WordPress/Classes/ViewRelated/Blaze/Overlay/BlazePostPreviewView.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.h
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.m
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxImagePageViewController.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxImageScrollView.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxItem.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/Preview/MediaPreviewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/Views/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/FeaturedImageViewController.h
  WordPress/Classes/ViewRelated/Post/FeaturedImageViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
  WordPress/Classes/ViewRelated/Post/Views/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/WPImageViewController+Swift.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/WPImageViewController.h
  WordPress/Classes/ViewRelated/Reader/Controllers/WPImageViewController.m
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichContentView.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextImage.swift
  WordPress/Classes/ViewRelated/Views/WPRichText/WPRichTextMediaAttachment.swift
  WordPress/WordPressTest/ReaderDetailCoordinatorTests.swift
Labels: Media

#23924 Remove ImageLoader and ImageDimensionFetcher
  WordPress/Classes/Utility/Image Dimension Parser/ImageDimensionFetcher.swift
  WordPress/Classes/Utility/Image Dimension Parser/ImageDimensionParser.swift
  WordPress/Classes/Utility/Media/ImageLoader.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/ImageDimensionParserTests.swift
  WordPress/WordPressTest/Test Images/100x100-png
  WordPress/WordPressTest/Test Images/100x100.gif
  WordPress/WordPressTest/Test Images/100x100.jpg
  WordPress/WordPressTest/Test Images/invalid-gif.gif
  WordPress/WordPressTest/Test Images/invalid-jpeg-header.jpg
  WordPress/WordPressTest/Test Images/valid-gif-header.gif
  WordPress/WordPressTest/Test Images/valid-jpeg-header.jpg
  WordPress/WordPressTest/Test Images/valid-png-header
  WordPress/WordPressTest/iphone-photo.heic
Labels: Media

#23925 Remove CachedAnimatedImageView and related types
  WordPress/Classes/Extensions/Media/CircularProgressView+ActivityIndicatorType.swift
  WordPress/Classes/Utility/Media/GIFPlaybackStrategy.swift
  WordPress/Classes/ViewRelated/Cells/MediaItemHeaderView.swift
  WordPress/Classes/ViewRelated/Media/CachedAnimatedImageView.swift
  WordPress/Classes/ViewRelated/Media/SolidColorActivityIndicator.swift
  WordPress/Classes/ViewRelated/Views/RichTextView/AnimatedGifAttachmentViewProvider.swift
  WordPress/Classes/ViewRelated/Views/RichTextView/RichTextView.swift
Labels: Media

#23926 Remove AnimatedImageCache and related types
  WordPress/Classes/Utility/Media/MediaExternalExporter.swift
  WordPress/Classes/Utility/Media/MemoryCache+Extensions.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergImageLoader.swift
  WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergMediaEditorImage.swift
  WordPress/Classes/ViewRelated/Media/AnimatedImageCache.swift
Labels: Media

#23928 Add ImagePrefetcher
  Modules/Package.swift
  Modules/Sources/WordPressMedia/ImagePrefetcher.swift
  Modules/Sources/WordPressMedia/ImageRequest.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/Utility/Media/ImageDownloader+Extensions.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23930 Fix an issue with blogging reminders prompt not being shown after publishing a new post
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/Controllers/EditPageViewController.swift
  WordPress/Classes/ViewRelated/Post/EditPostViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostEditor.swift
  WordPress/Classes/ViewRelated/Post/PostListEditorPresenter.swift
Labels: Posts + Pages

#23931 Enhance BloggingRemindersFlow
  Modules/Sources/WordPressUI/Extensions/UIButton+Extensions.swift
  Modules/Sources/WordPressUI/Views/BottomToolbarView.swift
  Modules/Sources/WordPressUI/Views/SeparatorView.swift
  Modules/Sources/WordPressUI/Views/Settings/ExperimentalFeatures/ExperimentalFeaturesList.swift
  Modules/Sources/WordPressUI/Views/Settings/ExperimentalFeatures/ExperimentalFeaturesViewModel.swift
  Modules/Sources/WordPressUI/Views/Settings/ExperimentalFeatures/Feature.swift
  Modules/Sources/WordPressUI/Views/SpacerView.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/Spotlight/SearchManager.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/Blog/Blog Details/Views/RestApiUpgradePrompt.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersAnimator.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/BloggingRemindersNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/Blogging Reminders/Time Selector/TimeSelectionViewController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersActions.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersFlow.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersFlowCompletionViewController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersFlowIntroViewController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersFlowSettingsViewController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersNavigationController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersPushPromptViewController.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/BloggingRemindersTracker.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/CalendarDayToggleButton.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/TimeSelector/BloggingRemindersTimeSelectionButton.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/TimeSelector/BloggingRemindersTimeSelectionView.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/TimeSelector/BloggingRemindersTimeSelectionViewController.swift
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/SharingAuthorizationHelper.m
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackOverlayViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/JetpackRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/People/Controllers/PeopleViewController.swift
  WordPress/Classes/ViewRelated/Post/Controllers/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/LightNavigationController.swift
  WordPress/Classes/ViewRelated/Post/Utils/PostNoticeNavigationCoordinator.swift
  WordPress/Classes/ViewRelated/Post/Utils/PostNoticePublishSuccessView.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderVisitSiteAction.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Comments/Controllers/FullScreenCommentReplyViewControllerTests.swift
Labels: Blogging Reminders

#23932 Fix an issue with compliance popover not dismissing for self-hosted site
  Modules/Sources/DesignSystem/Foundation/CGFloat+DesignSystem.swift
  Modules/Sources/DesignSystem/Gallery/LengthGallery.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverCoordinator.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverViewController.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverViewModel.swift
Labels: General
