Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-10, with the labels that each got.

#24907 Fix rare crash in Stats / Subscribers
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailsViewModel.swift
Labels: Stats

#24909 build: Update GutenbergKit version
  Modules/Package.resolved
  Modules/Package.swift
Labels: [Type] Task, Gutenberg

#24878 Fix deprecated onChange API usages
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/Utility/In-App Feedback/ZendeskAttachmentsSection.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscribersView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/Excerpt/PostSettingsExcerptEditor.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/Excerpt/PostSettingsGenerateExcerptView.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsView.swift
Labels: [Type] Tech Debt

#24898 Add "Today" card
  Modules/Sources/JetpackStats/Analytics/StatsEvent.swift
  Modules/Sources/JetpackStats/Cards/CardViewModel.swift
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/ChartCardViewModel.swift
  Modules/Sources/JetpackStats/Cards/TodayCard.swift
  Modules/Sources/JetpackStats/Cards/TodayCardConfiguration.swift
  Modules/Sources/JetpackStats/Cards/TodayCardViewModel.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListViewModel.swift
  Modules/Sources/JetpackStats/Cards/TrafficCardConfiguration.swift
  Modules/Sources/JetpackStats/Screens/StatsMainView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/StatsViewModel.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/Formatters/StatsDateRangeFormatter.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/PulseAnimationModifier.swift
  Modules/Sources/JetpackStats/Utilities/StatsDateRange.swift
  Modules/Sources/JetpackStats/Views/Customization/AddCardSheet.swift
  Modules/Sources/JetpackStats/Views/EditCardMenuContent.swift
  Modules/Sources/JetpackStats/Views/LegacyFloatingDateControl.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/TimezoneInfoView.swift
  Modules/Sources/WordPressUI/Views/AdaptiveTabBar.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent+JetpackStats.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
Labels: Stats

#24894 Tags: More Improvements
  Modules/Sources/WordPressUI/Views/DataView/DataViewSearchView.swift
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsCategoriesRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsTagsRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostTagsView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Publishing/PublishPostViewController.swift
  WordPress/Classes/ViewRelated/Tags/SiteTagsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsViewModel.swift
Labels: Posts + Pages

#24896 Fix an issue with toolbar in Reader articles sporadically reappearing
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader

#24913 Remove .newsletterSubscribers FF
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/People/Controllers/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/People/Controllers/PeopleViewController.swift
  WordPress/Classes/ViewRelated/People/Controllers/PersonViewController.swift
  WordPress/Classes/ViewRelated/Stats/Subscribers/StatsSubscribersViewController.swift
Labels: General

#24912 Remove .newPublishingSheet FF
  Sources/WordPressData/Blog+Extensions.swift
  Tests/KeystoneTests/Tests/Services/PostCoordinatorTests.swift
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/Utility/SiteDateFormatters.swift
  WordPress/Classes/ViewRelated/Post/Controllers/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/Blog+Title.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+Helpers.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+JetpackSocial.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
  WordPress/Classes/ViewRelated/Post/Publishing/PublishPostViewController.swift
  WordPress/Classes/ViewRelated/Post/Publishing/Views/PostMediaUploadsSnackbarView.swift
  WordPress/Classes/ViewRelated/Post/Publishing/Views/PrepublishingAutoSharingView.swift
  WordPress/Classes/ViewRelated/Post/Publishing/Views/PrepublishingSocialAccountsTableFooterView.swift
  WordPress/Classes/ViewRelated/Post/Publishing/Views/PrepublishingSocialAccountsViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
Labels: General

#24915 Release/26.4
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#24916 Remove the "Remove unused items" action
  WordPress/Classes/Services/MediaServiceRemoteCoreREST.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/MediaStorageDetailsView.swift
Labels: Media

#24918 Fix screenshot generation
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/read_feed_28523_posts.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v11_read_following_mine.json
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/ChartCardConfiguration.swift
  Modules/Sources/JetpackStats/Services/Mocks/MockStatsService.swift
  Modules/Sources/JetpackStats/StatsContext.swift
  Modules/Sources/UITestsFoundation/Screens/ActionSheetComponent.swift
  Modules/Sources/UITestsFoundation/Screens/Editor/BlockEditorScreen.swift
  Modules/Sources/UITestsFoundation/Screens/MySiteScreen.swift
  Modules/Sources/UITestsFoundation/Screens/ReaderMenuScreen.swift
  Modules/Sources/UITestsFoundation/Screens/ReaderScreen.swift
  Modules/Sources/UITestsFoundation/Screens/StatsScreen.swift
  Modules/Tests/JetpackStatsTests/MockStatsServiceTests.swift
  WordPress/Classes/System/UITesting/UITestConfigurator.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlagOverrideStore.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsViewModel.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController+FAB.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsHostingViewController.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/SheetActions.swift
  WordPress/JetpackScreenshotGeneration/JetpackScreenshotGeneration.swift
  WordPress/UITests/Utils/XCTest+Extensions.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressScreenshotGeneration/SnapshotHelper.swift
  WordPress/WordPressScreenshotGeneration/WordPressScreenshotGeneration.swift
  fastlane/lanes/screenshots.rb
Labels: Tooling

#24928 Fix an issue with the notification badge not disappearing
  Tests/KeystoneTests/Tests/Features/Notifications/NotificationsViewControllerTests.swift
  WordPress/Classes/Utility/Notifications/PushNotificationsManager.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Notifications
