Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-08, with the labels that each got.

#24706 feat: GutenbergKit uploads VideoPress files
  Modules/Package.resolved
  Modules/Package.swift
Labels: [Type] Enhancement, Gutenberg

#24707 Remove error popup from dashboard
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
Labels: My Site

#24711 Fix crash in BlobEntity.data save
  RELEASE-NOTES.txt
  Sources/WordPressData/Objective-C/include/Blog.h
  WordPress/Classes/Models/Blog/Blog+Editor.swift
  WordPress/Classes/Services/BlockEditorCache.swift
  WordPress/Classes/Services/RawBlockEditorSettingsService.swift
  WordPress/Classes/Utility/AccountHelper.swift
Labels: Gutenberg

#24727 Fix minimum size for subscriber rows
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscriberRowView.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscribersView.swift
Labels: Jetpack

#24704 Replace the Combine code with `Task`
  Modules/Package.resolved
  Modules/Package.swift
  Tests/KeystoneTests/Tests/Utility/ApplicationPasswordsRepositoryTests.swift
  WordPress/Classes/Extensions/Error.swift
  WordPress/Classes/Services/ApplicationPasswordRepository.swift
Labels: [Type] Enhancement

#24683 Remove the application password re-authentication banner
  WordPress/Classes/ViewRelated/Blog/Blog Details/ApplicationPasswordAuthenticationCard.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.h
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Login

#24674 Use TagsView for "Site Settings -> Tags"
  Modules/Sources/WordPressUI/Views/DataView/DataViewPaginatedResponse.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SettingsTitleSubtitleController.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteTagsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Cells/TitleBadgeDisclosureCell.swift
  WordPress/Classes/ViewRelated/Cells/TitleBadgeDisclosureCell.xib
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Tags/EditTagView.swift
  WordPress/Classes/ViewRelated/Tags/TagsService.swift
  WordPress/Classes/ViewRelated/Tags/TagsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsViewModel.swift
Labels: [Type] Enhancement

#24730 build: Fix invalid Claude settings file
  .claude/settings.json
Labels: [Type] Task

#24709 Fix "Can't add self as subview" crash
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader

#24737 Always load comment data when viewing comments from the notifications
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationCommentDetailViewController.swift
Labels: Notifications

#24676 Remove the `pickOne` mode from `TagsView`
  WordPress/Classes/ViewRelated/Tags/TagsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsViewModel.swift
Labels: [Type] Tech Debt

#24744 fix: Expand GutenbergKit REST API configuration
  Tests/KeystoneTests/Helpers/BlogBuilder.swift
  Tests/KeystoneTests/Tests/Features/Gutenberg/EditorConfigurationTests.swift
  WordPress/Classes/ViewRelated/Blog/My Site/MySiteViewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Bug, Gutenberg

#24747 fix: Unsuccessful GutenbergKit requests with app passwords for private Atomic sites
  Modules/Package.resolved
  Modules/Package.swift
Labels: [Type] Bug, Gutenberg

#24753 Do not use wp/v2 endpoints to load categories
  WordPress/Classes/Services/PostCategoryService.m
Labels: Tag/Category Management

#24756 refactor: Remove unused Jetpack global configuration
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Tech Debt, Gutenberg

#24745 Comments core REST API implementation fixes
  WordPress/Classes/Services/CommentServiceRemoteCoreRESTAPI.swift
Labels: Comments

#24755 fix: Avoid empty GutenbergKit media callbacks
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Bug, Gutenberg

#24759 Remove support prompts
  WordPress/Classes/ViewRelated/Support/SupportChatBot/SupportChatBotViewController.swift
Labels: Support

#24766 [iOS 26] Fix layout issues on Media screen
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaSelectionTitleView.swift
Labels: Media

#24770 [New Stats] Fix CMM-655: dark mode in range picker
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  RELEASE-NOTES.txt
Labels: Stats

#24772 Remove flaky tests
  Tests/KeystoneTests/Tests/Features/Notifications/PushNotificationsManagerTests.m
Labels: General

#24774 Fix CMM-657: edit card menu shown in the wrong places
  Modules/Sources/JetpackStats/Views/EditCardMenuContent.swift
  RELEASE-NOTES.txt
Labels: Stats
