Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-01, with the labels that each got.

#23933 Remove BottomSheetViewController (use more fluid native sheets)
  Modules/Sources/WordPressUI/BottomSheet/BottomSheetViewController.swift
  Modules/Sources/WordPressUI/BottomSheet/DrawerPresentationController.swift
  Modules/Tests/WordPressUITests/BottomSheet/BottomSheetViewControllerTests.swift
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Jetpack/Branding/Coordinator/JetpackBrandingCoordinator.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackOverlayView.swift
  WordPress/Classes/ViewRelated/Jetpack/Branding/Overlay/JetpackOverlayViewController.swift
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingSocialAccountsViewController.swift
Labels: General

#23935 Add Share action to site link context menu on dashboard
  RELEASE-NOTES.txt
  WordPress/Classes/Services/PostCoordinator.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/Utility/Notifications/PushAuthenticationManager.swift
  WordPress/Classes/Utility/WebViewController/WebKitViewController.swift
  WordPress/Classes/Utility/ZendeskUtils.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Prompts/DashboardPromptsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController+SiteActions.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/KeyringAccountHelper.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/SharingButtonsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/DeleteSiteViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteSettingsViewController+SiteManagement.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteTagsViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/StartOverViewController.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/PHPLogsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/SiteMonitoringEntryDetailsView.swift
  WordPress/Classes/ViewRelated/Blog/Site Monitoring/WebServerLogsView.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Scan/JetpackScanThreatDetailsViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaItemViewController.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/People/Controllers/InvitePersonViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+Publish.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/Views/AbstractPostHelper+Actions.swift
  WordPress/Classes/ViewRelated/Post/Views/AbstractPostMenuHelper.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Sharing.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Manage/ReaderTagsTableViewModel.swift
  WordPress/Classes/ViewRelated/System/Action Sheet/BloggingPromptsHeaderView.swift
  WordPress/Classes/ViewRelated/System/Fancy Alerts/FancyAlerts+VerificationPrompt.swift
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
Labels: My Site

#23938 Move AsyncImageView to AsyncImageKit
  Modules/Package.swift
  Modules/Sources/AsyncImageKit/Helpers/AnimagedImage.swift
  Modules/Sources/AsyncImageKit/Helpers/FaviconService.swift
  Modules/Sources/AsyncImageKit/Helpers/ImageDecoder.swift
  Modules/Sources/AsyncImageKit/Helpers/MemoryCache.swift
  Modules/Sources/AsyncImageKit/ImageDownloader.swift
  Modules/Sources/AsyncImageKit/ImagePrefetcher.swift
  Modules/Sources/AsyncImageKit/ImageRequest.swift
  Modules/Sources/AsyncImageKit/Views/AsyncImageView.swift
  Modules/Sources/AsyncImageKit/Views/CachedAsyncImage.swift
  Modules/Sources/AsyncImageKit/Views/ImageLoadingController.swift
  Modules/Sources/AsyncImageKit/Views/UIImageView+ImageDownloader.swift
  WordPress/Classes/Networking/MediaHost.swift
  WordPress/Classes/Networking/MediaRequestAuthenticator.swift
  WordPress/Classes/Utility/Blogging Reminders/BloggingRemindersScheduler.swift
  WordPress/Classes/Utility/Media/ImageDownloader+Extensions.swift
  WordPress/Classes/Utility/Media/ImageLoadingController.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconView.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopoverViewModel.swift
  WordPress/Classes/ViewRelated/Gravatar/UIImageView+Gravatar.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxImagePageViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Helpers/SiteMediaImageLoadingController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.xib
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/AvatarView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/MediaHostTests.swift
Labels: Media

#23939 Cleanup MediaHost initializers
  WordPress/Classes/Models/WPAccount+Lookup.swift
  WordPress/Classes/Networking/MediaHost+Extensions.swift
  WordPress/Classes/Services/MediaHelper.swift
  WordPress/Classes/Services/MediaImageService.swift
  WordPress/Classes/ViewRelated/Blaze Campaigns/BlazeCampaignTableViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Blaze/DashboardBlazeCampaignView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
  WordPress/Classes/ViewRelated/Stats/Insights/StatsLatestPostSummaryInsightsCell.swift
  WordPress/WordPressTest/MediaHostTests.swift
Labels: Media

#23940 Fix incorrect chevron icons direction in RTL languages
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/WebViewController/WebKitViewController.swift
  WordPress/Classes/ViewRelated/Aztec/ViewControllers/AztecPostViewController.swift
  WordPress/Classes/ViewRelated/Blaze Campaigns/BlazeCampaignTableViewCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionCell.swift
  WordPress/Classes/ViewRelated/Blog/BloggingReminders/TimeSelector/BloggingRemindersTimeSelectionButton.swift
  WordPress/Classes/ViewRelated/Blog/My Site/NoSitesView.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/DebugMenuViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorNavigationBarManager.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PublishButton.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionDiffsBrowserViewController.swift
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionsNavigationController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.xib
  WordPress/Classes/ViewRelated/Stats/Insights/StatsBaseCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Two Column Stats/TwoColumnCell.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Date Chooser/SiteStatsTableHeaderView.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/StatsTotalRow.xib
  WordPress/Classes/ViewRelated/Stats/Shared Views/ViewMoreRow.xib
  WordPress/Classes/ViewRelated/System/Notices/NoticeView.swift
  WordPress/Resources/AppImages.xcassets/btn-back-chevron-tapped.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/btn-back-chevron-tapped.imageset/btn-back-chevron-tapped.png
  WordPress/Resources/AppImages.xcassets/btn-back-chevron-tapped.imageset/btn-back-chevron-tapped@2x.png
  WordPress/Resources/AppImages.xcassets/btn-back-chevron.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/btn-back-chevron.imageset/btn-back-chevron.png
  WordPress/Resources/AppImages.xcassets/btn-back-chevron.imageset/btn-back-chevron@2x.png
  WordPress/Resources/AppImages.xcassets/disclosure-chevron.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/disclosure-chevron.imageset/disclosure-chevron.png
  WordPress/Resources/AppImages.xcassets/disclosure-chevron.imageset/disclosure-chevron@2x.png
  WordPress/Resources/AppImages.xcassets/disclosure-chevron.imageset/disclosure-chevron@3x.png
  WordPress/Resources/AppImages.xcassets/editor-chevron-left.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/editor-chevron-left.imageset/chevron_left 1.png
  WordPress/Resources/AppImages.xcassets/editor-chevron-left.imageset/chevron_left 1@2x.png
  WordPress/Resources/AppImages.xcassets/editor-chevron-left.imageset/chevron_left 1@3x.png
  WordPress/Resources/AppImages.xcassets/icon-posts-editor-chevron.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/icon-posts-editor-chevron.imageset/icon-posts-editor-chevron.pdf
Labels: General

#23941 Fix an issue with clear navigation bar background in revision browser
  WordPress/Classes/ViewRelated/Post/Revisions/Browser/RevisionsNavigationController.swift
Labels: Posting/Editing

#23942 Fix an issue with comments being lost on request failure
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: Comments

#23943 Fix an issue with Referrers in Stats showing invalid icons
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
Labels: Stats

#23944 Update site menu style on iPhone
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
  WordPress/Classes/ViewRelated/System/Sidebar/SiteMenuViewController.swift
Labels: My Site

#23945 Integrate zoom transitions in Theme browser
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Themes/ThemeBrowserViewController.swift
Labels: Themes

#23946 Fix tint color in wpios
  WordPress/Classes/Extensions/Colors and Styles/WPStyleGuide+ApplicationStyles.swift
  WordPress/Classes/Utility/App Configuration/AppColor.swift
  WordPress/Classes/Utility/In-App Feedback/ZendeskAttachmentsSection.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/TwitterDeprecationTableFooterView.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Domains/Views/SiteDomainsView.swift
  WordPress/Classes/ViewRelated/EEUUSCompliance/CompliancePopover.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.swift
  WordPress/Classes/ViewRelated/Me/All Domains/Views/DomainPurchaseChoicesView.swift
  WordPress/Classes/ViewRelated/Me/App Settings/Boolean User Defaults/BooleanUserDefaultsDebugView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Views/PostMediaUploadsView.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderRecommendedSitesCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSearchSuggestionsView.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarTagsSection.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/Reader/Style/WPStyleGuide+ReaderComments.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/Countries/Map/CountriesMapView.swift
  WordPress/Classes/ViewRelated/System/Sidebar/SidebarViewController.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
  WordPress/Classes/ViewRelated/Voice/AudioRecorderVisualizerView.swift
  WordPress/Classes/ViewRelated/Voice/VoiceToContentView.swift
Labels: General

#23947 Integrate zoom transitions in Reader
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Reader

#23949 Fix an issue with Publisize options appearing in the prepublishing sheet for sites that don't support it
  WordPress/Classes/Models/Blog/Blog+Capabilities.swift
  WordPress/Classes/Models/Blog/Blog.h
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+JetpackSocial.swift
Labels: Sharing

#23950 Fix an issue with site icons cropped in share extensions
  Modules/Package.swift
  Modules/Sources/WordPressUI/Extensions/UIImageView+Blavatar.swift
  Modules/Sources/WordPressUI/Resources/Assets.xcassets/Contents.json
  Modules/Sources/WordPressUI/Resources/Assets.xcassets/vector.imageset/Contents.json
  Modules/Sources/WordPressUI/Resources/Assets.xcassets/vector.imageset/Vector.pdf
  Modules/Sources/WordPressUI/Views/SiteIconView.swift
  RELEASE-NOTES.txt
  WordPress/Classes/Models/ReaderPost+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/SiteDetailsSiteIconView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/BlogListSiteView.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/BlogList/SiteIconViewModel+Extensions.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationSettingsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NotificationSettingsSiteView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing Nudge/PrepublishingHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderFeedCell.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Reader/Views/ReaderSiteIconView.swift
  WordPress/WordPressShareExtension/ShareModularViewController.swift
  WordPress/WordPressShareExtension/WPStyleGuide+Share.swift
Labels: Share Extension

#23954 Enable fast deceleration for filters on the Discover tab
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderDiscoverHeaderView.swift
Labels: Reader

#23956 Show selected filter in the Discover navigation bar
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderDiscoverViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderNavigationCustomTitleView.swift
Labels: Reader

#23957 Add scroll-to-top button to Reader streams
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderStreamBaseCell.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
  WordPress/Classes/ViewRelated/Reader/ReaderButtonScrollToTop.swift
  WordPress/Classes/ViewRelated/System/Floating Create Button/FancyAlertViewController+CreateButtonAnnouncement.swift
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-ia-announcement.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/Illustrations/wp-illustration-ia-announcement.imageset/wp-illustration-ia-announcement.pdf
Labels: Reader

#23920 Add email verification check before showing the Gravatar Quick Editor
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarQuickEditorPresenter.swift
Labels: Gravatar

#23955 feat: Improve editor session events
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
  WordPress/Classes/ViewRelated/Post/PostEditorAnalyticsSession.swift
Labels: [Type] Enhancement, Gutenberg

#23959 Bump up Gravatar to 3.1.1
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Gravatar

#23960 Address localization and test build failures
  WordPress/Classes/Utility/WebViewController/WebKitViewController.swift
  WordPress/WordPressTest/SiteIconViewModelTests.swift
Labels: [Type] Tech Debt

#23962 Improve featured image flow
  Modules/Sources/AsyncImageKit/Views/AsyncImageView.swift
  Modules/Sources/WordPressUI/Extensions/SwiftUI+Extensions.swift
  RELEASE-NOTES.txt
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController+SiteIcon.swift
  WordPress/Classes/ViewRelated/Cells/PostFeaturedImageCell.swift
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.h
  WordPress/Classes/ViewRelated/Cells/WPProgressTableViewCell.m
  WordPress/Classes/ViewRelated/Cells/WPTableViewActivityCell.h
  WordPress/Classes/ViewRelated/Cells/WPTableViewActivityCell.m
  WordPress/Classes/ViewRelated/Cells/WPTableViewActivityCell.xib
  WordPress/Classes/ViewRelated/Media/MediaPicker/Helpers/MediaPickerMenuController.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu+Camera.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu+External.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu+ImagePlayground.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu+Photos.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu+SiteMedia.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Controllers/SiteMediaAddMediaMenuController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/SiteMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Media/SiteMedia/Views/SiteMediaImageView.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+FeaturedImageUpload.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
  WordPress/Classes/ViewRelated/Post/Views/PostSettingsFeaturedImageCell.swift
  WordPress/Classes/ViewRelated/Views/StoppableProgressIndicatorView.swift
Labels: Posts + Pages

#23914 Fix an issue with wrong cover images appearing in Reader
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Reader

#23915 Fix an issue with non-stable order in Posts and Pages in stats
  RELEASE-NOTES.txt
  WordPress/Classes/Stores/StatsPeriodStore.swift
Labels: Stats

#23917 Fix an issue with a missing "Mark as Unread" button in the More menu
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCellViewModel.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
Labels: Reader

#23918 Add missing social sharing icons
  RELEASE-NOTES.txt
  WordPress/Classes/Models/PublicizeService.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/PublicizeServiceCell.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/SharingViewController.m
  WordPress/Classes/ViewRelated/Jetpack/Social/JetpackSocialNoConnectionView.swift
  WordPress/Jetpack/AppImages.xcassets/Social/icon-threads.imageset/361591942_304761532104096_2740029438399114184_n-2.png
  WordPress/Jetpack/AppImages.xcassets/Social/icon-threads.imageset/Contents.json
Labels: Sharing

#23964 Add context menus and previews for sites in Reader
  WordPress/Classes/Utility/SharedStrings.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarSubscriptionsSection.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionNotificationSettingsView.swift
Labels: Reader

#23961 feat: GutenbergKit history navigation
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Enhancement, Gutenberg

#23965 Fix an issue with fullscreen button in reply view clipped by the notch
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
Labels: Reader

#23966 Remove "Lazy Images" Jetpack option
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/Models/Blog/BlogSettings.swift
  WordPress/Classes/Services/BlogJetpackSettingsService.swift
  WordPress/Classes/Utility/SharedStrings.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Settings/JetpackSpeedUpSiteSettingsViewController.swift
Labels: Jetpack

#23975 Remove ellipsis from the share button
  WordPress/Classes/ViewRelated/Blog/Blog Details/Detail Header/BlogDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Blog/My Site/Header/HomeSiteHeaderViewController+SiteActions.swift
  WordPress/Classes/ViewRelated/Gutenberg/EditorMediaUtility.swift
Labels: My Site

#23969 fix: Avoid unexpectedly marking post content as unsaved
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Bug, Gutenberg

#23974 Disable memoization of reader screens on iPhone
  WordPress/Classes/System/Root View/ReaderPresenter.swift
Labels: Reader

#23973 Fix an issue with small tap area of the ellipsis in the post list
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListHeaderView.swift
  WordPress/WordPressTest/Comments/Controllers/FullScreenCommentReplyViewControllerTests.swift
Labels: Posts + Pages

#23977 Address remaining feedback for 25.7.
  Modules/Sources/AsyncImageKit/ImagePrefetcher.swift
  Modules/Sources/AsyncImageKit/ImageRequest.swift
  Modules/Sources/AsyncImageKit/Views/AsyncImageView.swift
  WordPress/Classes/ViewRelated/Media/External/ExternalMediaPickerViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/NoteBlockHeaderTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderCrossPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
Labels: General

#23982 Don’t send/store cookies for EU-US DPA geolookup
  WordPress/Classes/ViewRelated/EEUUSCompliance/ComplianceLocationService.swift
Labels: [Type] Bug

#23980 feat: Send editor feedback
  RELEASE-NOTES.txt
  WordPress/Classes/Utility/In-App Feedback/SubmitFeedbackViewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Enhancement, Gutenberg

#23979 feat: GutenbergKit code editor
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Enhancement, Gutenberg

#23983 Remove reachability checks from Social Connections
  WordPress/Classes/ViewRelated/Blog/Sharing/SharingConnectionsViewController.m
  WordPress/Classes/ViewRelated/Blog/Sharing/SharingDetailViewController.m
Labels: General

#23987 Merge 25.6 release notes into trunk
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#23989 Remove `.hound.yml`
  .hound.yml
Labels: Tooling

#23991 Tweak code signing lanes naming and make them all public
  fastlane/lanes/build.rb
  fastlane/lanes/codesign.rb
Labels: Tooling

#24002 Use latest ci-toolkit, 3.9.1, to print better logs when caching
  .buildkite/shared-pipeline-vars
Labels: Tooling

#24006 Update App Store Connect Copyright Date
  fastlane/jetpack_metadata/copyright.txt
  fastlane/lanes/localization.rb
  fastlane/metadata/copyright.txt
Labels: Tooling

#23963 build: Update AutomatticAbout
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Enhancement, /Me

#24001 Remove WordPressUI from service extension target dependencies
  Modules/Package.swift
  WordPress/WordPressNotificationServiceExtension/Sources/FormattableContent/RemoteNotificationStyles.swift
Labels: [Type] Tech Debt

#24010 feat: Swipe to dismiss GutenbergKit keyboard
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Enhancement, Gutenberg

#24014 Move users to a new WordPressCore module
  Modules/Package.swift
  Modules/Sources/WordPressCore/DataStore/DataStore.swift
  Modules/Sources/WordPressCore/DataStore/InMemoryDataStore.swift
  Modules/Sources/WordPressCore/Users/DisplayUser.swift
  Modules/Sources/WordPressCore/Users/UserDataStore.swift
  Modules/Sources/WordPressCore/Users/UserService.swift
  Modules/Sources/WordPressCore/Users/UserServiceProtocol.swift
  Modules/Sources/WordPressCore/WordPressClient.swift
  Modules/Tests/AsyncImageKitTests/ImageDownloaderTests.swift
  Modules/Tests/WordPressCoreTests/DataStoreTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/ResourcesBundleTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/UIColorHelpersTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/UIImage+CropTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/UIImage+ScaleTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/UIView+AutoLayoutHelperTests.swift
  Modules/Tests/WordPressUIUnitTests/Extensions/UIViewControllerHelperTest.swift
  Modules/Tests/WordPressUIUnitTests/Ghosts/UITableView+GhostTests.swift
  Modules/Tests/WordPressUIUnitTests/Ghosts/UIView+GhostTests.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/Extensions/WpApiError+Localized.swift
  WordPress/Classes/Login/LoginWithUrlView.swift
  WordPress/Classes/Login/SelfHostedSiteAuthenticator.swift
  WordPress/Classes/Networking/WordPressClient.swift
  WordPress/Classes/Services/ApplicationPasswordService.swift
  WordPress/Classes/Users/Components/UserListItem.swift
  WordPress/Classes/Users/UserProvider.swift
  WordPress/Classes/Users/ViewModel/UserDeleteViewModel.swift
  WordPress/Classes/Users/ViewModel/UserDetailViewModel.swift
  WordPress/Classes/Users/ViewModel/UserListViewModel.swift
  WordPress/Classes/Users/Views/DeleteUserConfirmationSheet.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
  WordPress/Classes/Users/Views/UserListView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/ViewModel/BlogDashboardViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/UserListViewModelTests.swift
  WordPress/WordPressTest/WordPressUnitTests.xctestplan
Labels: Self-hosted

#24027 Merge updated 25.7 release notes to trunk
  WordPress/Jetpack/Resources/AppStoreStrings.po
  WordPress/Jetpack/Resources/release_notes.txt
  WordPress/Resources/AppStoreStrings.po
  WordPress/Resources/release_notes.txt
Labels: Releases

#24028 Fix WKWebView retain cycle in Reader
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
Labels: [Type] Bug, Reader

#24018 Avoid sending shared cookie jar cookies to some endpoints
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPressAuthenticator/Sources/Services/WordPressComBlogService.swift
Labels: [Type] Tech Debt

#24022 WebKit Reader Comments (Groundwork)
  Modules/Package.swift
  Modules/Sources/WordPressReader/Comments/Views/CommentContentRenderer.swift
  Modules/Sources/WordPressReader/Comments/Views/CommentWebView.swift
  Modules/Sources/WordPressReader/Comments/Views/WebCommentContentRenderer.swift
  Modules/Sources/WordPressReader/Resources/gutenbergCommentHeadTemplate.html
  Modules/Sources/WordPressReader/Resources/gutenbergContentStyles.css
  Modules/Sources/WordPressReader/Settings/ReaderDisplaySettings+WebKit.swift
  Modules/Sources/WordPressReader/Settings/ReaderDisplaySettings.swift
  Modules/Sources/WordPressUI/Extensions/UIColor+Helpers.swift
  WordPress/Classes/Extensions/Colors and Styles/UIColor+Extensions.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Cards/Tags View/ReaderTopicCollectionViewCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsHelper.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailCoordinator.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsHeader.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailCommentsTableViewDelegate.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailFeaturedImageView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailHeaderView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailLikesView.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
  WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift
  WordPress/Classes/ViewRelated/Reader/ReaderFollowButton.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingStore.swift
  WordPress/Classes/ViewRelated/Reader/Theme/ReaderDisplaySettingViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Reader

#24033 feat: Request feedback when disabling the experimental editor
  WordPress/Classes/ViewRelated/Me/App Settings/ExperimentalFeaturesDataProvider.swift
Labels: [Type] Enhancement, Gutenberg
