Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-07, with the labels that each got.

#24638 Do not call the failure block if the weak ref `self` is nil
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/BlogDashboardViewController.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Service/BlogDashboardService.swift
Labels: [Type] Bug

#24630 Fix false positive Keystone and WordPressData tests in CI
  .buildkite/commands/run-unit-tests-for-scheme.sh
  .buildkite/pipeline.yml
Labels: Tooling

#24647 Post List: Fix Visual Issues
  RELEASE-NOTES.txt
  Sources/WordPressData/Swift/Post.swift
  WordPress/Classes/ViewRelated/Media/NoResultsViewController+MediaLibrary.swift
  WordPress/Classes/ViewRelated/Pages/Controllers/PageListViewController.swift
  WordPress/Classes/ViewRelated/Pages/Views/PageListCell.swift
  WordPress/Classes/ViewRelated/Post/Controllers/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Controllers/PostListViewController.swift
  WordPress/Classes/ViewRelated/Post/Search/PostSearchViewController.swift
  WordPress/Classes/ViewRelated/Post/Views/AbstractPostHelper.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListHeaderView.swift
  WordPress/Classes/ViewRelated/Post/Views/PostListItemViewModel.swift
Labels: Posts + Pages

#24648 Add missing retroactive conformance modifiers
  WordPress/Classes/Models/Gutenberg/BlockEditorSettings+GutenbergEditorSettings.swift
  WordPress/Classes/Models/Notifications/Notification+AppsTargets.swift
  WordPress/Classes/Models/ReaderPost+Searchable.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Sharing.swift
Labels: General

#24595 Copy the exported file to a temporary dir instead of the local Media dir
  WordPress/Classes/Utility/Media/ItemProviderMediaExporter.swift
Labels: [Type] Bug, Media

#24653 Fix missing Reader readerArticleCommentsOpened event
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Reader

#24652 Add weight back to notifications
  Modules/Sources/FormattableContentKit/Styles/SubjectContentStyles.swift
  WordPress/Classes/ViewRelated/Views/List/NotificationsList/NotificationsTableViewCellContent.swift
Labels: Notifications

#24660 Revert Reader menu changes
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewController.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarViewModel.swift
Labels: Reader

#24661 Use the user agent that contains app info
  RELEASE-NOTES.txt
  Sources/WordPressData/Swift/WPAccount+RestApi.swift
  WordPress/Classes/Services/AccountService.m
Labels: [Type] Bug

#24658 Update wordpress-rs
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/Networking/WordPressClient.swift
  WordPress/Classes/Services/MediaServiceRemoteCoreREST.swift
Labels: Tooling

#24667 Fix saving tags performance
  WordPress/Classes/Services/PostTagService.m
Labels: [Type] Bug

#24668 New tags list using Data View
  WordPress/Classes/ViewRelated/Tags/RemotePostTag+Identifiable.swift
  WordPress/Classes/ViewRelated/Tags/TagsService.swift
  WordPress/Classes/ViewRelated/Tags/TagsView.swift
  WordPress/Classes/ViewRelated/Tags/TagsViewModel.swift
Labels: [Type] Enhancement

#24681 Add PostStatsView
  Modules/Package.resolved
  Modules/Package.swift
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/RealtimeMetricsCard.swift
  Modules/Sources/JetpackStats/Cards/RealtimeTopListCard.swift
  Modules/Sources/JetpackStats/Cards/StandaloneChartCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Charts/ChartData.swift
  Modules/Sources/JetpackStats/Constants.swift
  Modules/Sources/JetpackStats/Resources/Mocks/HistoricalData/historical-postsAndPages.json
  Modules/Sources/JetpackStats/Resources/Mocks/Misc/post-details.json
  Modules/Sources/JetpackStats/Screens/ChartDataListView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/StatsMainView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Services/Data/DataPoint.swift
  Modules/Sources/JetpackStats/Services/Data/PostLikeUser.swift
  Modules/Sources/JetpackStats/Services/Data/SiteMetric.swift
  Modules/Sources/JetpackStats/Services/Data/SiteMetricsSet.swift
  Modules/Sources/JetpackStats/Services/Data/TopListChartData.swift
  Modules/Sources/JetpackStats/Services/Data/TopListData.swift
  Modules/Sources/JetpackStats/Services/Mocks/MockStatsService.swift
  Modules/Sources/JetpackStats/Services/Mocks/StatsDataAggregator.swift
  Modules/Sources/JetpackStats/Services/StatsService.swift
  Modules/Sources/JetpackStats/Services/StatsServiceProtocol.swift
  Modules/Sources/JetpackStats/StatsContext.swift
  Modules/Sources/JetpackStats/StatsRouter.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/DateRangeGranularity.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/PopoverPresentationModifier.swift
  Modules/Sources/JetpackStats/Views/AvatarView.swift
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  Modules/Sources/JetpackStats/Views/HeatmapView.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListPostRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemsView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListMetricsView.swift
  Modules/Sources/JetpackStats/Views/WeeklyTrendsView.swift
  Modules/Sources/JetpackStats/Views/YearlyTrendsView.swift
  Modules/Tests/JetpackStatsTests/MockStatsServiceTests.swift
  Modules/Tests/JetpackStatsTests/StatsDataAggregationTests.swift
  Modules/Tests/JetpackStatsTests/TrendViewModelTests.swift
  Modules/Tests/JetpackStatsTests/WeeklyTrendsViewModelTests.swift
  Modules/Tests/JetpackStatsTests/YearlyTrendsViewModelTests.swift
  WordPress/Classes/ViewRelated/Likes/LikesListController.swift
  WordPress/Classes/ViewRelated/Post/Controllers/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Stats/PostStatsViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsHostingViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsLikesListViewController.swift
Labels: Stats

#24665 Use tags and categories endpoints in wordpress-rs
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/106707880 - Tri-County Real Estate - Personal Plan/rest_sites_106707880_taxonomies_category_terms.json
  API-Mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/106707880 - Tri-County Real Estate - Personal Plan/rest_sites_106707880_taxonomies_post_tag.json
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/Services/PostCategoryService.m
  WordPress/Classes/Services/PostTagService.m
  WordPress/Classes/Services/TaxonomyServiceRemoteCoreREST.swift
Labels: [Type] Enhancement

#24686 Add AuthorStatsView
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCardViewModel.swift
  Modules/Sources/JetpackStats/Resources/Mocks/HistoricalData/historical-authors.json
  Modules/Sources/JetpackStats/Resources/Mocks/HistoricalData/historical-postsAndPages.json
  Modules/Sources/JetpackStats/Resources/Mocks/RealtimeData/realtime-authors.json
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Services/Data/TopListData+WordPressKit.swift
  Modules/Sources/JetpackStats/Services/Data/TopListData.swift
  Modules/Sources/JetpackStats/Services/Mocks/MockStatsService.swift
  Modules/Sources/JetpackStats/Services/StatsService.swift
  Modules/Sources/JetpackStats/Services/StatsServiceProtocol.swift
  Modules/Sources/JetpackStats/StatsRouter.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Tests/JetpackStatsTests/WeeklyTrendsViewModelTests.swift
Labels: Stats

#24687 Add ReferrerStatsView
  Modules/Sources/JetpackStats/Cards/RealtimeTopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Constants.swift
  Modules/Sources/JetpackStats/Resources/Mocks/HistoricalData/historical-referrers.json
  Modules/Sources/JetpackStats/Resources/Mocks/RealtimeData/realtime-referrers.json
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/ReferrerStatsView.swift
  Modules/Sources/JetpackStats/Services/Data/TopListChartData.swift
  Modules/Sources/JetpackStats/Services/Data/TopListData+WordPressKit.swift
  Modules/Sources/JetpackStats/Services/Data/TopListData.swift
  Modules/Sources/JetpackStats/Services/Mocks/MockStatsService.swift
  Modules/Sources/JetpackStats/Services/StatsService.swift
  Modules/Sources/JetpackStats/Services/StatsServiceProtocol.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/CardModifier.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListArchiveItemRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListAuthorRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListExpandableSectionRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListExternalLinkRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListFileDownloadRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListLocationRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListPostRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListReferrerRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListSearchTermRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListVideoRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemsView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListMetricsView.swift
  Modules/Sources/JetpackStats/Views/WeeklyTrendsView.swift
Labels: Stats

#24688 Add CountriesMapView and more
  Modules/Package.swift
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/StandaloneChartCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCardViewModel.swift
  Modules/Sources/JetpackStats/Constants.swift
  Modules/Sources/JetpackStats/Extensions/Color+Extensions.swift
  Modules/Sources/JetpackStats/Resources/interactive-map-template.html
  Modules/Sources/JetpackStats/Resources/world-map.svg
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/ReferrerStatsView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Services/Data/SiteMetric.swift
  Modules/Sources/JetpackStats/Services/Data/TopListChartData.swift
  Modules/Sources/JetpackStats/Services/Data/TopListItemType.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/CardModifier.swift
  Modules/Sources/JetpackStats/Views/BadgeTrendIndicator.swift
  Modules/Sources/JetpackStats/Views/CountryMap/CountriesMapView.swift
  Modules/Sources/JetpackStats/Views/CountryMap/CountryTooltip.swift
  Modules/Sources/JetpackStats/Views/CountryMap/InteractiveMapView.swift
  Modules/Sources/JetpackStats/Views/Heatmap/HeatmapView.swift
  Modules/Sources/JetpackStats/Views/Heatmap/WeeklyTrendsView.swift
  Modules/Sources/JetpackStats/Views/Heatmap/YearlyTrendsView.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/StatsCardTitleView.swift
  Modules/Sources/JetpackStats/Views/StatsTabBar.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListLocationRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/Rows/TopListReferrerRowView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemBarBackground.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemsView.swift
Labels: Stats

#24690 New Stats: Bugfix
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/StandaloneChartCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Resources/interactive-map-template.html
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/RealtimeTabView.swift
  Modules/Sources/JetpackStats/Screens/TopListScreenView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Services/Data/TopListItemType.swift
  Modules/Sources/JetpackStats/Services/StatsService.swift
  Modules/Sources/JetpackStats/StatsContext.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/Formatters/StatsDateRangeFormatter.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/ScrollOffsetModifier.swift
  Modules/Sources/JetpackStats/Utilities/StatsDateRange.swift
  Modules/Sources/JetpackStats/Views/AvatarView.swift
  Modules/Sources/JetpackStats/Views/ChartLegendView.swift
  Modules/Sources/JetpackStats/Views/ChartValuesSummaryView.swift
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  Modules/Sources/JetpackStats/Views/Heatmap/YearlyTrendsView.swift
  Modules/Sources/JetpackStats/Views/SimpleErrorView.swift
  Modules/Sources/JetpackStats/Views/TimezoneInfoView.swift
  Modules/Tests/JetpackStatsTests/CSVExporterTests.swift
  Modules/Tests/JetpackStatsTests/StatsDateRangeFormatterTests.swift
  WordPress/Classes/ViewRelated/Stats/StatsHostingViewController.swift
Labels: Stats

#24692 New Stats: Customization
  Modules/Sources/JetpackStats/Cards/CardConfigurationDelegate.swift
  Modules/Sources/JetpackStats/Cards/CardViewModel.swift
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/ChartCardConfiguration.swift
  Modules/Sources/JetpackStats/Cards/ChartCardViewModel.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCardConfiguration.swift
  Modules/Sources/JetpackStats/Cards/TopListViewModel.swift
  Modules/Sources/JetpackStats/Cards/TrafficCardConfiguration.swift
  Modules/Sources/JetpackStats/Charts/LineChartView.swift
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/StatsMainView.swift
  Modules/Sources/JetpackStats/Screens/TopListScreenView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Services/Data/SiteMetric.swift
  Modules/Sources/JetpackStats/Services/Data/TopListItemType.swift
  Modules/Sources/JetpackStats/Services/Mocks/MockStatsService.swift
  Modules/Sources/JetpackStats/StatsViewModel.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Views/Customization/AddCardSheet.swift
  Modules/Sources/JetpackStats/Views/Customization/ChartCardCustomizationView.swift
  Modules/Sources/JetpackStats/Views/Customization/TopListCardCustomizationView.swift
  Modules/Sources/JetpackStats/Views/EditCardMenuContent.swift
  Modules/Sources/JetpackStats/Views/StatsTabBar.swift
Labels: Stats

#24691 task: Update GutenbergKit namespace configuration
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Task, Gutenberg

#24684 Show information about application passwords when enabling the feature toggle
  WordPress/Classes/ApplicationToken/ApplicationPasswordsInfoView.swift
  WordPress/Classes/System/Root View/WordPressAuthenticatorProtocol.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Picker/AddSiteController.swift
  WordPress/Classes/ViewRelated/Me/App Settings/ExperimentalFeaturesDataProvider.swift
Labels: [Type] Enhancement

#24694 New Stats: Integration
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListViewModel.swift
  Modules/Sources/JetpackStats/Extensions/Color+Extensions.swift
  Modules/Sources/JetpackStats/Screens/StatsMainView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/StatsViewModel.swift
  Modules/Sources/JetpackStats/Views/CountryMap/InteractiveMapView.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsHostingViewController.swift
  WordPress/Classes/ViewRelated/System/FilterTabBar.swift
  WordPress/Classes/ViewRelated/Tips/AppTips.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Jetpack.xcscheme
Labels: Stats

#24699 Fix a flaky unit test
  Tests/KeystoneTests/Tests/Models/Blog+RestAPITests.swift
Labels: [Type] Enhancement

#24701 New Stats: iPad
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/RealtimeTopListCard.swift
  Modules/Sources/JetpackStats/Cards/StandaloneChartCard.swift
  Modules/Sources/JetpackStats/Charts/BarChartView.swift
  Modules/Sources/JetpackStats/Charts/ChartData.swift
  Modules/Sources/JetpackStats/Charts/LineChartView.swift
  Modules/Sources/JetpackStats/Constants.swift
  Modules/Sources/JetpackStats/Extensions/Calendar+Presets.swift
  Modules/Sources/JetpackStats/Screens/ArchiveStatsView.swift
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/ChartDataListView.swift
  Modules/Sources/JetpackStats/Screens/ExternalLinkStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/RealtimeTabView.swift
  Modules/Sources/JetpackStats/Screens/ReferrerStatsView.swift
  Modules/Sources/JetpackStats/Screens/TopListScreenView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Services/Data/SiteMetric.swift
  Modules/Sources/JetpackStats/StatsViewModel.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Utilities/DateRangeGranularity.swift
  Modules/Sources/JetpackStats/Utilities/Modifiers/CardModifier.swift
  Modules/Sources/JetpackStats/Utilities/SelectedDataPoints.swift
  Modules/Sources/JetpackStats/Views/ChartValueTooltipView.swift
  Modules/Sources/JetpackStats/Views/ChartValuesSummaryView.swift
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  Modules/Sources/JetpackStats/Views/Heatmap/WeeklyTrendsView.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/StatsDateRangeButtons.swift
  Modules/Sources/JetpackStats/Views/StatsDateRangePickerMenu.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Tests/JetpackStatsTests/CalendarPresetsTests.swift
  Modules/Tests/JetpackStatsTests/DateRangeGranularityTests.swift
  Modules/Tests/JetpackStatsTests/MockStatsServiceTests.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
Labels: Stats

#24702 New Stats: Analytics
  Modules/Sources/JetpackStats/Analytics/MockStatsTracker.swift
  Modules/Sources/JetpackStats/Analytics/StatsEvent.swift
  Modules/Sources/JetpackStats/Analytics/StatsTracker+ErrorTracking.swift
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/ChartCardViewModel.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Cards/TopListViewModel.swift
  Modules/Sources/JetpackStats/Charts/Helpers/ChartAverageAnnotation.swift
  Modules/Sources/JetpackStats/Screens/ArchiveStatsView.swift
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/ExternalLinkStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/ReferrerStatsView.swift
  Modules/Sources/JetpackStats/Screens/StatsMainView.swift
  Modules/Sources/JetpackStats/Screens/TopListScreenView.swift
  Modules/Sources/JetpackStats/Services/StatsService.swift
  Modules/Sources/JetpackStats/StatsContext.swift
  Modules/Sources/JetpackStats/StatsViewModel.swift
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/StatsDateRangePickerMenu.swift
  Modules/Sources/JetpackStats/Views/StatsTabBar.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemsView.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent+JetpackStats.swift
  WordPress/Classes/Utility/Analytics/WPAnalyticsEvent.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Quick Actions/DashboardQuickActionsCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationContentRouter.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Post Stats/PostStatsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/StatsHostingViewController.swift
Labels: Stats

#24703 New Stats: Accessibility
  Modules/Sources/JetpackStats/Cards/ChartCard.swift
  Modules/Sources/JetpackStats/Cards/RealtimeMetricsCard.swift
  Modules/Sources/JetpackStats/Cards/StandaloneChartCard.swift
  Modules/Sources/JetpackStats/Cards/TopListCard.swift
  Modules/Sources/JetpackStats/Charts/BarChartView.swift
  Modules/Sources/JetpackStats/Charts/Helpers/ChartAverageAnnotation.swift
  Modules/Sources/JetpackStats/Charts/Helpers/SignificantPointAnnotation.swift
  Modules/Sources/JetpackStats/Charts/LineChartView.swift
  Modules/Sources/JetpackStats/Constants.swift
  Modules/Sources/JetpackStats/Screens/ArchiveStatsView.swift
  Modules/Sources/JetpackStats/Screens/AuthorStatsView.swift
  Modules/Sources/JetpackStats/Screens/ChartDataListView.swift
  Modules/Sources/JetpackStats/Screens/ExternalLinkStatsView.swift
  Modules/Sources/JetpackStats/Screens/PostStatsView.swift
  Modules/Sources/JetpackStats/Screens/ReferrerStatsView.swift
  Modules/Sources/JetpackStats/Screens/TopListScreenView.swift
  Modules/Sources/JetpackStats/Screens/TrafficTabView.swift
  Modules/Sources/JetpackStats/Strings.swift
  Modules/Sources/JetpackStats/Views/AvatarView.swift
  Modules/Sources/JetpackStats/Views/ChartLegendView.swift
  Modules/Sources/JetpackStats/Views/ChartValuesSummaryView.swift
  Modules/Sources/JetpackStats/Views/CountryMap/CountriesMapView.swift
  Modules/Sources/JetpackStats/Views/CountryMap/InteractiveMapView.swift
  Modules/Sources/JetpackStats/Views/CustomDateRangePicker.swift
  Modules/Sources/JetpackStats/Views/EditCardMenuContent.swift
  Modules/Sources/JetpackStats/Views/Heatmap/HeatmapView.swift
  Modules/Sources/JetpackStats/Views/Heatmap/WeeklyTrendsView.swift
  Modules/Sources/JetpackStats/Views/Heatmap/YearlyTrendsView.swift
  Modules/Sources/JetpackStats/Views/LegacyFloatingDateControl.swift
  Modules/Sources/JetpackStats/Views/MetricsOverviewTabView.swift
  Modules/Sources/JetpackStats/Views/SimpleErrorView.swift
  Modules/Sources/JetpackStats/Views/StatsCardTitleView.swift
  Modules/Sources/JetpackStats/Views/StatsDateRangeButtons.swift
  Modules/Sources/JetpackStats/Views/StatsTabBar.swift
  Modules/Sources/JetpackStats/Views/TopList/TopListItemView.swift
Labels: Stats
