Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-06, with the labels that each got.

#24590 Remove unused code
  WordPress/Classes/Utility/WPError.h
  WordPress/Classes/Utility/WPError.m
Labels: General

#24591 Rewrite Support Activity Logs (ObjC) using SwiftUI
  Sources/Keystone/WordPress.h
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/ActivityLogViewController.h
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/ActivityLogViewController.m
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/Log Detail/ActivityLogDetailViewController.h
  WordPress/Classes/ViewRelated/Me/Help & Support/Activity Logs/Log Detail/ActivityLogDetailViewController.m
  WordPress/Classes/ViewRelated/Me/Help & Support/SupportActivityDetailsView.swift
  WordPress/Classes/ViewRelated/Me/Help & Support/SupportActivityLogView.swift
  WordPress/Classes/ViewRelated/Support/SupportTableViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Support

#24596 Implement Jetpack Activity Logs screen (list)
  .claude/settings.json
  CLAUDE.md
  Modules/Package.resolved
  Modules/Package.swift
  Modules/Sources/WordPressUI/Views/DataView/DataViewPaginatedForEach.swift
  Modules/Sources/WordPressUI/Views/DataView/DataViewPaginatedResponse.swift
  Modules/Sources/WordPressUI/Views/DataView/DataViewSearchView.swift
  Modules/Sources/WordPressUI/Views/EmptyStateView.swift
  WordPress/Classes/Extensions/EmptyStateView+Extensions.swift
  WordPress/Classes/Utility/SharedStrings.swift
  WordPress/Classes/ViewRelated/Activity/JetpackActivityLogViewController.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogRowView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogRowViewModel.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsMenu.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewController.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewModel.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityTypeSelectionView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscribersMenu.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscribersView.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/List/SubscribersViewModel.swift
Labels: Jetpack, Activity Log

#24599 Add ActivityLogsDetailsView
  Modules/Sources/BuildSettingsKit/BuildSettingsEnvironment.swift
  Sources/Miniature/ContentView.swift
  Sources/Miniature/MiniatureApp.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView+Preview.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView.swift
  WordPress/Classes/ViewRelated/Activity/Extensions/Activity+Extensions.swift
  WordPress/Classes/ViewRelated/Activity/Extensions/ActivityActorAvatarView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogRowView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogRowViewModel.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsView.swift
  WordPress/Classes/ViewRelated/Activity/WPStyleGuide+Activity.swift
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/Miniature.xcscheme
Labels: Jetpack, Activity Log

#24600 Add Restore and Download Backup buttons to ActivityLogDetailsView
  .gitignore
  CLAUDE.md
  Modules/Sources/WordPressUI/Views/CardView.swift
  Modules/Sources/WordPressUI/Views/InfoRow.swift
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsCoordinator.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogRowViewModel.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsMenu.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Subscribers/Details/SubscriberDetailsView.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
Labels: Jetpack, Activity Log

#24601 Use ActivityLogsView to show Backups
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsMenu.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewController.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewModel.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
Labels: Jetpack

#24602 Add Downloadable Backup Section to Backups list
  Tests/KeystoneTests/Tests/Stores/ActivityStoreTests.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsView.swift
  WordPress/Classes/ViewRelated/Activity/List/ActivityLogsViewModel.swift
  WordPress/Classes/ViewRelated/Activity/List/DownloadableBackupSection.swift
  WordPress/Classes/ViewRelated/Activity/List/DownloadableBackupTracker.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Complete/BaseRestoreCompleteViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Status/BaseRestoreStatusViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Jetpack Restore/Restore Warning/JetpackRestoreWarningViewController.swift
Labels: Jetpack, Activity Log

#24605 Activity Logs: Code Removal – Part 2
  Tests/KeystoneTests/Tests/Features/Activity/ActivityListViewModelTests.swift
  Tests/KeystoneTests/Tests/Features/Dashboard/DashboardActivityLogViewModelTests.swift
  WordPress/Classes/ViewRelated/Activity/ActivityDetailViewController.swift
  WordPress/Classes/ViewRelated/Activity/ActivityListViewModel.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTypeSelectorViewController.swift
  WordPress/Classes/ViewRelated/Activity/BaseActivityListViewController.swift
  WordPress/Classes/ViewRelated/Activity/List/BackupsViewController.swift
Labels: Jetpack

#24606 Activity Logs: Code Removal – Part 3
  WordPress/Classes/ViewRelated/Activity/ActivityListRow.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.swift
  WordPress/Classes/ViewRelated/Activity/ActivityTableViewCell.xib
  WordPress/Classes/ViewRelated/Activity/RewindStatusRow.swift
  WordPress/Classes/ViewRelated/Activity/RewindStatusTableViewCell.xib
Labels: Jetpack

#24609 Activity Logs: Code Removal – Part 6
  Tests/KeystoneTests/Tests/Stores/ActivityStoreTests.swift
  WordPress/Classes/Stores/ActivityStore.swift
  WordPress/Classes/Stores/StoreContainer.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsCoordinator.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Activity Log/DashboardActivityLogCardCell.swift
Labels: Jetpack

#24610 Integrate ActivityContentRouter and FormattableActivity
  WordPress/Classes/ViewRelated/Activity/Details/ActivityFormattableContentView.swift
  WordPress/Classes/ViewRelated/Activity/Details/ActivityLogDetailsView.swift
  WordPress/Classes/ViewRelated/Activity/Extensions/Activity+Extensions.swift
Labels: Jetpack

#24586 Only lookup local post when quering with "wp_jp_foreign_id"
  Sources/WordPressData/Objective-C/PostHelper.m
  Sources/WordPressData/Swift/Blog+Post.swift
  Tests/KeystoneTests/Tests/Services/PostRepositoryTests.swift
Labels: [Type] Bug, Posts + Pages

#24613 Remove TimeZoneObserver from SiteSettingsViewController
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.h
  WordPress/Classes/ViewRelated/Blog/Site Settings/SiteSettingsViewController.m
Labels: General

#24583 Gravatar Quick Editor as My Profile editor
  Modules/Package.resolved
  Modules/Package.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Gravatar/GravatarQuickEditorPresenter.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.swift
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileHeaderView.xib
  WordPress/Classes/ViewRelated/Me/My Profile/MyProfileViewController.swift
  WordPress/Classes/ViewRelated/Me/Views/MeHeaderView.swift
  WordPress/Classes/ViewRelated/NUX/Views/Epilogues/EpilogueUserInfoCell.swift
  WordPress/Resources/en.lproj/Localizable.strings
Labels: Gravatar

#24624 Post Settings: Save Infrastructure
  CLAUDE.md
  Sources/WordPressData/Swift/AbstractPost.swift
  WordPress/Classes/Services/PostRepository+Helpers.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettings.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
Labels: Posts + Pages

#24634 Post Settings: Remove reachability checks
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: Posts + Pages

#24636 Post Settings: Featured Image
  Modules/Sources/WordPressUI/Extensions/SwiftUI+Extensions.swift
  Sources/WordPressData/Swift/Media.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/ViewRelated/Media/Lightbox/LightboxView.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/MediaPicker.swift
  WordPress/Classes/ViewRelated/Media/MediaPicker/Menu/MediaPickerMenu.swift
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettings.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsFeaturedImageRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
Labels: Posts + Pages

#24626 Make sure the configure secrets function is called before other code
  WordPress/JetpackIntents/IntentHandler.swift
Labels: [Type] Bug

#24627 Add more imports required for Keystone to build for testing
  WordPress/Classes/Apps/Reader/ReaderTabViewController.swift
  WordPress/Classes/Models/Gutenberg/BlockEditorSettings+GutenbergEditorSettings.swift
  WordPress/Classes/Services/ReaderTopicService+Interests.swift
  WordPress/Classes/System/Root View/RootViewPresenter.swift
  WordPress/Classes/Utility/Notifications/PushAuthenticationManager.swift
  WordPress/Classes/Utility/Notifications/PushNotificationsManager.swift
  WordPress/Classes/Utility/Universal Links/Routes+Reader.swift
  WordPress/Classes/Utility/Universal Links/Routes+Stats.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Blog/Site Management/SiteSettingsViewController+SiteManagement.swift
  WordPress/Classes/ViewRelated/Me/Account Settings/AccountSettingsViewController.swift
  WordPress/Classes/ViewRelated/Me/Domain Details/DomainDetailsWebViewController.swift
  WordPress/Classes/ViewRelated/Plugins/ViewModels/PluginViewModel.swift
  WordPress/Classes/ViewRelated/Post/Views/AuthorFilterViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderLikeAction.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderPostMenu.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController+Sharing.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderBlockingHelper.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionCell.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionNotificationSettingsButton.swift
  WordPress/Classes/ViewRelated/Reader/Subscriptions/ReaderSubscriptionsView.swift
  WordPress/Classes/ViewRelated/Stats/Extensions/StatsViewController+JetpackSettings.swift
  WordPress/Classes/ViewRelated/Stats/Helpers/SiteStatsImmuTableRows.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityCollectionViewCell.swift
  WordPress/Classes/ViewRelated/Stats/Insights/Posting Activity/PostingActivityDay.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Insights/SiteStatsInsightsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Insights/ViewsVisitors/ViewsVisitorsLineChartCell.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Period Stats/SiteStatsPeriodViewModel.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsDetailTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsTableViewController.swift
  WordPress/Classes/ViewRelated/Stats/Shared Views/Stats Detail/SiteStatsInsightsDetailsViewModel.swift
  WordPress/Classes/ViewRelated/Stats/SiteStatsDashboardViewController.swift
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.m
  WordPress/Classes/ViewRelated/Support/SupportTableViewControllerConfiguration.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController.m
Labels: Tooling

#24629 Minor project tidy for stray WordPressData files
  Sources/WordPressData/Swift/RemotePost+Metadata.swift
  Sources/WordPressData/Swift/RemotePostCreateParameters+Helpers.swift
  Sources/WordPressData/Swift/RemotePostUpdateParameters+Helpers.swift
  Sources/WordPressData/Swift/WordPressOrgRestApi+WordPress.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Tooling

#24632 Adopt Recoleta
  WordPress/Classes/ViewRelated/Gutenberg/Collapsable Header/CollapsableHeaderViewController.swift
Labels: General

#24640 Post Settings: Other
  Sources/WordPressData/Swift/Page.swift
  WordPress/Classes/ViewRelated/Pages/Controllers/ParentPageSettingsViewController.swift
  WordPress/Classes/ViewRelated/Post/ParentPagePicker.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettings.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
Labels: Posts + Pages

#24642 Post Setting: Social Sharing
  Sources/WordPressData/Objective-C/include/Blog.h
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingAutoSharingView.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController+JetpackSocial.swift
Labels: Posts + Pages

#24643 Post Settings: Core Removal
  Sources/Keystone/WordPress.h
  Sources/WordPressData/Objective-C/AbstractPost.m
  Sources/WordPressData/Objective-C/include/AbstractPost.h
  Sources/WordPressData/Swift/AbstractPost.swift
  Sources/WordPressData/Swift/Post.swift
  Sources/WordPressData/Swift/PostHelper+JetpackSocial.swift
  Tests/KeystoneTests/Tests/Features/Posts/PublishSettingsControllerTests.swift
  Tests/KeystoneTests/Tests/Models/PostTests.swift
  Tests/KeystoneTests/Tests/Services/SharingServiceTests.swift
  WordPress/Classes/System/WordPress-Bridging-Header.h
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Sharing/WPStyleGuide+Sharing.swift
  WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift
  WordPress/Classes/ViewRelated/Pages/PageSettingsViewController.h
  WordPress/Classes/ViewRelated/Pages/PageSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostEditor+MoreOptions.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+JetpackSocial.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController+Swift.swift
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.h
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController.m
  WordPress/Classes/ViewRelated/Post/PostSettingsViewController_Internal.h
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishDatePickerViewController.swift
  WordPress/Classes/ViewRelated/Post/Scheduling/PublishSettingsViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
Labels: Posts + Pages

#24644 Post Settings: Sticky
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
Labels: Posts + Pages

#24645 Post Settings: Optimizations
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
Labels: Posts + Pages

#24646 Post Settings: Refinement
  Modules/Sources/UITestsFoundation/Screens/Editor/EditorPostSettings.swift
  Modules/Sources/WordPressUI/Views/SectionHeader.swift
  Sources/WordPressData/Objective-C/BasePost.m
  Sources/WordPressData/Objective-C/include/PostContentProvider.h
  Sources/WordPressData/Swift/ReaderTagTopic.swift
  Tests/KeystoneTests/Tests/Features/Posts/PostSettingsTests.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettings.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/PostSettingsViewModel.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingExcerptRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsCategoriesRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsExcerptEditor.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsFeaturedImageRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsIconView.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsTagsRow.swift
  WordPress/Classes/ViewRelated/Post/PostSettings/Views/PostSettingsTruncatedArrayTextView.swift
  WordPress/Resources/AppImages.xcassets/wpdl-category.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/wpdl-category.imageset/category.svg
  WordPress/Resources/AppImages.xcassets/wpdl-tag.imageset/Contents.json
  WordPress/Resources/AppImages.xcassets/wpdl-tag.imageset/tag.svg
  WordPress/UITests/Tests/EditorAztecTests.swift
  WordPress/UITests/Tests/EditorGutenbergTests.swift
Labels: Posts + Pages
