Repository wordpress-mobile/WordPress-iOS, pull requests merged in 2025-02, with the labels that each got.

#24023 Implement a new site plugins list
  Modules/Sources/WordPressCore/Plugins/InstalledPlugin.swift
  Modules/Sources/WordPressCore/Plugins/InstalledPluginDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginIconView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController.m
Labels: Self-hosted

#24036 Minor improvements to Gutenberg Comments
  Modules/Sources/WordPressReader/Comments/Views/CommentContentRenderer.swift
  Modules/Sources/WordPressReader/Comments/Views/CommentWebView.swift
  Modules/Sources/WordPressReader/Comments/Views/WebCommentContentRenderer.swift
  Modules/Sources/WordPressReader/Resources/gutenbergCommentHeadTemplate.html
  Modules/Sources/WordPressReader/Resources/gutenbergContentStyles.css
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
Labels: Reader

#24037 Self hosted site plugin management list UI update
  Modules/Sources/WordPressCore/Plugins/InstalledPlugin.swift
  Modules/Sources/WordPressCore/Plugins/InstalledPluginDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
Labels: Self-hosted

#24035 build: Upgrade to GutenbergKit 0.0.5
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Enhancement, Gutenberg

#24046 Add plugin details view
  Modules/Sources/WordPressCore/Plugins/PluginDirectoryDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  Scripts/BuildPhases/CopyGutenbergJS.sh
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Plugins/Views/PluginInfoSectionContentView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
Labels: Self-hosted

#23958 Remove CocoaPods
  .buildkite/commands/build-for-testing.sh
  .buildkite/commands/log-outdated-pods.sh
  .buildkite/commands/prototype-build-jetpack.sh
  .buildkite/commands/prototype-build-wordpress.sh
  .buildkite/commands/release-build-jetpack.sh
  .buildkite/commands/release-build-wordpress.sh
  .buildkite/commands/run-pod-tests.sh
  .buildkite/commands/run-ui-tests.sh
  .buildkite/commands/run-unit-tests.sh
  .buildkite/commands/shared-set-up.sh
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/shared-pipeline-vars
  .gitignore
  .rubocop.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  Gutenberg/cocoapods_helpers.rb
  Gutenberg/config.yml
  Modules/Package.swift
  Modules/Sources/WordPressShared/Utility/NSBundle+WordPressShared.swift
  Podfile
  Podfile.lock
  README.md
  Rakefile
  Scripts/BuildPhases/CopyGutenbergJS.inputs.xcfilelist
  Scripts/BuildPhases/CopyGutenbergJS.sh
  WordPress.xcworkspace/contents.xcworkspacedata
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/.gitignore
  WordPress/Classes/System/WordPressAppDelegate.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPressAuthenticator/Sources/Authenticator/WordPressAuthenticator.swift
  WordPressAuthenticator/Sources/Private/WPAuthenticator-Swift.h
  WordPressAuthenticator/Sources/Services/LoginFacade.m
  WordPressAuthenticator/Sources/Services/WordPressXMLRPCAPIFacade.m
  config/Jetpack.alpha.xcconfig
  config/Jetpack.debug.xcconfig
  config/Jetpack.release.xcconfig
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Labels: Tooling

#24044 Comment Composer
  Modules/Sources/UITestsFoundation/Screens/CommentComposerScreen.swift
  Modules/Sources/UITestsFoundation/Screens/NotificationsScreen.swift
  WordPress/Classes/Services/CommentService.h
  WordPress/Classes/Services/CommentService.m
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentComposerViewController.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentComposerViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/EditCommentViewController.m
  WordPress/Classes/ViewRelated/Comments/Controllers/FullScreenCommentReplyViewController.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/FullScreenCommentReplyViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Me/Views/MyProfileIconView.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.swift
  WordPress/Classes/ViewRelated/Notifications/ReplyTextView/ReplyTextView.xib
  WordPress/Classes/ViewRelated/Notifications/Tools/KeyboardDismissHelper.swift
  WordPress/Classes/ViewRelated/Notifications/Views/CommentLargeButton.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderCommentAction.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsListViewModel.swift
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.h
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.m
  WordPress/Classes/ViewRelated/Suggestions/SuggestionsTableView.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/Comments/Controllers/FullScreenCommentReplyViewControllerTests.swift
  WordPress/WordPressTest/Comments/Controllers/FullScreenCommentReplyViewModelTests.swift
  WordPress/WordPressTest/Comments/Controllers/Mocks/FullScreenCommentReplyViewModelMock.swift
  WordPress/WordPressTest/Mention/SuggestionsListViewModelTests.swift
Labels: Comments

#24047 Add ReaderCommentsTableViewController
  Modules/Sources/WordPressUI/Extensions/UITableView+Helpers.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationDetailsViewController.swift
  WordPress/Classes/ViewRelated/Notifications/Views/CommentLargeButton.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderStreamViewController.swift
Labels: Comments

#24055 WebKit Comments Optimizations
  Modules/Sources/WordPressReader/Comments/Views/CommentContentRenderer.swift
  Modules/Sources/WordPressReader/Comments/Views/CommentWebView.swift
  Modules/Sources/WordPressReader/Comments/Views/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsHelper.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
Labels: Comments

#24056 Add initial CommentCellViewModel implementation
  WordPress/Classes/Models/Comment/Comment+CoreDataClass.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Style/WPStyleGuide+CommentDetail.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentCellViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Comments

#24065 fix: Prevent editor more menu crash
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Crash, Gutenberg

#24048 Change `InMemoryDataStore` from a protocol to a concrete type
  Modules/Sources/WordPressCore/DataStore/InMemoryDataStore.swift
  Modules/Sources/WordPressCore/Plugins/InstalledPluginDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginDirectoryDataStore.swift
  Modules/Sources/WordPressCore/Users/UserDataStore.swift
  Modules/Sources/WordPressCore/Users/UserService.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
Labels: Self-hosted

#24058 Add actions to plugin details view
  Modules/Sources/WordPressCore/Plugins/InstalledPlugin.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Plugins/Views/PluginIconView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
  WordPress/Classes/ViewRelated/Views/SafariView.swift
Labels: Self-hosted

#24000 Bump Gravatar to 3.2.0
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Gravatar

#24068 Add a new screen to for browsing and adding new plugins
  Modules/Sources/WordPressCore/DataStore/InMemoryDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginDirectoryDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  WordPress/Classes/Plugins/Views/AddNewPluginView.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginIconView.swift
Labels: Self-hosted

#24066 WebKit Comments Enhancements
  Modules/Sources/WordPressReader/Comments/Views/WebCommentContentRenderer.swift
  Modules/Sources/WordPressReader/Resources/gutenbergContentStyles.css
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentComposerViewController.swift
  WordPress/Classes/ViewRelated/Comments/Style/WPStyleGuide+CommentDetail.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentCellViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsHelper.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Comments

#24075 Comment Composer: Reply Preview & Drafts
  Modules/Sources/WordPressUI/Views/SeparatorView.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/Composer/CommentComposerReplyCommentView.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/Composer/CommentComposerViewController.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/Composer/CommentComposerViewModel.swift
  WordPress/Classes/ViewRelated/Comments/Controllers/Composer/CommentGutenbergEditorViewController.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Notifications/Tools/NotificationReplyStore.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressTest/NotificationReplyStoreTests.swift
Labels: Comments

#24076 Remove WPRichContentView usage from ReaderCommentsViewController
  WordPress/Classes/Utility/BuildInformation/FeatureFlag.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/ContentRenderer/RichCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.h
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Comments

#24078 Fetch XCUITestHelpers through its new location in ScreenObject
  CODEOWNERS
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/WordPress.xcodeproj/xcshareddata/xcschemes/UITestsFoundation.xcscheme
Labels: Testing

#23996 Set up SwiftLint as a standalone build plugin
  .swiftlint.yml
  BuildTools/.gitignore
  BuildTools/Empty.swift
  BuildTools/Package.resolved
  BuildTools/Package.swift
  Rakefile
  Scripts/BuildPhases/SwiftLint.sh
  WordPress/Classes/Extensions/NSAttributedString+Helpers.swift
  WordPress/Classes/Extensions/URL+AVKit.swift
  WordPress/Classes/ViewRelated/Post/Controllers/AbstractPostListViewController.swift
  WordPress/Classes/ViewRelated/Post/PostTagPickerViewController.swift
  WordPress/WordPress.xcodeproj/project.pbxproj
  WordPress/WordPressShareExtension/ShareTagsPickerViewController.swift
Labels: Tooling

#24080 Fix incorrect background color for draft post cells on dashboard
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Blog/Blog Dashboard/Cards/Posts/Views/BlogDashboardPostCardGhostCell.swift
  WordPress/Classes/ViewRelated/Post/Views/PostCompactCell.swift
  WordPress/Classes/ViewRelated/Post/WPStyleGuide+Posts.swift
Labels: My Site

#24081 WKWebView content process termination protection
  Modules/Sources/WordPressReader/Comments/Views/WebCommentContentRenderer.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Comments

#24072 Browse plugin details from WordPress.org plugin directory
  Modules/Sources/WordPressCore/Plugins/InstalledPluginDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  WordPress/Classes/Plugins/Views/AddNewPluginView.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
Labels: Self-hosted

#24089 Remove title field from comment composer
  Modules/Package.swift
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/Comments/Controllers/Composer/CommentGutenbergEditorViewController.swift
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: Comments

#24074 Implement plugin actions in the details screen
  Modules/Sources/WordPressCore/Plugins/InstalledPlugin.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
Labels: Self-hosted

#24094 Bypass SwiftLint using `ACTION` instead of `CONFIGURATION`
  Scripts/BuildPhases/SwiftLint.sh
Labels: Tooling

#24092 Plugin UI minor updates
  WordPress/Classes/Plugins/Views/AddNewPluginView.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Plugins/Views/PluginIconView.swift
Labels: Self-hosted

#24103 Remove some WordPressAuthenticator import statements
  WordPress/Classes/Login/WordPressDotComAuthenticator.swift
  WordPress/Classes/Stores/StatsWidgetsStore.swift
  WordPress/Classes/System/3D Touch/WP3DTouchShortcutCreator.swift
  WordPress/Classes/System/WindowManager.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/ViewController/RegisterDomainDetailsViewController.swift
  WordPress/Classes/ViewRelated/Domains/Domain registration/RegisterDomainDetails/Views/RegisterDomainDetailsErrorSectionFooter.swift
  WordPress/Classes/ViewRelated/Domains/DomainSelectionViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/JetpackRemoteInstallViewController.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/View/JetpackRemoteInstallStateView.swift
  WordPress/Classes/ViewRelated/Jetpack/Install/Webview/JetpackConnectionWebViewController.swift
  WordPress/Classes/ViewRelated/Me/Me Main/MeViewController.swift
  WordPress/Classes/ViewRelated/Me/My Profile/Change Username/ChangeUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/Controllers/Social Signup/SignupUsernameViewController.swift
  WordPress/Classes/ViewRelated/NUX/Helpers/WordPressAuthenticationManager.swift
  WordPress/Classes/ViewRelated/Notifications/Controllers/NotificationsViewController/NotificationsViewController.swift
  WordPress/Classes/ViewRelated/Post/Prepublishing/PrepublishingViewController.swift
  WordPress/Classes/ViewRelated/Site Creation/Final Assembly/SiteAssemblyWizardContent.swift
  WordPress/Classes/ViewRelated/Site Creation/Shared/ErrorStates/ErrorStateView.swift
  WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift
  WordPress/Classes/ViewRelated/System/Sidebar/SidebarViewModel.swift
  WordPress/Classes/ViewRelated/System/WPTabBarController+Swift.swift
  WordPress/WordPressTest/Classes/Stores/StatsWidgetsStoreTests.swift
Labels: Login

#24107 Update release notes
  RELEASE-NOTES.txt
Labels: Reader

#24102 fix: Improve autosave and unsaved changes detection
  Modules/Package.swift
  RELEASE-NOTES.txt
  WordPress.xcworkspace/xcshareddata/swiftpm/Package.resolved
  WordPress/Classes/ViewRelated/NewGutenberg/NewGutenbergViewController.swift
Labels: [Type] Bug, Gutenberg

#24097 Check plugin updates
  Modules/Sources/WordPressCore/DataStore/InMemoryDataStore.swift
  Modules/Sources/WordPressCore/Plugins/InstalledPluginDataStore.swift
  Modules/Sources/WordPressCore/Plugins/PluginService.swift
  Modules/Sources/WordPressCore/Plugins/PluginServiceProtocol.swift
  Modules/Sources/WordPressCore/Plugins/PluginUpdateChecksDataStore.swift
  Modules/Sources/WordPressCore/Users/UserDataStore.swift
  Modules/Sources/WordPressCore/WordPressClient.swift
  WordPress/Classes/Plugins/Views/InstalledPluginsListView.swift
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Plugins/Views/PluginListItemView.swift
  WordPress/Classes/ViewRelated/Blog/Blog Details/BlogDetailsViewController+SectionHelpers.swift
Labels: Self-hosted

#24119 Comments: Minor Improvements
  WordPress/Classes/ViewRelated/Comments/Controllers/CommentDetailViewController.swift
  WordPress/Classes/ViewRelated/Comments/Style/WPStyleGuide+CommentDetail.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.xib
  WordPress/Classes/ViewRelated/Gravatar/UIImageView+Gravatar.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsTableViewController.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Reader

#24129 Show Reader comments in a modal
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.m
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderPostActions/ReaderCommentAction.swift
Labels: Reader

#24122 Reader: Show site description in search
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderFeedCell.swift
Labels: Reader

#24123 Fix broken header view visible when post is loading
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader

#24128 Update iconography in Reader
  WordPress/Classes/ViewRelated/Reader/Cards/ReaderPostCell.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: Reader

#24099 Remove view input properties from StateObject
  WordPress/Classes/Plugins/Views/PluginDetailsView.swift
  WordPress/Classes/Users/ViewModel/UserDeleteViewModel.swift
  WordPress/Classes/Users/Views/DeleteUserConfirmationSheet.swift
  WordPress/Classes/Users/Views/UserDetailsView.swift
Labels: Self-hosted

#24120 Fix an issue with comments button being disabled when shown from Comments or Notifications
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
  WordPress/Classes/ViewRelated/Reader/Detail/Views/ReaderDetailToolbar.swift
Labels: Comments

#24117 Comments: Add depth indicators
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Comments/Views/Detail/CommentContentTableViewCell.swift
  WordPress/Classes/ViewRelated/Reader/Comments/ReaderCommentsViewController.swift
Labels: Comments

#24130 Fix a couple of tags management issues in Reader
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Headers/ReaderTagStreamHeader.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarSubscriptionsSection.swift
  WordPress/Classes/ViewRelated/Reader/Sidebar/ReaderSidebarTagsSection.swift
Labels: Reader

#24121 Fix an issue with search results disappearing after returning from site details
  RELEASE-NOTES.txt
  WordPress/Classes/ViewRelated/Reader/Controllers/ReaderSearchViewController.swift
Labels: Reader

#24133 Remove duplicated view-in-browser button
  WordPress/Classes/ViewRelated/Reader/Detail/ReaderDetailViewController.swift
Labels: Reader
